<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-folder-open-o"></span>
        <span class="sidebar-title"> {{ 'Modeller'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">

        <li>
            <a href="/modeller/schema/show">
                <span class="fa fa-database"></span>
                {{ 'Systeem schema'|translate }}
            </a>
        </li>

        <li>
            <a href="/modeller/create/wizard">
                <span class="fa fa-plus"></span>
                {{ 'Nieuw schema'|translate }}
            </a>
        </li>
    </ul>
</li>
