<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cloud-download"></span>
        <span class="sidebar-title">{{ 'Gegevens uitwisseling'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/services/message_translation/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Bericht vertaling'|translate }}
            </a>
        </li>
        <li>
            <a href="/services/message_translation_field/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Veld vertaling'|translate }}
            </a>
        </li>
        <li>
            <a href="/services/formulieren/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Formulieren'|translate }}
            </a>
        </li>
        <li>
            <a href="/services/wet/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Wetten'|translate }}
            </a>
        </li>
    </ul>
</li>