<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-mobile"></span>
        <span class="sidebar-title">{{ 'Apps'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/apps/app/overview">
                <span class="fa fa-table"></span>
                {{ 'App overzicht'|translate }}
            </a>
        </li>
        <li>
            <a href="/apps/app/creator/initialize">
                <span class="fa fa-bug"></span>
                {{ 'App testen'|translate }}
            </a>
        </li>
        <li>
            <a href="/apps/app/ui/design">
                <span class="fa fa-paint-brush"></span>
                {{ 'App designer'|translate }}
            </a>
        </li>
        <li>
            <a href="/apps/app/creator/initialize">
                <span class="fa fa-magic"></span>
                {{ 'Nieuwe app'|translate }}
            </a>
        </li>
    </ul>
</li>
