<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-mobile"></span>
        <span class="sidebar-title">{{ 'Apps'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/apps/app/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Apps beheren'|translate }}
            </a>
        </li>
    </ul>
</li>