<header id="topbar" class="ph10">

        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
                <li class=""> {# { edit_active } #}
                    <a href="/cms/blog/overview?site={{ site }}">&laquo; Terug naar het overzicht</a>
                </li>
            </ul>
        </div>


    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        {% if new_url %}
            <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-pencil pr5"></span>
            </a>
        {% endif %}

        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ fields_config_code }}&site={{ site }}&title={{ fields_config_title }}&do_after_save={{ do_after_save }}">
                        <i class="fa fa-table"></i>
                        Velden instellen
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>

