<div class="single-product-area">
    <div class="container">
        <div class="row">
            {{ left_menu|raw }}
            <div class="col-lg-9 col-md-9">
                <h3 class="sidebar-title">{{ 'Personal Info'|translate }}</h3>
                <div class="col-lg-12 col-md-12">
                    <div class="checkbox-form">
                        <form name="edit" method="post">
                            <input type="hidden" name="_do" value="Store"/>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>{{ 'Salutation'|translate }}</label>
                                            <label class="col-md-2">
                                                <input {{ current_customer.getGender() =='male' ? 'checked' }} name="edit[gender]" type="radio" value="male"  /> {{ 'Mr.'|translate }}
                                            </label>
                                            <label class="col-md-2">
                                                <input {{ current_customer.getGender() =='female' ? 'checked' }}  name="edit[gender]" type="radio" value="female"  /> {{ 'Mrs.'|translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>{{ 'First Name'|translate }} <span class="required">*</span></label>
                                            <input name="edit[first_name]" type="text" placeholder="{{ 'First Name'|translate }}" value="{{ current_customer.getFirstName() }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>{{ 'Last Name'|translate }} <span class="required">*</span></label>
                                            <input name="edit[last_name]" type="text" placeholder="{{ 'Last Name'|translate }}" value="{{ current_customer.getLastName() }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <label>{{ 'Company Name'|translate }} </label>
                                            <input name="edit[customer_company_company_name]" value="{{ current_customer.getCompany().getCompanyName() }}" type="text" placeholder="{{ 'Company Name'|translate }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkout-form-list">
                                            <label>{{ 'Phone '|translate }} <span class="required">*</span></label>
                                            <input name="edit[phone]" value="{{ current_customer.getPhone() }}" type="text" placeholder="{{ 'Phone'|translate }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-4"   >
                                        <div class="checkout-form-list">
                                            <label>{{ 'Mobile'|translate }} <span class="required">*</span></label>
                                            <input name="edit[mobile]" value="{{ current_customer.getMobile() }}" type="text" placeholder="{{ 'Mobile'|translate }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="checkout-form-list">
                                            <label>{{ 'Fax'|translate }} </label>
                                            <input name="edit[fax]" value="{{ current_customer.getFax() }}" type="text" placeholder="{{ 'text'|translate }}" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>{{ 'Website'|translate }} </label>
                                            <input name="edit[website]" value="{{ current_customer.getWebsite() }}" type="text" placeholder="{{ 'Website'|translate }}" />
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="checkout-form-list">
                                            <label>{{ 'IBAN'|translate }} </label>
                                            <input name="edit[iban]" value="{{ current_customer.getIBan() }}" type="text" placeholder="{{ 'IBAN'|translate }}" />
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <div class="form-group">
                                                <button type="submit" class="btn  btn-primary btn-md">{{ 'Update Profile'|translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>