<!-- single-product-area start -->
<div class="single-product-area">
    <div class="container">
        <div class="row">

            {% include 'Account/left.twig' %}

            <div class="col-lg-9 col-md-9">

                <h3 class="sidebar-title">{{ 'Gift Vouchers'|translate }}</h3>

                <div class="col-md-12 text-center">
                    <h4>{{ 'The Gift Card Code is:'|translate }} WXCRQII06</h4>
                    <h4>{{ 'Gift Card Amount:'|translate }} $500,00</h4>
                    <p class="text-right">{{ 'Expired Date:'|translate }} 11-11-2017</p>
                </div>

                <div class="col-md-12 text-center">
                    <p>{{ 'The gift card code must be used when redeeming the gift card in the webshop or in a physical shop.'|translate }}</p>
                    <p>{{ 'Scan gift card code below:'|translate }}</p>
                    <img src="/img/gift_voucher.jpg">
                </div>

            </div>

        </div>
    </div>
</div>

