<div class="single-product-area myaccount">
    <div class="container">
        <div class="row">
            {{ left_menu|raw }}
            <div class="col-lg-9 col-md-9">
                <h3 class="sidebar-title">{{ 'Invoice Details'|translate }}</h3>
                <div class="chute chute-center pt30">
                    <div class="panel">
                        <div class="panel-body pn">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                    <tr class="bg-light">
                                        <th class="">{{ 'Order Date'|translate }}</th>
                                        <th class="">{{ 'Order ID'|translate }}</th>
                                        <th class="">{{ 'Total Payment'|translate }}</th>
                                        <th class="">{{ 'Betaling ontvangen'|translate }}</th>
                                        <th class="">{{ 'Order Status'|translate }}</th>
                                        <th class="text-center">{{ 'Print Invoice'|translate }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td class="">{{ order.getCreatedOn()|date("d-m-Y H:m") }}</td>
                                                <td class="text-right">{{ order.getId() }}</td>
                                                <td class="">
                                                    <span>&euro; {{ order.getTotalPrice() | number_format(2, ',', '.') }}</span>
                                                </td>
                                                <td class="">{{ order.getIsFullyPaid() ? 'Ja' : 'Nee' }}</td>
                                                <td class="">
                                                    {{ order.status_label }}
                                                    {% if order.getWorkInProgress() %}
                                                        <span class="work_status">{{ 'Completed'|translate }}</span>
                                                    {% endif %}
                                                </td>
                                                <td class="text-right">
                                                    {% if not order.getWorkInProgress() %}
                                                    <div class="btn-group text-right">
                                                        <div class="basic-invoice-buttons">
                                                            <a href="{{ url_prefix }}/account/invoice?sale_order_id={{ order.getId() }}" class="btn btn-default mr10 mb5">
                                                                <i class="fa fa-print pr5"></i> {{ 'Print Invoice'|translate }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

