<div class="col-lg-3 col-md-3">

    <aside class="widget widget-categories">
        <h3 class="sidebar-title">{{ 'Info'|translate }}</h3>
        <ul class="sidebar-menu">

            <li><a href="{{ url_prefix }}/account/orders">{{ 'Orders'|translate }}</a> <span class="count">({{ order_count }})</span></li>
            <li><a href="{{ url_prefix }}/account/invoices">{{ 'Invoices'|translate }}</a> <span class="count">({{ invoice_count }})</span></li>
            <li><a href="{{ url_prefix }}/account/wishlist">{{ 'Wishlist'|translate }}</a> <span class="count">({{ wishlist_count }})</span></li>
        </ul>
    </aside>

    <aside class="widget widget-categories">
        <h3 class="sidebar-title">{{ 'Settings'|translate }}</h3>
        <ul class="sidebar-menu">
            <li><a href="{{ url_prefix }}/account/edit">{{ 'Personal info'|translate }}</a></li>
            <li><a href="{{ url_prefix }}/account/addresses/overview">{{ 'Addresses'|translate }}</a> <span class="count">({{ address_count }})</span></li>
            {#<li><a href="{{ url_prefix }}/account/giftvouchers">{{ 'Gift vouchers'|translate }}</a> <span class="count">(1)</span></li>#}
            <li><a href="{{ url_prefix }}/account/password">{{ 'Change password'|translate }}</a></li>
        </ul>
    </aside>
</div>

