<div class="single-product-area  myaccount">
    <div class="container">
        <div class="row">
            {{ left_menu|raw }}
            <div class="col-lg-9 col-md-9">
                <h3 class="sidebar-title">{{ 'Order Details'|translate }}</h3>
                <div class="chute chute-center pt30">
                    <div class="panel">
                        <div class="panel-body pn">
                            <div class="table-responsive">
                                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="">{{ 'Order Date'|translate }}</th>
                                            <th class="">{{ 'Order ID'|translate }}</th>
                                            <th class="">{{ 'Payment Method'|translate }}</th>
                                            <th class="">{{ 'Betaling ontvangen'|translate }}</th>
                                            <th class="text-right">{{ 'Total Payment'|translate }}</th>
                                            <th class="text-center">{{ 'Order Status'|translate }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                            <tr>
                                                <td class="">{{ order.getCreatedOn()|date("d-m-Y H:m") }}</td>
                                                <td class="text-right">{{ order.getOrderNumber() }}</td>
                                                <td class="">{{ order.getPaymethodName() }}</td>
                                                <td class="">{{ order.getIsFullyPaid() ? 'Ja' : 'Nee' }}</td>
                                                <td class="">
                                                    <span>&euro; {{ order.getTotalPrice() | number_format(2, ',', '.') }}</span>
                                                </td>
                                                <td class="text-center">
                                                    {{ order.status_label }}
                                                    {% if order.getIsFullyPaid() == false and  order.getIsClosed() == false %}
                                                        <div class="basic-invoice-buttons">
                                                            <a href="{{ url_prefix }}/cart/open_order?order_id={{ order.getId() }}&r_fail=order_overview" class="btn btn-default mr10 mb5">
                                                                <i class="fa fa-shopping-cart pr5"></i> {{ 'Pay Now'|translate }}
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                    {% if order.getTrackingUrl() %}
                                                        <div class="basic-invoice-buttons">
                                                            <a href="{{ order.getTrackingUrl() }}" target="_blank" class="btn btn-default mr10 mb5">
                                                                <i class="fa fa-search pr5"></i> {{ 'Track Order'|translate }}</a>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


