<!-- single-product-area start -->
<div class="single-product-area">
    <div class="container">
        <div class="row">

            {% include 'Account/left.twig' %}


            <div class="col-lg-9 col-md-9">


                <h3 class="sidebar-title">{{ 'Change Password'|translate }}</h3>

                <form data-toggle="validator" role="form" method="post">
                    <input type="hidden" name="_do" value="ResetPassword"/>

                    <div class="form-group">

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input name="password[old]" type="old_password" data-minlength="6" class="form-control" id="oldPassword" placeholder="{{ 'Old Password'|translate }}" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input name="password[new]" type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="{{ 'New Password'|translate }}" required>
                                <div class="help-block">{{ 'Minimum of 6 characters'|translate }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="{{ 'Whoops, these dont match'|translate }}" placeholder="{{ 'Confirm New Password'|translate }}" required>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">{{ 'Submit'|translate }}</button>
                    </div>


                </form>



            </div>

        </div>
    </div>
</div>

