
<div class="wishlist-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="wishlist-content">
                    <form action="#">
                        <div class="wishlist-table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th class="product-remove">
                                        <span class="nobr">{{ 'Remove'|translate }}</span>
                                    </th>
                                    <th class="product-thumbnail"> {{ 'Image'|translate }}</th>
                                    <th class="product-name">
                                        <span class="nobr">{{ 'Product Name'|translate }}</span>
                                    </th>
                                    <th class="product-price">
                                        <span class="nobr">{{ 'Unit Price'|translate }}</span>
                                    </th>
                                    {#
                                    <th class="product-stock-stauts">
                                        <span class="nobr"> {{ 'Stock StatusId'|translate }} </span>
                                    </th>
                                    #}
                                    <th class="product-add-to-cart">
                                        <span class="nobr">{{ 'View product'|translate }} </span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for wislist_product in wislist_products %}
                                        <tr>
                                            <td class="product-remove">
                                                <a style="color:black" href="{{ url_prefix }}/wishlist/remove?product_id={{ wislist_product.getProduct().getId() }}&r=wishlist">×</a>
                                            </td>
                                            <td class="product-thumbnail">
                                                <a href="{{ url_prefix }}{{ wislist_product.getProduct().getProductUrl() }}">
                                                {% if wislist_product.getProduct().hasImages() %}
                                                    <img src="/img/product/{{ settings.default_image_size }}/{{ wislist_product.getProduct().getPrimaryImage().getId() }}.{{ wislist_product.getProduct().getPrimaryImage().getFileExt() }}" alt="" />
                                                {% else %}
                                                    <img src="/img/cart/cart.jpg" alt="" />
                                                {% endif %}

                                                </a>
                                            </td>
                                            <td class="product-name">
                                                <a href="#">
                                                    {{ wislist_product.getProduct().getTranslatedTitle(current_language.getId()) }}
                                                </a>
                                            </td>
                                            <td class="product-price">
                                                <span class="amount">&euro; {{ wislist_product.getProduct().getSalePrice()|number_format('2', ',', '.') }}</span>
                                            </td>
                                            {#
                                            <td class="product-stock-status">
                                                <span class="wishlist-in-stock">In Stock</span>
                                            </td>
                                            #}
                                            <td class="product-add-to-cart">
                                                <a href="{{ url_prefix }}{{ wislist_product.getProduct().getProductUrl() }}"> {{ 'View product'|translate }}</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
