<form class="form-horizontal" id="frm_edit" enctype="multipart/form-data" method="post">

    <input name="id" id="fld_id" value="{{ data.id }}" type="hidden">
    <input name="_do" id="fld_do" value="SaveCategory" type="hidden">
    <input name="next" id="fld_next" value="" type="hidden">

    <div class="chute chute-center pt30">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ category.getName }} {{ 'instellen'|translate }}</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="fld_title" class="col-lg-3 control-label">Titel</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[name]" id="fld_title" class="form-control" placeholder="Titel van de categorie" value="{{ category.getName() }}" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fld_icon" class="col-lg-3 control-label">{{ 'Icoon'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-picture-o"></i>
                        </span>
                            <input name="data[icon]" id="fld_icon" class="form-control" placeholder="Favicon icoon minus" value="{{ category.getIcon() }}" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="user_first_name" class="col-lg-3 control-label">Afbeelding <span style="color:red">183px/190px</span></label>
                    <div class="col-lg-8">
                        {%  if category.getHasImage() %}

                            <img width="200" style="margin-bottom:16px;" src="{{ category.getImagePath }}" />
                            <a href="/setting/category/edit?category_id={{ category.getId() }}&_do=DeleteImage" style="color:red">
                                <i class="fa fa-trash"></i>
                                {{ 'Verwijderen'|translate }}
                            </a>
                        {%  endif %}

                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-picture-o"></i>
                        </span>
                            <input name="picture" id="fld_picture" class="form-control" value="{{ field_value }}" type="file">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fld_description" class="col-lg-3 control-label">
                        {{ 'Omschrijving'|translate }}
                        <i class="required">*</i>
                    </label>
                    <div class="col-lg-7">
                        <textarea class="form-control" style="width:100%!important;height:50px;border:1px solid #ddd; border-radius: 3px;" name="data[description]" id="fld_description" >{{ category.getDescription() }}</textarea>
                    </div>
                </div>

                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                    <span class="ladda-spinner"></span>
                </button>
                <button id="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                    <span class="ladda-label">{{ 'Wijzigingen + naar overzicht'|translate }}</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>

    {% if category_id %}
        <div class="chute chute-center pt30">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ category.getName }} {{ 'Vertalingen'|translate }}</span>
                </div>
            </div>
        </div>
    {% endif %}
</form>