<input type="hidden" id="new_node" value="{{ 'Nieuwe categorie'|translate }}" />
<input type="hidden" id="loading" value="{{ 'Laden'|translate }}" />
<input type="hidden" id="nodes" value="{{ 'Categorieën'|translate }}" />
{{ content|raw }}


