<header id="topbar" class="ph10">
    <div class="topbar-left mt5 mr35">
        <ul class="pull-left topbar-menu">
            <li>
                <div class="btn-group">
                    <button id="fld_save_changes" type="button" class="btn btn-sm btn-primary" title="{{ 'Wijzigingen opslaan'|translate }}">
                        <i class="fa fa-save"></i>
                        {{ 'Wijzigingen opslaan'|translate }}
                    </button>
                </div>
            </li>
        </ul>
    </div>
</header>

