<div class="section row" id="blk_fk_model" style="display: none;">
    <div class="col-md-12 ph15">
        <label class="field select">
            <select id="fld_fk_model" name="fk_model">
                <option value="">{{ 'Model'|translate }}</option>
                {% for model in models %}
                    <option value="{{ model.getId() }}">{{ model.getName() }}</option>
                {% endfor %}
            </select>
            <i class="arrow double"></i>
        </label>
    </div>
</div>
