<div class="section row" id="blk_fk_model_field" style="display: none;">
    <div class="col-md-12 ph15">
        <label class="field select">
            <select id="fld_fk_model_field" name="fk_model_field">
                <option value="">{{ 'Field to show'|translate }}</option>
                {% for model in models %}
                    <option value="{{ model.getId() }}">{{ model.getName() }}</option>
                {% endfor %}
            </select>
            <b class="tooltip tip-left-bottom">
                <em>
                    {{ 'balbabl'|translate }}
                </em>
            </b>
            <i class="arrow double"></i>
        </label>
    </div>
</div>
