<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
    <input type="hidden" name="_do" value="Store">
    <input type="hidden" name="data[id]" value="">
    <div class="panel generated">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Factuur instellingen'|translate }}</span>
        </div>
        <div class="panel-body">

            {% for language in languages %}
                <div class="form-group mb25">
                    <label class="col-md-3 control-label" for="fld_footer_txt_{{ language.getId }}">
                        {{ 'Factuur footer text'|translate }} {{ language.getDescription() }}
                        <img src="/img/flags/flags-iso/flat/24/{{ language.getFlagIcon }}.png"/>
                    </label>

                    <div class="col-md-9">
                        <div class="bs-component">
                            <textarea class="form-control" style="width:100%;height:120px;border:1px solid #ddd; border-radius: 3px;"
                                      name="invoice[footer_txt][{{ language.getId }}]"
                                      id="fld_footer_txt_{{ language.getId }}" >{{ translated_footer_txt[language.getId] }}</textarea>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                <span class="ladda-label">{{ 'Opslaan'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
            <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                <span class="ladda-label">{{ 'Opslaan + naar overzicht'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
    </div>
</form>