<div class="allcp-form theme-primary">
    <input type="hidden" id="fld_do" name="_do" value="Store"/>
    <input type="hidden" id="fld_id" name="data[id]" value="{{ id }}"/>
    {% for block in blocks %}
        <div class="panel">
            <div class="panel-heading">
                {% for heading_component in heading_components %}
                    {{ heading_component.result|raw }}
                {% endfor %}
                <div class="panel-title">{{ block.title }}
                </div>
                <div class="droppable_button_bar">
                    <div class="droppable_zone" data-ui-component-location="heading_components" data-ui-component-id="{{ ui_component_id }}">
                        Drop elements here.
                    </div>
                </div>
            </div>
            <div class="panel-body">

               {# <h6 class="mb20" id="spy1">{{ block.title }}</h6>#}
                <!-- -------------- Basic -------------- -->
                {% for row in block.rows %}
                    <!-- -------------- Icons -------------- -->
                    <div class="row">

                        {% for field in row.fields %}


                            <div class="col-md-{{ field_width }}">
                                {{ field|raw }}
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="panel-footer text-right">

            {% if panel_footer %}
                {% for panel_footer_component in panel_footer %}
                    {{ panel_footer_component.result|raw }}
                {% endfor %}
                <button type="submit" class="btn btn-bordered btn-primary mb5"> Validate Form</button>
                <button type="reset" class="btn btn-bordered mb5"> Cancel</button>
            {% endif %}
                <div class="droppable_button_bar">
                    <div class="droppable_zone" data-ui-component-location="panel_footer_components" data-ui-component-id="{{ ui_component_id }}">
                            Drop elements here.
                    </div>
                </div>
            </div>


        </div>
    {% endfor %}
</div>
