<div class="section">
    <label for="fld_{{ field_db }}" class="field-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>

    <div class="smart-widget">

        <label for="fld_{{ field_db }}" class="field select prepend-icon">
            <select id="fld_{{ field_db }}" name="{{ array_name }}[{{ field_db }}]" class="{{ single_suggest_enabled ? 'single_suggest' : 'form-control' }}">
                {% if placeholder %}
                    <option value="">{{ placeholder }}</option>
                {% endif %}
                {% for option in options %}
                    {% if option['label']!='' %}
                        {% if option['extra'] %}
                            <option {{ (option['style'] ? 'style="' ~ option['style'] ~ '" ')|raw }}{{ option['selected']|raw }} data-extra="{{ option['extra'] }}" value="{{ option['id'] }}">{{ option['label'] }}</option>
                        {% else  %}
                            <option {{ (option['style'] ? 'style="' ~ option['style'] ~ '" ')|raw }}{{ option['selected']|raw }} value="{{ option['id'] }}">{{ option['label'] }}</option>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </select>
            <label for="fld_layout_key" class="field-icon">
                <i class="fa fa-code"></i>
            </label>
        </label>
    </div>
</div>
