
        <div class="section">

            <label class="block mt15 option option-primary">

                <input name="{{ array_name }}[{{ field_db }}]" value="0" type="hidden">


                <input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" data-toggle="tooltip" data-placement="top" placeholder="{{ placeholder }}" value="{{ field_value }}" type="checkbox">
                <span class="checkbox"></span>{{ field_label }}  {{ has_validations ? '<i class="required">*</i>' }}
            </label>
        </div>


