<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" name="_do" value="Copy" />
    <input type="hidden" name="id" value="{{ mailing_template.getId() }}" />

    <div class="chute chute-center pt30">
        <h5>{{ title }}</h5>
        <div class="panel">
            <div class="panel-body pn" style="margin-top:0;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-lg">
                            <label class="col-sm-2 control-label" for="lg">{{ 'Titel  nieuwe template' }}</label>
                            <div class="col-sm-10">
                                <input name="mailing_template[name]" class="form-control" type="text" value="{{ mailing_template.getName() }} (copy)">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary pull-right">
                            <i class="fa fa-copy"></i>
                            {{ 'Kopieren'|translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>