<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" name="_do" value="Store" />
    <input type="hidden" name="id" value="{{ mailing_template.getId() }}" />

    <div class="chute chute-center pt30">
        <h5>{{ title }}</h5>
        <div class="panel">
            <div class="panel-body pn" style="margin-top:0;">
                <div class="row">
                    <div class="col-md-12">
                        <input name="mailing_template[name]" value="{{ mailing_template.getName() }}" type="text" style="width: 100%; margin-bottom: 10px;" placeholder="{{ 'Geef je template een naam'|translate }}">

                        {% if mailing_template.getId() %}
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="margin-bottom:10px;">
                                <div class="btn-group" role="group">
                                    <a href="" class="btn btn-primary btn-small" id="toggle_view" data-alt="{{ 'Html bekijken'|translate}}">
                                        <i class="fa fa-image"></i>
                                        {{ 'Preview bekijken'|translate }}
                                    </a>
                                    <a href="/marketing/mailing/template/preview?id={{ mailing_template.getId() }}" target="_blank" class="btn btn-primary btn-small">
                                        <i class="fa fa-expand"></i>
                                        {{ 'Open preview fullscreen'|translate }}
                                    </a>
                                    <button type="submit" class="btn btn-primary pull-right">
                                        <i class="fa fa-save"></i>
                                        {{ 'Opslaan'|translate }}
                                    </button>
                                </div>
                            </div>
                            <iframe id="preview" style="display:none;width:100%;height:1000px;border:1px solid #7f828f;" src="/marketing/mailing/template/preview?id=1"></iframe>
                        {% endif %}

                        <textarea id="editor" name="mailing_template[contents]" placeholder="{{ 'Voer hier de speciale html code in'|translate }}" style="width: 100%; height: 500px;">{{ mailing_template.getContents() }}</textarea>
                        <button type="submit" class="btn btn-primary pull-right">
                            <i class="fa fa-save"></i>
                            {{ 'Opslaan'|translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>