<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" id="fld_button_id" name="button_id" value="">
    <input type="hidden" id="fld_do" name="_do" value="" />

    <div class="chute chute-center pt30">
        <h5>{{ title }}</h5>

        <div class="panel">
            <div class="panel-body pn" style="margin-top:0;">
            {% if mailing_templates %}

                <div class="table-responsive generated">
                    <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <table class="table allcp-form footable">
                            <tbody>
                            {% for mail_template in mailing_templates %}
                                <tr>
                                    <td class="">
                                        <h3><a href="/marketing/mailing/template/edit?id={{ mail_template.getId() }}">{{ mail_template.getName() }}</a></h3>
                                        {{ 'Aangemaakt op'|translate }} {{ mailing_list.getCreatedDate()|date('l j M Y G:i') }}
                                    </td>
                                    <td class="iconcol">
                                        <a href="/marketing/mailing/template/edit?id={{ mail_template.getId() }}" title="{{ 'Template instellen'|translate }}" class="btn btn-primary">
                                            <i class="fa fa-gears"></i>
                                        </a>
                                    </td>

                                    <td class="iconcol">
                                        <a href="/marketing/mailing/template/copy?id={{ mail_template.getId() }}" title="{{ 'Lijst kopiëren'|translate }}" class="btn btn-primary">
                                            <i class="fa fa-copy"></i>
                                        </a>
                                    </td>
                                    <td class="iconcol">
                                        <a href="/marketing/mailing/template/overview?_do=ConfirmDelete&id={{ mail_template.getId() }}" title="{{ 'Lijst verwijderen'|translate }}" class="btn btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="dt-panelfooter clearfix">
                            <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">{# nog geen paginering maar zo lijkt het iig wat. #}Showing 1 to {{ template_count }} of {{ template_count }} entries</div>
                        </div>
                    </div>
                </div>

            {% else %}
                <div class="row">
                    <div class="col-md-6">
                        <p>
                            Er zijn nog geen templates aangemaakt.
                            Het template bepaald hoe de mailing er uit gaat zien en hoe deze is opgebouwd.
                            Hiervoor is verstand van HTML nodig, vraag indien  nodig aan de beheerder van het systeem om templates voor u klaar te zetten.
                            De inhoud van de mail kunt u vervolgens zelf instellen.
                        </p>

                        <a href="/marketing/mailing/template/edit" class="btn btn-primary">
                            Creëer nu de eerste template
                            <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
            </div>
    </div>
</form>