<aside class="chute chute-right chute400 p20" style="height: 694px;">



            <h4> {{ component_type.getName() }}</h4>
            <p>
                {{ component_type.getDescription() }}
            </p>
            <hr class="alt short">
            {# { form.result|raw }}#}

            <h5>Child elements</h5>
            <p>
                You can drop the elements below on top of zones in your app. </p>
            {% for spot in accepts.getDroppableSpots() %}
                <h6>droppable on "{{ spot }}" element</h6>
                <div class="pallete components">


                    {% for component in accepts.getDroppableSpotAcceptedTypes(spot) %}
                        <div class="draggable component" data-component-type="{{ component.getComponent().getUiComponentType().getId() }}" data-component-title="{{ component.getComponent().getUiComponentType().getTitle() }}" data-component-name="{{ component.getComponent().getComponentXml().getId() }}">
                            {{ component.getComponent().getName() }}

                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <hr class="alt short">

            <h5>Events</h5>


            <p class="text-muted"> Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                <br><br>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
            </p>

            <!-- -------------- Scroll Demo -------------- -->
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</aside>
