<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-user"></span>
        <span class="sidebar-title">{{ 'Nieuwsbrief abbonees'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/newsletter/overview/subscribers"><span class="fa fa-file-text-o"></span> {{ 'Inschrijvingen'|translate }}</a></li>
    </ul>
</li>
