<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-comment"></span>
        <span class="sidebar-title">
            {{ 'Contact'|translate }}
            {% if extra_vars.new_message_count %}
                <span class="label label-rounded label-danger">{{ extra_vars.new_message_count }}</span>
            {% endif %}
        </span>
        <span class="caret"></span>
    </a>


    <ul class="nav sub-nav">
        <li><a href="/contact/overview"><span class="fa fa-file-text-o"></span> {{ 'Overzicht'|translate }}</a></li>
    </ul>
</li>
