{#
Om het javascript bestand in te laden is hier een all_products.twig nodig, ook handig als je de zoekresultaten een ander uiterlijk wilt geven.
Let op, twig laad de versie van ../ProductList/all_products.twig in uit de custom map als die aanwezig is.
#}
{% include 'ProductList/all_products.twig' %}
<script>
    setTimeout(function()
    {
        var oQueryField = document.getElementById('fld_query');
        var val = oQueryField.value; //store the value of the element

        oQueryField.focus(); //sets focus to element
        oQueryField.value = ''; //clear the value of the element
        oQueryField.value = val; //set that value back.


    }, 1000);


</script>