<div class="chute chute-center pt30" style="height: 795.994px;">
    <form id="main_form" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        <input type="hidden" id="fld_do" name="_do" value="Store">

        <div class="col-md-6 generated">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Toevoegen</span>
                </div>
                <div class="panel-body pn">

                    <div class="form-group">
                        <label for="fld_node_type_id" class="col-lg-4 control-label">{{ 'Type'|translate }}</label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-info-circle"></i>
                                </span>
                                <select id="fld_node_type_id" name="data[node_type_id]" class="form-control">
                                    <option value="">{{ 'Maak een keuze'|translate }}</option>
                                    {% for node_type in node_types %}
                                        <option {{ data.node_type_id == node_type.getId() ? 'selected'}} data-type="{{ node_type.getType()}}" value="{{ node_type.getId() }}">{{ node_type.getType()|translate }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="display: {{ node_type_is_file ? 'none' : 'block' }};" id="fld_file_name" >
                        <label for="fld_name" class="col-lg-4 control-label" style="">{{ 'Bestands / mapnaam'|translate }}</label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tag"></i>
                                </span>
                                <input name="data[name]" id="fld_name" class="form-control" placeholder="" value="{{ data.name }}" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="display: {{ node_type_is_file ? 'block' : 'none' }};" id="fld_file_uploader">
                        <label for="fld_title" class="col-lg-4 control-label" style="">{{ 'Bestand'|translate }}</label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file"></i>
                                </span>
                                <input name="file" id="fld_file" class="form-control" placeholder="" value="" type="file">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fld_is_out_of_stock" class="col-lg-4 control-label">
                            {{ 'Verwijderbaar'|translate }}
                        </label>

                        <div class="col-lg-7">
                            <div class="col-md-9">
                                <div class="bs-component">
                                    <label class="checkbox-inline ">
                                        <input name="data[is_deletable]" value="0" type="hidden">
                                        <input name="data[is_deletable]" value="1"  {{ data.is_deletable == 1 ? 'checked' }} type="checkbox" id="fld_is_deletable">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label"><i class="fa fa-save"></i> Save</span>
                        <span class="ladda-spinner"></span>
                    </button>
                    <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                        <span class="ladda-label"><i class="fa fa-save"></i> Save + to overview</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>