<div class="chute chute-center pt30" style="height: 795.994px;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ title }}</span>
                </div>
                <div class="panel-body">
                    <div id="tree5" class="fancytree-radio">
                        <div style="width:100%;border:1px solid #eee;border-radius: 5px;padding-left:10px;background-color:#f2f2f2;margin-bottom:20px;">
                            <i class="fa fa-home"></i>
                            <span style="padding-left:5px;">
                                /<a href="/cms/media/structure?site={{ site }}" class="crumble-nav">Home</a>{{ current_root.getRootPath()|raw }}
                            </span>
                        </div>
                        <ul class="ui-fancytree fancytree-container fancytree-ext-childcounter" style="border:none">
                            <li class="folder expanded">
                                <span class="fancytree-node fancytree-expanded fancytree-folder fancytree-has-children fancytree-exp-e fancytree-ico-ef">
                                    <span class="fancytree-expander"></span>
                                    <span class="fancytree-icon"></span>
                                    <a href="/cms/media/structure?site={{ site }}&parent_id={{ current_root.getId() }}">
                                        <span class="fancytree-title">

                                            {% if parent_id %}
                                                {{ current_root.getName() }}
                                            {% else %}
                                                Home
                                            {% endif %}
                                        </span>
                                    </a>
                                </span>
                                {% if custom_media is not empty %}
                                    <ul>
                                    {% for media in custom_media %}
                                        <li class="folder expanded">
                                            <span class="fancytree-node fancytree-expanded fancytree-folder fancytree-has-children fancytree-exp-cl {{ media.getCustomMediaNodeType().getType() == 'folder' ? 'fancytree-ico-ef' : 'fancytree-ico-c' }}">
                                                <span class="fancytree-expander"></span>
                                                <span class="fancytree-icon"></span>

                                                <a href="{{ media.getUrl() }}">
                                                <span class="fancytree-title">
                                                    {{ media.getName() }}
                                                </span>

                                                {% if media.isDeletableAndHasNoChildren() %}
                                                    <a href="/cms/media/structure?site={{ site }}&_do=Delete&id={{ media.getId() }}">
                                                        <i class="fa fa-trash danger"></i>
                                                    </a>
                                                {% endif %}
                                                </a>
                                            </span>
                                        </li>
                                        {#
                                        <li class="folder expanded">
                                            <span class="fancytree-node fancytree-expanded fancytree-folder fancytree-has-children fancytree-exp-cl fancytree-ico-ef">
                                                <span class="fancytree-expander"></span>
                                                <span class="fancytree-icon"></span>
                                                <span class="fancytree-title">{{ media.getName() }}</span>
                                            </span>
                                        </li>
                                        <li class="">
                                            <span class="fancytree-node fancytree-exp-e fancytree-ico-cf">
                                            <span class="fancytree-expander"></span>
                                            <span class="fancytree-icon"></span>
                                            <span class="fancytree-title">aa{{ media.getName() }}</span>
                                            </span>
                                        </li>
                                        #}
                                    {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        </ul>

                        {% if custom_media is empty %}
                        <div style="margin-bottom:10px;">
                            {{ 'Deze map is nog leeg, je kan nu bestanden of mappen toe gaan voegen'|translate }}
                        </div>
                        {% endif %}
                        <a href="/cms/media/add?site={{ site }}&parent_id={{ current_root.getId() }}" class="btn btn-primary btn-sm">
                            <i class="fa fa-file"></i>
                            Bestand of map toevoegen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>