<div class="chute chute-center pt30" style="height: 795.994px;">

    <form id="main_form" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        <input type="hidden" id="fld_do" name="_do" value="Store">

        {% if custom_media.getFileMime() == 'image' %}
            <div class="col-md-6 generated">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Voorbeeld'|translate }}</span>
                    </div>
                    <div class="panel-body">
                        {% if custom_media.getFileMime() == 'image' %}
                            <img src="{{ custom_media.getFileUrl() }}" style="width:100%">
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="col-md-6 generated">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Informatie'|translate }}</span>
                </div>
                <div class="panel-body pn">


                    <div class="form-group" id="fld_direct_link" >
                        <label for="fld_name" class="col-lg-3 control-label" style="">{{ 'Url'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-tag"></i>
                                </span>
                                <input name="data[name]" id="fld_direct_link" class="form-control" placeholder="" value="{{ site_protocol }}://{{ site }}{{ custom_media.getFileUrl() }}" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="fld_direct_link" >
                        <label for="fld_name" class="col-lg-3 control-label" style="">{{ 'Toegevoegd op'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group" style="padding-top:8px;">
                                {{ custom_media.getCreatedDate()|date('d-m-Y H:i') }}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>