<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="{{ overview_url }}">
                    &laquo; {{ 'Terug naar het overzicht'|translate}}
                </a>
            </li>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            {% if parent_id %}
                <a href="/cms/media/view?site={{ site }}&parent_id={{ parent_id }}&_do=Delete" class="btn btn-danger btn-sm ml10" title="{{ 'Alles verwijderen'|translate }}">
                    <span class="fa fa-trash pr5"></span>
                    {{ 'Alles verwijderen'|translate }}
                </a>
            {% endif %}

            {% if id %}
                <a href="/cms/media/view?site={{ site }}&id={{ id }}&_do=Delete" class="btn btn-danger btn-sm ml10" title="{{ 'Media item verwijderen'|translate }}">
                    <span class="fa fa-trash pr5"></span>
                    {{ 'Media item verwijderen'|translate }}
                </a>
            {% endif %}

        </div>
    </div>

</header>


