<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-frown-o"></span>
        <span class="sidebar-title"> {{ 'Belasting'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">

        <li>
            <a href="/tax/">
                <span class="fa fa-file-text-o"></span> BTW aangifte
            </a>
        </li>

        <li>
            <a href="/tax/bookings/automagic">
                <span class="fa fa-file-text-o"></span> Automatische taken
            </a>
        </li>

    </ul>
</li>