<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        {% if banner.getId %}
        <div class="row">
            <div class="panel">
                <div style="width:100%;position: relative">
                    <img style="width:100%" src="/img/banner/sliced/1920x100/{{ banner.getId() }}.{{ banner.getFileExt() }}">
                    <a href="/generic/image_editor/editor?file=banner/{{ banner.getId() }}.{{ banner.getFileExt() }}&sizes=1920x400">
                        <i class="fa fa-edit" style="position:absolute;top:10px;left:10px;color:white;"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {{ edit_form | raw  }}
            </div>
        </div>
    </form>
</div>


