
            <div class="chute chute-center pt30">
                <div class="panel">
                    <div class="panel-body pn">
                        {{ overview_table | raw }}
                    </div>
                </div>
            </div>

