<textarea class="form-control" placeholder="{{ placeholder }}" style="height:{{ height }}px;{{ width }}border:1px solid #ddd; border-radius: 3px;" name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" >{{ field_value }}</textarea>
