{% if read_only %}
    {{ checked == ''?'Nee':'Ja' }}
{% else %}
    <input name="{{ array_name }}[{{ field_db }}]" value="0" type="hidden">
    <input name="{{ array_name }}[{{ field_db }}]" value="1" type="checkbox" id="fld_{{ field_db }}" {{ checked }}>
{% endif %}
