<input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="form-control" data-toggle="tooltip" data-placement="top"  placeholder="{{ placeholder }}" value="{{ field_value }}" type="{{ type ? type : 'text' }}">
