<select id="fld_{{ field_db }}" name="{{ array_name }}[{{ field_db }}]" class="{{ single_suggest_enabled ? 'single_suggest' : 'form-control' }}">
    {% if placeholder %}
        <option value="">{{ placeholder }}</option>
    {% endif %}
    {% for option in options %}
        {% if option['label']!='' %}
            <option {{ (option['style'] ? 'style="' ~ option['style'] ~ '" ')|raw }}{{ option['selected']|raw }} data-extra="{{ option['extra'] }}" value="{{ option['id'] }}">{{ option['label'] }}</option>
        {% endif %}
    {% endfor %}
</select>
