.component_canvas.web_app{
    width: 100%;
    height:100%;
    flex-direction: column;

    display: flex;
    justify-content: center;

    align-items: flex-start;
}
.droppable_zone.over{
    background: #bee6be;
}
.component_stack {
    flex: 1;
    width: 100%;
}
.component-item{
    background-color: white;
    margin-bottom: 30px;
}
.droppable_zone{
    border: 1px dashed #cccccc;
    flex: 1;
    width:100%;
    height:100%;
    background-color: #eaf0fd;
    min-height: 150px;
}
.droppable_button_bar .droppable_zone{
    height: 60px !important;
    min-height: 60px;
    text-align: center!important;
    display: flex;
    align-items: center;
    color: #32323a;
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
}
.no-dropzones .droppable_zone{
    display: none;
}
.droppable_zone .empty_flex{
    padding: 0;
    margin: 0;
    width:100%;
    height:100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-box-align:center;
    -webkit-box-pack: center;
}
.droppable_zone .empty_flex .placeholder
{
    padding: 5px;
    width:50%;
    height:100%;

    margin: 10px;
    line-height: 150px;
    color: #32323a;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

.draggable.component.dragging
{
    background-color: #cad9fa;
    justify-content: left;

    width: 100%;
    z-index: 1000;

}


.pallete.components
{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.draggable.component{
    margin:0 3px 3px 0;
    display: flex;
    justify-content: left;
    align-items: center;
    z-index: 1000;

    padding: 10px;
    background: #ddf;
}

.droppable_component.dragging{
    background-color: red;;
}
