<div class="heading-banner"
     style="background-repeat: no-repeat;
                 height:300px;
                 background-position: center;
                 background-size: contain!important;
                 background-image: url('/img/banner/bitcoin.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">
                    <h2 style="display: none">{{ 'Store locator'|translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="store-locator">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 col-xs-12">
                <div class="contact-form">
                    <h3><i class="fa fa-globe"></i> {{ 'Resellers'|translate }}</h3>
                    <div class="row">
                        <div id="map"></div>
                        <!-- AIzaSyDMD3RZ5sKH1umfXcDVBniPjd2cLQPonkI -->
                        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMD3RZ5sKH1umfXcDVBniPjd2cLQPonkI&callback=initMap"></script>
                        <script>
                            function initMap() {

                                var europe = {lat: 51.009893, lng: 8.445327};
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 4,
                                    center: europe
                                });

                                {% for reseller in resellers %}
                                    {% if reseller.getLatitude() and reseller.getLongtitude() %}
                                        var uluru_{{ reseller.getId() }} = {lat: {{ reseller.getLatitude() }}, lng: {{ reseller.getLongtitude() }}};
                                        var marker_{{ reseller.getId() }} = new google.maps.Marker({
                                            position: uluru_{{ reseller.getId() }},
                                            map: map,
                                            title:"{{ reseller.getName() }}"
                                        });

                                        {% if reseller.getUrl() %}
                                        marker_{{ reseller.getId() }}.addListener('click', function() {
                                            window.location = "{{ reseller.getUrl() }}";
                                        });
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="contact-info">
                    <h3>{{ 'Reseller addresses'|translate }}</h3>

                    {% for reseller in resellers %}
                        <div style="margin-bottom:50px!important;">
                            <ul>

                                <li>
                                    <i class="fa fa-map-marker"></i>
                                    <strong>
                                        {%  if reseller.getUrl() %}
                                            <a href="{{ reseller.getUrl() }}" target="_blank">{{ reseller.getName() }}</a>
                                        {% else %}
                                            {{ reseller.getName() }}
                                        {% endif %}

                                    </strong>
                                    {{ reseller.getAddressL1() }}

                                    {% if reseller.getAddressL1() %}
                                        {{ reseller.getAddressL2() }},
                                    {% endif %}
                                    {{ reseller.getPostal() }},
                                    {{ reseller.getCity() }}
                                    {% if reseller.getCountry() %}
                                        , {{ reseller.getCountry().getName() }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>