<div class="col-md-4">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Meer info'|translate }}</span>
        </div>
        <div class="panel-body pn pb5">

            <ul>
                {% for link in left_menu_link_items %}
                    <li class="{{ edit_active }}">
                        {% if link.getLinkUrl() == '/crm/customer_edit' %}
                            <a href="{{ link.getLinkUrl() }}?id={{ customer_id }}">{{ link.getTranslatedTitle() }}</a>
                        {% else %}
                            <a href="{{ link.getLinkUrl() }}?customer_id={{ customer_id }}">{{ link.getTranslatedTitle() }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <hr class="short br-lighter">

            {% for address in customer_addresses %}
                <h6>{{ address.getCustomerAddressType().getDescription() }}</h6>
                <h6>
                    <a href="/crm/address/edit?id={{ address.getId() }}">
                        <i class="fa fa-edit"></i>
                    </a>
                    {% if address.getCompanyName() %}
                        {{ address.getCompanyName() }}
                    {% elseif address.getAttnName() %}
                        {{ address.getAttnName() }}
                    {% endif %}
                </h6>

                <p class="text-muted">
                    {% if address.getAddressL1 %}
                        {{ address.getAddressL1() }} <br>
                        {{ address.getAddressL2() }} {{ address.getAddressL2() ? '<br>' : ''}}
                    {% else %}
                        {{ address.getStreet() }} {{ address.getNumber() }} {{ address.getNumberadd() }}<br>

                    {% endif %}
                    {{ address.getPostal() }} {{ address.getCity() }}  <br>
                    {{ address.getCountry().getName() }}
                </p>
            {% else %}
                    <h6>{{ 'Geen adressen'|translate }}</h6>
                    <p class="text-muted">
                        This customer does not have any addresses yet. <br>
                        <a href="/">[+] Add the first address</a>
                    </p>
            {% endfor %}

            <hr class="short br-lighter">

            <h6>{{ 'Notities'|translate }}</h6>
            {% for note in customer_notes %}
                <h6>{{ 'Door: '|translate }} {{ note.getUser().getFirstName() }} {{ note.getUser().getLastName() }}, {{ 'geplaatst op:'|translate }} {{ note.getCreatedOn()|date('d-m-Y H:i') }}</h6>
                <p class="text-muted">{{ note.getDescription() }}
                </p>

            {% endfor %}

            <hr class="short br-lighter">

            <div class="section">
                <label class="field prepend-icon">
                    <textarea class="gui-textarea" id="fld_description" name="description" placeholder="{{ 'Voeg hier een notitie toe'|translate }}">{{ posted_name }}</textarea>
                    <label for="comment" class="field-icon">
                        <i class="fa fa-list"></i>
                    </label>
                </label>
            </div>
            <div class="section">
                <button id="store_note" type="submit" class="btn ladda-button btn-primary pull-right" data-style="expand-right">
                    <span class="ladda-label">Notitie toevoegen</span>
                </button>
            </div>
        </div>
    </div>
</div>