<div class="col-md-4">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Klant informatie'|translate }}</span>
        </div>
        <div class="panel-body pn pb5">

            <hr class="short br-lighter">

            <p class="text-muted">
                {{ 'Zodra de klant is toegevoegd wordt hier allerlei info over de klant weergegeven.' | translate  }}
            </p>
        </div>
    </div>
</div>