    {% if customer_id %}
        <ul class="nav panel-tabs-border panel-tabs">
            <li class="{{ edit_active }}">
                <a href="/crm/customer_edit?id={{ customer_id }}">{{ 'Algemeen'|translate }}</a>
            </li>
            {% for link in top_menu_link_items %}
                <li class=""> {# { edit_active } #}
                    <a href="{{ link.getLinkUrl() }}?customer_id={{ customer_id }}">{{ link.getTranslatedTitle() }}</a>
                </li>
            {% endfor %}

            {#
            <li class="{{ addresses_active }}">
                <a href="/crm/address/overview?customer_id={{ customer_id }}">Adressen ({{ customer_address_count }})</a>
            </li>
            <li class="{{ password_reset_active }}">
                <a href="/crm/password/reset?customer_id={{ customer_id }}">Wachtwoord resetten</a>
            </li>

            <li class="{{ orders_active }}">
                <a href="/crm/customer_orders?customer_id={{ customer_id }}">Bestellingen en facturen</a>
            </li>
            #}
        </ul>
    {% endif %}


