<div class="chute chute-center no-dropzones" style="height: 749px;">

    <div class="" style="height: 654px;">


        <div class="ph20">

            <h4> {{ ui_component.getLabel() }} </h4>

            {% for result_item in result %}

                {{ result_item.result|raw }}

            {% endfor %}




        </div>
    </div>
</div>
{{ properties_chute|raw }}

