<div class="chute chute-center pt30">

    <h5>
        <img src="{{ current_language.getFlagIconPath(48) }}" />
        {{ 'Velden vertalen in het '|translate }} {{ current_language.getDescription() }}
    </h5>


    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title hidden-xs">{{ title }}</span>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                    <thead>
                    <tr class="bg-light">
                        <td colspan="2">
                            <strong>{{ 'Kies een groep velden'|translate }}:</strong>
                        </td>
                    </tr>
                    {% for crud in available_cruds %}
                        {% if crud.name!='Generic' %}
                            <tr>
                                <td>
                                    <a class="{{  crud.is_translated ? 'text-success': ''}}" href="/admin/field_translation/edit?language_id={{ language_id }}&crud={{ crud.name }}">
                                        <i class="fa fa-{{ crud.is_translated ? 'smile-o': 'gear'}}"></i>
                                        {{ crud.name }}
                                        {{ language.getDescription() }} {{ 'instellen'|translate }}
                                    </a>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
