<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" method="post">
        <input type="hidden" name="_do" value="SaveTranslation"/>

        <h5>
            <img src="{{ current_language.getFlagIconPath(48) }}" />
            {{ 'Velden vertalen in het '|translate }} {{ current_language.getDescription() }}
        </h5>


        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title hidden-xs">{{ title }}</span>
            </div>
            <div class="panel-body pn">
                <div class="table-responsive">
                    <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                        <thead>
                        <tr class="bg-light">
                            <td>
                                <strong>{{ 'Origineel'|translate }}</strong>
                            </td>
                            <td>
                                <strong>{{ 'Vertaling'|translate }}</strong>
                            </td>
                            <td>
                                <strong>{{ 'Suggestie'|translate }}</strong>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in crud_fields %}
                            <tr class="data_row">
                                <td style="text-align: left">{{ key }}</td>
                                <td><input class="event-name gui-input br-light light data_field" type="text" name="data[{{ key }}]" value="{{ value }}"></td>
                                <td><a href="" class="copy_suggestion">&laquo; {{ 'overnemen'|translate }}</a> <span class="suggestion">{{ suggestions[key] }}</span></td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td style="text-align: right">
                                <strong>{{ 'Alle velden vertaald?'|translate }}</strong>
                            </td>
                            <td>
                                <input type="checkbox" name="data[all_translated]" {{ all_translated ? 'checked' : '' }} value="1" />
                            </td>
                            <td><a href="#" id="copy_all_suggestions">&laquo; Copy all suggestions</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                </button>
            </div>
        </div>
    </form>
</div>
