<div class="chute chute-center pt30">

    <h5>{{ 'Velden vertalen'|translate }}</h5>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title hidden-xs">{{ title }}</span>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                    <thead>
                        <tr class="bg-light">
                            <td colspan="2">
                                <strong> {{ 'Kies een taal'|translate }}:</strong>
                            </td>

                        </tr>
                    </thead>
                    <tbody>
                        {% for language in languages %}
                            <tr>
                                <td class="w20">
                                    <a href="/admin/field_translation/choose_fieldset?language_id={{ language.getId() }}">
                                        <img src="{{ language.getFlagIconPath() }}" />
                                    </a>
                                </td>
                                <td>
                                    <a class="{{  all_translated[language.getId()] ? 'text-success': ''}}" href="/admin/field_translation/choose_fieldset?language_id={{ language.getId() }}">
                                        <i class="fa fa-{{ all_translated[language.getId] ? 'smile-o': 'gear'}}"></i>
                                        {{ language.getDescription }} {{ 'Instellen'|translate }}
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
