<form class="form-horizontal" id="frm_edit" enctype="multipart/form-data" method="post">
    <input name="_do" id="fld_do" value="ConfugureList" type="hidden">
    <div class="chute chute-center pt30">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Lijst configureren'|translate }}</span>
            </div>
            <div class="panel-body">
                <!--
                <div class="form-group">
                    <label for="fld_state" class="col-lg-3 control-label">{{ 'Welke e-mailadressen?'|translate }} <i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-globe"></i>
                            </span>
                            <select id="fld_to_whom" name="data[to_whom]" class="form-control">
                                <option value="customers" {{ data.to_whom == 'customers' ? 'selected="selected"' }}>{{ 'Klanten'|translate }}</option>
                                <option value="subscribers" {{ data.to_whom == 'subscribers' ? 'selected="selected"' }}>{{ 'Nieuwsbrief abbonees'|translate }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                -->
                <div class="form-group">
                    <label for="fld_state" class="col-lg-3 control-label"></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <a target="_blank" href="/generic/crud/hidden_filters?module=Customer&manager=MailChimpManager&tab={{ crud_view_id }}&display_other_crud_views=0"><i class="fa fa-filter"></i> Klik hier om filters te configureren</a>
                        </div>
                    </div>
                </div>
                <!--
                <button id="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                    <span class="ladda-label">{{ 'Wijzigingen + naar overzicht'|translate }}</span>
                    <span class="ladda-spinner"></span>
                </button>
                -->
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Voorbeeld data</span>
            </div>
            <div class="panel-body">
                {{ sample_data.overview_table|raw }}
            </div>
        </div>
    </div>
</form>