<form class="form-horizontal" id="frm_edit" enctype="multipart/form-data" method="post">
    <input name="_do" id="fld_do" value="CreateList" type="hidden">

    <div class="chute chute-center pt30">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Lijst instellen'|translate }}</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label for="fld_title" class="col-lg-3 control-label">{{ 'Titel'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[name]" id="fld_title" class="form-control" placeholder="{{ 'Naam van de campagne'|translate }}" value="{{ data.name }}" type="text">
                        </div>
                    </div>
                </div>

                <div class="form-group mb25">
                    <label class="col-md-3 control-label" for="fld_auto_debitor_numbering">{{ 'Klant kan e-mail type kiezen (html/plain)'|translate }}</label>
                    <div class="col-md-9">
                        <div class="bs-component">
                            <label class="checkbox-inline mr10">
                                <input name="data[email_type_option]" type="hidden" value="0">
                                <input name="data[email_type_option]" type="checkbox" id="fld_email_type_option" value="1" {{ data.email_type_option ? 'checked="checked"' : '' }}>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group mb25">
                    <label class="col-md-3 control-label" for="fld_auto_debitor_numbering">{{ 'Campagne zichtbaar'|translate }}</label>
                    <div class="col-md-9">
                        <div class="bs-component">
                            <label class="checkbox-inline mr10">
                                <input name="data[visibility]" type="hidden" value="0">
                                <input name="data[visibility]" type="checkbox" id="fld_visibility" value="1" {{ data.visibility ? 'checked="checked"' : '' }}>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Afzender naam'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[campaign_defaults][from_name]" id="fld_name" class="form-control" placeholder="{{ 'Naam afzender'|translate }}" value="{{ data.campaign_defaults.from_name }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Afzender e-mailadres'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[campaign_defaults][from_email]" id="fld_name" class="form-control" placeholder="{{ 'Afzender e-mailadres'|translate }}" value="{{ data.campaign_defaults.from_email }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Onderwerp'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[campaign_defaults][subject]" id="fld_name" class="form-control" placeholder="{{ 'Onderwerp van de mail'|translate }}" value="{{ data.campaign_defaults.subject }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Taal'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[campaign_defaults][language]" id="fld_name" class="form-control" placeholder="{{ 'Taal'|translate }}" value="{{ data.campaign_defaults.language }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Bedrijfsnaam'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[contact][company]" id="fld_name" class="form-control" placeholder="{{ 'Uw bedrijfsnaam'|translate }}" value="{{ data.contact.company }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Adres regel 1'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[contact][address1]" id="fld_name" class="form-control" placeholder="{{ 'Adres regel 1'|translate }}" value="{{ data.contact.address1 }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Adres regel 2'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[contact][address2]" id="fld_name" class="form-control" placeholder="{{ 'Adres regel 2'|translate }}" value="{{ data.contact.address2 }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Stad'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[contact][zip]" id="fld_name" class="form-control" placeholder="{{ 'Stad'|translate }}" value="{{ data.contact.zip }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Stad'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[contact][city]" id="fld_name" class="form-control" placeholder="{{ 'Stad'|translate }}" value="{{ data.contact.city }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_state" class="col-lg-3 control-label">{{ 'State'|translate }} <i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-globe"></i>
                            </span>
                            <select id="fld_state" name="data[contact][state]" class="form-control">
                                <option value="">{{ 'Kies uw staat'|translate }}</option>
                                {% for state in usa_states %}
                                    <option {{ state.getName() == data.contact.state ? 'selected="selected"'}} value="{{ country.getName() }}">{{ state.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fld_country" class="col-lg-3 control-label">{{ 'Land'|translate }} <i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-globe"></i>
                            </span>
                            <select id="fld_country" name="data[contact][country]" class="form-control">
                                <option value="">{{ 'Kies uw land'|translate }}</option>
                                {% for country in countries %}
                                    <option {{ country.getIso2() == data.contact.country ? 'selected="selected"'}} value="{{ country.getIso2() }}">{{ country.getName() }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="fld_name" class="col-lg-3 control-label">{{ 'Telefoon'|translate }}<i class="required">*</i></label>
                    <div class="col-lg-8">
                        <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-user"></i>
                        </span>
                            <input name="data[contact][phone]" id="fld_name" class="form-control" placeholder="{{ 'Telefoon'|translate }}" value="{{ data.contact.phone }}" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fld_description" class="col-lg-3 control-label">
                        {{ 'Toestemming reden'|translate }}
                        <i class="required">*</i>
                    </label>
                    <div class="col-lg-7">
                        <textarea class="form-control" style="width:100%!important;height:50px;border:1px solid #ddd; border-radius: 3px;" name="data[permission_reminder]" id="fld_description" placeholder="{{ 'Waarom mag u naar dit adres e-mailen?'|translate }}" >{{ data.permission_reminder }}</textarea>
                    </div>
                </div>

                <button id="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                    <span class="ladda-label">{{ 'Wijzigingen + naar overzicht'|translate }}</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>
</form>