<div class="chute chute-center pt30">
    <form id="shipping_form" class="form-horizontal" role="form" method="post">
        <h5>{{ title }}</h5>
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Mailing lists'|translate }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="bs-component">
                            <dl class="dl-horizontal">
                                <div class="table-responsive">
                                    <table class="table allcp-form footable">
                                        <thead>
                                        <tr class="bg-light">
                                            <th class="footable-sortable">{{ 'Omschrijving'|translate }}</th>
                                            <th class="footable-sortable numeric-col">{{ 'Aantal members bij MailChimp'|translate }}</th>
                                            <th class="footable-sortable numeric-col">{{ 'Aantal members in NuiCart'|translate }}</th>
                                            <th class="footable-sortable numeric-col">{{ 'Aantal unsubscribed'|translate }}</th>
                                            <th class="footable-sortable">{{ 'Aanmaak datum'|translate }}</th>
                                            <th class="footable-sortable">{{ 'Synct met NuiCart'|translate }}</th>
                                            <th class="iconcol">
                                                <div class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-cogs"></i>
                                                </div>
                                                <a></a>
                                            </th>
                                            <th class="iconcol">
                                                <div class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-unlink"></i>
                                                </div>
                                                <a></a>
                                            </th>
                                            <th class="iconcol">
                                                <div class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-rotate-right"></i>
                                                </div>
                                                <a></a>
                                            </th>
                                            <th class="iconcol">
                                                <div class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-trash-o"></i>
                                                </div>
                                                <a></a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                            {% for list in lists %}
                                                <tr>
                                                    <td>{{ list.name }}</td>
                                                    <td class="numeric-col">{{ list.stats.member_count }}</td>
                                                    <td class="numeric-col">{{ list.local_matching_records|number_format(0, ',', '.' ) }}</td>
                                                    <td class="numeric-col">{{ list.stats.unsubscribe_count|number_format(0, ',', '.')  }}</td>
                                                    <td>{{ list.date_created | date ( "m/d/Y H:s" ) }}</td>
                                                    <td>
                                                        {% if list.syncs_from_nuicart %}
                                                            <span>Ja</span>
                                                        {% else %}
                                                            <span>Nee</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="/api/mailchimp/configure?list_id={{ list.id }}" class="btn btn-dark br2 btn-xs fs12">
                                                            <i class="fa fa-cogs"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        {% if list.syncs_from_nuicart %}
                                                            <a href="/api/mailchimp/unlink?list_id={{ list.id }}" title="{{ 'Stop synchronisatie met MailChimp'|translate }}" class="btn btn-warning br2 btn-xs fs12">
                                                                <i class="fa fa-unlink"></i>
                                                            </a>
                                                        {% else %}
                                                            <div class="btn btn-default br2 btn-xs">
                                                                <i class="fa fa-unlink"></i>
                                                            </div>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="/api/mailchimp/clearsync?list_id={{ list.id }}" title="{{ 'Resync with'|translate }}" class="btn btn-success br2 btn-xs fs12">
                                                            <i class="fa fa-rotate-right"></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a href="">
                                                            <a href="/api/mailchimp/overview?_do=ConfirmDeleteList&list_id={{ list.id }}" title="{{ 'Delete list, this also removes the list from MailChimp'|translate }}"  class="btn btn-danger br2 btn-xs fs12 d">
                                                                <i class="fa fa-trash-o"></i>
                                                            </a>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

