<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
    <input type="hidden" name="_do" value="Store">
    <div class="panel generated">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Mailchimp API settings'|translate }}</span>
        </div>
        <div class="panel-body">

            <div class="form-group" id="blk_auto_numbering_config">
                <label for="user_email" class="col-lg-3 control-label">{{ 'API key'|translate }}</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-tags"></i>
                        </span>
                        <input name="data[mailchimp_api_key]" id="name" class="form-control" value="{{ mailchimp_api_key }}" type="text">
                        <span class="help-block mt5">
                        </span>

                    </div>
                    <i class="fa fa-bell"></i>
                    {{ 'Deze sleutel haalt u uit MailChimp.'|translate }}
                </div>
            </div>

            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                <span class="ladda-label">{{ 'Opslaan'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
            <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                <span class="ladda-label">{{ 'Opslaan + naar overzicht'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
    </div>
</form>