<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/api/mailchimp/overview">{{ 'Lijsten'|translate }}</a>
            </li>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            <a href="/api/mailchimp/editlist" class="btn btn-primary btn-sm ml10" title="{{ 'Nieuwe lijst'|translate }}">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-pencil pr5"></span>
            </a>
            <!--
            <a href="/api/mailchimp/settings" class="btn btn-primary btn-sm ml10" title="{{ 'Instellingen'|translate }}">
                <span class="fa fa-cogs pr5"></span>
            </a>
            -->
        </div>
    </div>
</header>

