<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-gift"></span>
        <span class="sidebar-title"> {{ 'Marketing'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/marketing/affiliates/overview">
                <span class="fa fa-file-text-o"></span> {{ 'Affiliates'|translate }}
            </a>
        </li>
        <li>
            <a href="/marketing/coupon/overview">
                <span class="fa fa-file-text-o"></span> {{ 'Couponnen'|translate }}
            </a>
        </li>
        <li>
            <a href="/marketing/mailing/mailing_list/overview">
                <span class="fa fa-file-text-o"></span> {{ 'Mailing versturen'|translate }}
            </a>
        </li>
    </ul>
</li>