<form method="post">
    <input type="hidden" name="_do" value="CopyCrudView" />
    <div class="chute chute-center">
        <div class="mw1000 center-block">
            <div class="panel mb35">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Kopie maken van '|translate }} "{{ crud_view.getName() }}"</span>
                </div>
                <div class="panel-body br-t">
                    <div class="allcp-form theme-primary">
                        <div class="section row mb10">
                            <label for="fld_tab_name" class="field-label col-sm-2 ph10  text-center">Tab naam:</label>
                            <div class="col-sm-10 ph10">
                                <label for="fld_domain" class="field prepend-icon">
                                    <input type="text" name="tab_name" id="fld_tab_name" class="gui-input" value="{{ crud_view.getName() }} (kopie)" placeholder="{{ 'Minimaal 4 tekens lang'|translate }}">
                                    <label for="store-name" class="field-icon">
                                        <i class="fa fa-globe"></i>
                                    </label>
                                </label>
                            </div>
                        </div>
                        <div class="section row mb10">
                            <label for="fld_invisible_filters" class="field-label col-sm-2 ph10  text-center">{{ 'Onzichtbare filters'|translate }}:</label>
                            <div class="col-sm-10 ph10">
                                <label for="store-name" class="field prepend-icon">
                                    <input type="hidden" value="0" name="invisible_filters">
                                    <input type="checkbox" value="1" name="invisible_filters" id="fld_invisible_filters" checked="checked">
                                    {{ 'Deze instelling bepaald wat er op de pagina wordt weergegeven.'|translate }}
                                </label>
                            </div>
                        </div>
                        <div class="section row mb10">
                            <label for="fld_wordpress" class="field-label col-sm-2 ph10  text-center">{{ 'Zichtbare filters'|translate }}:</label>
                            <div class="col-sm-10 ph10">
                                <label for="store-name" class="field prepend-icon">
                                    <input type="hidden" value="0" name="visible_filters">
                                    <input type="checkbox" value="1" name="visible_filters" id="fld_visible_filters" checked="checked">
                                    {{ 'Deze instelling bepaald de zoekmogelijkheden voor de gebruiker.'|translate }}
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block pull-right">{{ 'Tabblad aanmaken'|translate }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
