<form role="form" class="form-horizontal" method="post">
    <input type="hidden" name="_do" value="CreateCrud" />
    <input type="hidden" name="data[fields]" id="fld_fields" value="" />

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Nieuw overzicht aanmaken'|translate }}</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputStandard">{{ 'Titel'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input type="text" name="data[title]" value="{{ crud_view.getName() }}" placeholder="{{ 'Geef een titel voor het tabblad / overzicht'|translate }}" class="form-control" id="inputStandard">
                                <i>
                                    De titel van het overzicht wordt op verschillende plaatsen in het systeem weergegeven.
                                    Onder andere als tabblad titel in overzichten maar bijvoorbeeld ook in de API.
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="fld_code">{{ 'Sleutel'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                {% if crud_view.getCode() %}
                                    <div style="margin: 5px">
                                        <a title="Ga naar overzicht" href="{{ manager_class.getOVerviewUrl() }}?crud_view_key={{ crud_view.getCode() }}" class="btn btn-system btn-sm" style="padding: 10px;"><i class="fa fa-globe"></i> {{ crud_view.getCode() }}</a>
                                    </div>
                                {% else %}
                                    <input type="text" name="data[code]" value="{{ crud_view.getCode() }}" placeholder="{{ 'Unieke string, te gebruiken als referentie'|translate }}" class="form-control" id="fld_crud_view_key">
                                {% endif %}

                                <i>
                                    Wanneer het tabblad vanuit de applicatie wordt weergegeven dan wordt het <strong>id</strong> van dit tab gebruikt.
                                    In veel situaties is het echter handiger om te kunnen refereren aan iets wat "human readable" is.
                                    Aangezien de key wordt gebruikt om aan te refereren is deze na het invoeren niet meer aanpasbaar.
                                    Gebruik alleen alfa nummerieke tekens en het - (minus) teken. De sleutel moet uniek zijn.
                                </i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="fld_default_order_by">{{ 'Sortering en richting'|translate }}</label>
                        <div class="col-lg-9">
                            <div class="bs-component">

                                <select name="data[default_order_by]" id="fld_default_order_by" style="width: 40%">
                                    <option value="">{{ 'Maak een keuze'|translate }}</option>
                                    {% for field in all_available_fields %}
                                        <option {{ field.selected }} value="{{ field.name }}">{{ field.title }}</option>
                                    {% endfor %}
                                </select>
                                <select title="Sorteer volgorde" name="data[default_order_dir]" style="width: 40%">
                                    <option value="">{{ 'Maak een keuze'|translate }}</option>
                                    <option {{ crud_view.getDefaultOrderDir() == 'asc' ? 'selected="selected"' : '' }} value="asc">{{ 'Oplopend'|translate }}</option>
                                    <option {{ crud_view.getDefaultOrderDir() == 'desc' ? 'selected="selected"' : '' }}  value="desc">{{ 'Aflopend'|translate }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="fld_show_quantity">{{ 'Toon aantal'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input type="hidden" name="data[show_quantity]" value="0">
                                <input type="checkbox" name="data[show_quantity]" id="fld_show_quantity"  {{ crud_view.getShowQuantity() == 1 ? 'checked' : ''}} value="1">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="fld_is_hidden">{{ 'Verborgen'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input type="hidden" name="data[is_hidden]" value="0">
                                <input type="checkbox" name="data[is_hidden]" id="fld_is_hidden" {{ crud_view.getHiddenView() == 1 ? 'checked' : ''}} value="1">
                                <i>
                                    De lijst wordt standaard niet weergegeven maar je kunt er wel naar linken.
                                </i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="inputStandard">{{ 'Kleur logica'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <div id="explanation" style="display:none;">
                                    {{ 'Beschikbare variabelen'|translate }}:<br/>
                                        <b>{{ '{{' }}quantity_total {{ '}}' }}</b>,<b>{{ '{{' }}quantity_unseen {{ '}}' }}</b> <br />
                                    {{ 'Beschikbare kleuren'|translate }}:<br>
                                        <b class="txt primary">{{ '{{' }} color.primary {{ '}}' }}</b>,
                                        <b class="txt warning">{{ '{{' }} color.warning {{ '}}' }}</b>,
                                        <b class="txt success">{{ '{{' }} color.success {{ '}}' }}</b>,
                                        <b class="txt info">{{ '{{' }} color.info {{ '}}' }}</b>,
                                        <b class="txt danger">{{ '{{' }} color.danger {{ '}}' }}</b>,
                                        <b class="txt system">{{ '{{' }} color.system {{ '}}' }}</b>,
                                        <b class="txt inverse">{{ '{{' }} color.inverse {{ '}}' }}</b><br />
                                    {{ 'Instelbare elementen'|translate }}:<br>
                                        <b>{{ '{{' }} link_text.color {{ '}}' }}</b> -- {{ 'Dit is de tekstkleur van het tabblad'|translate }}.<br>
                                        <b>{{ '{{' }} link_text.bgcolor {{ '}}' }}</b> -- {{ 'Dit is de achtergrondkleur van het tabblad'|translate }}.<br>
                                        <b>{{ '{{' }} quantity_container.color {{ '}}' }}</b> -- {{ 'Dit is de tekstkleur van het aantal vakje'|translate }}.<br>
                                        <b>{{ '{{' }} quantity_container.bgcolor {{ '}}' }}</b> -- {{ 'Dit is de achtergrondkleur van het aantal vakje'|translate }}.<br />
                                    {{ 'Door een kleur aan een item toe te kennen krijgt het item die kleur'|translate }}.<br />
                                    <b>{{ 'Voorbeeld'|translate }}</b><br />
                                    {{ '{%' }} if quantity_unseen > 1 %} link_text.color {{ '{%' }} endif {{ '%}' }}<br>
                                    <a href="http://twig.sensiolabs.org/doc/templates.html" target="_blank">{{ 'Kijk hier voor een zeer uitgebreide uitleg'|translate }}</a>
                                    <textarea title="Conditionele logica" style="width:100%;height:150px;" placeholder="" name="data[tab_color_logic]"> {{ crud_view.getTabColorLogic }}</textarea>
                                </div>
                                <a href=""
                                   name="data[tab_color_logic]"
                                   id="toggle_explain"
                                   data-show-txt="{{ 'Ok, ik geef het op dit is te moeilijk. (klik hier om dit te klappen)'|translate }}"
                                   data-hide-txt="{{ 'Waarschuwing, dit is een geavanceerde instelling, klik hier om te bewerken. Zet hem op, je kan het!'|translate }}">
                                    {{ 'Waarschuwing, dit is een geavanceerde instelling, klik hier om te bewerken. Zet hem op, je kan het!'|translate }}
                                </a>



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Welke kolommen wilt u in dit overzicht laten zien?'|translate }}</span>
                    </div>
                    <div class="panel-body">
                        <h6>Zichtbare kolommen</h6>
                        <div id="configured_fields" class="drop-area sortable">

                            {% for field in enabled_fields  %}
                                {% if field.is_delete_field %}
                                    <span id="{{ field.name }}" class="label label-danger col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    <i class="fa fa-trash"></i>
                                        {{ field.title }}
                                </span>

                                {# eigenlijk zou ik hier willen controleren of field IEventField implementeert maar dat kan niet in twig, instanceof bestaat niet. #}

                                {% elseif  field.event_field %}
                                    <span id="{{ field.name }}" class="label label-success col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    <i class="fa fa-bolt"></i>
                                        {{ field.title }}
                                </span>
                                {% elseif field.name == "Edit" %}
                                    <span id="{{ field.name }}" class="label label-dark col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    <i class="fa fa-pencil"></i>
                                        {{ field.title }}
                                </span>
                                {%  else %}
                                    <span id="{{ field.name }}" class="label label-primary col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    {{ field.title }}
                                </span>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="cl"></div>
                        <div style="margin-top: 30px;">
                            <h6>Nog beschikbare kolommen</h6>
                            <div class="sortable drop-area">
                            {% for field in fields  %}
                                {% if field.is_delete_field %}
                                    <span id="{{ field.name }}" class="label label-danger col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        <i class="fa fa-trash"></i>
                                        {{ field.title }}
                                    </span>
                                    {# eigenlijk zou ik hier willen controleren of field IEventField implementeert maar dat kan niet in twig, instanceof bestaat niet. #}
                                {% elseif field.event_field  %}
                                    <span id="{{ field.name }}" class="label label-success col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        <i class="fa fa-bolt"></i>
                                        {{ field.title }}
                                    </span>
                                {% elseif  field.name == "Edit" %}
                                    <span id="{{ field.name }}" class="label label-dark col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        <i class="fa fa-pencil"></i>
                                        {{ field.title }}
                                    </span>
                                {%  else %}
                                    <span id="{{ field.name }}" class="label label-primary col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        {{ field.title }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        {% if tab_id %}
                            <button id="fld_submit_button" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <i class="fa fa-save"></i>
                                <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                                <span class="ladda-spinner"></span>
                            </button>
                            <a href="/generic/crud/delete?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}" class="btn ladda-button btn-danger pull-right" data-style="expand-right" style="margin-right:10px;">
                                <i class="fa fa-trash"></i>
                                <span class="ladda-label">{{ 'Verwijderen'|translate }}</span>
                                <span class="ladda-spinner"></span>
                            </a>
                        {% else %}
                            <button id="fld_submit_button" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label">{{ 'Overzicht aanmaken'|translate }}</span>
                                <span class="ladda-spinner"></span>
                            </button>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
