<form role="form" id="crud_editor_form" class="form-horizontal" method="post">

    <input type="hidden" name="_do" value="SaveCrudEditor" />
    <input type="hidden" name="data" id="fld_data" value="" />
    <input type="hidden" name="crud_editor_id" value="{{ crud_editor.getId() }}" />
    <input type="hidden" name="do_after_save" value="{{ do_after_save }}" />


     <div class="col-md-12">
        <div class="col-md-6">
            <div class="chute chute-center pt30">
                <div class="panel">
                     <div class="panel-heading">
                        <span class="panel-title">{{ 'Overzicht bewerken'|translate }}</span>
                    </div>

                    <div class="panel-body pn sortable_block_container" id="fields_in_use">

                        {% for crud_editor_block in crud_editor.getCrudEditorBlocksSorted() %}
                            <div class="sortable_block" data-id="{{ crud_editor_block.getId() }}">
                                <div style="margin-bottom:10px; ">
                                    <input style="width: 60%;" class="title" id="title_{{ crud_editor_block.getId() }}" type="text" value="{{ crud_editor_block.getTitle() }}" placeholder="{{ 'Typ hier een paneel titel'|translate }}">
                                    <select style="width: 20%;"  id="width_{{ crud_editor_block.getId() }}">
                                        <option {{ crud_editor_block.getWidth() == '12' ? 'selected="selected"' }} value="12">100%</option>
                                        <option {{ crud_editor_block.getWidth() == '11' ? 'selected="selected"' }} value="11">91%</option>
                                        <option {{ crud_editor_block.getWidth() == '10' ? 'selected="selected"' }} value="10">83%</option>
                                        <option {{ crud_editor_block.getWidth() == '9' ? 'selected="selected"' }} value="9">75%</option>
                                        <option {{ crud_editor_block.getWidth() == '8' ? 'selected="selected"' }} value="8">66%</option>
                                        <option {{ crud_editor_block.getWidth() == '7' ? 'selected="selected"' }} value="7">58%</option>
                                        <option {{ crud_editor_block.getWidth() == '6' ? 'selected="selected"' }} value="6">50%</option>
                                        <option {{ crud_editor_block.getWidth() == '5' ? 'selected="selected"' }} value="5">50%</option>
                                        <option {{ crud_editor_block.getWidth() == '4' ? 'selected="selected"' }} value="4">41%</option>
                                        <option {{ crud_editor_block.getWidth() == '3' ? 'selected="selected"' }} value="3">33%</option>
                                        <option {{ crud_editor_block.getWidth() == '2' ? 'selected="selected"' }} value="2">24%</option>
                                        <option {{ crud_editor_block.getWidth() == '1' ? 'selected="selected"' }} value="1">8%</option>
                                    </select>
                                    <a href="#" title="{{ 'Gebruik drag & drop om dit hele blok te sorteren.'|translate }}" class="sortable_handle btn btn-primary"><i class="fa fa-unsorted"></i> </a>
                                    <a href="{{ request_uri }}&_do=DeleteBlock&crud_editor_block_id={{ crud_editor_block.getId() }}" title="{{ 'Hele blok van scherm verwijderen'|translate }}" class="btn btn-danger"><i class="fa fa-trash"></i> </a>
                                </div>
                                <div style="overflow: auto" class="available_fields_container drop-area sortable enabled_fieldset" data-editor_block_id="{{ crud_editor_block.getId() }}">
                                    <span class="placeholder">{{ 'Versleep velden hierheen'|translate }}</span>
                                        {% for field in crud_editor_block.getFieldObjects() %}

                                            <span title="{{ field.crud_field.getFieldTitle() }}" data-block-field-id="{{ field.crud_editor_block_field.getId() }}" id="{{ field.classname }}" class="label-{{ field.inline_editor ? 'success' : 'primary' }} col_dd ui-sortable-handle datafield field-style-handle w{{ field.crud_editor_block_field.getWidth()}}">
                                                <b>
                                                {% if field.crud_field.getIcon() %}
                                                    <span style="display: inline-block;width:20px;text-align: center">
                                                        <i class="fa fa-{{ field.crud_field.getIcon() }}"></i>
                                                    </span>
                                                {% endif %}
                                                {{ field.crud_field.getFieldTitle() }}
                                                </b>

                                                {% if field.crud_field.isWebOnly() %}
                                                    <span class="badge badge-system" style="display:inline-block;">
                                                        <i class="fa fa-globe"></i>
                                                        Web only
                                                    </span>
                                                {% endif %}

                                                {% if field.crud_field.isAppOnly() %}
                                                    <span class="badge badge-system" style="display:inline-block;float: right">
                                                        <i class="fa fa-mobile"></i>
                                                        App only
                                                    </span>
                                                {% endif %}

                                                {% if not field.crud_field.needsFullEditorBlock() %}
                                                    <select class="width w{{ field.crud_editor_block_field.getWidth()}}" style="float: right">
                                                        <option {{ field.crud_editor_block_field.getWidth() == 12 ? ' selected="selected"' }} value="12">100%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 11 ? ' selected="selected"' }} value="11">91%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 10 ? ' selected="selected"' }} value="10">83%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 9 ? ' selected="selected"' }} value="9">74%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 8 ? ' selected="selected"' }} value="8">66%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 7 ? ' selected="selected"' }} value="7">58%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 6 ? ' selected="selected"' }} value="6">49%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 5 ? ' selected="selected"' }} value="5">41%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 4 ? ' selected="selected"' }} value="4">33%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 3 ? ' selected="selected"' }} value="3">24%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 2 ? ' selected="selected"' }} value="2">16%</option>
                                                        <option {{ field.crud_editor_block_field.getWidth() == 1 ? ' selected="selected"' }} value="1">8%</option>
                                                    </select>
                                                {% endif %}

                                                {% if field.crud_field.isMutable() %}
                                                    <select class="read_only w{{ field.crud_editor_block_field.getWidth()}}" >
                                                        <option {{ field.crud_editor_block_field.getReadOnlyField() == 0 ? ' selected="selected"' }}  value="0">{{ 'lezen & schrijven'|translate }}</option>
                                                        <option {{ field.crud_editor_block_field.getReadOnlyField() == 1 ? ' selected="selected"' }}  value="1">{{ 'lezen'|translate }}</option>
                                                    </select>
                                                {% endif %}

                                                {% if field.crud_field.isConfigurableItem() %}
                                                    <a href="{{  field.crud_field.getItemConfigUrl(field.crud_editor_block_field.getId())|raw }}" style="color:white;text-decoration:underline">
                                                    <span class="badge badge-system" style="display:inline-block;float:right;">
                                                        <i class="fa fa-cogs"></i>
                                                    </span>
                                                    </a>
                                                {% endif %}
                                            </span>
                                        {% endfor %}
                                    <div class="cl"></div>
                                </div>
                            </div>

                        {% endfor %}

                        {% if single_block == false %}

                            <input class="title" id="title_new"  type="text" placeholder="{{ 'Typ hier een paneel titel'|translate }}">
                            <div style="overflow: auto" class="available_fields_container drop-area sortable enabled_fieldset" data-editor_block_id="new">
                                <span class="placeholder">{{ 'Versleep velden hierheen'|translate }}</span>
                            </div>
                        {% endif %}
                            <button id="fld_submit" class="btn ladda-button btn-dark pull-right" type="button">
                                <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                                <span class="ladda-spinner"></span>
                            </button>
                            <div class="cl"></div>


                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6" id="available_fields">
            <div class="chute chute-center pt30">
                <div class="panel">
                     <div class="panel-heading">
                        <span class="panel-title">{{ 'Beschikbare velden'|translate }}</span>
                    </div>
                    <div style="overflow: auto" class="drop-area sortable">
                        {% for field in available_fields %}
                            <span id="{{ field.classname }}" data-block-field-id="new" class="label-{{ field.inline_editor ? 'success' : 'primary' }} col_dd ui-sortable-handle datafield field-style-handle w12">
                                <b>

                                {% if field.object.getIcon() %}
                                    <span style="display: inline-block;width:20px;text-align: center">
                                        <i class="fa fa-{{ field.object.getIcon() }}"></i>
                                    </span>
                                {% endif %}
                                {{ field.object.getFieldTitle() }}
                                    <span style="float:right;font-style: italic">
                                    {{ field.app_only ? '(app only)' }}
                                    </span>
                                </b>
                                {% if not field.full_block %}
                                    <select class="width w12">
                                        <option value="12">100%</option>
                                        <option value="11">91%</option>
                                        <option value="10">83%</option>
                                        <option value="9">74%</option>
                                        <option value="8">66%</option>
                                        <option value="7">58%</option>
                                        <option value="6">49%</option>
                                        <option value="5">41%</option>
                                        <option value="4">33%</option>
                                        <option value="3">24%</option>
                                        <option value="2">16%</option>
                                        <option value="1">8%</option>
                                    </select>
                                    <select class="read_only w12">
                                        <option value="0">{{ 'lezen & schrijven'|translate }}</option>
                                        <option value="1">{{ 'lezen'|translate }}</option>
                                    </select>
                                {% endif %}
                            </span>
                        {% endfor %}
                    </div>
                    <div class="cl"></div>
                </div>
            </div>
        </div>
    </div>
</form>

