<header id="topbar" class="ph10">

    <div class="topbar-left">
        {% if crud_editor_return_url %}
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="{{ crud_editor_return_url }}">&laquo; {{ 'Terug naar de editor'|translate }}</a>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">

        {% if similar_editors.count() > 1 %}
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <span class="fa fa-copy pr5"></span>
                    <span class="caret ml5"></span>
                    Push deze instellingen naar
                </button>
                    <ul class="dropdown-menu" role="menu">
                    {% for similar_editor in similar_editors %}
                        {% if current_editor_id !=  similar_editor.getId()%}
                            <li>
                                <a href="/generic/crud/editor_copy?source={{ current_editor_id }}&dest={{ similar_editor.getId() }}&r=back_to_editor">
                                    <i class="fa fa-table"></i>
                                    {{ similar_editor.getName() }}
                                </a>
                            </li>
                        {%  endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}


        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&name=base">
                        <i class="fa fa-table"></i>
                        {{ 'Velden en titel'|translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
