<form role="form" id="crud_editor_form" class="form-horizontal" method="get">

    <input type="hidden" name="_do" value="CreateForm" />
    <input type="hidden" name="module" value="{{ module }}" />
    <input type="hidden" name="manager" value="{{ manager }}" />
    <input type="hidden" name="do_after_save" value="{{ do_after_save }}" />


    <div class="col-md-12">
        <div class="col-md-6">
            <div class="chute chute-center pt30">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Nieuw formulier aanmaken'|translate }}</span>
                    </div>
                    <div class="panel-body">
                        <input class="title" name="title" type="text" placeholder="{{ 'Formulier titel'|translate }}">

                        <button id="fld_submit" class="btn ladda-button btn-dark pull-right" type="submit">
                            <span class="ladda-label">{{ 'Volgende stap'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                        <div class="cl"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

