<form role="form" class="form-horizontal" method="post">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Weet u het zeker?'|translate }}</span>
        </div>
        <div class="panel-body pn sortable_block_container">
            <p>
                {{ 'De configuratie die eerder op dat scherm zat wordt daarmee overschreven en dit is niet meer terug te keren. Maak voordat u dit uitvoert eventueel een backup van het systeem.'|translate }}
            </p>
            <a href="{{ proceed_url }}" class="btn ladda-button btn-warning pull-right" type="button">
                <span class="ladda-label">
                    <i class="fa fa-warning"></i>
                    {{ 'Ja ik weet het zeker'|translate }}
                </span>
                <span class="ladda-spinner"></span>
            </a>
            <div class="cl"></div>
        </div>
    </div>
</form>

