<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="{{ back_url }}">
                    &laquo; Terug naar de crud editor
                </a>
            </li>
        </ul>
    </div>

</header>
