<section id="content" class="">

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body pn mtn">
                    <div class="br-b">
                        <h2 class="mb20 mt10">{{ 'Knoppen toevoegen aan order scherm'|translate }}</h2>
                        <form method="post">
                            <input type="hidden" name="_do" value="CreateCrudEditorButton" />
                            <div class="input-group mb30">
                                <span class="input-group-addon">
                                  <i class="fa fa-edit"></i>
                                </span>
                                <input type="text" name="title" id="icon-filter" class="form-control" placeholder="{{ 'Nieuwe knop'|translate }}">
                            </div>
                        </form>
                    </div>
                    <div class="sortable_block_container">
                    {% for button in buttons %}
                        <div class="mt40 sortable_block" data-id="{{ button.id }}">
                            <h5 class="text-muted mb20 mtn">
                                <span id="field_title_{{ button.id }}">{{ button.title }}</span>
                                <a href="#" title="Gebruik drag &amp; drop om dit hele blok te sorteren." class="sortable_handle btn btn-primary pull-right" style="margin-left:10px;"><i class="fa fa-unsorted"></i> </a>
                                <a href="/generic/crud/editor_buttons?module={{ module }}&manager={{ manager }}&name={{ name }}&_do=Delete&crud_editor_button_id={{ button.id }}&event_scope={{ event_scope }}" title="{{ 'Druk op de delete button om het blok te verwijderen.'|translate }}" class="btn btn-danger pull-right"><i class="fa fa-trash"></i> </a>
                            </h5>
                            <div class="panel-group accordion" id="accordion1">
                                <div class="panel">
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion{{ button.id }}" href="#accordion{{ button.id }}_1" aria-expanded="false">
                                                <i class="fa fa-cogs"></i> {{ 'Knop instellingen'|translate }}
                                            </a>
                                        </div>
                                        <div id="accordion{{ button.id }}_1" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                                            <div class="panel-body">
                                                <div style="width: 33%; float:left">

                                                    <div class="section allcp-form">
                                                        <div class="smart-widget sm-right smr-120">
                                                            <label class="field">
                                                                <input type="text" data-id="{{ button.id }}" name="title" id="sub3" class="gui-input change_title" placeholder="Knop opschrift" value="{{ button.title }}">
                                                            </label>
                                                            <button type="button" class="button btn-primary">{{ 'Opschrift'|translate }}</button>
                                                        </div>
                                                    </div>
                                                    <div class="section allcp-form">
                                                        <div class="smart-widget sm-right smr-120">
                                                            <label class="block mt15 option option-primary">
                                                                <input data-id="{{ button.id }}" class="toggle_reusable" type="checkbox" name="inputname" {{ button.getIsReusable ? 'checked="checked"' : '' }} value="1">
                                                                <span class="checkbox"></span>{{ 'Knop is meer dan eens te gebruiken'|translate }}</label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="width: 33%; float:left; padding-left:10px;">
                                                    <div class="section allcp-form">
                                                        <div class="smart-widget sm-right smr-120">
                                                            <label class="block mt15 option option-primary">
                                                                <i class="fa fa-lg {{ button.getIconBeforeClick() ? button.getIconBeforeClick() : 'fa-question'}}"></i>
                                                                <span>{{ 'Icoon ongeklikt'|translate }}</span>
                                                                <a class="icon_selector" data-field="icon_before_click" data-id="{{ button.id }}">{{ 'selecteer'|translate }}</a>
                                                            </label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="section allcp-form">
                                                        <div class="smart-widget sm-right smr-120">
                                                            <label class="block mt15 option option-primary">
                                                                <i class="fa fa-lg {{ button.getIconAfterClick() ? button.getIconAfterClick() : 'fa-question'}}"></i>
                                                                <span>{{ 'Icoon na klikken'|translate }}</span>
                                                                <a class="icon_selector" data-field="icon_after_click" data-id="{{ button.id }}">{{ 'selecteer'|translate }}</a>
                                                                </label>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div style="width: 33%; float:left; padding-left:10px;">
                                                    <div class="section allcp-form">
                                                        <div class="smart-widget sm-right smr-120">
                                                            <a class="tm-tag tm-tag-{{ button.getColorBeforeClick() ? button.getColorBeforeClick() : 'primary'}} color_selector" data-field="color_before_click" data-id="{{ button.id }}">{{ 'Knop kleur ongeklikt'|translate }}</a>
                                                        </div>
                                                    </div>

                                                    <div class="section allcp-form">
                                                        <div class="smart-widget sm-right smr-120">
                                                            <a class="tm-tag tm-tag-{{ button.getColorAfterClick() ? button.getColorAfterClick() : 'primary'}} color_selector" data-field="color_after_click" data-id="{{ button.id }}">{{ 'Knop kleur na klikken'|translate }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion{{ button.id }}" href="#accordion{{ button.id }}_2" aria-expanded="false">
                                                <i class="fa fa-search"></i> {{ 'Deze knop zichtbaar maken als'|translate }}
                                            </a>
                                        </div>
                                        <div id="accordion{{ button.id }}_2" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                                            <div id="panel_body_{{ button.id }}" class="panel-body" data-id="{{ button.id }}">

                                                {%  for filter in button.getCrudEditorButtonVisibileFilters() %}
                                                    + {{ filter.getFilterGeneratedLabel }}
                                                    {{ filter.getFilterOperator.getDescriptionSentence }}
                                                    <b>{{ filter.getFilterVisibleValue|lower }}</b>
                                                    <a class="delete_filter" href="" data-id="{{ button.id }}" data-filter-id="{{ filter.id }}" title="delete" style="color:red">[x]</a>
                                                    <br>
                                                {% endfor %}

                                                <select class="field">
                                                    <option>{{ 'Maak een keuze'|translate }}</option>
                                                    {% for field in crud_fields.fields %}
                                                        <option value="{{ field.name }}">{{ field.title }}</option>
                                                    {% endfor %}
                                                </select>

                                                <select class="operator">
                                                    <option value=""><- Kies eerst een veld</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel">
                                        <div class="panel-heading">
                                            <a class="accordion-toggle accordion-icon link-unstyled collapsed" data-toggle="collapse" data-parent="#accordion{{ button.id }}" href="#accordion{{ button.id }}_3" aria-expanded="false">
                                                <i class="fa fa-flash"></i> {{ 'Als er op de knop geklikt wordt dan'|translate }}
                                            </a>
                                        </div>
                                        <div id="accordion{{ button.id }}_3" class="panel-collapse collapse" style="height: 0px;" aria-expanded="false">
                                            <div id="panel_event_body_{{ button.id }}"  class="panel-body">
                                                {%  for event in button.getCrudEditorButtonEventsRightOrder() %}
                                                    + {{ event.getEvent.getDescription }}
                                                    {% if event.getEvent.isConfigurable %}
                                                        <a target="_blank" href="/generic/crud/button/edit/event_config?event_id={{ event.id }}">{{ 'config'|translate }}</a>
                                                    {% endif %}
                                                    <a class="delete_event" href="" data-id="{{ button.id }}" data-event-id="{{ event.id }}" title="delete" style="color:red">[x]</a>
                                                    <br>
                                                {% endfor %}

                                                <select class="to_be_added_event">
                                                    {% for event in events %}
                                                        <option value="{{ event.class_name }}">{{ event.class.getDescription }}</option>
                                                    {% endfor %}
                                                </select>
                                                <button class="add_event" data-id="{{ button.id }}">{{ 'Toevoegen'|translate }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
            </div>
        </div>
    </div>
    </div>
</section>


<!-- -------------- HTML popup -------------- -->
<div id="icon-picker-dialog" class="popup-basic p25 mfp-with-anim mfp-hide">

    {% for icon in icons %}
        <a href="/select-icon/{{ icon }}" data-icon="{{ icon }}" class="hoverable-lnk icon_selected" title="{{  icon }}"><i class="fa fa-lg {{ icon }}"></i></a>
    {% endfor %}

</div>

<!-- -------------- HTML popup -------------- -->
<div id="color-picker-dialog" class="popup-basic p25 mfp-with-anim mfp-hide">

    <div class="mt15">
        <a href="/select-icon/Primair" class="tm-tag tm-tag-primary color_selected" data-color="primary">
          <span>{{ 'Primaire button'|translate }}</span>
        </a>
        <a href="/select-icon/Success" class="tm-tag tm-tag-success color_selected" data-color="success">
          <span>{{ 'Success button'|translate }}</span>
        </a>
        <a href="/select-icon/Info" class="tm-tag tm-tag-info color_selected" data-color="info">
          <span>{{ 'Info button'|translate }}</span>
        </a>
        <a href="/select-icon/Waarschuwing" class="tm-tag tm-tag-warning color_selected" data-color="warning">
          <span>{{ 'Waarschuwing button'|translate }}</span>
        </a>
        <a href="/select-icon/Gevaar" class="tm-tag tm-tag-danger color_selected" data-color="danger">
          <span>{{ 'Gevaar button'|translate }}</span>
        </a>
        <a href="/select-icon/Melding" class="tm-tag tm-tag-alert color_selected" data-color="alert">
          <span>{{ 'Melding button'|translate }}</span>
        </a>
        <a href="/select-icon/Systeem" class="tm-tag tm-tag-system color_selected" data-color="system">
          <span>{{ 'Systeem button'|translate }}</span>
        </a>
        <a href="/select-icon/Onopvallend" class="tm-tag tm-tag-inverse color_selected" data-color="inverse color_selected">
          <span>{{ 'Onopvallende button'|translate }}</span>
        </a>
    </div>
</div>
