<form id="filters_form" class="form-horizontal" role="form" method="get">
    <input type="hidden" name="module" value="{{ module }}" />
    <input type="hidden" name="manager" value="{{ manager }}" />
    <input type="hidden" name="tab" value="{{ tab_id }}" />
    <input type="hidden" name="site" value="{{ site }}" />

    <input type="hidden" name="_do" id="fld_do" value="" />
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Filters instellen voor overzicht'|translate }} "{{ crud_view.getName }}"</span>
            </div>
            <div class="panel-body">
                <div class="chute chute-center pt30">
                        <div class="bs-component">
                            <div class="row form-group">
                                <div class="col-md-3 ">{{ 'Veld'|translate }}</div>
                                <div class="col-md-3 ">{{ 'Operator'|translate }}</div>
                                <div class="col-md-3">{{ 'Standaard waarde'|translate }}</div>
                            </div>
                            <div id="source-button" class="btn btn-system btn-xs" style="display: none;">&lt; &gt;</div>
                        </div>

                        {% for tab_filter in tab_filters %}
                            <div class="bs-component">
                                <div class="row form-group">
                                    <div class="col-md-3 fw700">{{ tab_filter.filter_field.field_object.getFieldTitle }}</div>
                                    <div class="col-md-3 fw700">{{ tab_filter.object.getFilterOperator.getDescription }}</div>
                                    <div class="col-md-3 fw700">

                                        {{ tab_filter.visible_value }}
                                    </div>
                                    <a title="{{ 'Filter verwijderen'|translate }}"
                                       href="/generic/crud/visible_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&site={{ site }}&_do=DeleteFilter&id={{ tab_filter.object.getId }}">
                                        <i class="fa fa-trash danger"></i>
                                    </a>
                                </div>
                                <div id="source-button" class="btn btn-system btn-xs" style="display: none;">&lt; &gt;</div>
                            </div>
                        {% endfor %}

                        <div class="bs-component">
                            <div class="row form-group">
                                <div class="col-xs-3">
                                    <select name="field" class="form-control autosubmit">
                                        <option value="">{{ 'Kies een veld'|translate }}</option>
                                        {% for field in fields %}
                                            <option {{ field.selected }} value="{{ field.name }}">{{ field.title }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-3">
                                    <select name="operator" class="form-control autosubmit">
                                        {% if operator_filter_select_items|length > 1 %}
                                        <option value="">{{ 'Kies een operator'|translate }}</option>
                                        {%  endif %}
                                        {% for item in operator_filter_select_items %}
                                            <option {{ item.selected }} value="{{ item.id }}">{{ item.label }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-4">
                                    {% if selected_field_datatype == "lookup" %}

                                        <select name="value" class="form-control autosubmit">
                                            <option value="">{{ 'Leeg'|translate }}</option>
                                            {% for item in selected_field_lookups %}
                                                <option {{ value == item.id ? 'selected="selected"' }} value="{{ item.id }}">{{ item.label }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elseif selected_field_datatype == "boolean" %}
                                        <select name="value" class="form-control autosubmit">
                                            <option {{ value == item.selected ? 'selected="selected"' }} {{ item.selected }} value="">{{ 'Leeg'|translate }}</option>
                                            <option {{ value == item.selected ? 'selected="selected"' }} {{ item.selected }} value="1">{{ 'Ja'|translate }}</option>
                                            <option {{ value == item.selected ? 'selected="selected"' }}  {{ item.selected }} value="0">{{ 'Nee'|translate }}</option>
                                        </select>
                                    {% else %}
                                        <input name="value" type="text" value="{{ value }}" class="form-control" placeholder="{{ 'Voer een of meer komma gescheiden waardes in.'|translate }}">
                                    {% endif %}
                                </div>
                            </div>
                            <div id="source-button" class="btn btn-system btn-xs" style="display: none;">&lt; &gt;</div>
                        </div>

                        <button id="btn_save_changes" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                </div>
            </div>
        </div>
    </div>
</form>


