
        <div class="section">
            <label for="fld_{{ field_db }}" class="field-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>

            <div class="smart-widget">
                <label for="username" class="field prepend-icon">
                    {% include 'admin_modules/Field/StyleFormField/editColorField.twig' %}
                    <label for="fld_{{ field_db }}" class="field-icon"> <i class="fa fa-{{ icon }}"></i> </label>
                </label>
            </div>

        </div>
