<div class="section">
    <label for="fld_{{ field_db }}" class="field-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>

    <div class="smart-widget">
        <label for="username" class="field prepend-icon">
            <input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="form-control" data-toggle="tooltip" data-placement="top"  placeholder="{{ placeholder }}" value="{{ field_value }}" type="{{ type ? type : 'text' }}">
            <label for="fld_{{ field_db }}" class="field-icon"> <i class="fa fa-{{ icon }}"></i> </label>

            {% if parameters.info_help_text %}
                <i> {{ parameters.info_help_text }}</i>
            {% endif %}

        </label>
    </div>

</div>
