<div class="section">
    <label for="fld_{{ field_db }}" class="field-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>

    <div class="smart-widget">
        <label for="username" class="field prepend-icon">
            <textarea name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="form-control" data-toggle="tooltip" data-placement="top"  placeholder="{{ placeholder }}">{{ field_value }}</textarea>
            <label for="fld_{{ field_db }}" class="field-icon"> <i class="fa fa-{{ icon }}"></i> </label>
        </label>
    </div>

</div>
