
        <div class="section">
            <label for="fld_{{ field_db }}" class="field-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>

            <label for="username" class="field checkbox-custom mb10">
                <input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="form-control" data-toggle="tooltip" data-placement="top" placeholder="{{ placeholder }}" value="{{ field_value }}" type="checkbox">
                {% if icon %}
                    <label for="fld_{{ field_db }}" class="field-icon"> <i class="fa fa-{{ icon }}"></i> </label>
                {% endif %}
            </label>

        </div>
