<div class="section">
    <label for="fld_{{ field_db }}" class="field-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }} </label>
    <label for="username" class="field select">
        <select id="fld_{{ field_db }}"{{ read_only ? ' disabled="disabled"'}} {{ not read_only ? 'name="' ~ array_name ~ '[' ~ field_db ~ ']"' }} class="{{ single_suggest_enabled ? 'single_suggest' : 'form-control' }}">
            {% if placeholder %}
                <option value="">{{ placeholder }}</option>
            {% endif %}
            {% for option in options %}
                {% if option['label']!='' %}
                    <option {{ (option['style'] ? 'style="' ~ option['style'] ~ '" ')|raw }}{{ option['selected'] ? ' ' ~ option['selected']|raw }} data-extra="{{ option['extra'] }}" value="{{ option['id'] }}">{{ option['label'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </label>
    {% if read_only %}
        <input type="hidden" name="{{ array_name }}[{{ field_db }}]" value="{{ value }}" />
    {% endif %}
</div>

