<div class="col-sm-12 col-md-8 col-lg-9">

    <div>
        <h3>Api Datatypes (ApiTypes)</h3>
        <p>
            The webservice has some basic data types which can be found below.
            Each field can be defined with it's own ruleset however and thus with a custom datatype.
            The actual php based validation that is performed on each field can be read on the documentation of that
            specific field item.
            Each field belongs to a module, if you wish to see the configuration for a field, have a look at the module
            that you intent to work on.
        </p>
        <h4>Generic / base datatypes</h4>
        <p>
            These are the available basic datatypes, each field in the API extends one of these but properties can be
            overwritten. When they are the validation rules are shown at the field description page.

        </p>

        <table class="table">
            <tr>
                <th>Datatype</th>
                <th>Description</th>
            </tr>
            {% for datatype in datatypes %}
                <tr>
                    <td><a href="">{{ datatype.name }}</a></td>
                    <td>{{ datatype.description }}</td>
                </tr>
            {% endfor %}


        </table>
    </div>
</div>
<div class="col-sm-12 col-md-4 col-lg-3">
    <h3>Modules</h3>
    <ul class="list-group">
        {% for crud in all_cruds %}
            <li class="list-group-item">
                <a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a>
            </li>
        {% endfor %}
    </ul>


</div>