    <div class="col-md-12">
        <h1>Endpoints</h1>

        <p>
            This is a list with all the resources that are available on this publication with their custom documentation enclosed for easy searching.
            To find out more information about the given resource, click on the name.
        </p>
        <p>
            The endpoint list is also available in JSON format:
            <a href="/v{{ api_version }}/rest/endpoints/">click here for list of endpoints</a>

        </p>
    </div>
    <div class="col-md-12">

        {% for crud in all_cruds %}
            <h2><a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a></h2>

            <p class="well">
                {{ crud.crud_manager.getShortDescription() }}
            </p>
        {% endfor %}
    </div>
