<div class="col-sm-12 col-md-8 col-lg-9">

    <div>
        <h3>Introduction</h3>
        <p>
            Welcome to the API webservice documentation for this platform.
            Most of the content in this document is dynamically generated and based on your own configuration so
            printing this document is usually not a good idea.
        </p>

        <h3>Open API documentation</h3>
        <p>
            This API is also equipped with
            <a target="_blank" href="https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#oasDocument">
                OpenAPI Specification (OAS)</a> documentation.
            The OpenAPI Specification (OAS) defines a standard, language-agnostic interface to RESTful APIs which
            allows both humans and computers to discover and understand the capabilities of the service without access
            to source code, documentation, or through network traffic inspection.
        </p>
        <p>
            Two flavors of the openapi.json document are available. The first one only contains endpoints that are
            relevant for the outside would. The second one contains all endpoints, so also endpoints that are available
            to tweak the behavior of the system itself.
        </p>

        <dl class="dl-horizontal">
            <dt style="width:230px;text-align:left">Consumer oriented openapi.json:</dt>
            <dd><a href="/openapi.json">Consumer oriented version</a></dd>

            <dt style="width:230px;text-align:left">Complete openapi.json:</dt>
            <dd><a href="/openapi-full.json">Full version</a></dd>

        </dl>



        <h3>Module</h3>
        <p>
            Each endpoint represents a unit or module in the system.
            These endpoints are real-time and will thus be always up to date.
            On the right you see all the available modules.

            The webservice allows you to add, manipulate and remove items from resources and call functions on them.
            Resources are based on models and consist of uniform representations of items, for example users or settings.
            To manipulate items in the resource you may use <a href="/docs/rest">REST</a> requests.
        </p>

        <h3>Cruds</h3>
        <p>
            Cruds serve as blueprints for resources.
            Cruds define and implement functionality, which is made accessible trough the resources or endpoints that you find on the right.
            The api is versioned, functions, properties and relations won't change within a version, unless ofcourse vulnerabilities are detected.
        </p>

        <h3>Endpoints</h3>
        <p>
            Each module or function that is made available in the API can be accessed by sending http requests to it's endpoint.
            What endpoints are available depend on the system instance and the privileges of the user calling the endpoint(s).
            Users them selves can be managed in the <a href="/v{{ api_version }}/rest/user">User</a> endpoint, or just from the admin panel under uesrs.
            Please beware about the difference between <a href="/v{{ api_version }}/rest/user">Users</a> and <a href="/v{{ api_version }}/rest/customer">Customers</a>.
            Customer are people that purchased something in a shop. Users are the people that manage the orders.
        </p>

        <h3>Versioning</h3>
        <p>
            Each url is prefixed with a version id to fixate releases. Within a version, fields may be added or functions may be added but the behavior remains the same.
            This should prevent breaking changes to occur, your code will keep on working like it did before and you are able to upgrade parts of your system on demand.
        </p>

        <h3>Resource permissions</h3>
        <p>
            note: this is not implemented yet:<br />
            Each resource has a set of permissions that define the which operations are allowed on that resource.
            Permissions are

            There permissions are defined within a publication and
            can be managed using the <a href="https://api-admin.hexon.nl/" target="_blank">backend</a>. This allows you to for instance create a publication with only read access and
            a separate one with full access. The current applicable permissions are shown on each resource page (see the links on the right).</p>
        <dl class="dl-horizontal">
            <dt>NONE</dt>
            <dd>You have no rights to perform the given operation</dd>

            <dt>OWN</dt>
            <dd>You have the rights to perform the given operation on resource entries that belong to you.</dd>

            <dt>RELATED</dt>
            <dd>You have the rights to perform the given operation on resource entries that are in some way related to you, this varies per resource.</dd>

            <dt>ANY</dt>
            <dd>You have the rights to perform the given operation on any resource entry.</dd>
        </dl>


        <h3>Relations</h3>
        <p>
            Cruds may be related to other cruds in one way or the other.
       </p>

        <h3>Functions</h3>
        <p>
            @todo
        </p>


    </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-3">
    <h3>Modules</h3>
    <ul class="list-group">
        {% for crud in relevant_cruds %}
            <li class="list-group-item">
                <a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Systeem modules</h3>
    <ul class="list-group">
        {% for crud in system_cruds %}
            <li class="list-group-item">
                <a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a>
            </li>
        {% endfor %}
    </ul>


</div>
