<div class="col-sm-12 col-md-8 col-lg-9">

    <div>
        <h3>Interacting with the webservice</h3>
        <p>
            This REST interface follows the REST standard.
            On the highest level you have access to one or more	resource collections.
            These can be reached by adding the name of the resource to the url and adding a slash.
            Performing a GET operation (for example with the browser) will give you the entire collection of that resource.
            Be aware that by default the results are always limited, meaning that if the collection exceeds the limit you will receive an error 416.
        </p>
        <h3>Authentication</h3>
        <p>
            Authentication is possible using http basic authentication (username + password).
            Please make sure you are always using HTTPS.
        </p>

        <h3>Single items and collections</h3>
        <p>
            Endpoints can be used to access collections of data or unique items.
            When accessing a collection of items the url has a trailing slash /.
            Unique items are usually accessed trough their id, the url will then end with the id of the item.
            Requesting a collection will always return a collection, even if there is a single result.
            Requesting a single item will always return an item, even if there are more then one results.
            The urls of a resource can be found on the documentation page of that resource.
        </p>
        <br/>

        <h3>Operations on resource collections</h3>
        <p>
            Collections are identified by the trailing slash in the url. The following (HTTP) operations are allowed on collections.
        </p>
        <dl class="row">
        <dt class="col-sm-3">GET</dt>
        <dd class="col-sm-9">Retrieves the items from the collection. You may specify filters in the URL to limit the items received.</dd>

        <dt class="col-sm-3">POST</dt>
        <dd class="col-sm-9">Create a new item in the collection.</dd>

        <dt class="col-sm-3">DELETE, PATCH</dt>
        <dd class="col-sm-9">Not allowed, these operations can only be performed on items.</dd>
        </dl>

        <h3>Operations on items</h3>
        <p>
            Items are identified by the singular form of the resource name suffixed with a slash and the item key. For example https://api.hexon.nl/spi/api/v2/rest/employee/42 You may perform the following operations on an item.
        </p>
        <dl class="row">
        <dt class="col-sm-3">GET</dt>
        <dd class="col-sm-9">Retrieve the item with the given key.</dd>
        <dt class="col-sm-3">PATCH</dt>
        <dd class="col-sm-9">Update the item with the given key with the given fields. Fields not given will remain unchanged.</dd>
        <dt class="col-sm-3">DELETE</dt>
        <dd class="col-sm-9">Remove the item with the given key from the resource.</dd>
        <dt class="col-sm-3">POST</dt>
        <dd class="col-sm-9">Not allowed.</dd>
        </dl>

        <h3>Retrieving Data</h3>
        <p>
            When retrieving data in you will either get the a single result or a collection for the resource
            Regardless of the model itself the base template is always the same and shown below.
        </p>
        <h4>JSON Collection</h4>
        <pre>{
    "warnings": [],
    "errors": [],
    "debugs": [],
    "count": 12345,
    "results": [{
    &nbsp;"id": 3132,
    &nbsp;"name": "Example",
    &nbsp;"_links": [
    &nbsp;&nbsp;{ "rel": "self", "href": "" },
    &nbsp;&nbsp;{ "rel": "resource/relation", "href": "" }
    &nbsp;]},{
    &nbsp;"id": 3132,
    &nbsp;"name": "Example",
    &nbsp;"_links": [
    &nbsp;&nbsp;{ "rel": "self", "href": "" },
    &nbsp;&nbsp;{ "rel": "resource/relation", "href": "" }
    ]}
]}
        </pre>
        <h4>JSON Single</h4>
        <pre>{
    "warnings": [],
    "errors": [],
    "debugs": [],
    "result": {
     "id": 3132,
     "name": "Example",
     "_links": [{
        "rel": "self",
        "href": ""
      },{
        "rel": "resource/relation",
        "href": ""
     }]
    }
}</pre>
    </div>

    <h3>Deleting items</h3>
    <p>
        To delete an item in in a resource you may perform a <code>DELETE</code> to the item you wish to remove.
    </p>
    <h3>Submitting data</h3>
    <p>
        When sending data to the Webservice using either <code>POST</code>, <code>PUT</code> or <code>PATCH</code> that data must be encoded as json or regular form data application/x-www-form-urlencoded.
    </p>
    <div class="alert alert-success">
        <b>Preferred Format</b><br> JSON is the preferred format as compared to XML it provides a smaller and easy to read format and explicit data typing without extensions.
    </div>

    <h3>Example</h3>
    <pre>{
  "id": "1234",
  "Name": "Client A",
  "street": "Mystreet",
  "housenumber": 123,
  "housenumber_ext": null,
  "postal_code": "2032TB",
  "city": "MyHomeTown",
  "region": null,
  "country:": "NL",
  "telephone": "0641396495",
  "email": "example@hurah.nl",
  "advertiser_type": "car",
  "active": true,
}
	</pre>
    <h3>HTTP status codes</h3>
    <p>
        The webservice uses HTTP status codes in addition to error messages to indicate the status of the result.

    </p>
</div>

<div class="col-sm-12 col-md-4 col-lg-3">
    <h3>Modules</h3>
    <ul class="list-group">
        {% for crud in all_cruds %}
            <li class="list-group-item">
                <a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a>
            </li>
        {% endfor %}
    </ul>


</div>