<div class="col-sm-12 col-md-8 col-lg-9">

    <div>
        <h3>Schema</h3>
        <p>
            All tables that are not part of the core system are also registered in the database during their definition.
            This makes it easy to transfer schema's and copy data over between instances of this system. The system it
            self makes use of a fork of <a href="http://propelorm.org/">Propel ORM</a> and the the schema parts that are
            defined by endusers are regeneratable by calling the endpoints below.
        </p>

        <h3>Complete version</h3>
        <p>
            <a href=" {{ schema_urls.getXmlLocation() }}">
                {{ schema_urls.getXmlLocation() }}
            </a><br/>
            <a href="{{ schema_urls.getXsdLocation() }}">
                {{ schema_urls.getXsdLocation() }}
            </a><br/>
        </p>

        <h3>Propel compatible version</h3>
        <p>
            <a href="{{ schema_urls.getPropelXmlLocation() }}">
                {{ schema_urls.getPropelXmlLocation() }}
            </a><br/>
            <a href="{{ schema_urls.getPropelXsdLocation() }}">
                {{ schema_urls.getPropelXsdLocation() }}
            </a><br/>
        </p>


        <h3>Schema in json format</h3>
        <p>
            <a href="{{ schema_urls.getErdLocation() }}">
                {{ schema_urls.getErdLocation() }}
            </a><br/>

        </p>
    </div>
</div>

<div class="col-sm-12 col-md-4 col-lg-3">
    <h3>Modules</h3>
    <ul class="list-group">
        {% for crud in relevant_cruds %}
            <li class="list-group-item">
                <a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a>
            </li>
        {% endfor %}
    </ul>

    <h3>Systeem modules</h3>
    <ul class="list-group">
        {% for crud in system_cruds %}
            <li class="list-group-item">
                <a href="/v{{ api_version }}/doc/{{ crud.module }}">{{ crud.module }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
