{% if site %}
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            {% for link in link_items %}
                <li class="{{ current_url == link.getLinkUrl() ~ '?site=' ~ site ? 'active'}}"> {# { edit_active } #}
                    <a href="{{ link.getLinkUrl() }}?site={{ site }}">{{ link.getTranslatedTitle() }}</a>
                </li>
            {% endfor %}

            {% if add_save_button %}
                <li>
                    <button id="fld_save_changes" type="button" class="btn btn-sm btn-primary" title="{{ 'Wijzigingen opslaan'|translate }}">
                        <i class="fa fa-save"></i>
                        {{ 'Wijzigingen opslaan'|translate }}
                    </button>
                </li>
            {% endif %}
        </ul>
    </div>


{% endif %}