<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-desktop"></span>
        <span class="sidebar-title">{{ 'Content management'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        {# zie Config.php getMenuData#}
        {% if passed_data.sites.isEmpty()  %}
            <li>
                <a href="#"><span class="fa fa-gear"></span>
                    {{ 'Geen sites geconfigureerd.'|translate }}
                </a>
            </li>
        {% else %}
            {% for site in passed_data.sites %}

                <li><a href="{{ extra_vars.first_module_enabled ? extra_vars.first_module_enabled : '/cms/general' }}?site={{ site.domain }}"><span class="fa fa-file-text-o"></span> {{ site.domain }} </a></li>
            {% endfor %}

        {% endif %}

    </ul>
</li>
