<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/crm/customer_edit?id={{ customer_id }}">&laquo; Terug naar de klant</a>
            </li>
        </ul>
    </div>
</header>
