<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Push" />
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
{#{{ left_panel|raw }}#}
                <div class="col-md-12 ph10">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <span class="panel-title hidden-xs">{{ customer.getCompanyName() }} koppelingen</span>
                                </div>
                                <div class="panel-body pn">
                                    <div class="table-responsive">
                                        <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                                            <thead>
                                                <tr class="bg-light">
                                                    <!-- <th class="text-center"></th> -->
                                                    <th class=""></th>
                                                    <th class="">Netwerk</th>
                                                    <th class="">Aangemeld</th>
                                                    <th class="">Geactiveerd</th>
                                                    <th class="">Profiel volledig</th>
                                                    <th class="">Laatste update</th>
                                                    <th class="text-right">Actie</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for i, pusher in pushers %}
                                                <tr>
                                                    <!--
                                                    <td class="text-center">
                                                        <label class="option block mn">
                                                            <input type="checkbox" name="inputname" value="FR">
                                                            <span class="checkbox mn"></span>
                                                        </label>
                                                    </td>
                                                    -->
                                                    <td class="w100">
                                                        <img class="img-responsive mw40 ib mr10" title="user" src="http://mijn.{{ domain }}/img/networks/{{ pusher.getIcon() }}">
                                                    </td>
                                                    <td class="">{{ pusher.getTitle() }}</td>

                                                    {% if pusher.isSubscribed() %}
                                                        <td class="text-success">
                                                            <i class="fa fa-check"></i> Ja
                                                        </td>
                                                    {% else %}
                                                        <td class="text-danger">
                                                            <i class="fa fa-warning"></i> Nee
                                                        </td>
                                                    {% endif %}

                                                    {% if pusher.isActivated() %}
                                                        <td class="text-success">
                                                            <i class="fa fa-check"></i> Ja
                                                        </td>
                                                    {% else %}
                                                        <td class="text-danger">
                                                            <i class="fa fa-warning"></i> Nee
                                                        </td>
                                                    {% endif %}

                                                    {% if pusher.getLastProfilePush() %}
                                                        <td class="text-success">
                                                            <i class="fa fa-check"></i> Ja
                                                        </td>
                                                    {% else %}
                                                        <td class="text-danger">
                                                            <i class="fa fa-warning"></i> Nee
                                                        </td>
                                                    {% endif %}

                                                    <td class="">
                                                        <i class="fa fa-time"></i>
                                                        {% if pusher.getLastProfilePush() %}
                                                            {{ pusher.getLastProfilePush()|date('j-n-Y H:i') }}
                                                        {% else %}
                                                            -
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-right">
                                                        <div class="btn-group text-right">
                                                            {% if pusher.isSubscribed() %}
                                                                {% if pusher.isActivated() %}
                                                                    <a href="/crm/api_connect/push_status?customer_id={{ customer.getId() }}&index={{ i }}&_do=UpdateProfile"  class="btn btn-success br2 btn-xs fs12 {#dropdown-toggle#}" {# data-toggle="dropdown" aria-expanded="false"#}>
                                                                        <i class="fa fa-bolt"></i>
                                                                        Profiel updaten
                                                                    </a>

                                                                    <a style="margin-left: 10px !important;" href="/crm/api_connect/push_status?customer_id={{ customer.getId() }}&index={{ i }}&_do=ShowHelp&txt=updateprofile"  class="btn btn-info br2 btn-xs fs12 {#dropdown-toggle#}" {# data-toggle="dropdown" aria-expanded="false"#}>
                                                                        &nbsp;
                                                                        <i class="fa fa-question"></i>
                                                                        &nbsp;
                                                                    </a>
                                                                {% else %}
                                                                    <a href="/crm/api_connect/push_status?customer_id={{ customer.getId() }}&index={{ i }}&_do=Activate"  class="btn btn-success br2 btn-xs fs12 {#dropdown-toggle#}" {# data-toggle="dropdown" aria-expanded="false"#}>
                                                                        <i class="fa fa-envelope"></i>
                                                                        Handmatig activatie bevestigen
                                                                    </a>

                                                                    <a style="margin-left: 10px !important;" href="/crm/api_connect/push_status?customer_id={{ customer.getId() }}&index={{ i }}&_do=ShowHelp&txt=confirmation"  class="btn btn-info br2 btn-xs fs12 {#dropdown-toggle#}" {# data-toggle="dropdown" aria-expanded="false"#}>
                                                                        &nbsp;
                                                                        <i class="fa fa-question"></i>
                                                                        &nbsp;
                                                                    </a>
                                                                {% endif %}
                                                            {% else %}
                                                                <a href="/crm/api_connect/push_status?customer_id={{ customer.getId() }}&index={{ i }}&_do=Register"  class="btn btn-success br2 btn-xs fs12 {#dropdown-toggle#}" {# data-toggle="dropdown" aria-expanded="false"#}>
                                                                    <i class="fa fa-bolt"></i>
                                                                    Registreren
                                                                </a>

                                                                <a style="margin-left: 10px !important;" href="/crm/api_connect/push_status?customer_id={{ customer.getId() }}&index={{ i }}&_do=ShowHelp&txt=registration"  class="btn btn-info br2 btn-xs fs12 {#dropdown-toggle#}" {# data-toggle="dropdown" aria-expanded="false"#}>
                                                                    &nbsp;
                                                                    <i class="fa fa-question"></i>
                                                                    &nbsp;
                                                                </a>
                                                            {% endif %}


                                                            {#
                                                            <ul class="dropdown-menu" role="menu">
                                                                <li>
                                                                    <a href="#">Edit</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Delete</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Archive</a>
                                                                </li>
                                                                <li class="divider"></li>
                                                                <li class="active">
                                                                    <a href="#">Active</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Inactive</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Low Stock</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Out of Stock</a>
                                                                </li>
                                                            </ul>
                                                            #}
                                                        </div>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#
                <div class="col-md-12">
                    <div>
                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-flash"></i> Pushen</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
                #}
            </div>
        </div>
    </form>
</div>

