<div class="chute chute-center" style="height: 571px;">
    <div class="chute chute-center" style="height: 526px;">
        <div class="row">

            <div class="col-sm-12 col-xl-12">
                <div class="panel panel-tile">
                    <div class="panel-body">
                        <div class="row pv10">
                            <div class="col-xs-2 ph10">
                                <img src="/assets/img/pages/clipart3.png" class="img-responsive mauto" alt="">
                            </div>
                            <div class="col-xs-4 pl5">
                                <h6 class="text-muted">Saldo totaal</h6>
                                <h3 class="fs40 mt5 mbn">&euro; {{ totals|number_format(2, ',', '.') }}</h3>
                                <h6 class="text-muted">
                                    <a title="{{ 'Bekijk all transacties'|translate }}" href="/finance/bank/transactions">
                                        Bekijk alle transacties
                                    </a>
                                </h6>
                            </div>

                            <div class="col-xs-6 pl5">
                                <p>
                                    <a style="display: block;float:right;" href="/finance/bank/summary?_do=BalanceRecalc">Saldo's herberekenen <i class="fa fa-cogs"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for bank_account in bank_accounts %}
                <div class="menu_toggle_along {{ menu_size }} col-xl-3" data-menu_open="col-sm-6" data-menu_closed="col-sm-4">
                    <div class="panel panel-tile">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-xs-5 ph10 bank_icon_container">
                                    <a href="/finance/bank/account/edit?id={{ bank_account.getId() }}">
                                        {% if bank_account.getHasAvatar() %}
                                            <img src="/img/bank/account/avatar/{{ bank_account.getId() }}.{{ bank_account.getAvatarFileExt() }}" class="img-responsive mauto" alt="">
                                        {% else %}
                                            {% if bank_account.getIsSavings()  %}
                                                <img src="/assets/img/pages/clipart1.png" class="img-responsive mauto" alt="">
                                            {% else %}
                                                <img src="/assets/img/pages/clipart2.png" class="img-responsive mauto" alt="">
                                            {% endif %}
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="col-xs-7">
                                    <h6 class="text-muted">
                                        {{ bank_account.getName()|length > 15 ? bank_account.getName()|slice(0, 15) ~ '...' : bank_account.getName()  }}
                                    </h6>
                                    <h3 class="fs40 mbn" style="font-size:20px!important;">
                                        {% if bank_account.getIsSavings()  %}
                                            {{ bank_account.getSavingsPercentage()|number_format(0) }}% / &euro; {{ bank_account.getBalance()|number_format(2, ',', '.') }}

                                        {% else %}
                                            &euro; {{ bank_account.getBalance()|number_format(2, ',', '.') }}
                                        {% endif %}
                                    </h3>

                                    <h6 class="text-muted">
                                        <a style="font-size: 13px;" title="{{ 'Bekijk de transacties'|translate }}" href="/finance/bank/transactions?bank_account_id={{ bank_account.getId() }}">
                                            {{ bank_account.getIban() }}
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
