<header id="topbar" class="ph10">
    <div class="topbar-left hidden-xs hidden-sm mt5 mr35">
        <ul class="pull-left topbar-menu">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Bankrekeningen'|translate }}">
                        {% if extra_top_nav_vars.bank_account %}
                            {{ extra_top_nav_vars.bank_account.getName() }}
                        {% else %}
                            {{ 'Alle bankkrekeningen'|translate }}
                        {% endif %}
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/finance/bank/summary">
                                <strong>
                                    {{ 'Saldo overzicht'|translate }}
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="/finance/bank/transactions">
                                <strong>
                                {{ 'Alle bankkrekeningen'|translate }}
                                </strong>
                            </a>
                        </li>
                        {% for account in extra_top_nav_vars.bank_accounts %}
                            <li>
                                <a href="/finance/bank/transactions?bank_account_id={{ account.getId }}">
                                    {{ account.getName() }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <a href="/finance/bank/transactions?bank_account_id={{ extra_top_nav_vars.bank_account_id }}&unbooked_only={{ extra_top_nav_vars.unbooked_only ? '0' : '1' }}" class="btn btn-{{ extra_top_nav_vars.unbooked_only ? 'success' : 'default' }} btn-sm ml10" title="{{ 'Alleen boekingen'|translate }}">
                        <i class="fa fa-{{ extra_top_nav_vars.unbooked_only ? 'check-' }}square-o"></i>
                        {{ 'Alleen ongeboekt'|translate }}
                    </a>
                </div>
            </li>

        </ul>

    </div>
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
{#
        {% if buttons %}
            {% for button in buttons %}
                <button style="display: none;" name="trigger_button" value="{{ button.id }}" class="custom_button btn ladda-button btn-sm  btn-{{ button.getColorBeforeClick ?  button.getColorBeforeClick : 'primary' }}">
                    <i class="fa {{ button.getIconBeforeClick }}"></i>
                    {{ button.title }}
                </button>
            {% endfor %}
        {% endif %}
#}
        {% if current_role.getName() == 'Admin' %}
            <div class="btn-group">


                <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <span class="fa fa-wrench pr5"></span>
                    <span class="caret ml5"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&r={{ r }}">
                            <i class="fa fa-table"></i>
                            {{ 'Velden en titel'|translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/generic/crud/hidden_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-filter"></i>
                            {{ 'Onzichtbare filters'|translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/generic/crud/visible_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-filter"></i>
                            {{ 'Zichtbare filters'|translate }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/generic/crud/copy_tab?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-copy"></i>
                            {{ 'Overzicht kopiëren'|translate }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/generic/crud/button/overview/buttons?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&event_scope=Product">
                            <i class="fa fa-cogs"></i>
                            {{ 'Knoppen'|translate }}
                        </a>
                    </li>
                    {% if crud_views %}
                        <li class="divider"></li>
                        {% for crud_view in crud_views %}
                            <li>
                                <a style="color: red;" href="/generic/crud/delete_tab?module={{ module }}&manager={{ manager }}&tab={{ crud_view.getId }}">
                                    <i class="fa fa-trash"></i>
                                    {{ crud_view.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>

                <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}" class="btn btn-primary btn-sm ml10" title="{{ 'Overzicht toevoegen'|translate }}">
                    <span class="fa fa-plus pr5"></span>
                    <span class="fa fa-table pr5"></span>
                </a>
        </div>
    </div>
    {% endif %}
</header>
