<div class="chute chute-center pt30">
    <form class="form-horizontal" method="post" role="form">
        <input type="hidden" name="_do" value="Store">
        <div class="row">
            {% for language in languages %}
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">{{ title }} {{ language.getDescription|lower }}</span>
                        </div>
                        <div class="panel-body">
                            {% if not hide_from_field %}
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="tpl_sender_{{ language.getId() }}">{{ 'Afzender e-mail'|translate }}</label>

                                    <div class="col-lg-10">
                                        <div class="bs-component">
                                            <input id="tpl_sender_{{ language.getId() }}" value="{{ registry[template ~ '_sender_' ~ language.getId()] }}" name="data[{{ template }}_sender_{{ language.getId() }}]" class="form-control input-sm register_focus" type="text">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if not hide_subject_field %}
                                <div class="form-group">
                                    <label class="col-lg-2 control-label" for="tpl_title_{{ language.getId() }}">{{ 'Onderwerp'|translate }}</label>
                                    <div class="col-lg-10">
                                        <div class="bs-component">
                                            <input id="tpl_title_{{ language.getId() }}" value="{{ registry[template ~ '_subject_' ~ language.getId()] }}" name="data[{{ template }}_subject_{{ language.getId() }}]" class="form-control input-sm register_focus" type="text">
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="tpl_content_{{ language.getId() }}">{{ 'Inhoud'|translate }}</label>
                                <div class="col-lg-10 richtext-editor">
                                    <div class="bs-component">
                                        <textarea style="height:350px!important;"
                                                class="form-control tpl_textarea register_focus"
                                                name="data[{{ template }}_contents_{{ language.getId() }}]"
                                                id="tpl_content_{{ language.getId() }}" >{{ registry[template ~ '_contents_' ~ language.getId()] }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputDefault">{{ 'Variabelen'|translate }}</label>
                                <div class="col-lg-10">
                                    <div class="bs-component">
                                        <div class="var_container br-a br6" style="height: 80px; overflow:hidden;">
                                            {% if template  == 'password_reset'%}
                                                <strong>[[new_pass]]</strong> - Daar komt het nieuwe wachtwoord
                                            {% endif %}
                                            {% for key,field_set in crud_fields %}
                                                <div data-language_id="{{ language.getId() }}" class="tpl_link_blok" id="tag_block">
                                                    <b>{{ field_set.title }}</b><br>
                                                    {% for field in field_set.fields %}
                                                        <a href="" data-var="{{ '{{' }}{{ key }}.{{ field.getGetter() }}(){{ '}}' }}">
                                                            {% if field.getFieldLabel %}
                                                                {{ field.getFieldLabel() }}
                                                            {% else %}
                                                                {{ dump(field) }}
                                                            {% endif %}
                                                        </a>
                                                        <br>
                                                    {% endfor %}
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div style="text-align: center">
                                            <i class="fa fa-angle-double-down"></i>
                                            <a class="toggle_more_less" href="" data-alt="{{ 'Minder variabelen'|translate }}">
                                                {{ 'Meer variabelen'|translate }}
                                            </a>
                                        </div>
                                        <div class="cl"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 control-label" for="inputDefault">Voorbeeld</label>
                                <div class="col-lg-10">

                                    <iframe style="width:100%; border:1px solid black; height:600px;" src="{{ shop_url }}/{{ language.getShopUrlPrefix() }}/{{ mail_script }}?order_id={{ random_sale_order_id }}&product_id={{ product_id }}&contact_message_id={{ random_contact_message_id }}&supplier_id={{ random_supplier_id }}&customer_id={{ random_customer_id }}&newsletter_subscriber_id={{ ramdom_newsletter_subscriber_id }}&notification_type_id={{ notification_type.getId() }}&user_id={{ user_id }}"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="panel">
                        <button type="submit" class="btn ladda-button btn-dark pull-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> {{ 'Opslaan'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                        {%  if has_overview_button %}
                        <button name="back_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" style="margin-right: 10px;">
                            <span class="ladda-label"><i class="fa fa-save"></i> {{ 'Opslaan en terug'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                        {% endif %}
                        <div class="cl"></div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </form>
</div>