<div class="section mb10">
    <label for="fld_{{ field_db }}" class="field prepend-icon">
        {% if read_only %}
            {{ field_value }}
        {% else %}
            {{ field_label }}

            <input type="hidden" name="{{ array_name }}[{{ field_db }}]" value="0">

            <input type="checkbox" name="{{ array_name }}[{{ field_db }}]" {{ checked }} id="fld_{{ field_db }}" class="event-name gui-checkbox br-light light" placeholder="{{ field_label }}{{ has_validations ? '*' }}" value="1">

            {% if icon %}
                <label for="name21" class="field-icon">
                    <i class="fa fa-{{ icon }}"></i>
                </label>
            {% endif %}

        {% endif %}
    </label>
</div>