<div class="section mb10">
    <label for="fld_{{ field_db }}" class="field prepend-icon">
        {% if read_only %}
            {{ field_value }}
        {% else %}

        <input type="text"  name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="event-name gui-input br-light light" placeholder="{{ field_label }}{{ has_validations ? '*' }}" value="{{ field_value }}">
            {% if icon %}
                <label for="name21" class="field-icon">
                    <i class="fa fa-{{ icon }}"></i>
                </label>
            {% endif %}
        {% endif %}
    </label>
</div>