{#
<div class="form-group">
    <label for="fld_{{ field_db }}" class="col-lg-4 control-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>
    <div class="col-lg-7">
        <div class="input-group">
            {% if read_only %}
                {% set break = false %}
                {% for option in options if not break %}
                    {% if field_value == option['id'] %}
                        {{ option['label'] }}
                        {% set break = true %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% if icon %}
                    <span class="input-group-addon">
                        <i class="fa fa-{{ icon }}"></i>
                    </span>
                {% endif %}
                <select id="fld_{{ field_db }}" name="data[{{ field_db }}]" class="form-control">
                    {% if placeholder %}
                        <option value="">{{ placeholder }}</option>
                    {% endif %}
                    {% for option in options %}
                        {% if option['label']!='' %}
                            <option {{ option['selected']|raw }} value="{{ option['id'] }}">{{ option['label'] }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            {% endif %}
       </div>
   </div>
</div>
#}
<div class="section mb10">
    <label class="field select prepend-icon">
        <select id="fld_{{ field_db }}" name="{{ array_name }}[{{ field_db }}]" class="empty">
            <option value="">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</option>
            {% for option in options %}
                {% if option['label']!='' %}
                    <option {{ option['selected']|raw }} value="{{ option['id'] }}">{{ option['label'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
        {% if icon %}
            <label for="name21" class="field-icon">
                <i class="fa fa-{{ icon }}"></i>
            </label>
        {% endif %}
        <i class="arrow double"></i>
    </label>
</div>
{#
<div class="section mb10">
    <label for="fld_{{ field_db }}" class="field prepend-icon">
        {% if read_only %}
            {{ field_value }}
        {% else %}

            <input type="text"  name="data[{{ field_db }}]" id="fld_{{ field_db }}" class="event-name gui-input br-light light" placeholder="{{ field_label }}{{ has_validations ? '*' }}" value="{{ field_value }}">
            {% if icon %}
                <label for="name21" class="field-icon">
                    <i class="fa fa-{{ icon }}"></i>
                </label>
            {% endif %}
        {% endif %}
    </label>
</div>\
#}