<div class="section mb10">
    <label class="field prepend-icon">
        {% if read_only %}
            {{ field_value }}
        {% else %}
            <textarea
                    style="height: %[height]%px;width: %[width]%px;"
                    class="gui-textarea br-light bg-light" id="fld_{{ field_db }}" name="{{ array_name }}[{{ field_db }}]" placeholder="{{ field_label }}{{ has_validations ? '*' }}">{{ field_value }}</textarea>
            <label for="fld_{{ field_db }}" class="field-icon">
                <i class="fa fa-file"></i>
            </label>
        {% endif %}
    </label>
</div>