<form method="post" id="frm_checkout">
    <input type="hidden" name="_do" id="fld_do" value="" />
    <div class="heading-banner"
         style="background-repeat: no-repeat;
                 height:300px;
                 background-position: center;
                 background-size: contain!important;
                 background-image: url('/img/banner/basket.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-banner-title">
                        <h2 style="display: none">{{ 'Shopping cart'|translate }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cart-main-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                            <tr>
                                <th class="product-thumbnail">{{ 'Image'|translate }}</th>
                                <th class="product-name">{{ 'Product'|translate }}</th>
                                <th class="product-price">{{ 'Price'|translate }}</th>
                                <th class="product-quantity">{{ 'Quantity'|translate }}</th>
                                <th class="product-subtotal">{{ 'Total'|translate }}</th>
                                <th class="product-remove">{{ 'Remove'|translate }}</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for order_item in sale_order.getSaleOrderItems() %}
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="{{ url_prefix }}{{ order_item.getFirstProduct().getProductUrl() }}">
                                                {% if order_item.getFirstProduct().hasImages() %}
                                                    {% if order_item.getFirstProduct().getLastOwnImage() %}
                                                        <img class="primary-img" src="/img/product/105x140/{{ order_item.getFirstProduct().getLastOwnImage().getId() }}.{{ order_item.getFirstProduct().getLastOwnImage().getFileExt() }}" alt="" />
                                                    {%  else %}
                                                        <img class="primary-img" src="/img/product/105x140/{{ order_item.getFirstProduct().getPrimaryImage().getId() }}.{{ order_item.getFirstProduct().getPrimaryImage().getFileExt() }}" alt="" />
                                                    {% endif %}
                                                {% else %}
                                                    <img src="/img/cart/total-cart.jpg" alt="" />
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="product-name">
                                            <a href="{{ url_prefix }}{{ order_item.getFirstProduct().getProductUrl() }}">
                                                {{ order_item.getFirstProduct().getTranslatedTitle(current_language.getId())|capitalize }}

                                                {% if order_item.getFirstProduct().getQuantityPerPack() > 1 %}
                                                    {{ order_item.getFirstProduct().getQuantityPerPack() }} items per pack
                                                {% endif %}

                                            </a>
                                        </td>
                                        <td class="product-price">
                                            <span class="amount">
                                                {% if order_item.getFirstProduct().getUnitCode() == 'cm' %}
                                                    &euro; {{ (order_item.getPrice())|number_format(2, ',', '.') }} {{ 'p/m'|translate }}
                                                {% else %}
                                                    &euro; {{ order_item.getPrice()|number_format(2, ',', '.')  }}
                                                {% endif %}


                                                {% if order_item.getFirstProduct().getDiscountPercentage() %}
                                                    ,   {{ 'normaal'|translate }}  <span style="text-decoration:line-through;color:#ccc">&euro;{{  order_item.getFirstProduct().getOriginalSalePrice()|number_format(2, ',', '.') }}</span>
                                                {% endif %}
                                            </span>
                                        </td>
                                        <td class="product-quantity">
                                            {% if order_item.getFirstProduct().getUnitCode() == 'cm' %}

                                                <select name="new_quantities[{{ order_item.getId() }}]" style="float:left;margin-right:5px;">


                                                    {% for i in range(10, 5000, 5) %}
                                                        <option {{ order_item.getQuantity()*100 == i ? 'selected' }} value="{{ i }}">{{ i }}cm - € {{ ((order_item.getFirstProduct().getSalePrice()/100) * i) | number_format(2, ',', '.') }}</option>
                                                    {% endfor %}
                                                </select>

                                                {# <input type="number" name="new_quantities[{{ order_item.getId() }}]" value="{{ order_item.getQuantity()*100 }}" />  {{ 'cm'|translate }} #}
                                            {% else %}
                                                <input type="number" name="new_quantities[{{ order_item.getId() }}]" value="{{ order_item.getQuantity() }}" /> {{ 'stuk'|translate }}
                                            {% endif %}
                                        </td>
                                        <td class="product-subtotal">
                                            &euro; {{ (order_item.getPrice() * order_item.getQuantity())|number_format(2, ',', '.') }}
                                        </td>
                                        <td class="product-remove">
                                            <a class="delete_cart_order_item" data-order_item_id="{{ order_item.getId() }}" title="{{ 'Click here to remove this item.'|translate }}" href="{{ url_prefix }}/cart/delete?order_item_id={{ order_item.getId() }}">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="buttons-cart">
                                <a href="{{ url_prefix }}">
                                    <i class="fa  fa-lg fa-angle-double-left"></i>
                                    {{ 'Continue Shopping'|translate }}
                                </a>

                                <button type="submit" id="fld_update_cart">
                                    <i class="fa fa-repeat"></i>
                                    {{ 'Update Cart'|translate }}
                                </button>
                            </div>
                            <div class="coupon">
                                <h3>{{ 'Coupon'|translate }}</h3>
                                <p>{{ 'Enter your coupon code if you have one.'|translate }}</p>
                                <input name="coupon" type="text" placeholder="{{ 'Coupon code'|translate }}" />

                                <button type="submit" id="fld_apply_coupon" value="{{ 'Apply Coupon'|translate }}">
                                    <i class="fa fa-gift"></i>
                                    {{ 'Apply Coupon'|translate }}
                                </button>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="cart_totals">
                                <h2 style="text-decoration: underline;">{{ 'Cart Totals'|translate }}</h2>
                                <div style="clear:both"></div>
                                <table>
                                    <tbody>
                                    <tr class="cart-subtotal">
                                        <th>{{ 'Subtotal'|translate }}</th>
                                        <td><span class="amount">&euro; {{ sale_order.getTotalProductPrice()|number_format(2, ',', '.') }}</span></td>
                                    </tr>

                                    {% if sale_order.getCouponDiscountAmount() %}
                                        <tr class="cart-subtotal">
                                            <th>{{ 'Discount'|translate }} </th>
                                            <td><span class="amount">&euro; {{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</span></td>
                                        </tr>
                                    {% endif %}

                                    {% if sale_order.getCouponDiscountPercentage() %}
                                        <tr class="cart-subtotal">
                                            <th>{{ 'Discount'|translate }} {{ sale_order.getCouponDiscountPercentage()|number_format(2, ',', '.') }}%</th>
                                            <td><span class="amount">&euro; -{{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</span></td>
                                        </tr>
                                    {% endif %}

                                    <tr class="shipping">
                                        <th>{{ 'Shipping'|translate }}</th>
                                        <td>
                                            <ul id="shipping_method">
                                                {% if has_free_shipping   %}
                                                    <li>
                                                        <label>
                                                            {{ 'Free Shipping'|translate }}
                                                        </label>
                                                        <input type="radio" checked />
                                                    </li>
                                                {% else %}
                                                    {% if sale_order.getShippingPrice() %}
                                                        <li>
                                                            <label>
                                                                <span class="amount">&euro; {{ sale_order.getShippingPrice()|number_format(2, ',', '.')  }}</span>
                                                            </label>
                                                        </li>
                                                    {% elseif is_signed_in %}
                                                        {% for shipping_method in shipping_methods  %}
                                                            <li>
                                                                <label style="cursor:pointer;" for="fld_shipping_method_{{ loop.index }}">
                                                                    {{ shipping_method.method.getName() }}: <span class="amount">&euro; {{ shipping_method.price|number_format('2', ',', '.') }}</span>
                                                                </label>
                                                                <input id="fld_shipping_method_{{ loop.index }}"class="shipping_method" type="radio" name="data[shipping]" {{ data.shipping == shipping_method.method.getId() ? 'checked' }} value="{{ shipping_method.method.getId() }}" />
                                                            </li>
                                                        {% endfor %}
                                                    {% else %}
                                                        <li>
                                                            <label>
                                                                <a class="inverse" href="{{ url_prefix }}/customer/login">Sign in</a> {{ 'or move on to the next step to see the shippingcost for this order. (we don\'t know where you live yet)'|translate }}
                                                                {# { ''|translate }}: <span class="amount">£7.00</span> #}
                                                            </label>
                                                        </li>
                                                    {% endif %}
                                                {% endif %}
                                                <li></li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr class="order-total">
                                        <th>{{ 'Total'|translate }}</th>
                                        <td>
                                            <strong><span class="amount">&euro; {{ sale_order.getTotalPrice()|number_format(2, ',', '.') }}</span></strong>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div style="clear:both"></div>
                                <div class="wc-proceed-to-checkout">
                                    <a href="{{ url_prefix }}/checkout/final">
                                        {{ 'Proceed to Checkout'|translate }}
                                        <i class="fa fa-shopping-basket"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


