<div class="heading-banner"
     style="background-repeat: no-repeat;
                 height:300px;
                 background-position: center;
                 background-size: contain!important;
                 background-image: url('/img/banner/checkout.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">
                    <h2 style="display: none;">{{ 'Checkout'|translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<form action="{{ url_prefix }}/customer/login?r={{ r }}" method="post">
    <input type="hidden" name="_do" value="Login"/>
    <div class="coupon-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="coupon-accordion">
                        <h3>{{ 'Returning customer?'|translate }} <span id="showlogin">{{ 'Click here to login'|translate }}</span></h3>
                        <div id="checkout-login" class="coupon-content" style="display: {{ failed_login_attempt ? 'block' : 'none' }};">
                            <div class="coupon-info">
                                <p class="coupon-text">
                                    {{ 'If you have placed an order in our shop before then it is best to place the next order under the same account.'|translate }}
                                </p>

                                <p class="form-row-first">
                                    <label>{{ 'Username or email'|translate }} <span class="required">*</span></label>
                                    <input type="text" name="email" value="{{ email }}" />
                                </p>
                                <p class="form-row-last">
                                    <label>{{ 'Password'|translate }} <span class="required">*</span></label>
                                    <input id="fld_password"  type="password" name="password"  />
                                </p>
                                {% if failed_login_attempt %}
                                    <script>
                                        setTimeout(function()
                                        {
                                            document.getElementById('fld_password').focus();
                                        }, 1000);
                                    </script>
                                {% endif %}
                                <p class="form-row">
                                    <input type="submit" value="{{ 'Login'|translate }}" />
                                    <label>
                                        <input type="checkbox" />
                                        {{ 'Remember me'|translate }}
                                    </label>
                                </p>
                                <p class="lost-password">
                                    <a href="{{ url_prefix }}/passreset">{{ 'Lost your password?'|translate }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form method="post" id="frm_checkout">
    <input type="hidden" name="_do" id="fld_do" value="Complete"/>

    <div class="checkout-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="checkbox-form">
                    <h3>{{ 'Your details'|translate }}</h3>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="country-select">
                                <label>{{ 'Country'|translate }} <span class="required">*</span></label>
                                <select id="fld_invoice_country" name="data[customer_invoice_country]">
                                    {% for country in countries %}
                                        <option {{ country.getName() == data.customer_invoice_country ? 'selected' }}>{{ country.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12" id="fld_invoice_usa_state_container" style="display: {{ data.customer_invoice_country == 'United States of America' ? 'block' : 'none' }};">
                            <div class="country-select">
                                <label>{{ 'State'|translate }}<span class="required">*</span></label>

                                <select class="" name="data[customer_invoice_usa_state]">
                                    {% for state in states%}
                                        <option {{ state.getName() == data.customer_invoice_usa_state ? 'selected' }}>{{ state.getName() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>{{ 'Name'|translate }} <span class="required">*</span></label>
                                <input type="text" name="data[customer_invoice_attn_name]" value="{{ data.customer_invoice_attn_name }}" placeholder="{{ 'John doe'|translate }}" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>{{ 'Company Name'|translate }}</label>
                                <input name="data[customer_invoice_company_name]" value="{{ data.customer_invoice_company_name }}" type="text" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>{{ 'Address '|translate }}<span class="required">*</span></label>
                                <input type="text" name="data[customer_invoice_address_l1]" value="{{ data.customer_invoice_address_l1 }}" placeholder="Street address" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <input type="text" name="data[customer_invoice_address_l2]" value="{{ data.customer_invoice_address_l2 }}" placeholder="Apartment, suite, unit etc. (optional)" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="checkout-form-list">
                                <label>{{ 'Town / City'|translate }}<span class="required">*</span></label>
                                <input type="text" name="data[customer_invoice_city]" value="{{ data.customer_invoice_city }}" placeholder="Town / City" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>{{ 'Postcode / Zip'|translate }}<span class="required">*</span></label>
                                <input type="text" name="data[customer_invoice_postal]" value="{{ data.customer_invoice_postal }}" placeholder="Postcode / Zip" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>{{ 'Email Address'|translate }} <span class="required">*</span></label>
                                <input type="text" name="data[customer_email]" value="{{ data.customer_email }}" placeholder="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="checkout-form-list">
                                <label>{{ 'Phone'|translate }}</label>
                                <input type="text" name="data[customer_phone]" value="{{ data.customer_phone }}" placeholder="" />
                            </div>
                        </div>
                        {% if not is_signed_in  %}
                            <div class="col-md-12">
                                <div class="checkout-form-list create-acc">
                                    <input name="data[create_account]" id="cbox" type="checkbox" {{ data.create_account == '1' ? 'checked' }} value="1" />
                                    <label>{{ 'Create an account?'|translate }}</label>
                                </div>
                                <div id="cbox_info" class="checkout-form-list create-account" {{ data.create_account == '1' ? 'style="display:block"' }}>
                                    <p>
                                        {{ 'Create an account by entering the information below. If you are a returning customer please login at the top of the page.'|translate }}
                                    </p>
                                    <label>
                                        {{ 'Account password'|translate }}
                                        <span class="required">*</span></label>
                                    <input type="password" placeholder="password" name="data[password]" />
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="different-address">
                        <div class="ship-different-title">
                            <h3>
                                <label>{{ 'Ship to a different address?'|translate }}</label>
                                <input id="ship-box" name="data[different_address]" value="1" {{ data.different_address == '1' ? 'checked' }} type="checkbox" />
                            </h3>
                        </div>
                        <div id="ship-box-info" class="row" {{ data.different_address ? 'style="display:block!important;"' }}>
                            <div class="col-md-12">
                                <div class="country-select">
                                    <label>{{ 'Country'|translate }}<span class="required">*</span></label>
                                    <select id="fld_delivery_country" name="data[customer_delivery_country]">
                                        {% for country in countries %}
                                            <option {{ country.getName() == data.customer_delivery_country ? 'selected' }}>{{ country.getName() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12" id="fld_delivery_usa_state_container" style="display:{{ data.customer_delivery_country == 'United States of America' ? 'block':'none' }}">
                                <div class="country-select">
                                    <label>{{ 'State'|translate }}<span class="required">*</span></label>
                                    <select class="fld_delivery_usa_state" name="data[customer_delivery_usa_state]">
                                        {% for state in states%}
                                            <option {{ state.getName() == data.customer_delivery_usa_state ? 'selected' }}>{{ state.getName() }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>{{ 'Name'|translate }}<span class="required">*</span></label>
                                    <input type="text" name="data[customer_delivery_attn_name]" value="{{ data.customer_delivery_attn_name }}" placeholder="{{ 'John doe'|translate }}" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>{{ 'Company Name'|translate }} </label>
                                    <input type="text" placeholder="" name="data[customer_delivery_company_name]" value="{{ data.customer_delivery_company_name }}" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>{{ 'Address'|translate }} <span class="required">*</span></label>
                                    <input type="text" placeholder="Street address" name="data[customer_delivery_address_l1]" value="{{ data.customer_delivery_address_l1 }}" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <input type="text" name="data[customer_delivery_address_l2]" placeholder="Apartment, suite, unit etc. (optional)" value="{{ data.customer_delivery_address_l2 }}" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkout-form-list">
                                    <label>{{ 'Town / City'|translate }}<span class="required">*</span></label>
                                    <input type="text" name="data[customer_delivery_city]" placeholder="Town / City" value="{{ data.customer_delivery_city }}" />
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="checkout-form-list">
                                    <label>{{ 'Postcode / Zip'|translate }}<span class="required">*</span></label>
                                    <input type="text" name="data[customer_delivery_postal]" placeholder="Postcode / Zip" value="{{ data.customer_delivery_postal }}"/>
                                </div>
                            </div>

                        </div>
                        <div class="order-notes">
                            <div class="checkout-form-list">
                                <label>{{ 'Order Notes'|translate }}</label>
                                <textarea name="data[notes]" id="checkout-mess" cols="30" rows="10" placeholder="{{ 'Notes about your order, e.g. special notes for delivery.'|translate }}" >{{ data.notes }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="your-order">
                    <h3>
                        {{ 'Your order'|translate }}
                    </h3>
                    <div class="your-order-table table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-name">{{ 'Product'|translate }}</th>
                                    <th class="product-total">{{ 'Total'|translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%  for order_item in sale_order.getSaleOrderItems() %}
                                <tr class="cart_item">
                                    <td class="product-name">
                                        {{ order_item.getFirstProduct().getTranslatedTitle(current_language.getId()) }} <strong class="product-quantity"> × {{ order_item.getQuantity() }}</strong>
                                    </td>
                                    <td class="product-total">
                                        <span class="amount">&euro; {{ (order_item.getQuantity() * order_item.getPrice())|number_format('2', ',', '.') }}</span>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr class="cart-subtotal">
                                <th>{{ 'Cart Subtotal'|translate }}</th>
                                <td><span class="amount">&euro; {{ sale_order.getTotalProductPrice()|number_format(2, ',', '.') }}</span></td>
                            </tr>



                            {% if sale_order.getCouponDiscountAmount() %}
                                <tr class="cart-subtotal">
                                    <th>{{ 'Discount'|translate }} </th>
                                    <td><span class="amount">&euro; {{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</span></td>
                                </tr>
                            {% endif %}

                            {% if sale_order.getCouponDiscountPercentage() %}
                                <tr class="cart-subtotal">
                                    <th>{{ 'Discount'|translate }} {{ sale_order.getCouponDiscountPercentage()|number_format(2, ',', '.') }}%</th>
                                    <td><span class="amount">&euro; {{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</span></td>
                                </tr>
                            {% endif %}


                            <tr class="cart-subtotal">
                                <th>
                                    {% if current_shipping_country.getStealthMandatory() %}
                                        <img src="/img/icon/stealth-2-24.png" /> Stealth mode
                                    {% else %}
                                        <img src="/img/icon/stealth-2-24.png" />
                                        Stealth mode/shipping: <input name="data[special_wrap]" id="fld_special_wrap" type="checkbox" value="1" {{ sale_order.getHasWrap() ? 'checked'}} />
                                    {% endif %}
                                </th>
                                <td>

                                    <span class="amount">&euro; {{ sale_order.getWrappingPrice()|number_format(2, ',', '.') }}</span>
                                </td>
                            </tr>

                            <tr class="shipping">
                                {% if sale_order.calcHasFreeShipping() %}
                                    <th>{{ 'Cart Subtotal'|translate }}</th>
                                {% endif %}

                                    <td colspan="{{ sale_order.calcHasFreeShipping() ? '1' : '2' }}">
                                    <ul style="text-align: {{ sale_order.calcHasFreeShipping() ? 'center' : 'left;margin-left:10px;' }};">
                                        <li>
                                            <strong>About stealth mode:</strong>
                                            {% if current_shipping_country.getStealthMandatory() %}
                                                <p>
                                                    We deliver in {{ current_shipping_country.getName }}!
                                                    But have you seen border security? That shit is real.
                                                    Your customs is baddass so we need to be badass to.
                                                    With our secret trick we get near 100% delivery.
                                                    Only it is costing us so we need to charge you also, sorry.
                                                    The damage is &euro; {{ special_wrap_fee|number_format(2, ',', '.') }}.</strong> Because your customs is so badass this is not an option.
                                                </p>
                                            {% elseif current_shipping_country.getStealthAdvised() %}
                                                <p>
                                                    Sometimes the customs of {{ current_shipping_country.getName }} seeks trough packages.
                                                    This happens in very rare occasions but if you want more security please enable stealth mode.
                                                    We will then ship the product in such a way that customs never almost checks it.
                                                    As far as we know we have had 100% success in this way.
                                                    Stealth mode costs &euro; {{ special_wrap_fee|number_format(2, ',', '.') }} extra.
                                                </p>

                                            {% else %}
                                                <p>
                                                    In {{ current_shipping_country.getName }} packages are almost never opened by customs.
                                                    If you want more privacy however you can choose to go for stealth.
                                                    This option costs &euro; {{ special_wrap_fee|number_format(2, ',', '.') }} extra.
                                                </p>
                                            {% endif %}

                                        </li>

                                        {% if sale_order.calcHasFreeShipping() %}
                                            <li>
                                                <input name="data[shipping]" type="radio" checked="checked" value="free" />
                                                <label>{{ 'Free Shipping'|translate }}: </label>
                                            </li>
                                        {% else %}
                                            {% for shipping_method in shipping_methods %}
                                                <li>
                                                    <input id="fld_shipping_method_{{ loop.index }}"class="shipping_method" type="radio" name="data[shipping]" {{ data.shipping == shipping_method.method.getId() ? 'checked' }} value="{{ shipping_method.method.getId() }}" />
                                                    <label style="cursor:pointer;" for="fld_shipping_method_{{ loop.index }}">
                                                        {{ shipping_method.method.getName() }}: <span class="amount">&euro; {{ shipping_method.price|number_format('2', ',', '.') }}</span>
                                                    </label>
                                                </li>
                                            {% endfor %}
                                        {% endif %}
                                        <li></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="order-total">
                                <th>{{ 'Order Total'|translate }}</th>
                                <td><strong><span class="amount">&euro; {{ sale_order.getTotalPrice()|number_format(2, ',', '.') }}</span></strong>
                                </td>
                            </tr>

                            </tfoot>
                        </table>
                    </div>


                    <div class="payment-method">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            {% for payment_method in payment_methods %}
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading{{ loop.index }}">
                                        <h4 class="panel-title">
                                            <input class="toggle_paymethod_radio" id="fld_radio_{{ loop.index }}" name="data[paymethod]" {{ payment_method.id == data.paymethod ? 'checked' }} value="{{ payment_method.id }}" type="radio" {{ loop.first ? 'checked' }}>
                                            <label class="toggle_paymethod" style="font-weight: normal;" for="fld_radio_{{ loop.index }}">
                                                <a style="display: inline-block!important;" class="{{ loop.first ? '' : 'collapsed' }}" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ loop.index }}" aria-expanded="{{ loop.first ? 'true' : 'false' }}" aria-controls="collapse{{ loop.index }}">
                                                    {{ payment_method.description }}
                                                </a>
                                            </label>
                                        </h4>
                                    </div>
                                    <div id="collapse{{ loop.index }}" class="panel-collapse collapse {{ payment_method.id == data.paymethod  ? 'in'}}" role="tabpanel" aria-labelledby="heading{{ loop.index }}">
                                        <div class="panel-body">
                                            <p>
                                                {% if payment_method.issuers.length > 1 %}
                                                    {{ 'Please choose'|translate }}:
                                                {% endif %}
                                            </p>
                                            <ul>
                                                {% for issuer in payment_method.issuers %}
                                                    {% if issuer.Description != 'Automatic billing vaulted creditcard' %} {#I am not sure what this is and no time to figure it out.#}
                                                        <li>
                                                            <input name="data[issuer_{{ payment_method.id }}]" id="fld_bank_{{ issuer.getKeyword() }}" value="{{ issuer.getKeyword() }}" type="{{ payment_method.issuers.length == 1 ? 'checkbox' : 'radio' }}" {{ payment_method.issuers.length == 1 ? 'checked readonly' }} />
                                                            <label style="cursor:pointer;" for="fld_bank_{{ issuer.getKeyword() }}">{{ issuer.getDescription }}</label>
                                                        </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        {%  if sale_order.getSaleOrderItems().isEmpty() %}
                            <div class="order-button-payment">
                                <input type="submit" value="Your order is empty" disabled />
                                <a class="btn" type="submit" href="{{ url_prefix }}">&laquo; continue shopping</a>
                            </div>
                        {% else %}
                            <div class="order-button-payment">
                                <input type="submit" value="Place order" />
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</form>