<div class="about-us-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h2>{{ title|raw }}</h2>
                    <p>
                        {{ contents|raw }}
                    </p>

                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <img width="560" height="560" src="/img/wiretransfer-thanks.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>

