<div class="about-us-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h2>{{ site_page.getTitle() }}</h2>
                    <p>
                        {{ site_page.getContent() }}
                    </p>

                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="about-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MorR04iLtMw?start=114" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

