
<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
    <input type="hidden" name="_do" value="{{ next_action }}">

    <div class="chute chute-center pt30">
        <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">{{ 'Over deze aanbieding'|translate }}</span>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="fld_about" class="col-lg-3 control-label">{{ 'Over deze aanbieding'|translate }}</label>
                                <div class="col-lg-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-tags"></i>
                                        </span>
                                        <input name="promo_product[about]" id="fld_about" class="form-control" value="{{ promo_product.about }}" type="text">
                                        <span class="help-block mt5"></span>
                                    </div>
                                    <i class="fa fa-bell"></i>
                                    {{ 'Deze tekst is voor u zelf en wordt nergens gepubliceerd'|translate }}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% for promo_translation in promo_translations %}
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">{{ promo_translation.getLanguage().getDescription() }}</span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="fld_title" class="col-lg-3 control-label">{{ 'Titel'|translate }}</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-tags"></i>
                                            </span>
                                            <input name="promo_translation[{{ promo_translation.getLanguage().getId()}}][title]" id="fld_title" class="form-control" value="{{ promo_translation.getTitle() }}" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fld_alt_url" class="col-lg-3 control-label">{{ '(alterntieve) url'|translate }}</label>
                                    <div class="col-lg-5">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-tags"></i>
                                            </span>
                                            <input name="promo_translation[{{ promo_translation.getLanguage().getId()}}][alt_url]" id="fld_alt_url" class="form-control" value="{{ promo_translation.getAltUrl() }}" type="text">
                                        </div>
                                    </div>
                                    <label for="fld_alt_url" class="col-lg-3 control-label" style="text-align:left;">{{ 'Voorbeeld: /nl/s/tijdelijke-aanbieding-september'|translate }}</label>
                                </div>
                                <div class="form-group">
                                    <label for="fld_description" class="col-lg-3 control-label">{{ 'Titel'|translate }}</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-tags"></i>
                                            </span>
                                            <input name="promo_translation[{{ promo_translation.getLanguage().getId()}}][description]" id="fld_description" class="form-control" value="{{ promo_translation.getDescription() }}" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fld_file" class="col-lg-3 control-label">{{ 'Afbeelding'|translate }}</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-image"></i>
                                            </span>
                                            <input name="picture[{{ promo_translation.getLanguage().getId()}}]" id="fld_file" class="form-control" type="file">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="fld_file" class="col-lg-3 control-label">{{ 'Thumbnail'|translate }}</label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-image"></i>
                                            </span>
                                            {% if promo_translation.getHasImage() %}
                                                <img width="150" src="{{ promo_translation.getImagePath() }}" />
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="panel">
                        <div class="panel-body">
                            <button type="submit" name="save" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label">{{ 'Opslaan' }}</span>
                                <span class="ladda-spinner"></span>
                            </button>
                            <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                                <span class="ladda-label">{{ 'Opslaan + naar overzicht'|translate }}</span>
                                <span class="ladda-spinner"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</form>