<header id="topbar" class="ph10">

    {{ enabled_modules|raw }}

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        {% if new_url %}
            <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-pencil pr5"></span>
            </a>
        {% endif %}

        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">

                <li>
                    <a href="/generic/crud/editor_edit?do_after_save=return_edit&module=Promo_product&manager=Promo_productManager&name=promo_product_editor&title=Promo+product">
                        <i class="fa fa-table"></i>
                        Fields
                    </a>
                </li>
                <li>
                    <a href="/generic/crud/editor_edit?do_after_save=return_edit&module=Promo_product_translation&manager=Promo_product_translationManager&name=promo_product_translation_editor&title=Promo+product+translation+fields">
                        <i class="fa fa-table"></i>
                        Translated fields
                    </a>
                </li>




                <li>
                    <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}&site={{ site }}&tab={{ page_tab_id }}">
                        <i class="fa fa-table"></i>
                        Pagina overzicht
                    </a>
                </li>
                <li>
                    <a href="/generic/crud/editor_edit?module=Link_block_cms_module&manager=Link_block_cms_moduleManager&name=crm_enabled_modules&title=CMS+modules">
                        <i class="fa fa-table"></i>
                        Modules
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>