<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <div class="panel mb25 mt5">
            <p>
                <a href="/crm/export/overview?_do=Customers">{{ 'Download klanten'|translate }}</a>.<br/>
                <a href="/crm/export/overview?_do=Addresses">{{ 'Download adressen'|translate }}</a>.<br/>
            </p>
        </div>
    </form>
</div>


