<div class="heading-banner"
     style="
     background-repeat: no-repeat;
     height:300px;
     background-position: center;
     background-size: contain!important;
     background-image: url('/img/banner/weed-leaves.jpg");">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">
                    <h2 style="text-shadow: 1px 0px 0 #2d2d2d, 0px 0px 0 #2d2d2d, 0px 0px 0 #2d2d2d, 1px 1px 0 #2d2d2d;">{{ category_name }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="min-height: 400px;">
    <div class="row faq_row">
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 categories">
            <aside class="widget widget-categories">
                <h3 class="sidebar-title">{{ 'Other categories'|translate }}</h3>
                <ul class="sidebar-menu">
                    {% for other_category in other_categories %}
                        <li><a href="{{ url_prefix }}/faq/{{ other_category.object.getName()|slugify }}-{{ other_category.object.getSiteFaqCategoryId() }}">{{ other_category.object.getName() }}</a> <span class="count">({{ other_category.item_count }})</span></li>
                    {% endfor %}
                    <li><a href="{{ url_prefix }}/faq">{{ 'All questions'|translate }}</a> <span class="count">({{ all_faq_item_count }})</span></li>
                </ul>
            </aside>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
            <div class="panel-group" id="accordion">
                <div class="faqHeader">{{ category_name }}</div>
                {% for item in faq_items %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.getId() }}">
                                    {{ item.getQuestion() }}
                                </a>
                            </h4>
                        </div>
                        <div id="collapse{{ item.getId() }}" class="panel-collapse collapse">
                            <div class="panel-body">
                                {{ item.getAnswer() }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<style>
    .categories{
        margin-top:30px;
    }
    .faq_row{
        margin-top:30px;
    }
    .faqHeader {
        font-size: 20px;
        font-weight:bold;
        margin: 20px;
        text-transform: uppercase;
        margin-left:0px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';

        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>