<div class="heading-banner"
     style="
     background-repeat: no-repeat;
     height:300px;
     background-position: center;
     background-size: contain!important;
     background-image: url('/img/banner/bitcoin.jpg">
    <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-banner-title">
                        <h2 style="display: none">{{ category_translation.getAlt() }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="faq-area">
    <div class="container">
        <div class="row">
            {% for category in categories %}
                <a class="cat-thumb col-lg-3 col-md-3 col-sm-3" href="{{ url_prefix }}/faq/{{ category.translation|slugify }}-{{ category.category_id }}">
                    <img src="{{ category.image }}" />
                    <span>
                    {{ category.translation }}
                    </span>
                </a>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    {% for category in categories %}
        <div class="panel-group" id="accordion">
            <div class="faqHeader">{{ category.translation }}</div>

            {% for item in category.items %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ item.getId() }}">
                                {{ item.getQuestion() }}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{ item.getId() }}" class="panel-collapse collapse">
                        <div class="panel-body">
                            {{ item.getAnswer() }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';

        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }
</style>