<div class="col-md-12">


        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{  site_nav_page_type.getTitle }} configuratie</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-4">Laat deze pagina zien</label>
                    <div class="col-lg-8">
                        <div class="input-group ">
                            <div class="bs-component">
                                <select name="site_form[form_id]">
                                    <option value="">Maak een keuze</option>
                                    {% for form in forms %}
                                        <option {{ selected_form == form.getId ? 'selected="selected"'  }} value="{{ form.getId }}">{{ form.getTitle }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

                <button data-style="expand-right" class="btn ladda-button btn-dark pull-right" type="submit">
                    <span class="ladda-label">Wijzigingen opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>

</div>