<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <div class="row">

                {{ edit_form | raw  }}

            <div class="col-md-12">

                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Ingeschakelde modules</span>
                        </div>
                        <div class="panel-body">

                            {% for item in item_page_config %}
                                <div class="form-group">
                                    <label class="col-lg-3 control-label" for="page_type_{{ item.site_nav_page_type.id }}">{{ item.site_nav_page_type.title }}</label>
                                    <div class="col-lg-8">
                                        <div class="col-md-9">
                                            <div class="bs-component">
                                                <label class="checkbox-inline ">
                                                    <input type="hidden" value="0" name="page_type[{{ item.site_nav_page_type.id }}]">
                                                    <input type="checkbox" name="page_type[{{ item.site_nav_page_type.id }}]" {{ item.enabled ? 'checked="checked"' }} id="page_type_{{ item.site_nav_page_type.id }}" value="1">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <button data-style="expand-right" class="btn ladda-button btn-dark pull-right" type="submit">
                                <span class="ladda-label">Wijzigingen opslaan</span>
                                <span class="ladda-spinner"></span>
                            </button>
                        </div>
                    </div>

            </div>

            {% for item_page in item_page_config %}
                {% if item_page.enabled %}

                    {{ item_page.html_editor | raw }}

                {% endif %}
            {% endfor %}
            </div>

        </div>
    </form>
</div>