<div class="col-md-12">


        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Thumbnail overzicht</span>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label class="col-lg-4">Thumbnail bron</label>
                    <div class="col-lg-8">
                        <div class="input-group ">
                            <div class="bs-component">
                                <select name="site_nav_site_thumbnail_page[thumbnail_source]">
                                    <option value="">Maak een keuze</option>
                                    <option {{ thumbnail_source == 'child_pages' ? 'selected="selected"'  }} value="child_pages">Eerste afbeelding van onderliggende pagina's</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <button data-style="expand-right" class="btn ladda-button btn-dark pull-right" type="submit">
                    <span class="ladda-label">Wijzigingen opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>

</div>