<header id="topbar" class="ph10">

    {% include 'Cms/left_menu_part.twig' %}
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        {% if new_url %}
            <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-pencil pr5"></span>
            </a>
        {% endif %}

        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module=Site_banner&manager=Site_bannerManager&name={{ fields_config_code }}&site={{ site }}&title={{ fields_config_title }}">
                        <i class="fa fa-table"></i>
                        Velden instellen
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>