<div class="col-md-12">


        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{  site_nav_page_type.getTitle }} configuratie</span>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-lg-4">Laat op deze pagina zien</label>
                    <div class="col-lg-8">
                        <div class="input-group ">
                            <div class="bs-component">
                                <select name="blog[items_pp]">
                                    <option value="">Maak een keuze</option>
                                    <option {{ selected_items == 10 ? 'selected="selected"'  }} value="10">10</option>
                                    <option {{ selected_items == 20 ? 'selected="selected"'  }} value="20">20</option>
                                    <option {{ selected_items == 50 ? 'selected="selected"'  }} value="50">50</option>
                                    <option {{ selected_items == 100 ? 'selected="selected"'  }} value="100">100</option>
                                </select>

                            </div>
                        </div>
                    </div>

                </div>


                <button data-style="expand-right" class="btn ladda-button btn-dark pull-right" type="submit">
                    <span class="ladda-label">Wijzigingen opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>

</div>