<div class="col-md-12">


        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{  site_nav_page_type.getTitle }} configuratie</span>
            </div>
            <div class="panel-body">


                <button data-style="expand-right" class="btn ladda-button btn-dark pull-right" type="submit">
                    <span class="ladda-label">Wijzigingen opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>

</div>