<div class="heading-banner"
     style="
     background-repeat: no-repeat;
     height:300px;
     background-position: center;
     background-size: contain!important;
     background-image: url('/img/banner/blog.jpg');">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">

                    <h2 style="
                        display:inline-block;background-color:#fd004d; color:white; padding:15px;
                        border-radius: 3px;
                        box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.6);"
                            >{{ site_page.getTitle() }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- heading-banner end -->
<div class="my-account-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                {{ site_page.getContent()|raw }}
            </div>
        </div>
    </div>
</div>

