

<div class="center-block mw800 text-center p20">
    <img src="/assets/img/pages/no_access.png" width="400" alt="" class="img-responsive mauto">

    <h2 class="mt40 mb20">Geen toegang</h2>

    <h6>
        Het spijt ons {{ current_user.getFirstName() }},<br>
        Waarschijnlijk heb je ergens op een dode link geklikt, deze module is voor niet beschikbaar voor jouw gebruikersrol.<br>
        <br>
        Vind je dat je wel bij deze module moet kunnen, neem dan contact op met de systeembeheerder of je manager.
        <a href="/support/trouble_ticket">Of maak een ticket aan</a>.
        <br>
        De programmeurs van het systeem zijn op de hoogte gesteld zodat ze deze mogelijke bug op kunnen lossen.


    </h6>
</div>
