<script>
    var site = '{{ site }}';
</script>

<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <div class="row">
            <div class="col-md-12">

                <input type="hidden" id="new_node" value="{{ 'Nieuwe categorie'|translate }}" />
                <input type="hidden" id="loading" value="{{ 'Laden'|translate }}" />
                <input type="hidden" id="nodes" value="{{ 'Categorieën'|translate }}" />
                {{ content|raw }}

            </div>
        </div>
    </form>
</div>