<!DOCTYPE html>
<html lang="en">
<head>
    <title>Service Description</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <a name="#top">
                <img class="pull-right" src="/img/logo-300.png" style="height: 140px">
            </a>
            <h1>Service description <br/>
                <small>API documentation v{{ site_settings.api_version }}</small>
            </h1>



            <ul class="nav nav-tabs">
                <li role="presentation" class="{{ active == 'home' ? 'active' }}">
                    <a href="/">Introduction</a>
                </li>
                <li role="presentation" class="{{ active == 'rest' ? 'active' }}">
                    <a href="/rest">REST</a>
                </li>
                <li role="presentation" class="{{ active == 'datatypes' ? 'active' }}">
                    <a href="/v{{ site_settings.api_version }}/doc/datatypes">Data Types</a>
                </li>
                <li role="presentation" class="{{ active == 'endpoints' ? 'active' }}">
                    <a href="/endpoints">Endpoints</a>
                </li>
                <li role="presentation" class="{{ active == 'schema' ? 'active' }}">
                    <a href="/schema">Schema</a>
                </li>
                {#
                <li role="presentation" class="">
                    <a href="/faqIndex">FAQ</a>
                </li>
                <li role="presentation" class="">
                    <a href="/tipsIndex">Tips & Tricks</a>
                </li>
                #}
            </ul>
        </div>
    </div>

    <div class="row">
        {{ content|raw }}
    </div>
</div>
<div class="footer">
{#
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/objects/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
#}

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</div>

</body>
</html>
