<script id="t-editor" type="text/x-handlebars-template">
    <div class="content-like table-layout">
        <aside class="chute chute-left chute320 p20" style="height: 800px;">
            <h5 class="no-toc">{{ 'Events'|translate }}</h5>
            <hr class="alt short">
            <ul class="containerTypes">
                {{ '{{#each containerTypes}}' }}
                <li class="containerType yui3-g">


                    <div class="btn btn-hover btn-left btn-dark btn-success btn-full-width containerType-name yui3-u-2-3" app-container-name="{{ '{{name}}' }}">
                        <i class="fa fa-{{ '{{icon}}' }}"></i>
                        {{ '{{name}}' }} -
                        <i>{{ '{{description}}' }}</i>
                    </div>
                </li>
                {{ '{{/each}}' }}
            </ul>
        </aside>
        <div class="chute chute-center" style="height: 369px;">
                <div class="span16">
                    Name: <input id="wiring-name"/> <a class="btn primary" id="wiring-save-btn">Save</a>
                </div>
                <div class="span16" id="layer-container"></div>
            <div id="wireit-app"></div>
        </div>
    </div>
</script>

<script id="t-wiring-list" type="text/x-handlebars-template">
    <div class="container">
        <div class="hero-unit">
            <h2 class="no-toc">Wirings</h2>
            <p>Open an existing wiring :</p>
            <ul class="wiring">
                {{ '{{#each wirings}}' }}
                <li class="wiring yui3-g">
                    <div class="wiring-name yui3-u-2-3">
                        <a href="#/wirings/{{ '{{id}}' }}/edit">{{ '{{name}}' }}</a></div>
                </li>
                {{ '{{/each}}' }}
            </ul>
            <a id="wiring-add-link" href="#/wirings/new" class="btn btn-primary">or create a new one</a>
        </div>
    </div>
</script>
