
ul.containerTypes {
    margin: 0;
    padding-left: 0;
}

.btn-full-width {
    width: 100%;
}

.btn-left {
    text-align: left;
}

.yui3-container, .yui3-form-container, .yui3-image-container, .yui3-inout-container, .yui3-out-container, .yui3-textarea-container {
    z-index: 5;
    position: absolute
}

.yui3-container-focused {
    z-index: 6
}

.yui3-container-content, .yui3-form-container-content, .yui3-inout-container-content, .yui3-out-container-content, .yui3-textarea-container-content {
    border: 2px solid #36c;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    position: relative;
    background-color: white
}

.yui3-image-container-content {
    position: relative
}

.yui3-container-content .yui3-widget-hd,
.yui3-form-container-content .yui3-widget-hd,
.yui3-inout-container-content .yui3-widget-hd,
.yui3-out-container-content .yui3-widget-hd,
.yui3-image-container-content .yui3-widget-hd,
.yui3-textarea-container-content .yui3-widget-hd {
    background-color: #36c;
    color: white;
    cursor: move;
    padding: 2px 7px
}

.yui3-container-content .yui3-widget-ft,
.yui3-form-container-content .yui3-widget-ft,
.yui3-inout-container-content .yui3-widget-ft,
.yui3-out-container-content .yui3-widget-ft,
.yui3-image-container-content .yui3-widget-ft,
.yui3-textarea-container-content .yui3-widget-ft {
    background-color: #ccc;
    font-style: italic;
    font-size: 80%;
    position: absolute;
    bottom: 0;
    width: 100%
}

.yui3-container-icon,
.yui3-inout-container-icon,
.yui3-out-container-icon,
.yui3-textarea-container-icon {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 2px
}

#yui3-css-stamp.skin-sam-container {
    display: none
}

.yui3-layer-content {
    border: 1px solid black;
    overflow: scroll;
}

ul.containerTypes {
    list-style: none;
    margin: 0;
}

.yui3-wire-base {
    position: absolute;
    border: 0;
    z-index: 5
}

.yui3-wire-editing {
    z-index: 10
}

#yui3-css-stamp.skin-sam-wire-base {
    display: none
}


ul.containerTypes li {
    margin: 2px;
    padding: 2px;
    border-radius: 3px;
    cursor: move;
}

.yui3-out-container ul.inputs, .yui3-inout-container ul.inputs {
    padding-left: 14px
}

.yui3-inout-container ul.outputs, .yui3-out-container ul.outputs {
    text-align: right;
    padding-right: 10px
}

.yui3-out-container ul.inputs li,
.yui3-out-container ul.outputs li,


.yui3-inout-container ul.inputs li,
.yui3-inout-container ul.outputs li {
    list-style: none
}

.yui3-out-container ul.outputs,
.yui3-inout-container ul.outputs
{
    padding-right:10px;
}
.yui3-out-container ul.outputs li,
.yui3-inout-container ul.outputs li {
    list-style-position: inside;

}


#yui3-css-stamp.skin-sam-out-container, #yui3-css-stamp.skin-sam-inout-container {
    display: none
}
