
<div class="row">
    <div class="col-md-12 generated">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ list_title }}</span>
            </div>
            <div class="panel-body pn">
                {% if products %}
                    <ul class="sortable_container product_picker ui-sortable" data-list_name="{{ list_name }}">
                            {% for product in products %}
                                <li class="sortable_item product_picker ui-sortable-handle" data-product_id="{{ product.getId() }}" style="width:273px;height:220px;" >
                                    <a class="trash_link" href="/product/lists/editor?list_name={{ list_name }}&product_id={{ product.getId() }}&_do=RemoveProduct">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    <a class="info_link" href="/product/edit?id={{ product.getId() }}">
                                        <i class="fa fa-info"></i>
                                    </a>
                                    <span class="created_at">
                                        Added: {{ product.getArgument('created_at') }}
                                    </span>
                                    {% if product.getPrimaryImage() %}
                                        <img class="image_item" src="/img/product/300x300/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}">
                                    {% else %}
                                        <img class="image_item" src="/img/file-not-found.jpg">
                                    {% endif %}
                                </li>
                            {% endfor %}
                        <div class="cl ui-sortable-handle"></div>
                    </ul>
                {% else %}
                    <p>
                        {{ 'U heeft nog geen producten aan dit lijstje toegevoegd.'|translate }}
                    </p>
                {% endif %}
                <div class="row">
                    <a href="/product/pickproduct?r=after_pick_product" class="btn ladda-button btn-primary pull-right" data-style="expand-right">
                        <span class="ladda-label"><i class="fa fa-magic"></i> {{ 'Product toevoegen'|translate }}</span>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>

