<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/product/edit?id={{ product_id }}">
                    &laquo; {{ 'Terug naar het product'|translate}}
                </a>
            </li>
        </ul>
    </div>
</header>


