<div class="chute chute-center" style="height: 749px;">

    <div class="" style="height: 654px;">


        <div class="ph20">

            <h4> {{ ui_component.getLabel() }} </h4>

            <div class="component_canvas {{ app.getAppType().getCode() }}">

                {% for child in children %}
                    <div class="component_stack">
                        {# renders the component when available or the form when not available#}
                        {% if child.isConfigured() %}
                            <div class="tab-block">
                                <ul class="nav nav-tabs nav-tabs-right configtabs">

                                    <li class="configtabs_dropdown">
                                        <a href="#" class="dropdown-toggle" role="menu" data-group="configtabs" data-toggle="dropdown">
                                            <i class="fa fa-cogs pl5"></i>
                                            Configure
                                            <i class="fa fa-caret-down pl5"></i>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <a href="#" class="toggle tab" data-active-marker="configtabs_dropdown" data-group="configtabs" data-tabs="tabs" data-show="form">
                                                    Content
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#tab6_4" tabindex="-1" data-active-marker="configtabs_dropdown" data-group="configtabs" data-toggle="tab">
                                                    Columns
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#tab6_4" tabindex="-1" data-active-marker="configtabs_dropdown" data-group="configtabs" data-toggle="tab">
                                                    Sorting
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active configtabs_preview">
                                        <a href="#" data-tabs="tabs" data-active-marker="configtabs_preview" data-group="configtabs"  data-show="render"> Preview
                                            <i class="fa fa-picture-o text-purple"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                            <div class="component-item">
                                <div class="tabs render">
                                    {{ child.previewRender().result|raw }}
                                </div>
                                <div class="tabs form no-dropzones" style="display: none">
                                    {{ child.getForm().result|raw }}
                                </div>
                            </div>
                        {% else %}
                            <div class="component-item">
                                {{ child.preview()|raw }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="droppable_zone" data-ui-component-id="{{ ui_component.getId() }}">
                    <div class="flex_container empty_flex">
                        <div class="placeholder">
                            Drop elements here.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ properties_chute|raw }}

