

    <div class="center-block mt100 mw800 text-center p20">
        <img src="/assets/img/pages/404.png" alt="" class="img-responsive mauto">

        <h2 class="mt40 mb20">Pagina niet gevonden</h2>

        <h6>
            Het spijt ons {{ current_user.getFirstName }},<br>
            Waarschijnlijk heb je ergens op een dode link geklikt, deze bug is gerapporteerd aan onze programmeurs.<br>
            <br>
            Als je meer informatie hebt over deze bug dan zouden we je willen vragen om evengoed een troubleticket aan te maken.<br>
            Op die manier kunnen we je nog sneller van dienst zijn.<br>
            <a href="/support/trouble_ticket">Troubleticket aanmaken</a>.
        </h6>
    </div>
