<header id="topbar" class="ph10">
    {% if overview_url %}
        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
                <li class="active">
                    <a href="{{ overview_url }}">&laquo; {{ 'Terug naar het overzicht'|translate }}</a>
                </li>
            </ul>
        </div>

    {% endif %}

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">

        <div class="btn-group">


            <button data-form_id="main_form" type="submit" class="trigger_form btn ladda-button btn-sm btn-success pull-right" data-style="expand-right">
                <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                <span class="ladda-spinner"></span>
            </button>
            <button data-form_id="main_form" data-set_do="overview" name="next_overview" value="1" type="submit" class="trigger_form btn ladda-button btn-success pull-right btn-sm" data-style="expand-right"  style="margin-right:10px;">
                <span class="ladda-label"><i class="fa fa-save"></i> Opslaan + naar overzicht</span>
                <span class="ladda-spinner"></span>
            </button>
        </div>

        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ edit_config_key }}&title={{ edit_view_title }}&do_after_save={{ do_after_save }}">
                        <i class="fa fa-table"></i>
                        {{ 'Velden en titel'|translate }}
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>
