<!DOCTYPE html>
<html>
<head>
    {% include 'Generic/head.twig' %}
    <script>
        let aEvents = {};
    </script>
</head>
<body class="sales-stats-page {{ menu_size }}{{ body_classes }}">
<div id="popup_placeholder" style="display: none;"></div>

<div id="main">

    {% if show_navbar_top %}
        {% include 'navbar_top.twig' %}
    {% endif %}

    {% if show_sidebar_left %}
        {% include 'sidebar_left.twig' %}
    {% endif %}

    <section id="content_wrapper" style="{{ show_sidebar_left ? '' : 'margin-left:0;' }}">
        <div id="topbar-dropmenu-wrapper">
            <div class="topbar-menu row">
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="service-box bg-danger">
                        <span class="fa fa-music"></span>
                        <span class="service-title">Audio</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="service-box bg-success">
                        <span class="fa fa-picture-o"></span>
                        <span class="service-title">Images</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="service-box bg-primary">
                        <span class="fa fa-video-camera"></span>
                        <span class="service-title">Videos</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="service-box bg-alert">
                        <span class="fa fa-envelope"></span>
                        <span class="service-title">Messages</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="service-box bg-system">
                        <span class="fa fa-cog"></span>
                        <span class="service-title">Settings</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="service-box bg-dark">
                        <span class="fa fa-user"></span>
                        <span class="service-title">Users</span>
                    </a>
                </div>
            </div>
        </div>
        {{ top_nav | raw }}
        <div id="status_modal_container" style="display: none">
        {%  if status_modals %}
            {% include 'Generic/status_modals.twig' %}
        {% endif %}
        </div>
        <div id="status_messages" style="display: none"></div>
        {%  if status_messages %}
            <section class="table-layout animated fadeIn">
                <div class="panel" id="status_message_container">
                    {%  for status_message in status_messages %}
                        <div class="bs-component">
                            <div class="alert alert-{{ status_message.type }} dark alert-dismissable" style="color:{{ status_message.type == 'warning' ? 'black':'white' }};">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                                <i class="fa fa-info pr10"></i>
                                <strong>{{ status_message.label }}:</strong> {{ status_message.contents|raw }}
                            </div>
                        </div>
                    {%  endfor %}
                </div>
            </section>
        {% endif %}



        <section id="{{ layout.id ? layout.id : 'content' }}" class="{{ layout.class ? layout.class ~ ' ' : 'table-layout ' }}animated fadeIn">
            {{ content | raw }}
        </section>
    </section>
    <aside id="sidebar_right" class="nano affix">
        <div class="sidebar-right-wrapper nano-content">
            <div class="sidebar-block br-n p15">
                <h6 class="title-divider text-muted mb20"> Visitors Stats
                <span class="pull-right"> 2015
                  <i class="fa fa-caret-down ml5"></i>
                </span>
                </h6>
                <div class="progress mh5">
                    <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="34"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 34%">
                        <span class="fs11">New visitors</span>
                    </div>
                </div>
                <div class="progress mh5">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="66"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 66%">
                        <span class="fs11 text-left">Returnig visitors</span>
                    </div>
                </div>
                <div class="progress mh5">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="45"
                         aria-valuemin="0"
                         aria-valuemax="100" style="width: 45%">
                        <span class="fs11 text-left">Orders</span>
                    </div>
                </div>
                <h6 class="title-divider text-muted mt30 mb10">New visitors</h6>
                <div class="row">
                    <div class="col-xs-5">
                        <h3 class="text-primary mn pl5">350</h3>
                    </div>
                    <div class="col-xs-7 text-right">
                        <h3 class="text-warning mn">
                            <i class="fa fa-caret-down"></i> 15.7% </h3>
                    </div>
                </div>
                <h6 class="title-divider text-muted mt25 mb10">Returnig visitors</h6>
                <div class="row">
                    <div class="col-xs-5">
                        <h3 class="text-primary mn pl5">660</h3>
                    </div>
                    <div class="col-xs-7 text-right">
                        <h3 class="text-success-dark mn">
                            <i class="fa fa-caret-up"></i> 20.2% </h3>
                    </div>
                </div>
                <h6 class="title-divider text-muted mt25 mb10">Orders</h6>
                <div class="row">
                    <div class="col-xs-5">
                        <h3 class="text-primary mn pl5">153</h3>
                    </div>
                    <div class="col-xs-7 text-right">
                        <h3 class="text-success mn">
                            <i class="fa fa-caret-up"></i> 5.3% </h3>
                    </div>
                </div>
                <h6 class="title-divider text-muted mt40 mb20"> Site Statistics
                    <span class="pull-right text-primary fw600">Today</span>
                </h6>
            </div>
        </div>
    </aside>
</div>
{% include 'Generic/foot.twig' %}

</body>
</html>
