<header id="navbar_top" class="navbar navbar-fixed-top bg-dark">
    <div class="navbar-logo-wrapper">
        <a class="navbar-logo-text" href="/dashboard/home">
            <b>
                <img alt="{{ magic_arguments.assets }}" style="height:40px;" src="/custom/{{ magic_arguments.assets }}/logo-left-top.png" />
            </b>
        </a>
        <span id="sidebar_left_toggle" class="ad ad-lines"></span>
    </div>

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown dropdown-fuse">
            <div class="navbar-btn btn-group">
                <button data-toggle="dropdown" class="btn btn-md dropdown-toggle">
                    <img src="{{ current_locale_flag }}"/>

                </button>
                <ul class="dropdown-menu pv5 animated animated-short fadeIn" role="menu">
                    {% for language in languages %}
                        <li>
                            <a href="/setting/configure/property?_do=SetLanguage&value={{ language.getId() }}"> {{ language.getDescription() }} </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        <li class="dropdown dropdown-fuse">
            <a class="dropdown-toggle fw600" data-toggle="dropdown">
                <span class="hidden-xs">{{ current_user.getFirstName() }} {{ current_user.getLastName() }}</span>
                <span class="fa fa-caret-down hidden-xs mr15"></span>
                {% if current_user.getHasProfilePic() %}
                    <img height="40" alt="Profielfoto" src="/img/user/{{current_user.getId() }}/profile_pic.{{current_user.getPicExt}}" />
                {% else %}
                    <img src="/assets/img/default-avatar.png" alt="avatar" class="mw55">
                {% endif %}
            </a>
            <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">
                <li class="dropdown-header clearfix">
                    <div class="pull-left ml10">
                        <select id="user-status">
                            <optgroup label="Current Status:">
                                <option value="1-1">Away</option>
                                <option value="1-2">Busy</option>
                                <option value="1-3" selected="selected">Online</option>
                                <option value="1-4">Offline</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="pull-right mr10">
                        <form id="frm_role_selector" method="get" action="/admin/module/configure">
                            <input type="hidden" name="_do" value="SwitchRole" />
                            <select id="user-role" name="role_id" class="role_selector">
                                <optgroup label="Logged in As:">
                                    {% for role in all_roles %}
                                        <option value="{{ role.getId() }}" {{ current_role.getName() == role.getName() ? 'selected'  }}>{{ role.getName() }}</option>
                                    {% endfor %}
                                </optgroup>
                            </select>
                        </form>
                    </div>
                </li>
                <li class="list-group-item">
                    <a href="/user/about_me" class="animated animated-short fadeInUp">
                        <span class="fa fa-user"></span> Over mij
                        {#<span class="label label-warning">54</span>#}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/user/about_me?tab=activity" class="animated animated-short fadeInUp">
                        <span class="fa fa-users"></span> Mijn activiteiten
                        {#<span class="label label-warning">6</span>#}
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="/user/about_me?tab=change" class="animated animated-short fadeInUp">
                        <span class="fa fa-cogs"></span> Voorkeuren </a>
                </li>

                {#
                <li class="list-group-item">
                    <a href="#" class="animated animated-short fadeInUp">
                        <span class="fa fa-bell"></span> Notifications </a>
                </li>

                <li class="dropdown-footer text-center">
                    <a href="/login?_do=Logout" class="btn btn-primary btn-sm btn-bordered">
                        <span class="fa fa-power-off pr5"></span> Logout </a>
                </li>
                #}
            </ul>
        </li>
    </ul>
</header>
