<aside id="sidebar_left" class="nano nano-light affix">
    <div class="sidebar-left-content nano-content">
        <header class="sidebar-header">
            <div class="sidebar-widget author-widget">
                <div class="media">
                    <a class="media-left" href="/user/about_me">
                        {% if current_user.getHasProfilePic() %}
                            <img alt="Profiel foto" src="/img/user/{{current_user.getId() }}/profile_pic.{{current_user.getPicExt() }}"  class="img-responsive">
                        {% else %}
                            <img src="/assets/img/default-avatar.png" class="img-responsive">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <div class="media-links">
                            <a href="/login?_do=Logout">{{ 'Logout'|translate }}</a>
                        </div>
                        <div class="media-author">{{ current_user.getFirstName() }} {{ current_user.getLastName() }}</div>
                    </div>
                </div>
            </div>
            <div class="sidebar-widget menu-widget">
                <div class="row text-center mbn">
                    <div class="col-xs-2 pln prn">
                        <a href="dashboard1.html" class="text-primary" data-toggle="tooltip" data-placement="top"
                           title="Dashboard">
                            <span class="fa fa-dashboard"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="charts-highcharts.html" class="text-info" data-toggle="tooltip"
                           data-placement="top"
                           title="Stats">
                            <span class="fa fa-bar-chart-o"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="sales-stats-products.html" class="text-system" data-toggle="tooltip"
                           data-placement="top" title="Orders">
                            <span class="fa fa-info-circle"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="sales-stats-purchases.html" class="text-warning" data-toggle="tooltip"
                           data-placement="top" title="Invoices">
                            <span class="fa fa-file"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="basic-profile.html" class="text-alert" data-toggle="tooltip" data-placement="top"
                           title="Users">
                            <span class="fa fa-users"></span>
                        </a>
                    </div>
                    <div class="col-xs-4 col-sm-2 pln prn">
                        <a href="management-tools-dock.html" class="text-danger" data-toggle="tooltip"
                           data-placement="top" title="Settings">
                            <span class="fa fa-cogs"></span>
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <ul class="nav sidebar-menu">
            <li class="sidebar-label pt30">Menu</li>
            {% for menu_block in menu_blocks %}
                {{ menu_block.html | raw }}
            {% endfor %}
        </ul>
        <div class="sidebar-toggler">
            <a href="#">
                <span class="fa fa-arrow-circle-o-left"></span>
            </a>
        </div>
    </div>
</aside>
