<div class="heading-banner"
     style="
     background-repeat: no-repeat;
     height:300px;
     background-position: center;
     background-size: contain!important;
     background-image: url('/img/banner/blog.jpg");">

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">

                    <h2 style="
                    display:inline-block;background-color:#fd004d; color:white; padding:15px;
                    border-radius: 3px;
                    box-shadow: 0px 0px 0px 8px rgba(255,255,255,0.6);
">{{ entry.getTitle()|raw }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- heading-banner end -->
<!-- shop-area start -->
<div class="blog-area blog-details-area">
    <div class="container">
        <div class="row">
            <!-- left-sidebar start -->
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">{{ 'Posted by'|translate }}</h3>
                    <ul class="sidebar-menu">
                        {% for posting_user in posting_users %}
                            <li>
                                <a href="{{ url_prefix }}/blog?author={{ posting_user.first_name }}">{{ posting_user.first_name }}</a>
                                <span class="count">({{ posting_user.num_posts }})</span>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ url_prefix }}/blog">{{ 'All'|translate }}</a>
                            <span class="count">({{ total_blog_count }})</span>
                        </li>
                    </ul>
                </aside>
                {% include 'Blog/recent_products.twig' %}
            </div>
            <!-- left-sidebar end -->
            <!-- shop-content start -->
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <!-- single-latest-blog start -->
                <div class="single-latest-blog">
                    <div class="latest-blog-img">
                        <img class="img-responsive" alt="" src="/img/blog/890x350/{{ entry.getId() }}.{{ entry.getFileExt() }}">
                    </div>
                    <div class="latest-blog-content">

                        <div class="meta">
                            <span class="post-category">by <a href="{{ url_prefix }}/blog?author={{ entry.getAuthorName() }}">{{ entry.getAuthorName() }}</a></span>
                            <span class="meta-border">|</span>
                            <span class="time"><i class="fa fa-clock-o"></i> {{ entry.getCreatedOn()|date("m/d/Y H:m") }}</span>
                        </div>

                        <h1>{{ entry.getTitle()|raw }}</h1>
                        <p>{{ entry.getContent()|raw }}</p>

                    </div>
                </div>
                <div class="social-sharing">
                    <h3>{{ 'Share this post'|translate }}</h3>
                    <div class="sharing-icon">
                        <div class="widget-icon-new">
                            <div class="addthis_inline_share_toolbox"></div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=monjurulhoque"></script>
                        </div>
                    </div>
                </div>
                <!--
                <div class="author-info">
                    <div class="author-avatar"><img alt="" src="img/author.jpg"></div>
                    <div class="author-description">
                        <h2>About the Author: <a href="{{ url_prefix  }}/blog?author={{ entry.getAuthorName() }}">{{ entry.getAuthorName() }}</a></h2>
                        <p>{{ entry.getAuthorName() }}</p>
                    </div>
                </div>


                <div class="single-post-comments">
                    <div class="comments-area">
                        <div class="comments-heading">
                            <h3>6 comments</h3>
                        </div>
                        <div class="comments-list">
                            <ul>
                                <li>
                                    <div class="comments-details">
                                        <div class="comments-list-img">
                                            <img alt="" src="img/author.jpg">
                                        </div>
                                        <div class="comments-content-wrap">
													<span>
														<b><a href="#">admin</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 1:38 am</span>
														<a href="#">Reply</a>
													</span>
                                            <p>just a nice post</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="threaded-comments">
                                    <div class="comments-details">
                                        <div class="comments-list-img">
                                            <img alt="" src="img/author.jpg">
                                        </div>
                                        <div class="comments-content-wrap">
													<span>
														<b><a href="#">demo</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 2:25 pm</span>
														<a href="#">Reply</a>
													</span>
                                            <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comments-details">
                                        <div class="comments-list-img">
                                            <img alt="" src="img/author.jpg">
                                        </div>
                                        <div class="comments-content-wrap">
													<span>
														<b><a href="#">admin</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 3:18 pm </span>
														<a href="#">Reply</a>
													</span>
                                            <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="threaded-comments">
                                    <div class="comments-details">
                                        <div class="comments-list-img">
                                            <img alt="" src="img/author.jpg">
                                        </div>
                                        <div class="comments-content-wrap">
													<span>
														<b><a href="#">demo</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 4:25 pm</span>
														<a href="#">Reply</a>
													</span>
                                            <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="comments-details">
                                        <div class="comments-list-img">
                                            <img alt="" src="img/author.jpg">
                                        </div>
                                        <div class="comments-content-wrap">
													<span>
														<b><a href="#">admin</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 6:18 pm </span>
														<a href="#">Reply</a>
													</span>
                                            <p>Quisque orci nibh, porta vitae sagittis sit amet, vehicula vel mauris. Aenean at justo dolor. Fusce ac sapien bibendum, scelerisque libero nec</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="threaded-comments">
                                    <div class="comments-details">
                                        <div class="comments-list-img">
                                            <img alt="" src="img/author.jpg">
                                        </div>
                                        <div class="comments-content-wrap">
													<span>
														<b><a href="#">demo</a></b>
														Post author
														<span class="post-time">October 6, 2014 at 7:25 pm</span>
														<a href="#">Reply</a>
													</span>
                                            <p>Quisque semper nunc vitae erat pellentesque, ac placerat arcu consectetur</p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="comment-respond">
                        <h3 class="comment-reply-title">Leave a Reply </h3>
                        <span class="email-notes">Your email address will not be published. Required fields are marked *</span>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>Name *</p>
                                    <input type="text">
                                </div>
                                <div class="col-md-4">
                                    <p>Email *</p>
                                    <input type="email">
                                </div>
                                <div class="col-md-4">
                                    <p>Website</p>
                                    <input type="text">
                                </div>
                                <div class="col-md-12 comment-form-comment">
                                    <p>Website</p>
                                    <textarea rows="10" cols="30" id="message"></textarea>
                                    <input type="submit" value="Post Comment">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- single-latest-blog end -->
            </div>

        </div>
    </div>
</div>
<!-- shop-area end -->