<div class="heading-banner"
     style="
     background-repeat: no-repeat;
     height:300px;
     background-position: center;
     background-size: contain!important;
     background-image: url('/img/banner/weed-leaves.jpg");">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">
                    <h2 style="text-shadow: 1px 0px 0 #2d2d2d, 0px 0px 0 #2d2d2d, 0px 0px 0 #2d2d2d, 1px 1px 0 #2d2d2d;">{{ 'Blog'|translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="blog-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">{{ 'Posted by'|translate }}</h3>
                    <ul class="sidebar-menu">
                        {% for posting_user in posting_users %}
                            <li>
                                <a href="{{ url_prefix }}/blog?author={{ posting_user.first_name }}">{{ posting_user.first_name }}</a>
                                <span class="count">({{ posting_user.num_posts }})</span>
                            </li>
                        {% endfor %}
                        <li>
                            <a href="{{ url_prefix }}/blog">{{ 'All'|translate }}</a>
                            <span class="count">({{ total_blog_count }})</span>
                        </li>
                    </ul>
                </aside>
                {% include 'Blog/recent_products.twig' %}
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                {% for post in blog_posts %}
                    <div class="single-latest-blog">
                        <div class="latest-blog-img blog-gallery">

                            <a href="{{ url_prefix  }}{{ post.getUrl() }}">
                                <img alt="" src="/img/blog/890x350/{{ post.getId() }}.{{ post.getFileExt() }}">
                            </a>

                        </div>
                        <div class="latest-blog-content">
                            <h3><a href="{{ url_prefix  }}{{ post.getUrl() }}">{{ post.getTitle() }}</a></h3>
                            <div class="meta">
                                <span class="post-category">by <a href="#">{{ post.getAuthorName() }}</a></span>
                                <span class="meta-border">|</span>
                                <span class="time"><i class="fa fa-clock-o"></i> {{ post.getCreatedOn()|date("m/d/Y H:m") }}</span>
                            </div>
                            <p>{{ post.getTeaser() }}....</p>
                            <a href="{{ url_prefix  }}{{ post.getUrl() }}" class="readmore">{{ 'read more'|translate }}</a>
                        </div>
                    </div>
                {% endfor %}

                <div class="shop-pagination">
                    <div class="pagination">
                        <ul>
                            <li class="active">1</li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'suppliers.twig' %}
