<div class="chute chute-center pt30">
    {% if title %}
        <h5>{{ title }}</h5>
    {% endif %}

    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        {{ edit_form | raw  }}

        {% if not coupon_type.isNew() %}
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Coupon codes genereren</span>
                    </div>
                    <div class="panel-body pn">
                        {% if coupons and coupons.count() > 0 %}
                            <table class="table allcp-form footable">
                                <thead>
                                    <tr class="bg-light">
                                        <th>{{ 'Coupon code'|translate }}</th>
                                        <th>{{ 'Uitgegeven'|translate }}</th>
                                        <th>{{ 'Ingeleverd / gebruikt'|translate }}</th>
                                        <th class="iconcol">
                                            <a href="#" class="btn btn-default br2 btn-xs">
                                                <i class="fa fa-rocket"></i>
                                            </a>
                                        </th>
                                        <th class="iconcol">
                                            <a href="#" class="btn btn-default br2 btn-xs">
                                                <i class="fa fa-trash"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for coupon in coupons %}
                                    <tr>
                                        <td>
                                            {% if coupon.getGivenOut() %}
                                                <span style="text-decoration: line-through;">{{ coupon.getRedeemCode() }}</span>
                                            {% else %}
                                                <input class="autosafe_redeem" data-id="{{ coupon.getId() }}" name="redeem[{{ coupon.getId() }}]" type="text" value="{{ coupon.getRedeemCode() }}">
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if coupon.getGivenOut() %}
                                                <strong>{{ 'Ja'|translate }}</strong>
                                            {% else %}
                                                <strong>{{ 'Nee'|translate }}</strong>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if coupon.hasBeenUsed() %}
                                                <strong>{{ 'Ja'|translate }}</strong>
                                            {% else %}
                                                <strong>{{ 'Nee'|translate }}</strong>
                                            {% endif %}
                                        </td>
                                        <td class="">
                                            {% if not coupon.getGivenOut() %}
                                                <a title="{{ 'Markeer als uitgegeven'|translate }}" href="/marketing/coupon/edit?_do=MarkGivenOut&coupon_id={{ coupon.getId() }}&coupon_type_id={{ coupon.getCouponTypeId() }}" class="btn btn-success br2 btn-xs fs12 d">
                                                    <i class="fa fa-rocket"></i>
                                                </a>
                                            {% else %}
                                                <a href="" class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-rocket"></i>
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td class="">
                                            <a title="{{ 'Verwijder coupon'|translate }}" href="/marketing/coupon/edit?_do=DeleteUniqueCoupon&coupon_id={{ coupon.getId() }}&coupon_type_id={{ coupon.getCouponTypeId() }}" class="btn btn-danger br2 btn-xs fs12 d">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a style="margin-top:10px;" href="/marketing/coupon/edit?_do=MarkAllGivenOut&coupon_type_id={{ coupon_type.getId() }}" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label">
                                    <i class="fa fa-tag"></i> {{ 'Markeer alle als uitgegeven'|translate }}
                                </span>
                                <span class="ladda-spinner"></span>
                            </a>
                            <a style="margin-top:10px;margin-right: 10px;" href="/marketing/coupon/generate?id={{ coupon_type.getId() }}" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label">
                                    <i class="fa fa-gears"></i> {{ 'Genereer extra couponnen'|translate }}
                                </span>
                                <span class="ladda-spinner"></span>
                            </a>
                        {% else %}
                            {{ 'U heeft nog geen couponnen / codes gegenereerd voor deze aanbieding.'|translate }} <a href="/marketing/coupon/generate?id={{ coupon_type.getId() }}">{{ 'Klik hier om couponnen te genereren'|translate }}.</a>
                        {% endif %}

                    </div>
                </div>
            </div>
        {% endif %}

    </form>
</div>