<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <input type="hidden" id="fld_do" name="_do" value="Generate">

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Coupon codes genereren' }}</span>
                </div>
                <div class="panel-body pn">
                    <div class="form-group">
                        <label for="fld_title" class="col-lg-4 control-label" style="">
                            {{ 'Hoeveel couponnen wil je genereren?'|translate }}
                        </label>
                        <div class="col-lg-7">
                            <div class="input-group">
                                <input name="quantity" id="fld_quantity" class="form-control" placeholder="{{ 'Bijvoorbeeld 50'|translate }}" value="" type="number">
                                <span class="input-group-addon"><i class="fa fa-tag"></i></span>
                            </div>
                        </div>
                    </div>


                    <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label">
                            <i class="fa fa-cogs"></i> {{ 'Genereer'|translate }}
                        </span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>