<header id="topbar" class="ph10">
    <!--
    <div class="topbar-left hidden-xs hidden-sm mt5 mr35">
        <ul class="pull-left" >
            <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                    {{ 'Alle couponnen tonen' }}
                    <span class="caret ml5"></span>
                </button>

                <ul class="dropdown-menu" role="menu">

                    <li>
                        <a href="/product/overview?category_id={{ category.getId }}">
                            Alleen bedragen
                        </a>
                    </li>
                    <li>
                        <a href="/product/overview?category_id={{ category.getId }}">
                            Alleen percentages
                        </a>
                    </li>
                </ul>
            </div>
        </ul>
    </div>
    -->

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            {% if new_url %}
                <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                    <span class="fa fa-plus pr5"></span>
                    <span class="fa fa-pencil pr5"></span>
                </a>
            {% endif %}

            <!--
            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                        <i class="fa fa-table"></i>
                        Velden en titel
                    </a>
                </li>

                <li>
                    <a href="/generic/crud/hidden_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                        <i class="fa fa-filter"></i>
                        Onzichtbare filters
                    </a>
                </li>
                <li>
                    <a href="/generic/crud/visible_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                        <i class="fa fa-filter"></i>
                        Zichtbare filters
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="/generic/crud/copy_tab?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                        <i class="fa fa-copy"></i>
                        Overzicht kopiëren
                    </a>
                </li>
                {% if crud_views %}
                    <li class="divider"></li>
                    {% for crud_view in crud_views %}
                        <li>
                            <a style="color: red;" href="/generic/crud/delete_tab?module={{ module }}&manager={{ manager }}&tab={{ crud_view.getId }}">
                                <i class="fa fa-trash"></i>
                                {{ crud_view.name }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>

            <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}" class="btn btn-primary btn-sm ml10" title="Overzicht toevoegen">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-table pr5"></span>
            </a>
            -->
        </div>
    </div>
</header>
