<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/marketing/coupon/overview">&laquo; {{ 'Terug naar het overzicht'|translate }}</a>
            </li>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">
            <!--

            <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}" class="btn btn-primary btn-sm ml10" title="Overzicht toevoegen">
                <span class="fa fa-table pr5"></span>
                Overzicht
            </a>
-->
            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Formulier configuratie'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>

                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ name }}&title={{ title }}">
                        <i class="fa fa-table"></i>

                        {{ 'Velden en titel'|translate }}
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>
