<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/marketing/coupon/overview">&laquo; {{ 'Terug naar het overzicht'|translate }}</a>
            </li>
            <li class="active">
                <a href="/marketing/coupon/edit?id={{ coupon_type_id }}">&laquo; {{ 'Terug naar de coupon'|translate }}</a>
            </li>
        </ul>
    </div>
</header>
