<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" method="post">
        <input type="hidden" name="_do" value="Store" />
        <h5>{{ 'Welke openingstijden wil je in de webshop tonen?'|translate }}</h5>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Openingstijden'|translate }}</span>
            </div>
            <div class="panel-body">
                {% for day_num, day in days %}
                    <div class="section row">
                        <div class="col-md-2 time">
                            <p><strong>{{ day.label }}</strong></p>
                        </div>
                        <div class="col-md-2 time">
                            <select name="days[{{ day_num }}][open]" class="form-control input-sm time_change select_open">
                                {% for k,v in hour_ranges %}
                                    <option {{ day.open == v ? 'selected' }}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 time text-center">-</div>
                        <div class="col-md-2 time">
                            <select name="days[{{ day_num }}][close]"  class="form-control input-sm time_change select_close">
                                {% for k,v in hour_ranges %}
                                    <option {{ day.close == v ? 'selected' }}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 time text-center">
                            <input name="days[{{ day_num }}][is_open]" type="hidden" value="0">
                            <input class="open_checkbox" name="days[{{ day_num }}][is_open]" {{ day.is_open ? 'checked' }} type="checkbox" value="1">
                            Open
                        </div>

                    </div>
                {% endfor %}
            </div>
            <div class="panel-body">
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </form>
</div>

{#
<form class="form-horizontal" role="form" method="post">
    <input type="hidden" name="_do" value="Store">
    <div class="chute chute-center pt30">
        <div class="panel mb25 mt5">
            <div class="col-md-12 ph10">
                <h5>{{ 'Openingstijden'|translate }}</h5>
                {% for day_num, day in days %}
                    <div class="section row">
                        <div class="col-md-2 time">
                            <p><strong>{{ day.label }}</strong></p>
                        </div>
                        <div class="col-md-2 time">
                            <select name="days[{{ day_num }}][open]" class="form-control input-sm">
                                {% for k,v in hour_ranges %}
                                    <option {{ customer_property['open_'~day_en] == v ? 'selected' }}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 time text-center">-</div>
                        <div class="col-md-2 time">
                            <select name="days[{{ day_num }}][close]"  class="form-control input-sm">
                                {% for k,v in hour_ranges %}
                                    <option {{ customer_property['close_'~day_en] == v ? 'selected' }}>{{ v }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1 time text-center">
                            <input name="days[{{ day_num }}][is_open]" type="hidden" value="0">
                            <input name="days[{{ day_num }}][is_open]]" {{ day.is_open ? 'checked' }} type="checkbox" value="1">
                        </div>

                    </div>
                {% endfor %}
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </div>
</form>
#}

