<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-bar-chart-o"></span>
        <span class="sidebar-title">{{ 'Voorraad'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/stock/bulk/overview">
                <span class="fa fa-file-text-o"></span> {{ 'Bulk voorraad'|translate }}
            </a>
            <a href="/stock/packs/overview">
                <span class="fa fa-file-text-o"></span> {{ 'Verpakkingen'|translate }}
            </a>
        </li>
    </ul>
</li>