<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="{{ affiliates }}">
                <a href="/marketing/affiliates/overview">
                    {{ 'Affiliates'|translate}}
                </a>
            </li>

            <li class="{{ statistics }}">
                <a href="/marketing/affiliates/statistics/summary">
                    {{ 'Statistics'|translate}}
                </a>
            </li>

            <li class="{{ clicks }}">
                <a href="/marketing/affiliates/clicks/overview">
                    {{ 'Clicks'|translate}}
                </a>
            </li>

            <li class="{{ purchases }}">
                <a href="/marketing/affiliates/purchases/overview">
                    {{ 'Purchases'|translate}}
                </a>
            </li>
        </ul>
    </div>

    {% if affiliates %}
        <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
            <div class="btn-group">
                <a href="/marketing/affiliates/edit" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                    <span class="fa fa-plus pr5"></span>
                    <span class="fa fa-pencil pr5"></span>
                </a>
            </div>
        </div>
    {% endif %}
</header>


