<form method="post" id="event_form" class="form-horizontal">
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    <input type="hidden" id="fld_do" name="_do" value="SaveChanges" />
    <div id="content" class="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Url aanroepen'|translate }}</span>
                    </div>
                    <div class="panel-body pn">
                        <div class="form-group">
                            <label for="fld_call_url" class="col-lg-5 control-label">{{ 'Welke url moeten we aanroepen?'|translate }}</label>
                            <div class="col-lg-7">
                                <div class="bs-component">
                                    <input id="fld_call_url" placeholder="http://" name="data[call_url]" value="{{ data.call_url }}" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fld_call_url_dev" class="col-lg-5 control-label">{{ 'Welke url moeten we aanroepen op dev/test omgeving?'|translate }}</label>
                            <div class="col-lg-7">
                                <div class="bs-component">
                                    <input id="fld_call_url_dev" placeholder="http://" name="data[call_url_dev]" value="{{ data.call_url_dev }}" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fld_log_calls" class="col-lg-5 control-label">{{ 'Aanroep en antwoorden loggen?'|translate }}</label>
                            <div class="col-lg-7">
                                <div class="bs-component">
                                    <label class="checkbox-inline ">
                                        <input name="data[log_calls]" value="0" type="hidden">
                                        <input name="data[log_calls]" value="1" type="checkbox" id="fld_log_calls" {{ data.log_calls ? 'checked' }}>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <strong>Variabelen</strong><br>
                                    <ul>
                                        <li><span style="color:blue">{{ '{{ ' }} Product.getId() {{ '}}' }}</span> - Product id.<br></li>
                                        {% for product_field in all_product_fields %}
                                            <li><span style="color:blue">{{ '{{ ' }} Product.{{ product_field.getGetter()~'() }}' }}</span> - {{ product_field.getTranslatedTitle() }}.<br></li>
                                        {% endfor %}
                                        {%  for product_property_field in all_product_property_fields %}
                                            <li><span style="color:blue">{{ '{{ ' }} Product_property.{{ product_property_field.field ~ ' }}' }}</span><br></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="bs-component">
                                    <strong>&nbsp;</strong><br>
                                    <ul>
                                        <li><span style="color:blue">{{ '{{ ' }} Sale_order_item.getId() {{ '}}' }}</span> - Order item id.<br></li>

                                        {% for order_item_field in all_sale_order_item_fields %}
                                            <li><span style="color:blue">{{ '{{ ' }} Sale_order_item.{{ order_item_field.getGetter()~'() }}' }}</span> - {{ order_item_field.getTranslatedTitle() }}.<br></li>
                                        {% endfor %}

                                    </ul>

                                </div>
                            </div>
                        </div>
                        <button type="submit" id="submit_button" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>