<form method="post">
    <input type="hidden" name="_do" value="SaveChanges" />
    <div class="col-md-6">
        <div class="bs-component">
            <div class="panel panel-widget draft-widget">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'E-mail template instellen'|translate }}</span>
                </div>

                <div class="panel-body p20">
                    <div class="allcp-form theme-primary">
                        <div class="section mb20">
                            <label for="message_from">{{ 'Afzender'|translate }}</label>
                            <input type="text" id="draft-title" name="from" id="message_from" class="gui-input bg-light" placeholder="Van" value="{{ from }}">
                        </div>
                        <div class="section mb20">
                            <label for="message_to">{{ 'Aan (komma gescheiden lijst)'|translate }}</label>
                            <input type="text" id="draft-title" name="to" id="message_to" class="gui-input bg-light" placeholder="{{ 'Aan (komma gescheiden lijst)'|translate }}" value="{{ to }}">
                        </div>
                        <div class="section mb20">
                            <label for="message_subject">{{ 'BCC (komma gescheiden lijst)'|translate }}</label>
                            <input type="text" id="draft-title" name="bcc" id="message_subject" class="gui-input bg-light" placeholder="{{ 'BCC (komma gescheiden lijst)'|translate }}" value="{{ bcc }}">
                        </div>
                        <div class="section mb20">
                            <input type="text" id="draft-title" name="subject" id="message_subject" class="gui-input bg-light" placeholder="{{ 'Onderwerp'|translate }}" value="{{ subject }}">
                        </div>
                        <div class="section">
                            <label class="field">
                                <textarea class="gui-textarea bg-light" id="message_contents" style="height:300px;" name="message" placeholder="{{ 'Bericht inhoud'|translate }}">{{ message }}</textarea>
                            </label>
                        </div>
                        <div class="section">
                            <label class="field">
                                <label for="message_subject">{{ 'Bijlagen'|translate }}</label><br />

                                <input type="hidden" name="attachment_invoice" value="0" />
                                <input type="checkbox" {{ attachment_invoice == 1 ? 'checked="checked"' : '' }} name="attachment_invoice" value="1" /> {{ 'Factuur'|translate }}<br>

                                <input type="hidden" name="attachment_packingslip" value="0" />

                                <input type="checkbox" {{ attachment_packingslip == 1 ? 'checked="checked"' : '' }} name="attachment_packingslip" value="1" /> {{ 'Pakbon'|translate }}<br>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-primary ph15" type="submit">{{ 'Opslaan'|translate }}</button>
                </div>
            </div>
        </div>
        <div class="bs-component">
            <div class="panel panel-widget draft-widget">
                <div class="panel-heading">
                    <span class="panel-title"> {{ 'Bericht voorbeeld'|translate }}</span>
                </div>
                <div class="panel-body p20">
                    <div class="allcp-form theme-primary">
                        <div class="section mb20">
                            <b>{{ 'Van'|translate }}: {{ from_preview|raw }}</b>
                        </div>
                        <div class="section mb20">
                            <b>{{ 'Aan'|translate }}: {{ to_preview|raw }}</b>
                        </div>
                        <div class="section mb20">
                            <b>{{ 'Bcc'|translate }}: {{ bcc_preview|raw }}</b>
                        </div>
                        <div class="section mb20">
                            <b>{{ 'Onderwerp'|translate }}: {{ subject_preview|raw }}</b>
                        </div>
                        <div class="section">
                            <label class="field">
                                <b>{{ 'Bericht inhoud'|translate }}</b>
                                <p>
                                    {{ message_preview | raw }}
                                </p>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="bs-component">
            <div class="panel panel-widget draft-widget">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Order gerelateerde variabelen'|translate }}</span>
                </div>
                <div class="panel-body p20" style="max-height: 250px; overflow-y: scroll;">
                    <table style="width: 100%">
                        <tr>
                            <td>{{ 'Omschrijving'|translate }}</td>
                            <td>{{ 'Variabele'|translate }}</td>
                            <td>{{ 'Voorbeeld'|translate }}</td>
                        </tr>
                        {% for field in usable_order_fields %}
                            <tr>
                                <td>{{ field.title }}</td>
                                <td><a href="" class="add_where_cursor_is">{{ field.getter }}</a></td>
                                <td>{{ 'Voorbeeld'|translate }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="bs-component">
            <div class="panel panel-widget draft-widget">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Product gerelateerde variabelen'|translate }}</span>
                    <p>
                        {{ 'Per order komen de variabele hieronder meer dan eens voor. Daarom moeten de variabelen worden omsloten door iets wat een loop aangeeft. Dit gaat als volgt'|translate }}:<br> <br>
                        {{ '{% for order_item in order.getSaleOrderItems %} ' }}<br>
                        &nbsp;&nbsp;&nbsp;{{ 'Binnen deze speciale tags kunt u de variabelen gebruiken'|translate }}.<br>
                        {{ '{% endfor %} ' }}<br>
                        <br>
                    </p>
                </div>
                <div class="panel-body p20" style="max-height: 250px; overflow-y: scroll;">
                    <table>
                        <tr>
                            <td>{{ 'Omschrijving'|translate }}</td>
                            <td>{{ 'Variabele'|translate }}</td>
                            <td>{{ 'Voorbeeld'|translate }}</td>
                        </tr>
                        {% for field in usable_order_item_fields %}
                            <tr>
                                <td>{{ field.title }}</td>
                                <td><a href="" class="add_where_cursor_is">{{ field.getter }}</a></td>
                                <td>{{ 'Voorbeeld'|translate }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>