<form method="get" id="event_form">
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    <input type="hidden" id="fld_do" name="_do" value="" />
    <div id="content" class="">
        <div class="row">

            <div class="col-md-12">

                <!-- -------------- Standard Fields -------------- -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Veld wijzigen naar'|translate }}</span>
                    </div>
                    <div class="panel-body">


                            <div class="form-group">
                                <label for="inputSelect" class="col-lg-3 control-label">{{ 'Welk veld moet er gewijzigd worden?'|translate }}</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <select name="crud_field" class="form-control autosubmit">
                                            {% for crud_field in crud_fields.fields %}
                                                <option {{ crud_field.selected }} value="{{ crud_field.name }}">{{ crud_field.title }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            {% if  crud_fields.selected_field.getDatatype %}
                                <div class="form-group">
                                    <label for="inputSelect" class="col-lg-3 control-label">{{ 'Naar wat moet het veld gewijzgd worden?'|translate }}</label>
                                    <div class="col-lg-8">
                                        <div class="bs-component">

                                            {% if crud_fields.selected_field.getDatatype == 'date' %}
                                                <input class="form-control" type="text" name="overwrite_value" value="{{ current_value }}" />
                                            {% endif %}

                                            {% if crud_fields.selected_field.getDatatype == 'string' %}
                                                <input class="form-control" type="text" name="overwrite_value" value="{{ current_value }}" />
                                            {% endif %}

                                            {% if crud_fields.selected_field.getDatatype == 'number' %}
                                                <input class="form-control" type="text" name="overwrite_value" value="{{ current_value }}" />
                                            {% endif %}

                                            {% if crud_fields.selected_field.getDatatype == 'lookup' %}

                                                <select class="form-control" name="overwrite_value">
                                                    {% for lookup in crud_fields.selected_field_lookups %}
                                                        <option {{ lookup.selected }} value="{{ lookup.id }}">{{ lookup.label }}</option>
                                                    {% endfor %}
                                                </select>

                                            {% endif %}

                                            {% if crud_fields.selected_field.getDatatype == 'boolean' %}
                                                <select class="form-control" name="overwrite_value">
                                                    <option {{ current_value == 1 ? 'selected="selected"' }} value="1">{{ 'Ja'|translate }}</option>
                                                    <option {{ current_value == 0 ? 'selected="selected"' }} value="0">{{ 'Nee'|translate }}</option>
                                                </select>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label" for="textArea3">
                                    {{ 'Laat hier eventueel een opmerking achter'|translate }}<br>
                                    (Gebeurd verder niets mee.)
                                </label>

                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <textarea name="notes" class="form-control" id="textArea3" rows="3">{{ current_note }}</textarea>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-lg-12">
                                    <div class="bs-component">
                                        <strong>Mogelijkheden</strong><br>
                                        <ul>
                                            <li><span style="color:blue">+x day</span>: telt een x aantal dagen op bij een datum veld. Dus bijvoorbeeld "+10 day" zorgt ervoor dat er 10 dagen bij het datum veld worden opgeteld.<br></li>
                                            <li><span style="color:blue">now +x day</span>: telt een x aantal dagen op bij de huidige datum op. Dus bijvoorbeeld "now +10 day" zorgt ervoor dat er 10 dagen bij het datum veld worden opgeteld.<br></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <button type="button" id="submit_button" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                                <span class="ladda-spinner"></span>
                            </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>