<form method="get" id="event_form">
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    <input type="hidden" id="fld_do" name="_do" value="" />
    <div id="content" class="">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Redirect wijzigen naar'|translate }}</span>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="inputSelect" class="col-lg-3 control-label">{{ 'Waarnaartoe wilt u de redirect?'|translate }}</label>
                            <div class="col-lg-8">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <input class="form-control" type="text" name="redirect_value" value="{{ current_value }}" />
                                        {% if origin == 'sale_order' %}
                                            {{ 'Gebruik de tag #order_id# in de url om een order id te verwerken.'|translate }}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if origin == 'products' %}
                            <div class="form-group">
                                <label for="inputSelect" class="col-lg-3 control-label">{{ 'Product id\'s meesturen?'|translate }}</label>
                                <div class="col-lg-8">
                                    <div class="bs-component">
                                        <div class="form-group">
                                            <input type="hidden" name="add_product_ids" value="0" />
                                            <input type="checkbox" name="add_product_ids" value="1" {{ add_product_ids == 1 ? 'checked' }} />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="textArea3">
                                {{ 'Laat hier eventueel een opmerking achter'|translate }}<br>
                                {{ '(Gebeurd verder niets mee.)'|translate }}
                            </label>
                            <div class="col-lg-8">
                                <div class="bs-component">
                                    <textarea name="notes" class="form-control" id="textArea3" rows="3">{{ current_note }}</textarea>
                                </div>
                            </div>
                        </div>

                        <button type="button" id="submit_button" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>