<form method="get" id="event_form">
    <input type="hidden" name="event_id" value="{{ event_id }}" />
    <input type="hidden" id="fld_do" name="_do" value="SaveChanges" />
    <div id="content" class="">
        <div class="row">

            <div class="col-md-12">

                <!-- -------------- Standard Fields -------------- -->
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Welke notificatie / status e-mail wilt u versturen?'|translate }}</span>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label for="inputSelect" class="col-lg-3 control-label">{{ 'Kies hieronder een notificatie type'|translate }}</label>
                            <div class="col-lg-8">
                                {% for notification_type in notification_types %}
                                    <div class="checkbox">
                                        <label>
                                            <input {{ selected_notification == notification_type.getId() ? 'checked' }} name="notification_type_id" value="{{ notification_type.getId() }}" type="radio" class="event-name gui-checkbox br-light light" />
                                            <a href="/generic/template/edit?template={{ notification_type.getCode() }}">{{ notification_type.getName() }}</a>
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="cl"></div>

                        <button type="submit" id="submit_button" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>