<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cog"></span>
        <span class="sidebar-title">{{ 'Instellingen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">

        {% for link_item in extra_vars.link_array %}
            <li>
                <a href="{{ link_item.getLinkUrl() }}">
                    <span class="fa fa-file-text-o"></span> {{ link_item.getTranslatedTitle() }}
                </a>
            </li>
        {% endfor %}

        {% if current_user.getRole().getName() == 'Admin' %}
            <li>
                <a href="/generic/crud/editor_edit?module=Link_block_menu_setting&manager=Link_block_menu_settingManager&name=settings&title=SettingsConfigureren&do_after_save=dashboard&single_block=true">
                    <span class="fa fa-file-text-o"></span> -- instellen --{#{ '-- coniAdmin'|translate } #}
                </a>
            </li>
        {% endif %}

    </ul>
</li>