<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="{{ overview_url }}">{{ 'Overzicht'|translate }}</a>
            </li>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Formulier configuratie'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?do_after_save={{ do_after_save }}&module={{ module }}&manager={{ manager }}&name={{ name }}&title={{ title }}">
                        <i class="fa fa-table"></i>
                        {{ 'Velden'|translate }}
                    </a>
                </li>
                {% if has_translated_fields %}
                    <li>
                        <a href="/generic/crud/editor_edit?do_after_save={{ do_after_save }}&module={{ translate_module }}&manager={{ translate_manager }}&name={{ translate_name }}&title={{ translate_title }}">
                            <i class="fa fa-table"></i>
                            {{ 'Vertaalde velden'|translate }}
                        </a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</header>
