        <!-- -------------- Column Center -------------- -->
        <div class="chute chute-center" style="height:900px;width:100%;overflow:scroll;padding: 0;">

        <div id="application" style="width:25000px;height:8000px;"></div>

{#
            <script src="/admin_modules/Modeller/Schema/novum-erd.js"></script>
            <script>
                const erdEditor = new Novum.ErdEditor({
                    elementId: '#application',
                    messagingSystem: Novum.MessagingSystem.Callback,
                    logLevel: Novum.LogLevel.debug,
                    logger : new Novum.ConsoleLogger()
                });
            </script>


            <iframe id="erd_editor_window" src="{{ iframe_url|raw }}" style="position:absolute;top:65px;width:100%;height:100vh;" frameborder="0"></iframe>
#}

        </div>
        <div id="panel_placeholder" style="display: none">{{ json_schema }}</div>






