<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
    <input type="hidden" name="_do" value="Store">
    <input type="hidden" name="data[id]" value="">
    <div class="panel generated">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Klant instellingen'|translate }}</span>
        </div>
        <div class="panel-body">

            <div class="form-group mb25">
                <label class="col-md-3 control-label" for="fld_auto_debitor_numbering">{{ 'Automatische debiteuren nummering'|translate }}</label>

                <div class="col-md-9">
                    <div class="bs-component">
                        <label class="checkbox-inline mr10">
                            <input name="data[customer_auto_debitor_numbering]" type="checkbox" id="fld_auto_debitor_numbering" value="1" {{ data.customer_auto_debitor_numbering == 1 ? 'checked="checked"' : '' }}>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" id="blk_auto_numbering_config" style="display:{{ data.customer_auto_debitor_numbering == 1 ? 'block' : 'none' }}">
                <label for="user_email" class="col-lg-3 control-label">{{ 'Eerst volgende debiteuren nummer'|translate }}</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-tags"></i>
                        </span>
                        <input name="data[customer_next_debitor_number]" id="name" class="form-control" value="{{ data.customer_next_debitor_number }}" type="text">

                        <span class="help-block mt5">
                        </span>

                    </div>
                    <i class="fa fa-bell"></i>
                        {{ 'Voer hier het eerst volgende debiteuren nummer in, bijvoorbeeld KLANT25 of 100. Het systeem telt vanzelf door.'|translate }}
                </div>
            </div>

            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                <span class="ladda-label">{{ 'Opslaan'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
            <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                <span class="ladda-label">{{ 'Opslaan + naar overzicht'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
    </div>
</form>