
<input type="hidden" id="fld_product_id" value="{{ product_id }}">
<input type="hidden" id="fld_category_id" value="{{ category.getId() }}">

<div class="chute chute-center pt30">
    <h5>{{ category.getName() }}</h5>
    <div class="panel">
        {% if filter_html %}
            <div class="panel-menu p12 allcp-form mtn">
                {{ filter_html | raw }}
            </div>
        {% endif %}
        <div class="panel-body pn" style="box-sizing: content-box;">
            <ul id="products" class="row list-group" style="display:block;overflow: auto;height:5000px;box-sizing: content-box;">
                {% for product_category in product_categories %}
                    {% if product_category.getProduct().getPrimaryImageThumbPath(150, 150) %}
                        <li class="item col-xs-2 col-lg-2" style="height:250px;overflow:hidden" data-product_id="{{ product_category.getProduct().getId() }}">
                            <div class="thumbnail">
                                <img class="group list-group-image" src="{{ product_category.getProduct().getPrimaryImageThumbPath() }}" alt="" />
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        {{ overview_table | raw }}
    </div>
</div>

{{ paginate_html|raw }}


