<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/product/edit?id={{ product_id }}">
                    &laquo; {{ 'Terug naar het product'|translate}}
                </a>
            </li>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">
            <button  href="#" id="fld_save" class="btn btn-primary btn-sm ml10" title="{{ 'Opslaan'|translate }}">
                <i class="fa fa-save"></i>
                Wijzigingen  opslaan
            </button>
        </div>
    </div>
</header>


