<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <div class="panel mb25 mt5">
            <div class="panel-heading">
                <div class="panel-title hidden-xs">{{ 'Klant bestellingen'|translate }}</div>
                {{ top_panel|raw }}
            </div>

            <div class="panel-body pn">
                <div class="tab-content pn br-n allcp-form theme-primary">
                    <div id="tab_1" class="tab-pane active">
                        {{ left_panel|raw }}
                        <div class="col-md-8 ph10">
                            <h5></h5>
                            {{ data_table|raw }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

