<li>
    <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&r=customer_orders">
        <i class="fa fa-table"></i>
        {{ 'Velden en titel'|translate }}
    </a>
</li>

<li>
    <a href="/generic/crud/hidden_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
        <i class="fa fa-filter"></i>
        {{ 'Onzichtbare filters'|translate }}
    </a>
</li>
<li>
    <a href="/generic/crud/visible_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
        <i class="fa fa-filter"></i>
        {{ 'Zichtbare filters'|translate }}
    </a>
</li>
<li class="divider"></li>
<li>
    <a href="/generic/crud/copy_tab?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
        <i class="fa fa-copy"></i>
        {{ 'Overzicht kopiëren'|translate }}
    </a>
</li>
<li class="divider"></li>