<!-- heading-banner start -->
<div class="heading-banner" style="background-repeat: no-repeat;
                 height:300px;
                 background-position: center;
                 background-size: contain!important;
                 background-image: url('/img/banner/bitcoin.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">
                    <h2>{{ 'Reset Password'|translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- heading-banner end -->
<div class="my-account-area login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sm-offset-3">

                <form method="post" name="ResetPass" data-toggle="validator" role="form">
                    <input type="hidden" value="ResetPass" name="_do" />

                    <input type="hidden" id="fld_validation" name="reset[rand_mail]" value="" />
                    <script>
                        document.getElementById("fld_validation").value = "{{ rand_mail }}";
                    </script>
                    <div class="form-fields">
                        <h2>{{ 'Reset password'|translate }}</h2>

                        <div class="form-group">
                            <label for="inputEmail" class="control-label">{{ 'Email address'|translate }}</label>
                            <input type="email" name="reset[email]" class="form-control" id="inputEmail" placeholder="{{ 'Email address'|translate }}" data-error="{{ 'Bruh, that email address is invalid'|translate }}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-action">
                        <p class="lost_password"><a href="{{ url_prefix }}/customer/login">{{ 'Back to login'|translate }}</a></p>
                        <input type="submit" value="{{ 'Reset password'|translate }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>