<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="{{ back_url }}?tab={{ crud_view.id }}">Terug naar scherm bewerken</a>
            </li>

            {#
            {% for crud_view in crud_views %}
                <li class="active">
                    <a href="{{ overview_url }}?tab={{ crud_view.id }}">{{ crud_view.name }}</a>
                </li>
            {% endfor %}
            #}
        </ul>
    </div>
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">
            {#
            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&name=base">
                        <i class="fa fa-table"></i>
                        {{ 'Velden en titel'|translate }}
                    </a>
                </li>
            </ul>
            #}
        </div>
    </div>
</header>
