<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" id="fld_button_id" name="button_id" value="">
    <input type="hidden" id="fld_do" name="_do" value="" />

    <div class="chute chute-center pt30">
        <h5>{{ title }}</h5>

        <div class="panel">
            <div class="panel-body pn" style="margin-top:0;">
                {% if mailing_messages.isEmpty() %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                De mailqueue is momenteel leeg, er wordt nu niets verzonden.
                            </p>
                        </div>
                    </div>
                {% else %}
                    <div class="table-responsive generated">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <table class="table allcp-form footable">
                                <thead>
                                    <tr class="bg-light">
                                        <th class="footable-sortable">
                                            <a href="">To</a>
                                            <span class="footable-sort-indicator"></span>
                                        </th>
                                        <th class="footable-sortable">
                                            <a href="">Subject</a>
                                            <span class="footable-sort-indicator"></span>
                                        </th>
                                        <th class="footable-sortable">
                                            <a href="">Created date</a>
                                            <span class="footable-sort-indicator"></span>
                                        </th>
                                        <th class="iconcol"></th>
                                        <th class="iconcol">
                                            <a title="{{ 'Hele lijst verwijderen'|translate }}" href="/marketing/mailing/status/queue?_do=DeleteAll"  class="btn btn-danger br2 btn-xs fs12 d">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mailing_message in mailing_messages %}
                                        <tr>
                                            <td class="">{{ mailing_message.getToAddress() }}</td>
                                            <td class="">{{ mailing_message.getSubject() }}</td>
                                            <td class="">{{ mailing_message.getCreatedDate()|date('l j M Y G:i') }}</td>
                                            <td>
                                                <a title="{{ 'Mail bekijken'|translate }}" href="/marketing/mailing/status/view?id={{ mailing_message.getId() }}" class="btn btn-dark br2 btn-xs fs12">
                                                    <i class="fa fa-file"></i>
                                                </a>
                                            </td>
                                            <td class="">
                                                <a title="{{ 'Mail verwijderen'|translate }}" href="/marketing/mailing/status/queue?_do=Delete&id={{ mailing_message.getId() }}"  class="btn btn-danger br2 btn-xs fs12 d">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                            {{ paginate_html|raw }}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>


