<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/marketing/mailing/status/queue">
                   &laquo; {{ 'Terug naar de wachtrij'|translate}}
                </a>
            </li>
        </ul>
    </div>
</header>


