<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title>{{ 'Factuur'|translate }}</title>
    <style>
        *,
        html,
        body {  margin: 0;  padding: 0;  box-sizing: border-box;  font-family: Helvetica;  color: #4b4b4b;  }
        html {  font-size: 85%;  }
        body {  padding: 0 3%;  font: 1.1rem/1.5 Helvetica, serif;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  }
        header {  padding: 0 .5rem;  clear: both;  overflow: hidden;  }
        .order-info {  padding-top: 13rem;  clear: both;  }
        .order-info div:first-child {  width: 45%;  float: right;  }
        .order-info div:last-child {  width: 55%;  float: left;  }
        .order-info h1 {  font-weight: normal;  font-size: 1.1rem;  color: #0d0d0d;  }
        .invoice-info {  clear: both;  }
        .invoice-info h1 {  padding: 5rem 0 2.1rem;  font-size: 1.5rem;  color: #0d0d0d;  }
        .invoice-info div:first-of-type {  width: 45%;  float: right;  }
        .invoice-info div:last-of-type {  width: 55%;  float: left;  }
        .invoice-info p > span {  display: inline-block;  }
        .invoice-info p > span:first-of-type {  width: 50%;  }
        .invoice-info p > span > span:last-of-type {  padding: 0 2rem 0 0;  float: right;  }
        section {  clear: both;  }
        .items {  width: 100%;  margin: 3.3rem 0 0;  border-collapse: collapse;  }
        .items th {  font-size: 1.2rem;  border-bottom: .1rem solid #555555;  color: #080808;  text-align: left;  }
        .items th:first-of-type {  width: 55%;  padding: 0 0 0 .5rem;  }
        .items th:last-of-type,
        .items td:last-of-type {  padding: 0 .5rem 0 0;  text-align: right;  }
        .items td:first-of-type {  padding: 0 0 0 .5rem;  }
        .items tr:first-of-type td {  padding-top: .2rem;  }
        .total {  width: 100%;  border-collapse: collapse;  }
        .total th {  padding-top: .2rem;  font-weight: normal;  border-top: .1rem solid #555555;  color: #080808;  text-align: left;  }
        .total th:first-of-type,
        .total td:first-of-type {  padding-left: .5rem;  }
        .total th:last-of-type,
        .total td:last-of-type {  padding-right: .5rem;  }
        .total th:nth-child(5),
        .total th:nth-child(6) {  color: #4b4b4b;  }
        .total td:nth-child(1) {  width: 7%;  text-align: center;  }
        .total th:nth-child(2),
        .total td:nth-child(2) {  width: 15%;  padding-left: 3rem;  text-align: right;  }
        .total th:nth-child(3),
        .total td:nth-child(3) {  width: 15%;  padding-left: 3rem;  text-align: right;  }
        .total th:nth-child(4),
        .total td:nth-child(4) {  width: 30%;  }
        .total th span:first-of-type,
        .total td span:first-of-type {  float: left;  display: inline-block;  }
        .total th span:last-of-type,
        .total td span:last-of-type {  float: right;  display: inline-block;  }
        .total tfoot td:nth-child(5),
        .total tfoot td:nth-child(6) {  padding-top: .2rem;  border-top: .1rem solid #555555;  color: #080808;  }
        .total th:nth-child(5),
        .total td:nth-child(5) {  padding-left: .5rem;  }
        footer {  width: 94%;  position: absolute; }

        {% if sale_order.getSaleOrderItems().count() < 11 %}
            footer {  bottom: 0; }
        {% endif %}

        em {  color: #A3B137;  font-style: normal;  }
        footer p {  padding: 0 .5rem 0;  font-size: 1.1rem;  text-align: center;  }
        footer .small {  width: 80%;  margin: 0 auto;  padding-top: 3.1rem;  padding-bottom: 8rem;  font-weight: bold;  font-size: 1.1rem;  }
        footer .page {  padding-bottom: .5rem;  border-bottom: .1rem solid #2b2b2b;  font-size: 1rem;  }
        footer .border {  padding-top: 1.5rem;  }
        footer strong {  color: #000;  }
        html {  height: 100%;  }
        body {  height: 100%;  position: relative;  }
        .credits {  top:20px;  text-align: right;  height: 6rem;  position: relative;  }
        .credits strong {  color: #000;  }
        .credits img {  margin-bottom: .5rem;  position: absolute;  bottom: 0;  left: 0;  }
        .credits div {  position: absolute;  right: 0;  bottom: 0;  }
        .nowrap{white-space:nowrap}
    </style>
</head>
<body>
<header>
    <div class="credits">
        <img src="{{ img_base_url }}">
        <div>
            <p>{{ sale_order.getOurSlogan() }}</p>
            <p>
                <em>{{ 'Telefoon'|translate }}:</em> {{ sale_order.getOurPhone() }} | <em>{{ 'E-mail'|translate }}:</em>  {{ sale_order.getOurEmail() }} </p>
        </div>
    </div>
    <div class="order-info">
        <div>
            <h1>{{ 'Factuuradres'|translate }}</h1>
            <p>{{ sale_order.getCustomerInvoiceCompanyName() }}</p>
            {% if sale_order.getCustomerInvoiceAddressL1() %}
                <p>{{ sale_order.getCustomerInvoiceAddressL1() }}</p>
                <p>{{ sale_order.getCustomerInvoiceAddressL2() }}</p>
            {% else %}
                <p>{{ sale_order.getCustomerInvoiceStreet() }} {{ sale_order.getCustomerInvoiceNumber() }}</p>
            {% endif %}
            <p>{{ sale_order.getCustomerInvoicePostal() }} {{ sale_order.getCustomerInvoiceCity() }}</p>
            {%  if sale_order.getCustomerInvoiceUsaState() %}
                {{ sale_order.getCustomerInvoiceUsaState() }}
            {% endif %}
            <p>{{ sale_order.getCustomerInvoiceCountry() }}</p>
        </div>
        <div>
            <h1>{{ 'Besteld door:'|translate }}</h1>
            <p>
                {{ sale_order.getCustomerInvoiceAttnName() }}<br>
                {{ sale_order.getCustomerEmail() }}
            </p>
        </div>
    </div>
    <div class="invoice-info">
        <h1>{{ 'Factuur'|translate }}</h1>
        <div>
            <p>
                <span>{{ 'Debiteurnummer'|translate }}<span>:</span></span><span>{{ sale_order.getDebitor() }}</span>
            </p>
            <p>
                <span>{{ 'Factuurdatum'|translate }}<span>:</span></span>
                <span>{{ sale_order.getCreatedOn()|date("d-m-Y") }}</span>
            </p>
            <p>
                <span>{{ 'Betalingsconditie'|translate }}<span>:</span></span><span>{{ sale_order.getPaymethodName() }} &nbsp;
                </span>
            </p>
            <p>
                <span>{{ 'Betaald'|translate }}<span>:</span></span>
                <span>
                    {% if sale_order.getIsFullyPaid() %}
                        <span style="color:darkgreen">{{ 'Ja'|translate }}</span>
                    {% endif %}
                </span>
            </p>


            {% if sale_order.getIsFullyPaid() == false %}
                <p>
                    <span>{{ 'Betaaltermijn'|translate }}<span>:</span>
                    </span><span>{{ sale_order.getPaytermDays() }} {{ 'dagen'|translate }}</span>
                </p>
                <p>
                    <span>{{ 'Vervaldatum'|translate }}<span>:</span>
                    </span><span>{{ sale_order.getCalcDueDate()|date("d-m-Y") }}</span>
                </p>
            {% endif %}
        </div>
        <div>
            {% if sale_order.getReference() %}
            <p><span>{{ 'Factuurnummer'|translate }}<span>:</span></span><span>{{ sale_order.getInvoiceNumber() }}</span></p>
            {% endif %}
            <p><span>{{ 'Ordernummer'|translate }}<span>:</span></span><span>{{ sale_order.getOrderNumber() }}</span></p>
            {% if sale_order.getReference() %}
                <p><span>{{ 'Uw referentie'|translate }}<span>:</span></span><span>{{ sale_order.getReference() }}</span></p>
            {% endif %}

            {% if sale_order.getCustomerVatNumber() %}
                <p><span>{{ 'Uw btw nummer'|translate }}<span>:</span></span><span>{{ sale_order.getCustomerVatNumber() }}</span></p>
            {% endif %}

            {# <p><span>{{ 'Behandeld door'|translate }}<span>:</span></span><span>{{ sale_order.getHandledBy() }}</span></p>#}
        </div>
    </div>
</header>
<section>
    <table class="items">
        <thead>
            <tr>
                <th width="20%" style="width:20%;">{{ 'Artikelnummer'|translate }}</th>
                <th>{{ 'Omschrijving'|translate }}</th>
                <th>{{ 'Hoeveelheid'|translate }}</th>
                <th>{{ 'Prijs'|translate }}</th>
                <th></th>
                <th>{{ 'Bedrag'|translate }}</th>
            </tr>
        </thead>
        <tbody>
            {% for item in sale_order.getSaleOrderItems %}
                <tr>
                    <td>{{ item.getProductNumber() }}</td>
                    <td>{{ item.getDescription }}
                        {% if item.getFirstProduct().getDiscountPercentage() %}
                            <span style="color:darkgreen">{{ 'korting'|translate }}  {{ item.getFirstProduct().getDiscountPercentage() }}%</span>
                        {% endif %}
                    </td>
                    <td class="nowrap">{{ item.getQuantity() }}{% if item.getFirstProduct().getUnitCode() == 'cm' %}mtr{% endif %}</td>
                    <td class="nowrap" style="text-align: right; ">
                        &euro; {{ item.getPrice()|number_format(2, ',', '.') }}
                    </td>
                    <td></td>
                    <td class="nowrap">&euro; {{ (item.getPrice() * item.getQuantity())|number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}

            {% if sale_order.getCouponDiscountAmount() %}
                <tr>
                    <td>{{ 'Discount'|translate }}</td>
                    <td class="nowrap">1</td>
                    <td class="nowrap" style="text-align: right; ">&euro; {{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</td>
                    <td></td>
                    <td class="nowrap">&euro; -{{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</td>
                </tr>
            {% endif %}

            {% if sale_order.getCouponDiscountPercentage() %}
                <tr>
                    <td>{{ 'Discount'|translate }} {{ sale_order.getCouponDiscountPercentage()|number_format(2, ',', '.') }}%</td>
                    <td class="nowrap">1</td>
                    <td class="nowrap" style="text-align: right; ">&euro; {{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</td>
                    <td></td>
                    <td class="nowrap">&euro; -{{ sale_order.getDiscountPrice()|number_format(2, ',', '.') }}</td>
                </tr>
            {% endif %}


            {% if sale_order.getHasWrap() %}
                <tr>
                    <td>{{ 'Kado verpakking'|translate }}</td>
                    <td></td>
                    <td class="nowrap">1</td>

                    <td class="nowrap" style="text-align: right; ">&euro; {{ sale_order.getWrappingPrice()|number_format(2, ',', '.') }}</td>

                    <td></td>

                    <td class="nowrap">&euro; {{ sale_order.getWrappingPrice()|number_format(2, ',', '.') }}</td>
                </tr>
            {% endif %}

            {% if sale_order.getShippingPrice() %}
                <tr>
                    <td>{{ 'Verzendkosten'|translate }}</td>
                    <td>{{ sale_order.getShippingCarrier() }}</td>
                    <td class="nowrap">1</td>
                    <td class="nowrap" style="text-align: right; ">&euro; {{ sale_order.getShippingPrice()|number_format(2, ',', '.') }}</td>
                    <td></td>
                    <td class="nowrap">&euro; {{ sale_order.getShippingPrice()|number_format(2, ',', '.') }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
</section>
<footer>
    <table class="total">
        <thead>
        {% if sale_order.getCustomerDeliveryAttnName() %}
            <tr>
                <td colspan="6" style="text-align:left;">
                    Afleveradres: {{ sale_order.getCustomerDeliveryStreet() }} {{ sale_order.getCustomerDeliveryNumber() }} {{ sale_order.getCustomerDeliveryNumberAdd() }}, {{ sale_order.getCustomerDeliveryPostal() }} {{ sale_order.getCustomerDeliveryCity() }} {{ sale_order.getCustomerDeliveryCountry() }}
                </td>
            </tr>
        {% endif %}
        <tr>
            <th class="nowrap">{{ 'BTW Percentage'|translate }}</th>
            <th class="nowrap">{{ 'BTW Over'|translate }}</th>
            <th class="nowrap">{{ 'BTW Totaal'|translate }}</th>
            <th></th>
            <th>{{ 'Totaal BTW'|translate }}</th>
            <th class="nowrap"><span></span><span>&euro; {{ sale_order.getTotalVat()|number_format(2, ',', '.') }}</span></th>
        </tr>

        </thead>
            <tbody>
                {% for vat_item in sale_order.getInvoiceVatLines %}
                    <tr>
                        <td class="nowrap">{{ vat_item.percentage }}% {{ 'tarief'|translate }}</td>
                        <td class="nowrap"><span>&euro; {{ vat_item.base|number_format(2, ',', '.') }}</span></td>
                        <td class="nowrap"><span>&euro; {{ vat_item.price|number_format(2, ',', '.') }}</span></td>
                        <td class="nowrap"></td>
                        <td class="nowrap">{{ 'Waarvan'|translate }} {{ vat_item.percentage }}%</td>
                        <td class="nowrap"><span></span><span>&euro; {{ vat_item.price|number_format(2, ',', '.') }}</span></td>
                    </tr>
                {% endfor %}
            </tbody>
        <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{ 'Totaal bedrag'|translate }} </td>
            <td class="nowrap"><span></span><span>&euro; {{ sale_order.getTotalPrice()|number_format(2, ',', '.') }}</span></td>
        </tr>
        </tfoot>
    </table>
    {% if sale_order.getCustomerOrderNote() %}
    <p class="small">Opmerking klant: {{ sale_order.getCustomerOrderNote() }}</p>
    {% endif %}
    {% if footer_txt %}
    <p class="small">{{ footer_txt }}</p>
    {% endif %}

    <p class="page">Pagina 1/1</p>

    <p class="border">
        {% if sale_order.getOurGeneralPoBox() %}
            <strong>{{ sale_order.getOurGeneralCompanyName() }}</strong> | {{ sale_order.getOurGeneralPoBox() }} | {{ sale_order.getOurGeneralCity() }} | {{ sale_order.getOurWebsite() }}
        {% else %}
            <strong>{{ sale_order.getOurGeneralCompanyName() }}</strong> | {{ sale_order.getOurGeneralStreet() }} {{ sale_order.getOurGeneralNumber() }} {{ sale_order.getOurGeneralNumberAdd() }} | {{ sale_order.getOurGeneralPostal() }} {{ sale_order.getOurGeneralCity() }} | {{ sale_order.getOurGeneralEmail() }} | {{ sale_order.getOurWebsite() }}
        {% endif %}
    </p>
    <p><em>BTW Nr.:</em> {{ sale_order.getOurVatNumber() }} | <em>KvK Nr.:</em> {{ sale_order.getOurChamberOfCommerce() }} | <em>Bank:</em> IBAN {{ sale_order.getOurIbanNumber() }} &bull; BIC {{ sale_order.getOurBicNumber() }}</p>
</footer>
</body>
</html>
