<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-building"></span>
        <span class="sidebar-title">{{ 'Eigen bedrijf'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/company/overview"><span class="fa fa-file-text-o"></span>{{ 'Overzicht'|translate }}</a></li>
        <li><a href="/company/edit"><span class="fa fa-file-text-o"></span>[+] {{ 'Toevoegen'|translate }}</a></li>
    </ul>
</li>