
            <div class="chute chute-center pt30">
                <div class="panel">
                    {#<div class="panel-menu allcp-form theme-primary mtn">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="field select">
                                    <select id="filter-group" name="filter-group">
                                        <option value="0">Filter op Rol</option>
                                         for role in roles
                                            <option value="{{ role.id }}">{{ role.name }}</option>
                                         endfor
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                        </div>
                    </div>#}
                    <div class="panel-body pn">
                        {{ overview_table | raw }}
                    </div>
                </div>
            </div>

