<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store"/>
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Contact informatie</h5>
                    <div class="col-md-12">
                        <div class="contact-info-form clearfix">
                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/mail.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_email]" value="{{ customer_property.contact_email }}" type="email" class="form-control" placeholder="voorbeeld@linqxx.com">
                                </div>
                            </div>

                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/whatsapp.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_whatsapp]" value="{{ customer_property.contact_whatsapp }}" type="text" class="form-control" placeholder="+31 123 456 789">
                                </div>
                            </div>

                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/skype.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_skype]" value="{{ customer_property.contact_skype }}" type="text" class="form-control" placeholder="voorbeeld|">
                                </div>
                            </div>

                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/viber.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_viber]" value="{{ customer_property.contact_viber }}" type="text" class="form-control" placeholder="+4 545 324 098|">
                                </div>
                            </div>

                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/phone.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_phone]" value="{{ customer_property.contact_phone }}" type="text" class="form-control" placeholder="+34 683 789 653|">
                                </div>
                            </div>

                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/wechat.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_wechat]" value="{{ customer_property.contact_wechat }}" type="text" class="form-control" placeholder="+55 465 432 587|">

                                </div>
                            </div>
                            <div class="single-contact-info-form col-sm-12">
                                <div class="icon">
                                    <img src="/assets/img/contact-icon/snapchat.png" alt="">
                                </div>
                                <div class="contact-info-type">
                                    <input name="customer_property[contact_snapchat]" value="{{ customer_property.contact_snapchat }}" type="text" class="form-control" placeholder="voorbeeld_noreply">
                                </div>
                            </div>

                        </div>
                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
