<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
            <input type="hidden" name="_do" value="Store" />
            <div class="tab-content pn br-n allcp-form theme-primary">
                <div id="tab_1" class="tab-pane active">
                    {{ left_panel|raw }}
                    <div class="col-md-8 ph10">
                        <h5>Bedrijfsomschrijving</h5>

                        <div class="short-desc">
                            <p><strong>Korte omschrijving</strong></p>
                            <textarea name="customer_property[short_description]" id="field" onkeyup="countChar(this)" class="form-control" rows="3">{{ customer_property.short_description }}</textarea>
                            <p class="btext-short-desc">
                                Vertel kort en bondig wat uw bedrijf doet
                            </p>
                        </div>

                        <div class="short-desc large-desc">
                            <p><strong>Lange omschrijving </strong></p>
                            <textarea name="customer_property[long_description]" class="form-control" rows="3">{{ customer_property.long_description }}</textarea>
                            <p class="btext-short-desc">
                                Vertel hier in een duidelijke omschrijving wat u doet en waarom klanten voor uw product moeten kiezen.<br>
                                <span style="color:red">Voor Opendi moet deze omschrijving ten minste 140 tekens bevatten.</span>
                            </p>
                        </div>


                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                    <!-- after-inside-tab-1 -->
                </div>
            </div>
    </form>
</div>