<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Omslagfoto en profielfoto: Facebook</h5>
                    <div class="col-md-12">
                        <p>Cover afbeelding</p>
                        <div class="panel-body">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-preview thumbnail mb20">

                                    {% if social_images['facebook_cover'] %}
                                        <img width="400" src="{{ social_images['facebook_cover'].getUrl() }}">
                                    {% else %}
                                        <img data-src="holder.js/400x150" alt="holder">
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                          <span class="btn btn-primary btn-file btn-block">
                                            <span class="fileupload-new">Select</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="facebook_cover_photo">
                                          </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>Profielfoto</p>
                        <div class="panel-body">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-preview thumbnail mb20">
                                    {% if social_images['facebook_profile'] %}
                                        <img src="{{ social_images['facebook_profile'].getUrl() }}" alt="holder">
                                    {% else %}
                                        <img data-src="holder.js/180x180" alt="holder">
                                    {% endif %}
                                </div>
                                <div class="row">

                                    <div class="col-xs-5">
                                      <span class="btn btn-primary btn-file btn-block">
                                        <span class="fileupload-new">Select</span>
                                        <span class="fileupload-exists">Change</span>
                                        <input type="file" name="facebook_profile_photo">
                                      </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- -------------- jQuery -------------- -->
                        <script src="/assets/js/jquery/jquery-1.11.3.min.js"></script>
                        <script src="/assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>

                        <!-- -------------- FileUpload -------------- -->
                        <script src="/assets/js/plugins/fileupload/fileupload.js"></script>
                        <script src="/assets/js/plugins/holder/holder.min.js"></script>

                        <div class="col-md-12">
                            <p>
                                Ook op Facebook kunt u uw bedrijf goed presenteren met een mooie omslagfoto en profielfoto (bijvoorbeeld uw logo).
                                Grote foto's zien er beter uit.
                                Een omslagfoto moet minimaal 400 x 150 pixels zijn. Een profielfoto minimaal 180 x 180 pixels.
                            </p>

                            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                                <span class="ladda-spinner"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
