<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store" />
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Tags & keywords</h5>
                    <div class="col-md-12">
                        <div class="section">
                            <label class="field">
                                <textarea class="gui-textarea" id="comment" name="customer_tags" placeholder="meta keywords tag like: keyword2, keyword3, keyword4, keyword5, keyword6">{% for tag in tags %}{{ tag.getTag() }},{% endfor %}</textarea>
                            </label>
                        </div>
                        <p>Voer enkele tags of keywords in die het bedrijf kenmerken, plaats een komma na iedere tag.</p>
                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
