<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" name="_do" id="fld_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Omslagfoto en profielfoto: linqxx</h5>
                    <div class="col-md-12">
                        <div class="panel-body">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-preview thumbnail mb20">

                                    {% if social_images['linqxx_cover'] %}
                                        <img width="400" src="{{ social_images['linqxx_cover'].getUrl() }}">
                                    {% else %}
                                        <img src="" data-src="holder.js/400x150" alt="holder">
                                    {% endif %}
                                </div>
                                <div class="row">
                                    <div class="col-xs-5">
                                          <span class="btn btn-primary btn-file btn-block">
                                            <span class="fileupload-new">Select</span>
                                            <span class="fileupload-exists">Change</span>
                                            <input type="file" name="linqxx_cover_photo">
                                          </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p>
                            Hou er rekening mee dat de cover afbeelding extreem breed moet zijn. Een goede verhouding is bijvoorbeeld 2000px x 400px.
                            Niet de hele afbeelding zal telkens zichbaar zijn, de verhouding hangt af van de scherm resulutie van de klant.
                        </p>
                        <p>Profielfoto</p>
                        <div class="panel-body">
                            <div class="fileupload fileupload-new" data-provides="fileupload">
                                <div class="fileupload-preview thumbnail mb20">
                                    {% if social_images['linqxx_profile'] %}
                                        <img src="{{ social_images['linqxx_profile'].getUrl() }}" alt="holder">
                                    {% else %}
                                        <img src="" data-src="holder.js/180x180" alt="holder">
                                    {% endif %}
                                </div>
                                <div class="row">

                                    <div class="col-xs-5">
                                              <span class="btn btn-primary btn-file btn-block">
                                                <span class="fileupload-new">Select</span>
                                                <span class="fileupload-exists">Change</span>
                                                <input type="file" name="linqxx_profile_photo">
                                              </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- -------------- jQuery -------------- -->
                        <script src="/assets/js/jquery/jquery-1.11.3.min.js"></script>
                        <script src="/assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>

                        <!-- -------------- FileUpload -------------- -->
                        <script src="/assets/js/plugins/fileupload/fileupload.js"></script>
                        <script src="/assets/js/plugins/holder/holder.min.js"></script>

                        <div class="col-md-12">
                            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-left:10px;">
                                <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                                <span class="ladda-spinner"></span>
                            </button>

                            {% if social_images['linqxx_profile'] %}
                                <button id="btn_delete_profile" type="submit" class="btn ladda-button btn-danger pull-right" data-style="expand-right" style="margin-left:10px;">
                                    <span class="ladda-label"><i class="fa fa-trash"></i> Profielfoto verwijderen</span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            {% endif %}

                            {% if social_images['linqxx_cover'] %}
                                <button id="btn_delete_cover" type="submit" class="btn ladda-button btn-danger pull-right" data-style="expand-right" style="margin-left:10px;">
                                    <span class="ladda-label"><i class="fa fa-trash"></i> Cover verwijderen</span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
