<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
        <input type="hidden" id="fld_do" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Bedrijfs logo</h5>
                    <div class="col-md-12">

                            <div class="upload-photo-btn profile_picture" style="float:left;margin-right:10px;">
                                <span class="btn btn-default btn-file">
                                    <i class="fa fa-camera"></i>
                                    <span style="line-height:210px;">Upload uw bedrijfslogo</span>

                                    <input type="file" name="company_logo">
                                </span>
                            </div>

                            {% if logo %}
                                <div class="single-photo-add" style="height:250px;float:left">
                                    <div class="single-photo-add-img" style="height:250px;">
                                        <img style="width:250px;" class="img-responsive" src="/img/customer/{{ logo.getCustomerId() }}/company_logo.{{ logo.getFileExt() }}" alt="">
                                    </div>
                                </div>
                            {% else %}
                                <p>

                                </p>
                            {% endif %}
                        <div class="cl"></div>
                            <div>
                                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                    <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                                    <span class="ladda-spinner"></span>
                                </button>
                                {% if logo %}
                                    <button id="btn_delete" type="submit" class="btn ladda-button btn-danger pull-right" data-style="expand-right" style="margin-right: 10px;">
                                        <span class="ladda-label"><i class="fa fa-trash-o"></i> Verwijderen</span>
                                        <span class="ladda-spinner"></span>
                                    </button>
                                {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
