<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Speciale Openingstijden</h5>
                    {% for key,label in dutch_holidays%}
                        <div class="section row">
                            <div class="col-md-2 time">
                                <p><strong>{{ label }}</strong></p>
                            </div>
                            <div class="col-md-2 time">
                                <select name="customer_property[open_{{ key }}]" class="form-control input-sm">
                                    {% for k,v in hour_ranges %}
                                        <option {{ attribute(customer_property, 'open_'~key) == v ? 'selected' }}>{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 time text-center">-</div>
                            <div class="col-md-2 time">
                                <select name="customer_property[close_{{ key }}]" class="form-control input-sm">
                                    {% for k,v in hour_ranges %}
                                        <option {{ attribute(customer_property, 'close_'~key) == v ? 'selected' }}>{{ v }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-1 time text-center">
                                <input name="customer_property[is_{{ key }}_open]" type="hidden" value="0">
                                <input name="customer_property[is_{{ key }}_open]" {{ attribute(customer_property, 'is_'~key~'_open') ? 'checked' }} type="checkbox" value="1">
                            </div>
                            <div class="col-md-4 time">
                                <input type="text" name="customer_property[note_open_{{ key }}]" value="{{ attribute(customer_property, 'note_open_'~key)}}" class="form-control" placeholder="Korte omschrijving">
                            </div>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>



{#
<input type="hidden" name="_do" value="Store" />
<input type="hidden" name="data[id]" value="1" />
<div class="panel-heading">
    <span class="panel-title hidden-xs">Relatie bewerken</span>
    <ul class="nav panel-tabs-border panel-tabs">
        <li class="active">
            <a href="/crm/customer_edit?id=1">Algemeen</a>
        </li>
        <li class="">                     <a href="/crm/details/pictures?customer_id=1">Afbeeldingen</a>
        </li>
        <li class="">                     <a href="/crm/details/keywords?customer_id=1">Keywords</a>
        </li>
        <li class="">                     <a href="/crm/details/description?customer_id=1">Omschrijving</a>
        </li>
        <li class="">                     <a href="/crm/details/socialmedia?customer_id=1">Social media</a>
        </li>
        <li class="">                     <a href="/crm/details/openinghours?customer_id=1">Openingstijden</a>
        </li>

    </ul>
</div>
#}
