<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5> Bereikbaarheid en parkeren</h5>

                    <div class="col-md-8 ph10">

                        <div class="section mb10">
                            <label for="fld_parking_garage" class="field prepend-icon">

                                <input type="hidden" name="customer_property[parking_garage]" value="0">
                                <input type="checkbox" {{ customer_property.parking_garage ? 'checked' }} name="customer_property[parking_garage]" value="1"  id="fld_parking_garage" class="event-name gui-checkbox br-light light">
                                Garage

                                <label for="name21" class="field-icon">
                                    <i class="fa fa-{{ icon }}"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section mb10">
                            <label for="fld_parking_street" class="field prepend-icon">

                                <input type="hidden" name="customer_property[parking_street]" value="0">
                                <input type="checkbox" {{ customer_property.parking_street ? 'checked' }} name="customer_property[parking_street]" value="1"  id="fld_parking_street" class="event-name gui-checkbox br-light light">
                                Parkeren op straat

                                <label for="name21" class="field-icon">
                                    <i class="fa fa-{{ icon }}"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section mb10">
                            <label for="fld_parking_free" class="field prepend-icon">
                                <input type="hidden" name="customer_property[parking_free]" value="0">
                                <input type="checkbox" {{ customer_property.parking_free ? 'checked' }} name="customer_property[parking_free]" value="1"  id="fld_parking_free" class="event-name gui-checkbox br-light light">

                                Gratis parkeren

                                <label for="name21" class="field-icon">
                                    <i class="fa fa-{{ icon }}"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section mb10">
                            <label for="fld_parking_valet" class="field prepend-icon">
                                <input type="hidden" name="customer_property[parking_valet]" value="0">
                                <input type="checkbox" {{ customer_property.parking_valet ? 'checked' }} name="customer_property[parking_valet]" value="1"  id="fld_parking_valet" class="event-name gui-checkbox br-light light">

                                Valet parking

                                <label for="name21" class="field-icon">
                                    <i class="fa fa-{{ icon }}"></i>
                                </label>
                            </label>
                        </div>

                        <div class="section mb10">
                            <label for="fld_first_name" class="field prepend-icon">
                                <input name="customer_property[travel_tips]" value="{{ customer_property.travel_tips }}"  id="fld_first_name" class="event-name gui-input br-light light" placeholder="Geef hier tips of suggesties" type="text">
                                <label for="name21" class="field-icon">
                                    <i class="fa fa-comment-o"></i>
                                </label>
                                <p>Opmerkingen over bereikbaarheid</p>
                            </label>
                        </div>

                        <div class="section mb10">
                            <label for="fld_first_name" class="field prepend-icon">
                                <input name="customer_property[airport_distance]" value="{{ customer_property.airport_distance }}"  id="fld_first_name" class="event-name gui-input br-light light" placeholder="Afstand naar het vliegveld" type="text">
                                <label for="name21" class="field-icon">
                                    <i class="fa fa-plane"></i>
                                </label>
                                <p>Afstand in kilometers naar het vliegveld</p>
                            </label>
                        </div>

                        <div class="section mb10">
                            <label for="fld_first_name" class="field prepend-icon">
                                <input name="customer_property[public_transport_distance]" value="{{ customer_property.public_transport_distance }}"  id="fld_first_name" class="event-name gui-input br-light light" placeholder="Afstand naar dichstbijzijnde openbaar vervoer" type="text">
                                <label for="name21" class="field-icon">
                                    <i class="fa fa-umbrella"></i>
                                </label>
                                <p>Afstand in meters naar dichtst bijzijnde bus, tram, metro of trein.</p>
                            </label>
                        </div>

                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
