<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Betaalmethoden</h5>
                    <div class="col-md-12">
                        <div class="payment-getway-wrrap clearfix">
                        {% for payment_method in payment_methods %}
                            <div class="single-getway col-sm-6" style="margin-bottom: 10px;">
                                <input type="hidden" name="customer_property[pay_method_{{ payment_method.getCode() }}]" value="0">
                                <input type="checkbox" id="fld_payment_{{ payment_method.getCode() }}" {{ customer_property['pay_method_'~payment_method.getCode()] ? 'checked' }} name="customer_property[pay_method_{{ payment_method.getCode() }}]">
                                <label for="fld_payment_{{ payment_method.getCode() }}">
                                    <img src="/assets/img/icon-payment/{{ payment_method.getCode() }}.png" alt=""> {{ payment_method.getName() }}
                                </label>
                            </div>
                        {% endfor %}
                        </div>
                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
