<form method="post" enctype="multipart/form-data">
    <input type="hidden" name="_do" value="Store">
    <div class="row">
        <div class="col-md-12 mb40">
            <div class="tab-block">
                <div class="tab-content p30">
                    {{ left_panel|raw }}
                    <div id="tab1" class="tab-pane active">
                        <div class="row">
                            <h2 class="media-heading fs30 mb20">Bedrijfs foto's</h2>
                            <p>
                                Afbeeldingen hebben een titel, tags en een omschrijving. Je kan deze aanpassen door op het pen icoontje op de afbeelding te klikken.
                                Het is belangrijk om dit te doen omdat diverse sites hier op rekenen.
                            </p>
                            <div class="col-sm-12 col-md-6">
                                {% for photo in customer_photo %}
                                    <div class="single-photo-add" style="position: relative;float:left;margin:0 5px 5px 0;">
                                        <img class="img-responsive" style="height: 120px;" src="/img/customer/{{ photo.getCustomerId() }}/company_photos/{{ photo.getId() }}.{{ photo.getFileExt() }}" alt="">
                                        <a title="{{ 'Afbeelding verwijderen'|translate }}" style="position:absolute;right:5px;color:white;bottom:0px;" href="/crm/details/photogallery?customer_photo_id={{ photo.getId() }}&_do=DeleteCustomerPhoto" class="close-btn">

                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a title="{{ 'Afbeelding bewerken'|translate }}"
                                           style="position:absolute;right:20px;color:white;bottom:0px;"
                                           href="/crm/details/photogallery?customer_id={{ photo.getCustomerId() }}&customer_photo_id={{ photo.getId() }}&edit=true" class="close-btn">

                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="col-sm-9 allcp-form col-md-6">
                            {% if edit %}
                                <div class="section mb10">
                                        <label for="fld_title" class="field prepend-icon">
                                            <input type="text" name="data[title]" id="fld_title" class="event-name gui-input br-light light" placeholder="Titel" value="{{ current_photo.getTitle() }}">
                                            <label for="name21" class="field-icon">
                                                <i class="fa fa-tag"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <div class="section mb10">
                                        <label for="fld_description" class="field prepend-icon">
                                            <input type="text" name="data[description]" id="fld_description" class="event-name gui-input br-light light" placeholder="Omschrijving" value="{{ current_photo.getDescription() }}">
                                            <label for="name21" class="field-icon">
                                                <i class="fa fa-comment"></i>
                                            </label>
                                        </label>
                                    </div>
                                    <div class="section mb10">
                                        <label for="fld_tags" class="field prepend-icon">
                                            <input type="text" name="data[tags]" id="fld_tags" class="event-name gui-input br-light light" placeholder="Tags" value="{{ current_photo.getTags() }}">
                                            <label for="name21" class="field-icon">
                                                <i class="fa fa-tag"></i>
                                            </label>
                                        </label>
                                    </div>
                            {% else %}
                                <div class="section mb10">
                                    <label for="fld_file" class="field prepend-icon">
                                        <input name="company_photo" type="file" class="event-name gui-input br-light light" />
                                        <label for="name21" class="field-icon">
                                            <i class="fa fa-tag"></i>
                                        </label>
                                    </label>
                                </div>
                            {% endif %}
                                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                    <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
