<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">
                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Qpinion profiel</h5>

                    <div class="short-desc">
                        <p><strong>Bedrijfsomschrijving</strong></p>
                        <textarea name="customer_property[qpinion_description]" id="field" class="form-control" rows="5">{{ customer_property.qpinion_description }}</textarea>
                        <p class="btext-short-desc">
                            Deze tekst komt op de review pagina van Qpinion te staan.
                        </p>
                    </div>

                    <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
