<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store">
        <div class="tab-content pn br-n allcp-form theme-primary">
            <div id="tab_1" class="tab-pane active">


                {{ left_panel|raw }}
                <div class="col-md-8 ph10">
                    <h5>Social media </h5>

                    <div class="col-md-12">

                        <div class="social-share-link clearfix">
                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-facebook"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control" name="customer_property[social_facebook]" value="{{ customer_property.social_facebook }}" placeholder="">
                                    </div>
                                </div>
                            </div>

                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-twitter"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control"name="customer_property[social_twitter]" value="{{ customer_property.social_twitter}}"   placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-instagram"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control"name="customer_property[social_instagram]" value="{{ customer_property.social_instagram}}"   placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-youtube-play"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control" name="customer_property[social_youtube]" value="{{ customer_property.social_youtube }}" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-google-plus"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control" name="customer_property[social_googleplus]" value="{{ customer_property.social_googleplus }}" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-pinterest"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control" name="customer_property[social_pinterest]" value="{{ customer_property.social_pinterest }}" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="single-share-link col-sm-6">
                                <i class="fa fa-linkedin"></i>
                                <div class="share-link-type">
                                    <div class="input-group">
                                        <div class="input-group-addon">WWW.</div>
                                        <input type="text" class="form-control" name="customer_property[social_linkedin]" value="{{ customer_property.social_linkedin }}"  placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



{#
<input type="hidden" name="_do" value="Store" />
<input type="hidden" name="data[id]" value="1" />
<div class="panel-heading">
    <span class="panel-title hidden-xs">Relatie bewerken</span>
    <ul class="nav panel-tabs-border panel-tabs">
        <li class="active">
            <a href="/crm/customer_edit?id=1">Algemeen</a>
        </li>
        <li class="">                     <a href="/crm/details/pictures?customer_id=1">Afbeeldingen</a>
        </li>
        <li class="">                     <a href="/crm/details/keywords?customer_id=1">Keywords</a>
        </li>
        <li class="">                     <a href="/crm/details/description?customer_id=1">Omschrijving</a>
        </li>
        <li class="">                     <a href="/crm/details/socialmedia?customer_id=1">Social media</a>
        </li>
        <li class="">                     <a href="/crm/details/openinghours?customer_id=1">Openingstijden</a>
        </li>

    </ul>
</div>
#}
