<div class="chute chute-center pt30" style="height: 918px;">
    <form id="shipping_form" class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="Store" />
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    {#
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">Order status</span>
                        </div>
                        <div class="panel-body bg-light pt20 pbn pl30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12 pl15">
                                            <div class="bs-component">
                                                <div class="radio-custom square mb10">
                                                    <input name="data[is_fully_paid]" value="0" type="hidden">
                                                    <input id="fld_is_fully_paid" name="data[is_fully_paid]" {{ sale_order.getIsFullyPaid() ? 'checked' }} value="1" type="checkbox">
                                                    <label for="fld_is_fully_paid">Volledig betaald</label>
                                                </div>
                                            </div>
                                            <div class="bs-component">
                                                <div class="radio-custom square">
                                                    <input name="data[is_fully_shipped]" value="0"  type="hidden">
                                                    <input id="fld_is_fully_shipped" name="data[is_fully_shipped]" {{ sale_order.getIsFullyShipped() ? 'checked' }} value="1"  type="checkbox">
                                                    <label for="fld_is_fully_shipped">{{ 'Volledig verzonden'|translate }}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    #}
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">{{ 'Verzendmethode'|translate }}</span>
                        </div>
                        <div class="panel-body pt20 pbn pl30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12 pl15">
                                            {% for shipping_method in shipping_methods %}
                                                <div class="bs-component">
                                                    <div class="radio-custom square">
                                                        <input id="fld_{{ shipping_method.method.getId() }}" name="data[shipping_method]" value="{{ shipping_method.method.getId() }}" class="shipping_method" data-price="{{ shipping_method.price|number_format(2, ',',' .')}}"  id="fld_is_fully_shipped" name="data[is_fully_shipped]" type="radio" {{ shipping_method.method.getId() == sale_order.getShippingMethodId() ? 'checked' }}>
                                                        <label class="pointer" for="fld_{{ shipping_method.method.getId() }}">&euro; {{ shipping_method.price|number_format(2, ',',' .')}} {{ shipping_method.method.getName() }}</label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="short alt">
                            <div class="form-group mbn">
                                <label for="inputHelp" class="col-lg-2 control-label">{{ 'Verzendkosten'|translate }}</label>
                                <div class="col-lg-10">
                                    <div class="bs-component">
                                        <input type="text" id="shipping_price" name="data[shipping_price]" value="{{ sale_order.getShippingPrice()|number_format(2, ',',' .') }}" />
                                        <i class="fa fa-bell"></i> {{ 'De verzendkosten zoals ze worden belast aan de klant, dus inclusief btw.'|translate }}
                                        <span class="help-block mt5">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">{{ 'Betaalmethode'|translate }}</span>
                        </div>
                        <div class="panel-body pt20 pbn pl30">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="col-sm-12 pl15">
                                            {% for payment_method in payment_methods %}
                                                <div class="bs-component">
                                                    <div class="radio-custom square">
                                                        <input {{ payment_method.getId() == sale_order.getPaymethodId() ? 'checked' }}  id="fld_pay_method_{{ payment_method.getId() }}" type="radio" name="data[pay_method]" value="{{ payment_method.getId() }}">
                                                        <label class="pointer" for="fld_pay_method_{{ payment_method.getId() }}">{{ payment_method.getName() }}</label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                                <span class="ladda-label">Save</span>
                                <span class="ladda-spinner"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>