




<!-- -------------- Panel popup -------------- -->
<div id="" class="auto-modal popup-basic bg-none mfp-with-anim mfp-hide">

    <div class="panel">
        <div class="panel-heading">
              <span class="panel-icon">
                <i class="fa fa-warning text-danger"></i>
              </span>
            <span class="panel-title text-danger">Geen afleverland gespecificeerd</span>
        </div>
        <div class="panel-body">
            <p>
                De verzendkosten worden berekend op basis van het land waar de goederen moeten worden afgeleverd.
                Omdat het land niet is ingevuld kan het systeem nu geen berekening maken <a href="">klik hier om het land in te stellen</a>.
            </p>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary" type="button">Read More</button>
        </div>
    </div>
</div>