<div class="chute chute-center pt30" style="height: 869px;">
    <form id="main_form" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        <input type="hidden" id="fld_do" name="_do" value="Store">
        <div class="row">
            <div class="col-md-12 generated">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Algemeen</span>
                    </div>
                    <div class="panel-body pn">

                        <div class="form-group">
                            <label for="fld_display_holiday_message" class="col-lg-4 control-label">
                                {{ 'Display popup holiday message'|translate }}
                            </label>

                            <div class="col-lg-8">
                                <div class="bs-component">
                                    <label class="checkbox-inline ">
                                        <input name="data[display_holiday_message]" value="0" type="hidden">
                                        <input name="data[display_holiday_message]" value="1" type="checkbox" id="fld_display_holiday_message" {{ display_holiday_message ? 'checked' }}>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fld_add_number" class="col-lg-4 control-label" style="">
                                {{ 'Title'|translate }}
                            </label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-tag"></i>
                                    </span>
                                    <input name="data[title]" id="fld_title" class="form-control" value="{{ title }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fld_content" class="col-lg-4 control-label">
                                {{ 'Description'|translate }}
                            </label>
                            <div class="col-lg-8">
                                <textarea class="form-control" name="data[content]" id="fld_content">{{ content }}</textarea>
                            </div>
                        </div>

                        <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                            <span class="ladda-spinner"></span>
                        </button>
                        <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                            <span class="ladda-label"><i class="fa fa-save"></i> Opslaan + naar overzicht</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
