<form method="post" id="sort_form">
    <input type="hidden" id="fld_do" name="_do" value="StoreModules"/>
    <input type="hidden" id="fld_enabled_modules" name="enabled_modules" value=""/>
</form>

<section id="content" class="table-layout animated fadeIn">
    <h5>{{ 'Welke modules mag een'|translate }} {{ role.getName }} {{ 'gebruiker zien?'|translate }}</h5>
    <div class="cl"></div>
    <div class="row center-block" style="width:1200px!important;">
        <div class="col-md-6">
            <ul class="list-group controls sortable enabled">
                <li class="list-group-item">
                    <h4 class="mv5">{{ 'Ingeschakelde modules'|translate }}</h4>
                </li>
                {% if enabled_modules %}
                    {% for module in enabled_modules %}
                        <li data-module_id="{{ module.getDatabaseId() }}" class="list-group-item draggable module_item">
                            {{ module.getModuleTitle }}
                        </li>
                    {% endfor %}
                {% else%}
                    <li class="list-group-item">
                       Er zijn nog geen modules ingeschakeld.
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group controls sortable">
                <li class="list-group-item">
                    <h4 class="mv5">{{ 'Beschikbare modules'|translate }}</h4>
                </li>
                {% for module in disabled_modules %}
                    {% if module.isEnabelable %}
                        <li data-module_id="{{ module.getDatabaseId() }}" class="list-group-item draggable module_item">
                            {{ module.getModuleTitle }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</section>