<div class="chute chute-center pt30">
    {% if title %}
        <h5>{{ title }}</h5>
    {% endif %}

    <div class="panel">
        <div class="panel-head">
            {{ filter_html | raw }}
        </div>
        <div class="panel-body pn">
            {{ overview_table | raw }}
        </div>
    </div>
</div>