<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/admin/module/role_selector">{{ 'Rollen overzicht'|translate }}</a>
            </li>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">
            <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-pencil pr5"></span>
            </a>

            {% if implements_configurable_crud %}
                <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <span class="fa fa-wrench pr5"></span>
                    <span class="caret ml5"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-table"></i>
                            {{ 'Velden en titel'|translate }}
                        </a>
                    </li>
                </ul>
            {% endif %}
         </div>
    </div>
</header>

