<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
    <input type="hidden" name="_do" value="Store">
    <input type="hidden" name="data[id]" value="">
    <div class="panel generated">
        <div class="panel-heading">
            <span class="panel-title">{{ 'Product instellingen'|translate }}</span>
        </div>
        <div class="panel-body">

            <div class="form-group mb25">
                <label class="col-md-3 control-label" for="fld_auto_product_numbering">{{ 'Automatische product nummering'|translate }}</label>
                <div class="col-md-9">
                    <div class="bs-component">
                        <label class="checkbox-inline mr10">
                            <input name="data[customer_auto_product_numbering]" type="checkbox" id="fld_auto_product_numbering" value="1" {{ data.customer_auto_product_numbering == 1 ? 'checked="checked"' : '' }}>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" id="blk_auto_numbering_config" style="display:{{ data.customer_auto_product_numbering == 1 ? 'block' : 'none' }}">
                <label for="fld_customer_next_product_number" class="col-lg-3 control-label">{{ 'Eerst volgende debiteuren nummer'|translate }}</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-tags"></i>
                        </span>
                        <input name="data[customer_next_product_number]" id="fld_customer_next_product_number" class="form-control" value="{{ data.customer_next_product_number }}" type="text">
                        <span class="help-block mt5"></span>
                    </div>
                    <i class="fa fa-bell"></i>
                    {{ 'Voer hier het eerst volgende product nummer in, bijvoorbeeld PROD25 of 100. Het systeem telt vanzelf door.'|translate }}
                </div>
            </div>

            <div class="form-group mb25">
                <label class="col-md-3 control-label" for="fld_product_auto_translate">{{ 'Product omschrijvingen automatisch vertalen'|translate }}</label>
                <div class="col-md-9">
                    <div class="bs-component">
                        <label class="checkbox-inline mr10">
                            <input name="data[product_auto_translate]" type="checkbox" id="fld_product_auto_translate" value="1" {{ data.product_auto_translate == 1 ? 'checked="checked"' : '' }}>
                        </label>
                    </div>
                </div>
            </div>


            <div class="form-group mb25">
                <label class="col-md-3 control-label" for="fld_product_auto_translate">{{ 'Standaard BTW tarief'|translate }}</label>
                <div class="col-md-9">
                    <div class="bs-component">
                        <label class="checkbox-inline mr10">
                            <select name="data[product_default_vat_level]">
                                <option value="">Maak een keuze</option>
                                {% for vat_level in vat_levels %}
                                    <option {{ data.product_default_vat_level == vat_level.getId() ? 'selected' : '' }} value="{{ vat_level.getId() }}">{{ vat_level.getName() }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>
                </div>
            </div>




            <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                <span class="ladda-label">{{ 'Opslaan' }}</span>
                <span class="ladda-spinner"></span>
            </button>
            <button name="next_overview" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                <span class="ladda-label">{{ 'Opslaan + naar overzicht'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
        </div>
    </div>
</form>