<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-bar-chart-o"></span>
        <span class="sidebar-title">{{ 'Rapportages'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/reporting/sales/overview"><span class="fa fa-file-text-o"></span> {{ 'Sales rapportage'|translate }}</a></li>
    </ul>
</li>
