.modal-basic {
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}
.modal-basic-bg {
  background: white;
  padding: 20px 30px;
  text-align: left;
  max-width: 600px;
  margin: 40px auto;
  position: relative;
}
.popup-basic {
  position: relative;
  background: #FFF;
  width: auto;
  max-width: 450px;
  margin: 40px auto;
}
.popup-sm {
  max-width: 300px;
}
.popup-lg {
  max-width: 700px;
}
.popup-xl {
  max-width: 1000px;
}
.popup-full {
  max-width: 90%;
}
.mfp-no-margins img.mfp-img {
  padding: 0;
}
.mfp-no-margins .mfp-figure:after {
  top: 0;
  bottom: 0;
}
.mfp-no-margins .mfp-container {
  padding: 0;
}
.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}
/*# sourceMappingURL=magnific.css.map */