.bootstrap-tagsinput {
  position: relative;
  vertical-align: top;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: auto;
  min-height: 42px;
  outline: 0;
  padding: 3px 8px;
  margin: 0;
  cursor: text;
  color: #626262;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #E5E5E5;
  border-radius: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.bootstrap-tagsinput:focus,
.bootstrap-tagsinput:hover {
  border-color: #DDD;
  background-color: #FFF !important;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  width: auto !important;
  max-width: inherit;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  color: white;
  margin-right: 5px;
  line-height: 36px;
  padding: 0.6em 0.7em 0.7em;
  border-radius: 2px;
}
.bootstrap-tagsinput .tag.label-default {
  color: #AAA;
  font-weight: 500;
  background-color: #fff;
  border: 1px solid #eee;
  padding: 0.5em 0.7em 0.6em;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/*# sourceMappingURL=tagsinput.css.map */