ul.fancytree-container {
  color: #999;
  font-size: 14px;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}
ul.fancytree-container li {
  padding: 2px 0;
}
span.fancytree-node {
  padding: 4px 0;
}
span.fancytree-title {
  color: #666;
}
span.fancytree-icon {
  position: relative;
}
span.fancytree-node:hover {
  background-color: #EEE;
  border-color: #CCC;
}
span.fancytree-node.fancytree-active,
span.fancytree-node.fancytree-selected {
  background-color: #EEE;
  border-color: #CCC;
}
span.fancytree-node.fancytree-active:hover,
span.fancytree-node.fancytree-selected:hover {
  background-color: #EEE;
  border-color: #CCC;
}
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-active,
.fancytree-container.fancytree-treefocus span.fancytree-node.fancytree-selected {
  background-color: #EEE;
  border-color: #CCC;
}
span.fancytree-childcounter {
  color: #fff;
  background: #428BCA;
  position: absolute;
  top: -9px;
  right: -8px;
  min-width: 13px;
  height: 13px;
  line-height: 9px;
  vertical-align: baseline;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  font-size: 10px;
}
table.fancytree-ext-columnview {
  outline: 0;
  border: 0;
}
table.fancytree-container tbody tr td {
  padding: 8px 14px;
  border-color: #EEE;
  max-width: 300px;
}
table.fancytree-container span.fancytree-node {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
table.fancytree-container span.fancytree-title {
  display: inline;
}
table.fancytree-container span.selTag {
  cursor: pointer;
  display: inline-block;
  padding: 3px 7px;
  margin: 1px 5px;
  background-color: #dec;
  border: 0;
  border-radius: 1px;
}
table.fancytree-ext-columnview tbody tr #tags,
table.fancytree-ext-columnview tbody tr #preview {
  padding: 12px 14px;
  vertical-align: middle;
  background: #fbfbfb;
}
/*# sourceMappingURL=treeview.css.map */