<!-- heading-banner start -->
<div class="heading-banner" style="background-repeat: no-repeat;
                 height:300px;
                 background-position: center;
                 background-size: contain!important;
                 background-image: url('/img/banner/bitcoin.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-banner-title">
                    <h2 style="display:none">{{ 'Login'|translate }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- heading-banner end -->
<!-- my-account-area start -->
<div class="my-account-area login-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <form method="post" name="Login" data-toggle="validator" role="form">
                    <input type="hidden" name="_do" value="Login"/>
                    <div class="form-fields">
                        <h2>{{ 'Login'|translate }}</h2>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">{{ 'Email address'|translate }} <span class="required">*</span></label>
                            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="{{ 'Email address'|translate }}" data-error="{{ 'Bruh, that email address is invalid'|translate }}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="resetPassword" class="control-label">{{ 'Password'|translate }} <span class="required">*</span></label>
                            <input type="password" name="password" class="form-control" id="resetPassword" data-error="{{ 'Enter your password!'|translate }}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                    </div>
                    <div class="form-action">
                        <p class="lost_password">
                            <a href="{{ url_prefix }}/passreset">{{ 'Lost your password?'|translate }}</a>
                        </p>
                        <input type="submit" value="Login" />
                        <label><input type="checkbox" />  {{ 'Remember me'|translate }} </label>
                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6">
                <form method="post" name="Register" data-toggle="validator" role="form">
                    <input type="hidden" value="Register" name="_do" />
                    <input type="hidden" id="fld_validation" name="register[rand_mail]" value="" />
                    <script>
                        document.getElementById("fld_validation").value = "{{ rand_mail }}";
                    </script>
                    <div class="form-fields">
                        <h2>{{ 'Register'|translate }}</h2>
                        <p>
                            <label>
                                <input  type="radio" name="register[gender]" value="{{ 'male'|translate }}" checked="checked" /> {{ 'Mr.'|translate }}
                                <input  type="radio" name="register[gender]" value="{{ 'female'|translate }}" /> {{ 'Mrs.'|translate }}
                            </label>
                        </p>
                        <div class="form-group">
                            <label for="firstname" class="control-label">{{ 'First Name'|translate }}</label>
                            <input type="text" name="register[firstname]" class="form-control" id="firstname" placeholder="{{ 'First Name'|translate }}" required>
                        </div>
                        <div class="form-group">
                            <label for="lastname" class="control-label">{{ 'Last Name'|translate }}</label>
                            <input type="text" name="register[lastname]" class="form-control" id="lastname" placeholder="{{ 'Last Name'|translate }}" required>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="control-label">{{ 'Email address'|translate }}</label>
                            <input type="email" name="register[email]" class="form-control" id="inputEmail" placeholder="{{ 'Email address'|translate }}" data-error="{{ 'Bruh, that email address is invalid'|translate }}" required>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="control-label">{{ 'Password'|translate }}</label>
                            <div class="form-inline row">
                                <div class="form-group col-sm-6">
                                    <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" required>
                                    <div class="help-block">{{ 'Minimum of 6 characters'|translate }}</div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input name="register[password]" type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="{{ 'Whoops, these dont match'|translate }}" placeholder="Confirm" required>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-action">
                        <input type="submit" value="{{ 'Register'|translate }}" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- my-account-area end -->
