<div class="chute chute-center pt30" style="height: 795.994px;">
    <form id="main_form" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        <input type="hidden" id="fld_do" name="_do" value="">

        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Genereren'|translate }}</span>
                </div>
                <div class="panel-body pn">

                    <div class="form-group">
                        <label for="fld_from" class="col-lg-3 control-label" style="">{{ 'Afzender'|translate }}</label>
                        <div class="col-lg-8">
                            <input name="data[from]" id="fld_from" class="form-control" placeholder="" value="{{ data.from }}" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fld_name" class="col-lg-3 control-label" style="">{{ 'Onderwerp'|translate }}</label>
                        <div class="col-lg-8">
                            <input name="data[subject]" id="fld_subject" class="form-control" placeholder="" value="{{ data.subject }}" type="text">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fld_mailing_list_id" class="col-lg-3 control-label">{{ 'Lijst'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-list"></i>
                                </span>
                                <select id="fld_mailing_list_id" name="data[mailing_list_id]" class="form-control">
                                    <option value="">{{ 'Maak een keuze'|translate }}</option>
                                    {% for mailing_list in mailing_lists %}
                                        <option {{ data.mailing_list_id ==  mailing_list.getId() ? 'selected' }} value="{{ mailing_list.getId() }}">{{ mailing_list.getName() }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fld_node_type_id" class="col-lg-3 control-label">{{ 'Template'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-file"></i>
                                </span>
                                <select id="fld_node_type_id" name="data[mailing_template_id]" class="form-control">
                                    <option value="">{{ 'Maak een keuze'|translate }}</option>
                                    {% for mailing_template in mailing_templates %}
                                        <option  {{ data.mailing_template_id ==  mailing_template.getId() ? 'selected' }} value="{{ mailing_template.getId() }}">{{ mailing_template.getName() }}</option>
                                    {%  endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    {% if custom_fields %}
                        {% for custom_field in custom_fields %}
                            <div class="form-group" style="display: {{ node_type_is_file ? 'none' : 'block' }};" id="fld_file_name" >
                                <label for="fld_name" class="col-lg-3 control-label" style="">{{ custom_field.field_name }}</label>
                                <div class="col-lg-8">
                                    {% if custom_field.field_type == 'text'%}
                                        <input name="data[{{ custom_field.field_name }}]" id="fld_{{ loop.index }}" class="form-control" placeholder="" value="{{ custom_field.current_value }}" type="text">
                                    {% elseif custom_field.field_type == 'textarea' %}
                                        <textarea class="form-control" style="height:100px;border:1px solid #ddd; border-radius: 3px;" name="data[{{ custom_field.field_name }}]" id="fld_{{ field_db }}" >{{ custom_field.current_value }}</textarea>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    <div style="margin-bottom:20px;">
                    <button id="fld_save" class="btn-primary btn pull-right"><i class="fa fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
        {% if show_preview %}
        <div class="col-md-6">
            <textarea style="display: none;" id="original_html">{{ current_mailing_template.getContents() }}</textarea>
            <textarea name="data[contents]" style="display: none;" id="final_contents">{{ current_mailing_template.getContents() }}</textarea>
            <iframe id="html_result" src="" style="width:100%;height:1200px;"></iframe>
        </div>
        {% endif %}
    </form>
</div>