<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" id="fld_button_id" name="button_id" value="">
    <input type="hidden" id="fld_do" name="_do" value="" />

    <div class="chute chute-center pt30">
        <h5>{{ title }}</h5>

        <div class="panel">
            <div class="panel-body pn" style="margin-top:0;">
                {% if mailing_lists.isEmpty() %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Vanuit deze module kunt u een mailing aanmaken.
                                U selecteerd een verzendlijst en een template en daarna geeft u de variabelen in.
                                Zodra de mailing is ingesteld kunt u hem gaan verzenden.
                            </p>
                            <a href="/marketing/mailing/compose/generate" class="btn btn-primary">
                                Creëer nu een mailing
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="table-responsive generated">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <table class="table allcp-form footable">
                                <tbody>
                                    {% for mailing in mailings %}
                                        <tr>
                                            <td class="">
                                                <h3><a href="">{{ mailing.getSubject() }}</a></h3>
                                                {{ 'Aangemaakt op'|translate }} {{ mailings.getCreatedDate()|date('l j M Y G:i') }}
                                            </td>
                                            <td class="">
                                                Current status: <span style="color:darkgreen">{{ mailing.getStatus() }}</span><br />
                                                Currently: {{ mailing.getIsPlaying() ? 'running' : 'on pauze' }}<Br/>
                                            </td>
                                            <td class="">
                                                <h3>{{ mailing.getTotalCount()|number_format(0, ',', '.') }}</h3>
                                                Total
                                            </td>
                                            <td class="">
                                                <h3>{{ mailing.getErrorCount()|number_format(0, ',', '.') }}</h3>
                                                Errors
                                            </td>
                                            <td class="">
                                                <h3>{{ mailing.getQueuedCount()|number_format(0, ',', '.') }}</h3>
                                                Queued
                                            </td>
                                            <td class="">
                                                <h3>{{ mailing.getSendCount()|number_format(0, ',', '.') }}</h3>
                                                Send
                                            </td>
                                            <td class="iconcol">
                                                <a href="/marketing/mailing/compose/overview?_do=ConfirmDelete&id={{ mailing.getId() }}" title="{{ 'Lijst verwijderen'|translate }}" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                            {% if mailing.isPLaying() %}
                                                <td class="iconcol">
                                                    <a href="/marketing/mailing/compose/overview?_do=Pauze&id={{ mailing.getId() }}" title="{{ 'Lijst verwijderen'|translate }}" class="btn btn-default">
                                                        <i class="fa fa-pause"></i>
                                                    </a>
                                                </td>
                                            {% else %}
                                                <td class="iconcol">
                                                    <a href="/marketing/mailing/compose/overview?_do=Play&id={{ mailing.getId() }}" title="{{ 'Start mailing'|translate }}" class="btn btn-primary">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                </td>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="dt-panelfooter clearfix">
                                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">{# nog geen paginering maar zo lijkt het iig wat. #}Showing 1 to {{ list_count }} of {{ list_count }} entries</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>