
<div class="chute chute-center pt30">
    <div class="row">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ question_title }}</span>
            </div>
            <div class="panel-body">
                {% for addresses in address_collections %}
                    {% if addresses %}
                        {% for address in addresses %}
                            <div class="bs-component col-md-3">
                                <div class="well" style="border:2px dashed green;position:relative">
                                    {% if current_type == 'delivery' %}
                                        <a href="/order/addresses?customer_id={{ customer_id }}&delivery_address_id={{ address.getId }}&invoice_address_id={{ invoice_address_id }}" title="{{ 'Klik om dit adres te kiezen'|translate }}">
                                    {% elseif current_type == 'invoice' %}
                                        <a href="/order/addresses?customer_id={{ customer_id }}&delivery_address_id={{ delivery_address_id }}&invoice_address_id={{ address.getId }}" title="{{ 'Klik om dit adres te kiezen'|translate }}">
                                    {% else %}
                                        <span style="color:red">Wrong address type.</span>
                                    {% endif %}

                                    <address>
                                        {% if address.getCompanyName() %}
                                            <strong>{{ address.getCompanyName() }}</strong>
                                        {% else %}
                                            <strong>{{ address.getAttnName() }}</strong>
                                        {% endif %}
                                        <br>{{ address.getAddressL1() }}
                                        {{ address.getAddressL2() }}
                                        <br>{{ address.city }}, {{ address.postal }}
                                        <br>
                                        {# <abr title="Phone">P:</abr>(123) 456-7890#}
                                    </address>
                                    {# misschien later toevoegen.
                                    <address>
                                        <strong>Full Name</strong>
                                        <br>
                                        <a href="mailto:#">mail@site.com</a>
                                    </address>
                                    #}
                                    </a>
                                    <a style="display:block; position: absolute; top: 10px; right:10px;" href="/crm/address/edit?id={{ address.getId() }}&r=after_create">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <div class="bs-component col-md-3">
                    <div class="well">
                        <a href="{{ new_delivery_address_url }}">
                            <address>
                                <span style="line-height: 62px;font-size:18px;">[+] AFLEVERADRES TOEVOEGEN</span>
                            </address>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>