<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <div class="row">
            <div class="col-md-12">
                {{ edit_form | raw  }}
            </div>
        </div>
    </form>
</div>