<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-trophy"></span>
        <span class="sidebar-title">{{ 'Bestellingen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/order/overview"><span class="fa fa-file-text-o"></span> {{ 'Overzicht'|translate }}</a></li>
        {#<li><a href="/order/export/overview"><span class="fa fa-file-text-o"></span> {{ 'Export'|translate }}</a></li>#}
        <li><a href="/order/new"><span class="fa fa-file-text-o"></span> [+] {{ 'Nieuwe invoeren'|translate }}</a></li>
    </ul>
</li>