<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" id="fld_button_id" name="button_id" value="">
    <input type="hidden" id="fld_do" name="_do" value="" />
    <div class="chute chute-center ">
        <!-- form enctype="multipart/form-data" method="post" -->
        <!-- input type="hidden" name="_do" id="fld_do" value="" -->


            {% if filter_html %}
                <div class="panel-menu p12 allcp-form mtn">
                    {{ filter_html | raw }}
                    <div class="custom_bottom_container" style="display: none;margin-top:10px;" >
                        {% if buttons %}
                            {% for button in buttons %}
                                <button name="trigger_button" value="{{ button.id }}" class="custom_bottom btn ladda-button btn-sm btn-{{ button.getColorBeforeClick ?  button.getColorBeforeClick : 'primary' }}">
                                    <i class="fa {{ button.getIconBeforeClick }}"></i>
                                    {{ button.title }}
                                </button>
                            {% endfor %}
                        {% endif %}
                    </div>

                </div>
            {% endif %}

            {% if title %}
                <h6>{{ title }}</h6>
            {% endif %}


            <div class="panel-body pn">
                {{ overview_table | raw }}
            </div>
        <!-- /form -->
    </div>
</form>