
	<div class="chute chute-center pt30">
		<form id="shipping_form" class="form-horizontal" role="form" method="post">

		<h5>{{ title }}</h5>

		<div class="row">

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">{{ 'Factuuradres'|translate }}</span>
					</div>
					<div class="panel-body">
						<div class="bs-component">
							<dl class="dl-horizontal" >
								<dt>
									{{ 'Bedrijfsnaam'|translate }}<br>
									{{ 'Adres'|translate }}<br>
									<br>
									<br>
								</dt>
								<dd>
									{% if sale_order.getCustomerInvoiceCompanyName() %}
										{{ sale_order.getCustomerInvoiceCompanyName() }} <a href="/order/edit/edit?order_id={{ sale_order.getId() }}&view=invoice_address&r=summary"><i class="fa fa-edit"></i></a><br>
									{% else %}
										<a href="/order/edit/edit?order_id={{ sale_order.getId() }}&view=invoice_address&r=summary"><i class="fa fa-edit"></i></a><br>
									{% endif %}


									{% if sale_order.getCustomerInvoiceAttnName() %}
										{{ sale_order.getCustomerInvoiceAttnName() }}<br>
									{% endif %}

									{% if sale_order.getCustomerInvoiceAddressL1() %}
										{{ sale_order.getCustomerInvoiceAddressL1()}}<br>
									{% endif %}
									{% if sale_order.getCustomerInvoiceAddressL2() %}
										{{ sale_order.getCustomerInvoiceAddressL2() }}<br>
									{% endif %}
									{{ sale_order.getCustomerInvoicePostal }} {{ sale_order.getCustomerInvoiceCity }}<br>
									{{ sale_order.getCustomerInvoiceCountry }}<br>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">{{ 'Afleveradres'|translate }}</span>
					</div>
					<div class="panel-body">
						<div class="bs-component">
							<dl class="dl-horizontal" >
								<dt>
									{{ 'Bedrijfsnaam'|translate }}<br>
									{{ 'Adres'|translate }}<br>
									<br>
									<br>
								</dt>
								<dd>
									{% if sale_order.getCustomerDeliveryCompanyName() %}
										{{ sale_order.getCustomerDeliveryCompanyName() }} <a href="/order/edit/edit?order_id={{ sale_order.getId() }}&view=delivery_address&r=summary"><i class="fa fa-edit"></i></a><br>
									{% else %}
										<a href="/order/edit/edit?order_id={{ sale_order.getId() }}&view=delivery_address&r=summary"><i class="fa fa-edit"></i></a><br>
									{% endif %}

									{% if sale_order.getCustomerDeliveryAttnName() %}
										{{ sale_order.getCustomerDeliveryAttnName() }}<br>
									{% endif %}

									{% if sale_order.getCustomerDeliveryAddressL1() %}
										{{ sale_order.getCustomerDeliveryAddressL1()}}<br>
									{% endif %}

									{% if sale_order.getCustomerDeliveryAddressL2() %}
										{{ sale_order.getCustomerDeliveryAddressL2() }}<br>
									{% endif %}
									{{ sale_order.getCustomerDeliveryPostal }} {{ sale_order.getCustomerInvoiceCity }}<br>
									{{ sale_order.getCustomerDeliveryCountry() }}<br>
								</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-12">
				<div class="panel">
					<div class="panel-heading">
						<span class="panel-title">{{ 'Order producten'|translate }}</span>
					</div>
					<div class="panel-body">

								<div class="table-responsive" style="overflow-x:visible">
									<table class="table">
										<thead>
											<tr class="bg-light">
												<th class="footable-sortable">{{ 'Afbeelding'|translate }}</th>
												<th class="footable-sortable">{{ 'Omschrijving'|translate }}</th>
												<th class="footable-sortable">{{ 'Aantal'|translate }}</th>
												<th class="footable-sortable" style="text-align: right">{{ 'Stukprijs'|translate }}</th>
												<th class="footable-sortable" style="text-align: right">{{ 'Subtotaal'|translate }}</th>
												<th class="footable-sortable" style="text-align: right">{{ 'BTW'|translate }} %</th>
												<th class="footable-sortable">{{ 'Bijlage'|translate }}</th>
												<th class="footable-sortable">{{ 'Toegevoegd op'|translate }}</th>
												<th class="iconcol">
													<div class="btn btn-default br2 btn-xs">
														<i class="fa fa-print"></i>
													</div>
													<a></a>
												</th>
												<th class="iconcol">
													<div class="btn btn-default br2 btn-xs">
														<i class="fa fa-trash-o"></i>
													</div>
													<a></a>
												</th>
												<th class="iconcol">
													<div class="btn btn-default br2 btn-xs">
														<i class="fa fa-edit"></i>
													</div>
													<a></a>
												</th>
											</tr>
										</thead>
										<tbody>
										{% for order_item in sale_order.getSaleOrderItems %}
											<tr>
												<td>
													<img style="width:100px;height:100px;" src="{{order_item.getFirstProduct().getPrimaryImageThumbPath(100, 100) }}" />
												</td>
												<td data-id="{{order_item.id}}" class="description">{{order_item.getDescription }}</td>
												<td class="quantity">
													{{ order_item.getQuantity }}
												</td>
												<td class="pieceprice" style="text-align: right">
													&euro; {{ order_item.getPrice()|number_format(2, ",") }}

                                                    {% if order_item.getFirstProduct().getDiscountPercentage() %}
														,   {{ 'normaal'|translate }}  <span style="text-decoration:line-through;color:#ccc">&euro;{{  order_item.getFirstProduct().getOriginalSalePrice()|number_format(2, ',', '.') }}</span>
                                                    {% endif %}
												</td>
												<td style="text-align: right">&euro; {{ (order_item.getPrice * order_item.getQuantity)|number_format(2, ",") }}</td>
												<td style="text-align: right">{{ order_item.getVatPercentage }}</td>
												<td>
													{% if order_item.getAttachmentDeliveryType == 'upload' and order_item.getAttachmentFileExt%}
														<a target="_blank" href="/data_pub/order_files/{{ current_session.member.Id }}/{{ order_item.getSaleOrderId }}/{{ order_item.getId }}/{{ order_item.getId }}.{{ order_item.getAttachmentFileExt }}">{{ 'Bekijk'|translate }}</a>
													{% elseif order_item.getAttachmentDeliveryType == 'link' %}
														<a target="_blank" href="{{ order_item.getAttachmentFileUrl }}">{{ 'Open de link'|translate }}</a>
													{% else %}
														{{ order_item.getAttachmentDeliveryType }}
													{% endif %}
												</td>
												<td>{{ order_item.getCreatedOn|date('H:i:s d-m-Y') }}</td>
												<td>
													<a title="{{ 'Product label printen met Dymo'|translate }}"
													   href="/order/summary?order_id={{ sale_order.getId() }}&_do=DymoPrint&order_item_id={{ order_item.getId() }}"
													   class="btn btn-primary br2 btn-xs fs12 d">
														<i class="fa fa-print"></i>
													</a>
												</td>

												<td>
													<a href="/order/add_product?order_id={{ id }}&_do=RemoveProduct&order_item_id={{ order_item.getId }}" class="btn btn-danger br2 btn-xs fs12 d">
														<i class="fa fa-trash-o"></i>
													</a>
												</td>

												{% if not order_item.getManualEntry %}
													<td>
														<a href="/order/editsaleorderitem?order_id={{ id }}&order_product_id={{ order_item.getSaleOrderItemProducts[0].getId }}" class="btn btn-primary br2 btn-xs fs12 d">
															<i class="fa fa-edit"></i>
														</a>
													</td>
												{% else  %}
													<td>
														<a href="#" class="btn btn-primary br2 btn-xs fs12 d edit_sale_order_line">
															<i class="fa fa-edit"></i>
														</a>
													</td>
												{% endif %}
											</tr>
										{% endfor %}
										<tr id="product_table_manual">
											<td></td>
											<td>
												<input type="hidden" id="fld_delete" name="delete_item" value="">
												<input type="text" id="fld_order_item_description" name="order_item_description">
											</td>
											<td><input style="width:75px;" type="text" id="fld_order_item_quantity" name="order_item_quantity" value="1"></td>
											<td><input style="width:75px;text-align:right;" type="text" id="fld_order_item_price" name="order_item_price"></td>
											<td id="fld_order_item_price_total"></td>
											<td style="text-align: right">
												<input style="width:75px;text-align: right;" type="text" id="fld_order_item_vat" name="order_item_vat" value="21">
											</td>
											<td></td>
											<td>
												<a href="/order/summary?order_id={{ id }}&_do=AddManualProduct" id="fld_add_manual" class="btn ladda-button btn-alert pull-right" data-style="expand-right">
													<span class="ladda-label">{{ 'Toevoegen'|translate }}</span>
													<span class="ladda-spinner"></span>
												</a>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
								<br>
								<a href="/order/add_product?order_id={{ id }}" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
									<span class="ladda-label"><i class="fa fa-search"></i> {{ 'Product opzoeken'|translate }}</span>
									<span class="ladda-spinner"></span>
								</a>

						</div>

				</div>
			</div>
		</div>
	</form>
</div>
