<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li>
                <a href="{{ overview_back_url }}">&laquo; {{ 'Orderoverzicht'|translate }}</a>
            </li>
            |
            <li class="{{ summary_active }}">
                <a href="/order/summary?order_id={{ order_id }}">1. {{ 'Summary'|translate }}</a>
            </li>
            <li class="{{ shipping_active }}">
                <a href="/order/cash_and_delivery/edit?order_id={{ order_id }}">2. {{ 'Verzenden en betalen'|translate }}</a>
            </li>
            <li class="{{ status_active }}">
                <a href="/order/completed/status?order_id={{ order_id }}">3. {{ 'Afronden'|translate }}</a>
            </li>
            {% for crud_view in crud_views %}
                <li class="active">
                    <a href="{{ overview_url }}?tab={{ crud_view.id }}">{{ crud_view.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">

        {% for button in buttons %}
            <a href="/order/summary?order_id={{ order_id }}&_do=TriggerButtonEvent&button_id={{ button.id }}" class="btn ladda-button btn-sm  btn-{{ button.getColorBeforeClick ?  button.getColorBeforeClick : 'primary' }}">
                <i class="fa {{ button.getIconBeforeClick }}"></i>
                {{ button.title }}
            </a>
        {% endfor %}

        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">

                {% if controller == 'status_controller' %}
                    <li>

                        <a href="/generic/crud/editor_edit?module={{ todo_module }}&manager={{ todo_manager }}&name={{ todo_edit_config_key }}&title=Checklist+order+stappen&single_block=true&do_after_save=return_order_summary">
                            <i class="fa fa-check"></i>
                            Todo stappen
                        </a>
                    </li>
                {% else %}
                    <li>
                        <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ edit_config_key }}&title={{ edit_view_title }}">
                            <i class="fa fa-table"></i>
                            {{ 'Velden en titel'|translate }}
                        </a>
                    </li>
                {% endif %}
                <li>
                    <a href="/generic/crud/editor_buttons?module={{ module }}&manager={{ manager }}&name={{ edit_config_key }}&event_scope=Order">
                        <i class="fa fa-cogs"></i>
                        {{ 'Knoppen'|translate }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
