<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/order/new">&laquo; {{ 'Terug naar klant kiezen'|translate }}</a>
            </li>
        </ul>
    </div>
</header>