<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="active">
                <a href="/order/summary?id={{ id }}">{{ 'Ga terug naar order'|translate }}</a>
            </li>
        </ul>
    </div>
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">
        </div>
    </div>
</header>
