<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title">{{ 'Systeem'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/system/mime_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Data typen'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/datasource/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Databronnen'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/datasource_endpoint_method/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Databron endpoint method'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/datasource_endpoint/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Databron endpoints'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/icon/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Iconen'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/app_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'App type'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/ui_component_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'UI component type'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/ui_component_type_accepts/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'UI component type accepts'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/ui_component/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'UI component'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/data_model/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Data modellen'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/behavior_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Behavior type'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/behavior/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Behaviors'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/data_field/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Data model veld'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/model_constraint/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Verwijzende sleutels'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/event_type/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Event type'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_editor/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Formulieren'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_editor_block/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Formulier blokken'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_editor_block_field/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Knoppen die op collecties van toepassing zijn'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_view_button_event/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Knop gebeurtenissen op collecties'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_editor_button/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Knoppen'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_editor_button_visibile_filter/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Knop filters'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_editor_button_event/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Knop gebeurtenissen'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/filter_datatype/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Filter datatype'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/filter_operator/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Filter operator'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/filter_operator_datatype/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Filter operator datatype'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_view_visible_filter/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Formulier filters'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/crud_view_hidden_filter/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Standaard filter velden'|translate }}
            </a>
        </li>
        <li>
            <a href="/system/system_registry/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ ''|translate }}
            </a>
        </li>
    </ul>
</li>