<header id="topbar" class="ph10">

    <button class="btn btn-sm btn-success">
        <i class="fa fa-code"></i>
        When ... then ...
    </button>

    <button class="btn btn-sm">
        <i class="fa fa-flash"></i>
        Trigger ...
    </button>

    <button class="btn btn-sm btn-success">
        <i class="fa fa-clock-o"></i> Sleep
    </button>

    <button class="btn btn-sm btn-success">
        <i class="fa fa-save"></i> Set
    </button>

    <button class="btn btn-sm btn-success">
        <i class="fa fa-rotate-right"></i> New endless loop
    </button>

    <div class="btn-group">
        <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
            Events
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">

            <li><a href="#">Outside temp + humidity</a></li>
            <li><a href="#">Greenhouse temp + humidty</a></li>
            <li><a href="#">Greenhouse water tank temperature</a></li>
            <li><a href="#">Strawberry soil</a></li>

        </ul>
    </div>

    <button class="btn btn-sm btn-success">
        Do at interval
    </button>
</header>
