<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <div class="row">
            <div class="col-md-12">
sadasfdafs

            </div>
        </div>
    </form>
</div>