<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-code"></span>
        <span class="sidebar-title">{{ 'Visual code'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/visual_code/overview">
                <span class="iconcol fa fa-table"></span>
                {{ 'Events bekijken'|translate }}</a>
        </li>
        <li>
            <a href="/visual_code/edit">
                <span class="fa fa-flash"></span>
                {{ 'Event creëren'|translate }}</a>
        </li>
    </ul>
</li>
