<!-- single-product-area start -->
<div class="single-product-area" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">

            {{ left_menu|raw }}

            <div class="col-lg-9 col-md-9">

                <h3 class="sidebar-title">{{ 'Sure delete address?'|translate }}</h3>

                <p>{{ 'Are you sure that you wish to delete this address?'|translate }}</p>

                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12">
                                <p style="color:black">
                                    {% if address.getCompanyName() %}
                                        <strong>{{ address.getCompanyName() }}</strong><br>
                                    {% endif %}
                                    {% if address.getAttnName() %}
                                        {{ address.getAttnName() }}<br>
                                    {% endif %}

                                    {% if address.getAddressL1() %}
                                        {{ address.getAddressL1() }}<br>
                                    {% endif %}

                                    {% if address.getAddressL2() %}
                                        {{ address.getAddressL2() }}<br>
                                    {% endif %}

                                    {{ address.getPostal() }} {{ address.getCity() }}<br>
                                    {{ address.getCountry().getName() }}<br>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul class="panel_list" style="color:black">
                                <li>
                                    <span class="fa fa-arrow-left"></span>
                                    <a style="color:black" href="{{ url_prefix }}/account/addresses/overview">{{ 'Cancel delete'|translate }}</a>
                                </li>
                                <li>
                                    <span class="fa fa-trash"></span>
                                    <a style="color:black" href="{{ url_prefix }}/account/addresses/confirm_delete?address_id={{ address.getId() }}&_do=EraseAddress">{{ 'Yes i am sure, delete'|translate }}</a>
                                </li>
                            </ul>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

