<div class="single-product-area">
    <div class="container">
        <div class="row">
            {{ left_menu|raw }}
            <div class="col-lg-9 col-md-9">
                <h3 class="sidebar-title">{{ 'Address info'|translate }}</h3>
                <div class="col-lg-12 col-md-12">
                    <div class="checkbox-form">
                        <form name="edit" method="POST" data-toggle="validator" role="form">
                            <input type="hidden" name="_do" value="StoreAddress"/>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <input type="hidden" name="address[id]" value="{{ address.getId() }}" />
                                            <div class="tab-content">
                                                <div id="home" class="tab-pane fade in active">
                                                    <div class="panel panel-default ">
                                                        <div class="panel-body">
                                                            <div class="col-md-12">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'Company name'|translate }} <span class="required">*</span></label>
                                                                    <input type="text" name="address[company_name]" value="{{ address.getCompanyName() }}" placeholder="{{ 'Company name'|translate }}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'Attn to'|translate }} <span class="required">*</span></label>
                                                                    <input type="text" name="address[attn_name]" value="{{ address.getAttnName() }}" placeholder="{{ 'Attn to'|translate }}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'Address'|translate }} <span class="required">*</span></label>
                                                                    <input type="text" name="address[address_l1]" value="{{ address.getAddressL1() }}" placeholder="{{ 'Street address'|translate }}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="checkout-form-list">
                                                                    <input type="text"  name="address[address_l2]" value="{{ address.getAddressL2() }}" placeholder="{{ 'Apartment, suite, unit etc. (optional)'|translate }}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'Town / City'|translate }} <span class="required">*</span></label>
                                                                    <input type="text" name="address[city]" value="{{ address.getCity() }}" placeholder="{{ 'Town / City'|translate }}" />
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'Postcode / Zip'|translate }} <span class="required">*</span></label>
                                                                    <input type="text" name="address[postal]" value="{{ address.getPostal() }}"  placeholder="{{ 'Postcode / Zip'|translate }}" />

                                                                </div>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'County'|translate }} <span class="required">*</span></label>
                                                                    <select id="fld_country" name="address[country_id]">
                                                                        <option>{{ 'Please choose your country'|translate }}</option>
                                                                        {% for country in countries %}
                                                                            <option  {{ address.getCountryId() == country.getId() ? 'selected'  }} value="{{ country.getId() }}">{{ country.getName() }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12" id="state_block" style="display:block">
                                                                <div class="checkout-form-list">
                                                                    <label>{{ 'State'|translate }} <span class="required">*</span></label>
                                                                    <select name="address[usa_state_id]">
                                                                        <option value="">{{ 'Please choose your state'|translate }}</option>
                                                                        {% for state in states %}
                                                                            <option  {{ address.getUsaStateId() == state.getId() ? 'selected'  }} value="{{ state.getId() }}">{{ state.getName() }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="checkout-form-list">
                                            <div class="form-group">
                                                <a href="{{ url_prefix }}/account/addresses/overview" class="btn btn-primary btn-md">&laquo; {{ 'Back to the list'|translate }}</a>

                                                <button type="submit" class="btn btn-primary btn-md">
                                                    <i class="fa fa-save"></i>
                                                    {{ 'Update Profile'|translate }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>