<!-- single-product-area start -->
<div class="single-product-area  myaccount addressses" xmlns="http://www.w3.org/1999/html">
    <div class="container">
        <div class="row">

            {{ left_menu|raw }}

            <div class="col-lg-9 col-md-9">

                <h3 class="sidebar-title">{{ 'Address Book'|translate }}</h3>

                <p>{{ 'Here are your residence or business address and shipping and billing address (es).'|translate }}</p>

                {% if default_general_customer_address %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">{{ 'My general address'|translate }}</div>
                        <div class="panel-body">

                            <div class="col-md-12 dark">
                                <p>
                                    {% if default_general_customer_address.getCompanyName() %}
                                        <strong>{{ default_general_customer_address.getCompanyName() }}</strong><br>
                                    {% endif %}
                                    {% if default_general_customer_address.getAttnName() %}
                                        {{ default_general_customer_address.getAttnName() }}<br>
                                    {% endif %}

                                    {% if default_general_customer_address.getAddressL1() %}
                                        {{ default_general_customer_address.getAddressL1() }}<br>
                                    {% endif %}

                                    {% if default_general_customer_address.getAddressL2() %}
                                        {{ default_general_customer_address.getAddressL2() }}<br>
                                    {% endif %}

                                    {{ default_general_customer_address.getPostal() }} {{ default_general_customer_address.getCity() }}<br>
                                    {% if default_general_customer_address.getCountry().getName() == 'United States of America' %}
                                        {{ default_general_customer_address.getUsaState().getName() }}<br>
                                    {% endif %}
                                    {{ default_general_customer_address.getCountry().getName() }}<br>
                                </p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <ul class="panel_list dark">
                                <li>
                                    <snap class="fa fa-edit"></snap>
                                    <a href="{{ url_prefix }}/account/addresses/edit?address_id={{ default_general_customer_address.getId() }}">{{ 'Edit address'|translate }}</a>
                                </li>
                                <li>
                                    <span class="fa fa-copy"></span>
                                    <a href="{{ url_prefix }}/account/addresses/copy?address_id={{ default_general_customer_address.getId() }}&to=delivery">{{ 'Copy as shipping address'|translate }}</a>
                                </li>
                                <li>
                                    <span class="fa fa-copy"></span>
                                    <a href="{{ url_prefix }}/account/addresses/copy?address_id={{ default_general_customer_address.getId() }}&to=invoice">{{ 'Copy as invoice address'|translate }}</a>
                                </li>
                            </ul>
                            <div style="clear: both"></div>
                        </div>
                    </div>
                {% endif %}

                <h4>{{ 'Other addresses'|translate }}</h4>

                <div class="panel-group">
                    {% for address in other_addresses %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="col-md-12  dark">
                                    <p style="position: relative">

                                        {% if address.getCustomerAddressType.getCode == 'delivery' %}
                                            {% if address.isDefault() %}
                                                <strong style="color:darkgreen;position:absolute;right:10px;">
                                                    Default shipping address
                                                </strong>
                                            {% endif %}
                                        {% elseif address.getCustomerAddressType.getCode == 'invoice' %}
                                            {% if address.isDefault() %}
                                                <strong style="color:darkgreen;position:absolute;right:10px;">
                                                    Default invoice address
                                                </strong>
                                            {% endif %}
                                        {% elseif address.getCustomerAddressType.getCode == 'general' %}
                                            {% if address.isDefault() %}
                                                <strong style="color:darkgreen;position:absolute;right:10px;">
                                                    Default general address
                                                </strong>
                                            {% endif %}
                                        {% endif %}

                                        {% if address.getCompanyName() %}
                                            <strong>{{ address.getCompanyName() }}</strong><br>
                                        {% endif %}
                                        {% if address.getAttnName() %}
                                            {{ address.getAttnName() }}<br>
                                        {% endif %}

                                        {% if address.getAddressL1() %}
                                            {{ address.getAddressL1() }}<br>
                                        {% endif %}

                                        {% if address.getAddressL2() %}
                                            {{ address.getAddressL2() }}<br>
                                        {% endif %}

                                        {{ address.getPostal() }} {{ address.getCity() }}<br>
                                        {% if address.getCountry().getName() == 'United States of America' %}
                                            {{ address.getUsaState().getName() }}<br>
                                        {% endif %}

                                        {{ address.getCountry().getName() }}<br>
                                    </p>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <ul class="panel_list  dark">
                                    <li>
                                        <span class="fa fa-edit"></span>
                                        <a href="{{ url_prefix }}/account/addresses/edit?address_id={{ address.getId() }}">
                                            {{ 'Edit Address'|translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <span class="fa fa-trash"></span>
                                        <a href="{{ url_prefix }}/account/addresses/confirm_delete?address_id={{ address.getId() }}">
                                            {{ 'Delete address'|translate }}
                                        </a>
                                    </li>

                                    <li>
                                        <span class="fa fa-hand-o-up"></span>
                                        <a href="{{ url_prefix }}/account/addresses/overview?_do=SetDefaultDelivery&address_id={{ address.getId() }}">
                                            {{ 'Make default shipping'|translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <span class="fa fa-building-o"></span>
                                        <a href="{{ url_prefix }}/account/addresses/overview?_do=SetDefaultInvoice&address_id={{ address.getId() }}">
                                            {{ 'Make default invoice'|translate }}
                                        </a>
                                    </li>
                                    <li>
                                        <span class="fa fa-building-o"></span>
                                        <a href="{{ url_prefix }}/account/addresses/overview?_do=SetGeneral&address_id={{ address.getId() }}">
                                            {{ 'Set as general'|translate }}
                                        </a>
                                    </li>
                                </ul>
                                <div style="clear: both"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

