<div class="slider-wrap">
    <div class="fullwidthbanner-container" >
        <div class="fullwidthbanner slick-carousel">
            {% for site_banner in site_banners %}
                {% if site_banner.getFileExt() %}
                    <!--MAIN IMAGE-->
                    <img src="img/banner/sliced/1920x100/{{ site_banner.getId() }}.{{ site_banner.getFileExt() }}" alt="" data-bgposition="top left" data-duration="" data-ease="Power0.easeInOut" data-bgfit="normal" data-bgrepeat="repeat"/>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="banner-area">
    <div class="container">
        <div class="row">
            {% for promo_translation in promo_translations %}
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <a href="{{ url_prefix }}{{ promo_translation.product.getProductUrl() }}">
                        <div class="single-banner">
                            {% if promo_translation.trans.getHasImage() %}
                                <img src="{{ promo_translation.trans.getImagePath() }}" alt="" />
                            {% elseif promo_translation.product.hasImages() %}
                                <img src="/img/product/375x250/{{ promo_translation.product.getPrimaryImage().getId() }}.{{ promo_translation.product.getPrimaryImage().getFileExt() }}" alt="" />
                            {% else %}
                                <img src="http://placehold.it/375x250" alt="" />
                            {% endif %}
                            <div class="banner-details">
                                <h2 class="promo-title">{{ promo_translation.trans.getTitle()|raw }}</h2>
                                <p>{{ promo_translation.trans.getDescription()|raw }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="features-area pad-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>{{ 'THIS MONTH BESTSELLERS'|translate }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product-tab">
                    <!-- Nav tabs -->
                    <ul class="tab-menu" role="tablist">
                        {% for bestseller in bestsellers %}
                            <li role="presentation" class="{{ loop.first ? ' active' }}">
                                <a href="#block{{ loop.index }}" aria-controls="block{{ loop.index }}" role="tab" data-toggle="tab">
                                    {{ bestseller.category_translation.getName() }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="tab-content">
                        {% for bestseller in bestsellers %}
                            <div role="tabpanel" class="tab-pane{{ loop.first ? ' active'}}" id="block{{ loop.index }}">
                                <div class="row">
                                    <div class="product-curosel">
                                        {% for product in bestseller.products %}
                                            <div class="col-lg-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="{{ url_prefix }}{{ product.getProductUrl() }}">
                                                            {% if product.hasImages() %}
                                                                <img class="primary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                                                <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                                            {% else %}
                                                                <!-- We need a placeholder for this-->
                                                                <img class="primary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                                <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                            {% endif %}
                                                        </a>

                                                        {% if product.getIsOutOfStock() %}
                                                            <span class="sale">{{ 'sold out'|translate }}</span>
                                                        {% elseif product.getInSale %}
                                                            <span class="sale">{{ 'sale'|translate }}</span>
                                                        {% endif %}
                                                        <div class="product-action">
                                                            {% if product.getIsOutOfStock() == false %}
                                                                {% for derrived_product in product.getDerrivedProducts() %}
                                                                    <div class="pro-button-top" style="margin-bottom:5px;">
                                                                        <a href="{{ url_prefix }}/cart/add?product_id={{ derrived_product.getId() }}">
                                                                            {{ 'Buy'|translate }} {{ derrived_product.getQuantityPerPack() }} {{ 'seeds'|translate }}
                                                                        </a>
                                                                    </div>
                                                                    <div style="clear:both"></div>
                                                                {% endfor %}
                                                            {% endif %}
                                                            <div class="pro-button-bottom">
                                                                <a href="{{ url_prefix }}/wishlist/add?product_id={{ product.getId() }}"><i class="fa fa-heart"></i></a>

                                                                {% if product.hasImages() %}
                                                                    <a href="/img/product/800x800/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" class="image-link-{{ product.getPrimaryImage().getId() }}">
                                                                        <i class="fa fa-search-plus"></i>
                                                                    </a>
                                                                    <script>
                                                                        $('.image-link-{{ product.getPrimaryImage().getId() }}').magnificPopup({
                                                                            type: 'image',

                                                                            retina: {
                                                                                ratio: 2
                                                                            }
                                                                        });
                                                                    </script>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-info">
                                                        <h3><a href="{{ url_prefix }}{{ product.getProductUrl() }}">{{ product.title() }}</a></h3>
                                                        {% for derrived_product in product.getDerrivedProducts() %}
                                                            <div class="pro-price">
                                                                {{ derrived_product.getQuantityPerPack() }} seeds
                                                                <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                                                {% if derrived_product.getAdvicePrice() %}
                                                                    <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                                                {% endif %}
                                                            </div>
                                                            <div style="clear:both"></div>
                                                        {% endfor %}

                                                        <div class="pro-rating">
                                                            {% for x in product.getAverageRatingStars %}
                                                                <i class="fa fa-star"></i>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if actions %}
    <div class="new-product-area pad-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>{{ 'Actions'|translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-curosel">
                {% for product in actions %}
                    <div class="col-lg-12">
                        <div class="single-product">
                            <div class="product-img">
                                <a href="{{ url_prefix }}{{ product.getProductUrl() }}">
                                    {% if product.hasImages() %}
                                        <img class="primary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                        <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                    {% else %}
                                        <!-- We need a placeholder for this-->
                                        <img class="primary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                        <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                    {% endif %}
                                </a>
                                {% if product.getInSale %}
                                    <span class="sale">{{ 'sale'|translate }}</span>
                                {% endif %}
                                <div class="product-action">
                                    {% if product.hasDerrrivedProducts() %}
                                        {% for derrived_product in product.getDerrivedProducts() %}
                                            <div class="pro-button-top" style="margin-bottom:5px;">
                                                <a href="{{ url_prefix }}/cart/add?product_id={{ derrived_product.getId() }}">
                                                    {{ 'Buy'|translate }} {{ derrived_product.getQuantityPerPack() }} {{ 'seeds'|translate }}
                                                </a>
                                            </div>
                                            <div style="clear:both"></div>
                                        {% endfor %}
                                    {% else %}
                                        <div class="pro-button-top" style="margin-bottom:5px;">
                                            <a href="{{ url_prefix }}/cart/add?product_id={{ derrived_product.getId() }}">
                                                {{ 'Buy'|translate }} {{ derrived_product.getQuantityPerPack() }} {{ 'seeds'|translate }}
                                            </a>
                                        </div>
                                        <div style="clear:both"></div>
                                    {% endif %}
                                    <div class="pro-button-bottom">
                                        <a href="{{ url_prefix }}/wishlist/add?product_id={{ product.getId() }}"><i class="fa fa-heart"></i></a>

                                        {% if product.hasImages() %}
                                            <a href="/img/product/800x800/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" class="image-link-{{ product.getPrimaryImage().getId() }}">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <script>
                                                $('.image-link-{{ product.getPrimaryImage().getId() }}').magnificPopup({
                                                    type: 'image',

                                                    retina: {
                                                        ratio: 2
                                                    }
                                                });
                                            </script>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="product-info">
                            <h3><a href="{{ url_prefix }}{{ product.getProductUrl() }}">{{ product.title()|capitalize }}</a></h3>

                            {% if product.hasDerrrivedProducts() %}
                                {% for derrived_product in product.getDerrivedProducts() %}
                                    <div class="pro-price">
                                        {{ derrived_product.getQuantityPerPack() }} seeds
                                        <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                        {% if derrived_product.getAdvicePrice() %}
                                            <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                        {% endif %}
                                    </div>
                                    <div style="clear:both"></div>
                                {% endfor %}
                            {% else %}
                                <div class="pro-price">
                                    {{ product.getQuantityPerPack() }} seeds
                                    <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                    {% if product.getAdvicePrice() %}
                                        <span class="old">&euro;{{ product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                    {% endif %}
                                </div>
                                <div style="clear:both"></div>
                            {% endif %}
                            <div class="pro-rating">
                                {% for x in product.getAverageRatingStars %}
                                    <i class="fa fa-star"></i>
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- subscribe-area start -->
<div class="subscribe-area">
    <div class="container">
        <div class="subscribe-title">
            <h3><span>{{ 'Subscribe'|translate }}</span>{{ 'to our newsletter'|translate }}</h3>
            <p>{{ 'Subscribe to our mailing list to receive updates on new arrivals, special offers and other discount information.'|translate }}</p>
            <form method="post">
                <input type="hidden" value="Subscribe" name="_do" />
                <input type="hidden" id="fld_validation" name="message[rand_mail]" value="" />
                <script>
                    document.getElementById("fld_validation").value = "{{ rand_mail }}";
                </script>
                <div class="subscribe-form">
                    <input required type="text" name="message[first_name]" value="{{ data.first_name }}" placeholder="First name" />
                    <input required type="text" name="message[last_name]" value="{{ data.last_name }}" placeholder="Last name" />
                    <input required type="text" name="message[email]" value="{{ data.email }}" placeholder="E-mail address." />
                    <button type="submit">subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="category-area pad-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="section-title">
                    <h2>{{ 'Season bestsellers'|translate }}</h2>
                </div>
                <div class="category-curosel">
                    <div class="category-item">
                        {% for product in top_bestsellers %}
                            {% include 'small-product.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="section-title">
                    <h2>{{ 'In sale'|translate }}</h2>
                </div>
                <div class="category-curosel">
                    <div class="category-item">
                        {% for product in in_sale %}
                            {% include 'small-product.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 hidden-sm">
                <div class="section-title">
                    <h2>{{ 'Alltime top rated'|translate }}</h2>
                </div>
                <div class="category-curosel">
                    <div class="category-item">
                        {% for product in alltime_toppers %}
                            {% include 'small-product.twig' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="service-area">
    <div class="container">
        <div class="row">
            {% for usp in usps %}
                <div class="col-lg-4 col-md-4 col-sm-6" style="margin-bottom: 25px;">
                    <div class="single-service">
                        <div class="service-icon">
                            <img style="height:60px;" src="/img/icon/{{ usp.getIcon() }}" alt="" />
                        </div>
                        <div class="service-text">
                            <h2>{{ usp.getShortTxt() }}</h2>
                            <p>{{ usp.getLongTxt() }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if blog_posts.count() > 0 %}
    <div class="latest-blog-area pad-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2>{{ 'Latest blog entries'|translate }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="latest-blog-curosel">
                    <!-- single-latest-blog start -->
                    {% for blog_post in blog_posts %}
                        <div class="col-lg-12">
                            <div class="single-latest-blog">
                                <div class="latest-blog-img">
                                    <a href="{{ url_prefix  }}{{ blog_post.getUrl() }}">
                                        <img src="/img/blog/600x310/{{ blog_post.getId() }}.{{ blog_post.getFileExt() }}" alt="" />
                                    </a>
                                </div>
                                <div class="latest-blog-content">
                                    <h3>
                                        <a href="{{ url_prefix  }}{{ blog_post.getUrl() }}">{{ blog_post.getTitle() }}</a>
                                    </h3>
                                    <div class="meta">
                                        <span class="post-category">
                                            by <a href="{{ url_prefix }}/blog?author={{ blog_post.getAuthorName() }}">{{ blog_post.getAuthorName() }}</a>
                                        </span>
                                        <span class="meta-border">|</span>
                                        <span class="time">
                                            <i class="fa fa-clock-o"></i>{{ blog_post.getCreatedOn()|date("m/d/Y H:m") }}
                                        </span>
                                    </div>
                                    <p>{{ blog_post.getTeaser() }}....</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
{% endif %}

{% include 'suppliers.twig' %}

