<div class="single-product">
    <div class="product-img">
        <a href="{{ url_prefix }}{{ product.getProductUrl() }}">
            {% if product.hasImages() %}
                <img class="primary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
            {% else %}
                <img class="primary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
            {% endif %}
        </a>
    </div>
    <div class="product-info">
        <h3><a href="{{ url_prefix }}{{ product.getProductUrl() }}">{{ product.title()|capitalize }}</a></h3>
        {% if product.hasDerrrivedProducts() %}
            {% for derrived_product in product.getDerrivedProducts() %}
                <div class="pro-price">
                    {{ derrived_product.getQuantityPerPack() }} seeds
                    <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                    {% if derrived_product.getAdvicePrice() %}
                        <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                    {% endif %}
                </div>
                <div style="clear:both"></div>
            {% endfor %}
        {% else %}
            <div class="pro-price">
                {% if product.getUnitCode() == 'cm' %}
                    <span class="normal">&euro;{{ (product.getSalePrice())|number_format(2, ',', '.')  }}</span> {{ 'Per meter'|translate }}
                    {% if derrived_product.getAdvicePrice() %}
                        <span class="old">&euro;{{ (product.getAdvicePrice())|number_format(2, ',', '.') }}</span>
                    {% endif %}
                {% else %}
                    {{ product.getQuantityPerPack() }} seeds
                    <span class="normal">&euro;{{ product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                    {% if derrived_product.getAdvicePrice() %}
                        <span class="old">&euro;{{ product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                    {% endif %}
                {% endif %}
            </div>
            <div style="clear:both"></div>
        {% endif %}
        <div class="pro-rating">
            {% for x in product.getAverageRatingStars %}
                <i class="fa fa-star"></i>
            {% endfor %}
        </div>
        {% for derrived_product in product.getDerrivedProducts() %}
            <div class="pro-button-top" style="margin-bottom: 6px;">
                <a style="text-align:center" href="{{ url_prefix }}/cart/add?product_id={{ derrived_product.getId() }}">
                    {{ 'Buy'|translate }} {{ derrived_product.getQuantityPerPack() }} {{ 'seeds'|translate }}
                </a>
            </div>
            <div style="clear:both"></div>
        {% endfor %}
    </div>
</div>