<div class="brand-area pad-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <h2>{{ 'Some of the brands that we sell'|translate }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="brand-carousel">
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="single-brand">
                        <a href="#">
                            <img src="/img/brand/1.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
