<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="{{ lists }}">
                <a href="/marketing/mailing/mailing_list/overview">
                    {{ 'Lijsten'|translate}} ({{ list_count }})
                </a>
            </li>
            <li class="{{ template }}">
                <a href="/marketing/mailing/template/overview">
                    {{ 'Templates'|translate}} ({{ template_count }})
                </a>
            </li>
            <li class="{{ generate }}">
                <a href="/marketing/mailing/compose/overview">
                    {{ 'Mailing'|translate}} ({{ mailing_count }})
                </a>
            </li>
            <li class="{{ queue }}">
                <a href="/marketing/mailing/status/queue">
                    {{ 'Wachtrij'|translate}} ({{ queue_count|number_format(0, ',', '.') }})
                </a>
            </li>
        </ul>
    </div>

    {% if new_url %}
        <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
            <div class="btn-group">
                <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                    <span class="fa fa-plus pr5"></span>
                    <span class="fa fa-pencil pr5"></span>
                </a>
            </div>
        </div>
    {% endif %}
</header>


