<header id="topbar" class="ph10">
    <div class="topbar-left hidden-xs hidden-sm mt5 mr35">
        <ul class="pull-left topbar-menu">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Bankrekeningen'|translate }}">
                        {{ year }}
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for curr_year in years %}
                            <li>
                                <a href="/finance/report/exploitation?year={{ curr_year }}&bank_transaction_category_id={{ bank_transaction_category_id }}">
                                    {{ curr_year }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>


                <div class="btn-group ml10">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Bankrekeningen'|translate }}">
                        {{ selected_category.getDescription() }}
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for category in root_categories %}
                            <li>
                                <a href="/finance/report/exploitation?bank_transaction_category_id={{ category.getId() }}">
                                    {{ category.getDescription() }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                {% if sub_categories %}
                <div class="btn-group ml10">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Bankrekeningen'|translate }}">
                        {{ child_selected_category.getDescription() }} sub categorieen
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for category in sub_categories %}
                            <li>
                                <a href="/finance/report/exploitation?bank_transaction_category_id={{ category.getId() }}">
                                    <input type="checkbox">
                                    {{ category.getDescription() }}
                                </a>
                            </li>
                        {% endfor %}
                            <li>
                                <button class="btn btn-success">Filter</button>
                            </li>
                    </ul>
                </div>
                {% endif %}

            </li>

        </ul>

    </div>
</header>