<div class="input-group">
    <a style="text-decoration: underline" href="{{ field_url }}" {{ target_attr }}title="{{ link_title }}">
        {% if icon %}
            <span class="input-group-addon" style="border:none;color:black;margin:0;">
                        <i class="fa fa-{{ icon }}"></i>
                    </span>
        {% endif %}
        {{ field_txt|raw }}
    </a>
</div>