<div class="input-group">
    {% if read_only %}
        <label class=" control-label">
            {{ field_value|raw }}
        </label>
    {% else %}
        {% if icon %}
            <span class="input-group-addon">
                        <i class="fa fa-{{ icon }}"></i>
                    </span>
        {% endif %}
        <input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="form-control" data-toggle="tooltip" data-placement="top"  placeholder="{{ placeholder }}" value="{{ field_value }}" type="{{ type ? type : 'text' }}">
        {#
        <b class="tooltip tip-right-top"><em> I am a top right aligned tooltip! Pretty usefulhuh.</em></b>
        #}
    {% endif %}
</div>
