<div class="input-group">
    {% if read_only %}
        {% set break = false %}
        {% for option in options if not break %}
            {% if field_value == option['id'] %}
                {{ option['label'] }}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if icon %}
            <span class="input-group-addon">
                    <i class="fa fa-{{ icon }}"></i>
                 </span>';
        {% endif %}
        <select name="{{ array_name }}[{{ field_db }}]" class="form-control">
            {% if placeholder %}
                <option value="">{{ placeholder }}</option>
            {% endif %}
            {% for option in options %}
                <option {{ field_value == option['id']?'selected="selected"':'' }} value="{{ option['id'] }}">{{ option['label'] }}</option>
            {% endfor %}
        </select>
    {% endif %}
</div>