<div class="input-group">
    {% if read_only %}
        {% set break = false %}
        {% for option in options if not break %}
            {% if field_value == option['id'] %}
                {{ option['label'] }}
                {% set break = true %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% if icon %}
            <span class="input-group-addon">
                        <i class="fa fa-{{ icon }}"></i>
                    </span>
        {% endif %}
        <select id="fld_{{ field_db }}" name="{{ array_name }}[{{ field_db }}]" class="{{ single_suggest_enabled ? 'single_suggest' : 'form-control' }}">
            {% if placeholder %}
                <option value="">{{ placeholder }}</option>
            {% endif %}
            {% for option in options %}
                {% if option['label']!='' %}
                    <option {{ (option['style'] ? 'style="' ~ option['style'] ~ '" ')|raw }}{{ option['selected']|raw }} data-extra="{{ option['extra'] }}" value="{{ option['id'] }}">{{ option['label'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
    {% endif %}
</div>