<div class="input-group datetime_picker">
    {% if read_only %}
        <label class=" control-label" id="{{ field_id }}">
            {{ visible_date }}
        </label>
    {% else %}
        <span class="input-group-addon cursor">
                     <i class="fa fa-calendar"></i>
                </span>
        <input name="{{ array_name }}[{{ field_db }}]" placeholder="dd-mm-jjjj uu:mm" id="{{ field_db }}" class="form-control" value="{{ visible_date }}" type="text">
    {% endif %}
</div>