<div class="input-group">

    {% if readonly %}
        <label class="control-label" id="{{ field_id }}">
            {{ visible_date|raw }}
        </label>
    {% else %}
        <span class="input-group-addon cursor">
                 <i class="fa fa-calendar"></i>
            </span>
        <input name="{{ array_name }}[{{ field_db }}]" placeholder="dd-mm-jjjj" id="{{ field_db }}" class="form-control" value="{{ visible_date }}" type="text">
    {% endif %}

</div>