<div class="input-group">
    {% if icon %}
        <span class="input-group-addon">
                <i class="fa fa-{{ icon }}"></i>
            </span>
    {% endif %}
    <input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" class="form-control" placeholder="{{ placeholder }}" value="{{ field_value }}" type="file">
</div>