{% if read_only %}
    {{ field_value }}
{% else %}
    <div class="col-lg-{{ field_width }} richtext-editor">
        <div class="editor"></div>
        <input class="richtext-editor-input" style="height:300px;" type="hidden" name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}" value="{{ field_value }}"/>
    </div>

{% endif %}