{% if read_only %}
    {{ checked == ''?'Nee':'Ja' }}
{% else %}
    <div class="col-md-9">
        <div class="bs-component">
            <label class="checkbox-inline ">
                <input name="{{ array_name }}[{{ field_db }}]" value="0" type="hidden">
                <input name="{{ array_name }}[{{ field_db }}]" value="1" type="checkbox" id="fld_{{ field_db }}" {{ checked }}>
            </label>
        </div>
    </div>
{% endif %}