<div class="input-group colorpicker-component colorpicker">
    <span class="input-group-addon"><i style="background-color:{{ field_value }};"></i></span>
    <input name="{{ array_name }}[{{ field_db }}]" id="fld_{{ field_db }}"  type="text" value="{{ field_value }}" class="form-control colorfield" />
</div>