{% if is_deletable %}
    <a title="Afbeelding verwijderen" href="{{ delete_link }}" style="position:absolute;left:25px;top:2px;">
        <img src="/img/icons/24x24-delete.png" />
    </a>
{% endif %}

<img src="{{ image_url_or_path }}" width="{{ width }}" height="{{ height }}" alt="{{ alt }}"/>