<div class="chute chute-center pt30">
    <form enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        <input type="hidden" name="_do" value="AddProduct" />
        <h5>{{ 'Kopie instellingen'|translate }}</h5>

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Artikelnumer'|translate }}</span>
            </div>
            <div class="panel-body bg-light pt20 pbn pl30">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label for="fld_number" class="col-lg-4 control-label">{{ 'Nieuw artikelnummer'|translate }}</label>
                            <div class="col-lg-7">
                                <div class="bs-component">
                                    <input type="text" id="fld_number" name="data[number]" value="{{ source_product.getNumber() }}-variation" class="form-control" placeholder="Type Here...">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-body bg-light pt20 pbn pl30">
                <div class="row">
                    <div class="col-sm-12">
                        <form class="form-horizontal form-bordered" method="get">
                            <label class="control-label mb15">{{ 'Na toevoegen'|translate }}</label>
                            <div class="form-group">
                                <div class="col-sm-12 pl15">
                                    <div class="bs-component">
                                        <div class="radio-custom mb5">
                                            <input checked type="radio" id="fld_go_new" name="data[after_copy]" value="go_new">
                                            <label for="fld_go_new">
                                                {{ 'Stuur mij naar het nieuwe product.'|translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bs-component">
                                        <div class="radio-custom mb5">
                                            <input type="radio" id="fld_go_original" name="data[after_copy]" value="go_original">
                                            <label for="fld_go_original">
                                                {{ 'Stuur mij naar het originele product.'|translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="bs-component">
                                        <div class="radio-custom mb5">
                                            <input type="radio" id="fld_stay" name="data[after_copy]" value="stay">
                                            <label for="fld_stay">
                                                {{ 'Toon dit venster opnieuw'|translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body pn">
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label">
                                <i class="fa fa-copy"></i>
                                Kopiëren
                            </span>
                </button>
            </div>
        </div>
    </form>
</div>


