{# in javascript menu tree heb ik per product pagina een unieke id nodig om de tree state te kunnen onthouden. #}
<input type="hidden" id="fld_product_id" value="{{ product_id }}" />

<div class="chute chute-center pt30">
    <form id="main_form" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
        <input type="hidden" id="fld_skip_auto_translate" name="skip_auto_translate" value="" />
        {{ edit_form | raw  }}
    </form>
</div>


