<li>
    <a class="{{ menu_state }} accordion-toggle" id="module_{{ module_name }}" href="#">
        <span class="fa fa-rocket"></span>
        <span class="sidebar-title">{{ 'Producten'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">

        {% for link_item in extra_vars.link_array %}
            <li>
                <a href="{{ link_item.getLinkUrl() }}">
                    <span class="fa fa-file-text-o"></span> {{ link_item.getTranslatedTitle() }}
                </a>
            </li>
        {% endfor %}

        {% if current_user.getRole().getName() == 'Admin' %}
            <li>
                <a href="/generic/crud/editor_edit?module=Link_block_menu_products&manager=Link_block_menu_productsManager&name=products&title=SettingsConfigureren&do_after_save=dashboard&single_block=true">
                    <span class="fa fa-file-text-o"></span> -- instellen --
                </a>
            </li>
        {% endif %}

    </ul>
</li>
