<form method="get" id="frm_table_form" class="horizontal-form">
    <input type="hidden" id="fld_button_id" name="button_id" value="">
    <input type="hidden" id="fld_do" name="_do" value="" />

    <div class="chute chute-center">
        <!-- form enctype="multipart/form-data" method="post" -->
        <!-- input type="hidden" name="_do" id="fld_do" value="" -->
        {% if title %}
            <h5>{{ title }}</h5>
        {% endif %}

        <div class="panel">
            {% if filter_html %}
                <div class="panel-menu p12 allcp-form mtn">
                    {{ filter_html | raw }}
                </div>
            {% endif %}
            <div class="panel-body pn">
                {{ overview_table | raw }}
            </div>
        </div>
        <!-- /form -->
    </div>

</form>