
    <div id="products" class="row list-group">
        {%  for product in products %}
            <div class="item col-xs-{{ thumb_scale }} col-lg-{{ thumb_scale }}">
                <div class="thumbnail">
                    {% if product.getPrimaryImageThumbPath() %}
                        <img class="popupimage group list-group-image" data-original="{{ product.getPrimaryImageThumbPath(1200, 1200) }}" src="{{ product.getPrimaryImageThumbPath(600, 600) }}" alt="" />
                    {% else %}
                        <img class="group list-group-image"  src="http://placehold.it/300x300/aaa/222" alt="" />
                    {% endif %}
                    <div class="caption">
                        <h4 style="font-size:{{ thumb_scale + 8 }}pt" class="group inner list-group-item-heading">{{ product.getNumber() }}</h4>
                        <div class="group inner list-group-item-text">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead sm">
                                        &euro; {{ product.getSalePrice()|number_format(2, ',', '.') }}
                                        {% if has_buttons %}
                                            <input style="display: block;" class="product_checkbox" name="product[{{ product.getId() }}]" value="1" type="checkbox" />
                                        {% endif  %}
                                    </p>
                                </div>
                                <div class="col-xs-12 col-md-12">
                                    <a class="btn btn-dark pull-right ml10" href="/product/edit?id={{ product.getId() }}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    {% if has_pick_button %}
                                        <a title="{{ 'Product selecteren'|translate }}" class="btn btn-success pull-right ml10" href="{{ pick_button_base_url }}{{ url_separator }}product_id={{ product.getId() }}">
                                            <i class="fa fa-magic"></i>
                                        </a>
                                    {% endif %}
                                    {% if product.getItemDeleted() %}
                                        <a title="{{ 'Permanent verwijderen'|translate }}" class="btn btn-danger pull-right ml10" href="/product/edit?id={{ product.getId() }}&_do=Delete">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                        <a class="btn btn-default pull-right ml10" href="/product/edit?id={{ product.getId() }}&_do=Undelete">
                                            <i class="fa fa-undo"></i>
                                        </a>
                                    {% else %}
                                        <a class="btn btn-danger pull-right ml10" href="/product/edit?id={{ product.getId() }}&_do=MarkDeleted">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
<div style="clear: both"></div>
{{ paginate_html|raw }}

