<form class="form-horizontal" enctype="multipart/form-data" method="post">
<div class="chute chute-center">

        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Aan welke categorie wil je een product toevoegen?'|translate }}</span>
            </div>
            <div class="panel-body">
                {% for batchResults in categories|batch(categories|length / 3) %}
                    <div class="{{cycle(['left', 'left', 'right'], loop.index)}}" style="float:left;width:30%;">
                        {% for category in batchResults %}
                            <div class="{% if loop.last %}last{% endif %}">
                                <a href="/product/edit?category_id={{ category.getId() }}&from=selectcategory">{{ category.getName() }}</a>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>

</div>
</form>