<header id="topbar" class="ph10">

    <div class="topbar-right">
        <ul class="nav nav-list nav-list-topbar pull-right">
            <li class="active">
                <a href="/setting/category/overview">
                    {{ 'Categorieën bewerken'|translate}} &laquo;
                </a>
            </li>
        </ul>
    </div>

</header>


