<header id="topbar" class="ph10">
    <div class="topbar-left hidden-xs hidden-sm mt5 mr35">
        {% if all_categories %}
        <ul class="pull-left topbar-menu">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                        {{ selected_category.getName }}
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {% for category in all_categories %}
                            <li>
                                {% if '?' in overview_url %}
                                    <a href="{{ overview_url }}&category_id={{ category.getId }}">
                                        {{ category.getName }}
                                    </a>
                                {% else %}
                                    <a href="{{ overview_url }}?category_id={{ category.getId }}">
                                        {{ category.getName }}
                                    </a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
        {% endif %}
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        {% if buttons %}
            {% for button in buttons %}
                <button style="display: none;" name="trigger_button" value="{{ button.id }}" class="custom_button btn ladda-button btn-sm  btn-{{ button.getColorBeforeClick ?  button.getColorBeforeClick : 'primary' }}">
                    <i class="fa {{ button.getIconBeforeClick }}"></i>
                    {{ button.title }}
                </button>
            {% endfor %}
        {% endif %}



            <div class="btn-group">
            {% if show_deleted_products %}
                <a href="/product/overview?category_id={{ selected_category.getId() }}&_do=ShowDeleted" class="btn btn-danger btn-sm ml10" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <span class="fa fa-arrow-left"></span>
                    {{ 'Terug naar overzicht'|translate }}
                </a>
            {% else %}
                <a href="/product/overview?category_id={{ selected_category.getId() }}&_do=ShowDeleted" class="btn btn-default btn-sm ml10" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <span class="fa fa-trash-o"></span>
                    {{ 'Bekijk de prullenbak'|translate }}
                </a>
            {% endif %}

            {% if new_url %}
                <a href="{{ new_url }}?category_id={{ category_id }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                    <span class="fa fa-plus pr5"></span>
                    <span class="fa fa-pencil pr5"></span>
                </a>
            {% endif %}

            {% if current_role.getName() == 'Admin' %}
                <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <span class="fa fa-wrench pr5"></span>
                    <span class="caret ml5"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&r={{ r }}">
                            <i class="fa fa-table"></i>
                            {{ 'Velden en titel'|translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/generic/crud/hidden_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-filter"></i>
                            {{ 'Onzichtbare filters'|translate }}
                        </a>
                    </li>
                    <li>
                        <a href="/generic/crud/visible_filters?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-filter"></i>
                            {{ 'Zichtbare filters'|translate }}
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="/generic/crud/copy_tab?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}">
                            <i class="fa fa-copy"></i>
                            {{ 'Overzicht kopiëren'|translate }}
                        </a>
                    </li>
                    {% if has_create_custom_buttons %}
                        <li class="divider"></li>
                        <li>
                            <a href="/generic/crud/button/overview/buttons?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}&event_scope=Product">
                                <i class="fa fa-cogs"></i>
                                {{ 'Knoppen'|translate }}
                            </a>
                        </li>
                    {% endif %}
                    {% if crud_views %}
                        <li class="divider"></li>
                        {% for crud_view in crud_views %}
                            <li>
                                <a style="color: red;" href="/generic/crud/delete_tab?module={{ module }}&manager={{ manager }}&tab={{ crud_view.getId }}">
                                    <i class="fa fa-trash"></i>
                                    {{ crud_view.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <a href="/generic/crud/create?module={{ module }}&manager={{ manager }}" class="btn btn-primary btn-sm ml10" title="{{ 'Overzicht toevoegen'|translate }}">
                    <span class="fa fa-plus pr5"></span>
                    <span class="fa fa-table pr5"></span>
                </a>
            {% endif %}
        </div>
    </div>
</header>
