<header id="topbar" class="ph10">
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            {% if section == 'languages' %}
                <li class="active">
                    <a href="/product/edit?id={{ product_id }}">
                        &laquo; {{ 'Terug naar product edit'|translate}}
                    </a>
                </li>
            {% else %}
                <li class="active">
                    {% if manager == 'DerrivedProductManager'%}
                        <a href="/product/edit?id={{ derrived_from_id }}">&laquo; {{ 'Terug naar product'|translate }}</a>
                    {% elseif from_page == 'selectcategory' %}
                        <a href="/product/selectcategory">&laquo; {{ 'Terug naar categorie overzicht'|translate }}</a>
                    {% else %}
                        <a href="/product/overview?category_id={{ category.getId }}">&laquo; Terug naar het {{ category.getName()|lower }} overzicht</a>
                    {% endif %}
                </li>
            {% endif %}
            {% for crud_view in crud_views %}
                <li class="active">
                    <a href="{{ overview_url }}?tab={{ crud_view.id }}">{{ crud_view.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        {% if auto_translate %}
            <button id="quick_save" title="{{ 'Opslaan zonder automatisch te vertalen.'|translate }}" value="1" class="btn btn-primary btn-sm" type="button">
                <i class="fa fa-save"></i>
                {{ 'Snel opslaan'|translate }}
            </button>
        {% endif %}

        {% if product_id %}
            <a href="/product/copy?product_id={{ product_id }}" class="btn btn-primary btn-sm ml10"  title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <i class="fa fa-copy"></i> {{ 'Kopiëren'|translate }}
            </a>
        {% endif %}
        {% if manager == 'ProductManager' or manager == 'Product_translationManager'%}
            <div class="btn-group ml10">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                    <i class="fa fa-globe"></i>
                    {% if current_language %}
                        {{ current_language.getDescription() }}
                    {% else %}
                        {{ 'Vertalingen'|translate }}
                    {% endif %}
                    <span class="caret ml5"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    {% for webshop_language in webshop_languages %}
                        <li>
                            <a href="/product/translation/edit?product_id={{ product_id }}&language_id={{ webshop_language.getId() }}">
                                <img src="{{ webshop_language.getFlagIconPath() }}" />
                                {{ webshop_language.getDescription() }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Formulier configuratie">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ name }}&title={{ title }}&do_after_save=return_product_edit">
                        <i class="fa fa-table"></i>
                        Velden en titel
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>


