<section id="content" class="">

    <div class="mw1000 center-block">

        Menu
        <!-- -------------- Wizard -------------- -->
        <div class="panel">
            <div class="panel-body text-center mtn pb5">
                <div class="row wizard-options">

                        <div class="col-xs-6 col-sm-4 col-md-2 ph10 mb10">
                            <a data-action="" href="{{ base_url }}?section={{ section_key }}&block={{ section.props.first }}" class="post holder-style p15 holder-active">
                                <span class="fa fa-dropbox holder-icon"></span>
                                <br> Definitie
                            </a>
                        </div>


                        <div class="col-xs-6 col-sm-4 col-md-2 ph10 mb10">
                            <a data-action="" href="{{ base_url }}?section={{ section_key }}&block={{ section.props.first }}" class="post holder-style p15">
                                <span class="fa fa-table holder-icon"></span>
                                <br> Modules
                            </a>
                        </div>
                </div>
            </div>
        </div>

        <!-- -------------- Spec IForm -------------- -->
        <div class="allcp-form">
            {{ tab_content|raw }}
        </div>
    </div>

</section>
