<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">
                    Reeleezee Queue
                </span>
            </div>
            <div class="panel-body ">
                <table class="table tc-icon-bold ">
                    <tbody>
                        <tr>
                            <td class="iconcol">
                                <span class="fa fa-envelope-o"></span>
                            </td>
                            <td>Outbox</td>
                            <td>{{ counters.outbox }}</td>
                        </tr>
                        <tr>
                            <td class="iconcol">
                                <span class="fa fa-cogs"></span>
                            </td>
                            <td>Processing</td>
                            <td>{{ counters.processing }}</td>
                        </tr>
                        <tr>
                            <td class="iconcol">
                                <span class="fa fa-check"></span>
                            </td>
                            <td>Processed</td>
                            <td>{{ counters.processed }}</td>
                        </tr>
                        <tr>
                            <td class="iconcol">
                                <span class="fa fa-warning"></span>
                            </td>
                            <td>Errors</td>
                            <td>{{ counters.error }}</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">
                    Last {{ line_count }} log rows
                </span>
            </div>
            <div class="panel-body ">
                <table class="table">
                    <tbody>
                        {% for line in log_lines %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ line }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
