<header id="topbar" class="ph10">
    <div class="topbar-left hidden-xs hidden-sm mt5 mr35">
        <ul class="pull-left" >
            <a href="/api/reeleezee/push" class="btn btn-primary dropdown-toggle" title="Push to reeleezee">
                <span class="fa fa-cogs"></span>
                Push outbox to Reeleezee
            </a>
        </ul>
    </div>
</header>
