
                <li>
                    <a href="/generic/crud/editor_edit?module=Site_usp&manager=Site_uspManager&name={{ fields_config_code }}&site={{ site }}&title={{ fields_config_title }}">
                        <i class="fa fa-table"></i>
                        Velden instellen
                    </a>
                </li>
