

                <li>
                    <a href="/generic/crud/create?module=Site_usp&manager=Site_uspManager&site={{ site }}&tab={{ tab_id }}">
                        <i class="fa fa-table"></i>
                        {{ 'USP overzicht'|translate }}
                    </a>
                </li>
                <li>
                    <a href="/generic/crud/visible_filters?module=Site_usp&manager=Site_uspManager&tab={{ tab_id }}&site={{ site }}">
                        <i class="fa fa-filter"></i>
                        {{ 'Zichtbare filters'|translate }}
                    </a>
                </li>
