<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-cogs"></span>
        <span class="sidebar-title"> {{ 'Api'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">

        <li>
            <a href="/api/airbnb/overview">
                <span class="fa fa-cloud"></span> {{ 'Airbnb'|translate }}
            </a>
        </li>

        <li>
            <a href="/api/mailchimp/overview">
                <span class="fa fa-file-text-o"></span> {{ 'MailChimp'|translate }}
            </a>
        </li>

        <li>
            <a href="/api/moneymonk/overview">
                <span class="fa fa-cloud"></span> {{ 'MoneyMonk'|translate }}
            </a>
        </li>

        <li>
            <a href="/api/easyhosting/overview">
                <span class="fa fa-cloud"></span> {{ 'Easy hosting'|translate }}
            </a>
        </li>

        <li>
            <a href="/api/fxw/overview">
                <span class="fa fa-cloud"></span> {{ 'Flex webhosting'|translate }}
            </a>
        </li>



        <li>
            <a href="/api/reeleezee/overview">
                <span class="fa fa-file-text-o"></span> {{ 'Reeleezee'|translate }}
            </a>
        </li>

    </ul>
</li>