<form class="form-horizontal" role="form" method="post">
    <div class="chute chute-center">
        <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Moneymonk taken'|translate }}</span>
                    </div>
                    <div class="panel-body">
                        <div class="bs-component">
                            <dl class="dl-horizontal">
                                <div class="table-responsive">
                                    <table class="table allcp-form footable">
                                        <thead>
                                        <tr class="bg-light">
                                            <th class="footable-sortable">{{ 'Omschrijving'|translate }}</th>
                                            <th class="footable-sortable">{{ 'Laatste keer gestart'|translate }}</th>
                                            <th class="footable-sortable">{{ 'Laatste keer afgerond'|translate }}</th>
                                            <th class="footable-sortable">{{ '#runs'|translate }}</th>
                                            <th class="footable-sortable">{{ '#finishes'|translate }}</th>

                                            {#
                                                                                        <th class="iconcol">
                                                                                            <div class="btn btn-default br2 btn-xs">
                                                                                                <i class="fa fa-cogs"></i>
                                                                                            </div>
                                                                                            <a></a>
                                                                                        </th>
                                                                                        <th class="iconcol">
                                                                                            <div class="btn btn-default br2 btn-xs">
                                                                                                <i class="fa fa-unlink"></i>
                                                                                            </div>
                                                                                            <a></a>
                                                                                        </th>
                                                                                        <th class="iconcol">
                                                                                            <div class="btn btn-default br2 btn-xs">
                                                                                                <i class="fa fa-trash-o"></i>
                                                                                            </div>
                                                                                            <a></a>
                                                                                        </th>
                                            #}
                                            <th class="iconcol">
                                                <div class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-undo"></i>
                                                </div>
                                            </th>
                                            <th class="iconcol">
                                                <div class="btn btn-default br2 btn-xs">
                                                    <i class="fa fa-play"></i>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for task in tasks.getTaskObjects() %}
                                            <tr>
                                                <td>{{ task.getDescription() }}</td>


                                                <td>{{ task.getLastStart() }}</td>
                                                <td>{{ task.getLastFinish() }}</td>
                                                <td>{{ task.getRunCount() }}</td>
                                                <td>{{ task.getFinishCount() }}</td>

                                                {#
                                                <td>
                                                    <a href="/api/mailchimp/configure?list_id={{ list.id }}" class="btn btn-dark br2 btn-xs fs12">
                                                        <i class="fa fa-cogs"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if list.syncs_from_nuicart %}
                                                        <a href="/api/mailchimp/unlink?list_id={{ list.id }}" title="{{ 'Stop synchronisatie met MailChimp'|translate }}" class="btn btn-warning br2 btn-xs fs12">
                                                            <i class="fa fa-unlink"></i>
                                                        </a>
                                                    {% else %}
                                                        <div class="btn btn-default br2 btn-xs">
                                                            <i class="fa fa-unlink"></i>
                                                        </div>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a href="">
                                                        <a href="/api/mailchimp/overview?_do=ConfirmDeleteList&list_id={{ list.id }}" title="{{ 'Delete list, this also removes the list from MailChimp'|translate }}"  class="btn btn-danger br2 btn-xs fs12 d">
                                                            <i class="fa fa-trash-o"></i>
                                                        </a>
                                                    </a>
                                                </td>
                                                #}
                                                <td>
                                                    <a title="{{ 'Tellers resetten.'|translate }}" href="{{ base_uri }}?_do=ResetCounters&task_id={{ task.getId() }}" class="btn btn-warning br2 btn-xs">
                                                    <i class="fa fa-undo"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a title="{{ 'Taak nu in de voorgrond starten.'|translate }}" href="{{ base_uri }}?_do=RunTask&task_id={{ task.getId() }}" class="btn btn-success br2 btn-xs">
                                                        <i class="fa fa-play"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </dl>
                        </div>
                    </div>
                </div>
    </div>
</form>

