<div class="mw1000 center-block">
    <form method="post">
        <input type="hidden" name="_do" value="Store">
        <div class="panel mb35">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Footer instellen'|translate }}</span>
            </div>
            <div class="panel-body br-t">
                <div class="allcp-form theme-primary">
                    <div class="section row mb10">
                        <label for="store-name" class="field-label col-sm-2 ph10  text-center">Aantal blokken:</label>
                        <div class="col-sm-10 ph10">
                            <label for="store-name" class="field prepend-icon select">
                                <select id="states" name="data[num_footer_blocks]">
                                    <option value="0">Kies aantal</option>
                                    <option {{ site.getNumFooterBlocks() == 0 ? 'selected'}}>0</option>
                                    <option {{ site.getNumFooterBlocks() == 1 ? 'selected'}}>1</option>
                                    <option {{ site.getNumFooterBlocks() == 2 ? 'selected'}}>2</option>
                                    <option {{ site.getNumFooterBlocks() == 3 ? 'selected'}}>3</option>
                                    <option {{ site.getNumFooterBlocks() == 4 ? 'selected'}}>4</option>
                                    <option {{ site.getNumFooterBlocks() == 5 ? 'selected'}}>5</option>
                                    <option {{ site.getNumFooterBlocks() == 6 ? 'selected'}}>6</option>
                                    <option {{ site.getNumFooterBlocks() == 7 ? 'selected'}}>7</option>
                                    <option {{ site.getNumFooterBlocks() == 8 ? 'selected'}}>8</option>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
        {% for block in site_footer_blocks %}
            <div class="panel mb35">
                <div class="panel-heading">
                    <span class="panel-title">{{ labels[block.object.getSorting()] }}</span>
                </div>
                <div class="panel-body">
                    <div class="allcp-form theme-primary">
                        <div class="section row mb10">
                            <label class="field-label col-sm-2 ph10 text-right">Blok type:</label>
                            <div class="col-sm-10 ph10">
                                <label class="field select">
                                    <select id="set-location" name="data[footer_block][{{ block.object.getSorting() }}][type]" class="empty block_type">
                                        <option {{ block.object.getType() == 'html' ? 'selected' }} value="html">Html invoeren</option>
                                        <option {{ block.object.getType() == 'cms' ? 'selected' }} value="cms">CMS items</option>
                                        <!-- <option {{ block.object.getType() == 'blog' ? 'selected' }} value="blog">Blog items</option> -->
                                        <option {{ block.object.getType() == 'openinghours' ? 'selected' }} value="openinghours">Openingstijden</option>
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                        </div>
                        <div class="section row mb10">
                            <label for="fld_{{ block.object.getSorting() }}_width" class="field-label col-sm-2 ph10 text-right">Breedte</label>
                            <div class="col-sm-10 ph10">
                                <label class="field select">
                                    <select id="fld_{{ block.object.getSorting() }}_width" name="data[footer_block][{{ block.object.getSorting() }}][width]">
                                        <option {{ block.object.getWidth() == 12 ? 'selected' }} value="12">12/12 (volledige breedte)</option>
                                        <option {{ block.object.getWidth() == 11 ? 'selected' }} value="11">11/12 (bijna volledige breedte)</option>
                                        <option {{ block.object.getWidth() == 10 ? 'selected' }} value="10">10/12</option>
                                        <option {{ block.object.getWidth() == 9 ? 'selected' }} value="9">9/12</option>
                                        <option {{ block.object.getWidth() == 8 ? 'selected' }} value="8">8/12</option>
                                        <option {{ block.object.getWidth() == 7 ? 'selected' }} value="7">7/12</option>
                                        <option {{ block.object.getWidth() == 6 ? 'selected' }} value="6">6/12</option>
                                        <option {{ block.object.getWidth() == 5 ? 'selected' }} value="5">5/12</option>
                                        <option {{ block.object.getWidth() == 4 ? 'selected' }} value="4">4/12</option>
                                        <option {{ block.object.getWidth() == 3 ? 'selected' }} value="3">3/12</option>
                                        <option {{ block.object.getWidth() == 2 ? 'selected' }} value="2">2/12</option>
                                        <option {{ block.object.getWidth() == 1 ? 'selected' }} value="1">1/12 (een twaalfde van de breedte)</option>
                                    </select>
                                    <i class="arrow double"></i>
                                </label>
                            </div>
                        </div>

                        {% for language in block.languages %}
                            <div class="section row mb10 conditional_display display_on_cms display_on_blog display_on_openinghours" style="display: {{ block.object.getType == 'html' ? 'none' :  'block' }};">
                                <label for="store-currency" class="field-label col-sm-2 ph10 text-right">Titel {{ language.object.getDescription()|lower }}:</label>
                                <div class="col-sm-10 ph10">
                                    <label for="fld_title_{{ block.object.getSorting() }}" class="field prepend-icon">
                                        <input type="text" name="data[footer_block_translation][{{ block.object.getSorting() }}][ {{ language.object.getId() }}][title]" id="fld_title_{{ block.object.getSorting() }}" class="gui-input" value="{{ language.site_footer_block_translation.getTitle() }}" placeholder="Voer een titel in|">
                                        <label for="store-currency" class="field-icon">
                                            <i class="fa fa-tag"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>

                            <div class="section row mb10 conditional_display display_on_html" style="display: {{ block.object.getType == 'html' ? 'block' :  'none' }};">
                                <label for="fld_footer_block_translation_{{ block.object.getSorting() }}" class="field-label col-sm-2 ph10 text-right">HTML {{ language.object.getDescription()|lower }}</label>
                                <div class="col-sm-10 ph10">
                                    <label class="field prepend-icon">
                                        <textarea style="min-height: 200px;" class="gui-textarea" id="fld_footer_block_translation_{{ block.object.getSorting() }}" name="data[footer_block_translation][{{ block.object.getSorting() }}][ {{ language.object.getId() }}][html_contents]" placeholder="HTML code">{{ language.site_footer_block_translation.getHtmlContents() }}</textarea>
                                        <label for="store-desc" class="field-icon">
                                            <i class="fa fa-file"></i>
                                        </label>
                                    </label>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label"><i class="fa fa-save"></i> Opslaan</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        {% endfor %}

        {#
        <!-- -------------- Policies -------------- -->
        <div class="panel mb35">
            <div class="panel-heading">
                <span class="panel-title">Policies</span>
            </div>
            <div class="panel-body br-t">
                <div class="allcp-form theme-primary">


                    <div class="section row mb25">
                        <label for="refund-policy" class="field-label col-sm-2 ph10 text-center">Refund
                            Policy</label>

                        <div class="col-sm-10 ph10">
                            <label class="field prepend-icon">
                                <textarea class="gui-textarea" id="refund-policy" name="refund-policy" placeholder="Refund policy terms and conditions..."></textarea>
                                <label for="refund-policy" class="field-icon">
                                    <i class="fa fa-credit-card"></i>
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="section row mb25">
                        <label for="privacy-policy" class="field-label col-sm-2 ph10 text-center">Privacy
                            Policy</label>

                        <div class="col-sm-10 ph10">
                            <label class="field prepend-icon">
                                <textarea class="gui-textarea" id="privacy-policy" name="privacy-policy" placeholder="Privacy policy terms and conditions..."></textarea>
                                <label for="privacy-policy" class="field-icon">
                                    <i class="fa fa-crosshairs"></i>
                                </label>
                            </label>
                        </div>
                    </div>

                    <div class="section row mb15">
                        <label for="store-tos" class="field-label col-sm-2 ph10 text-center">Terms of
                            Service</label>

                        <div class="col-sm-10 ph10">
                            <label class="field prepend-icon">
                                <textarea class="gui-textarea" id="store-tos" name="store-tos" placeholder="Terms of service conditions..."></textarea>
                                <label for="store-tos" class="field-icon">
                                    <i class="fa fa-align-justify"></i>
                                </label>
                            </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        #}
    </form>
</div>
