<header id="topbar" class="ph10">

    {{ enabled_modules|raw }}
    {#
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">

        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/cms/footer/config?site={{ site }}">
                        <i class="fa fa-table"></i>
                        Footer instellingen
                    </a>
                </li>
                {{ custom_items|raw }}
            </ul>
        </div>
    </div>
    #}
</header>