<form role="form" class="form-horizontal" method="post">
    <input type="hidden" name="_do" value="SaveFieldSettings" />
    {#

    <input type="hidden" name="data[fields]" id="fld_fields" value="" />
    #}
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Formulierveld instellen'|translate }}</span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="inputStandard">{{ 'Titel'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input type="text" name="data[title]" value="{{ title }}" placeholder="{{ 'Geef het veld een andere titel'|translate }}" class="form-control" id="inputStandard">
                                <i>
                                   Deze titel overschrijft de standaard titel die zichtbaar is naast het formulierveld
                                </i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="fld_default_value">{{ 'Standaard waarde'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input type="text" name="data[default_value]" value="{{ default_value }}" placeholder="{{ 'Geeft het veld een standaard waarde'|translate }}" class="form-control" id="fld_default_value">
                                <i>
                                    Deze waarde komt standaard in het veld te staan wanneer er een nieuw record wordt aangemaakt.
                                </i>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-lg-2 control-label" for="infoHelpText">{{ 'Info help text'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <input type="text" name="data[info_help_text]" value="{{ info_help_text }}" placeholder="{{ 'Begeleidende tekst onder het formulierveld'|translate }}" class="form-control" id="infoHelpText">
                                <i>
                                    Begeleidende tekst onder het formulierveld (zoals de tekst die u nu leest)
                                </i>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="fld_advanced">{{ 'Bewerkbaarheid'|translate }}</label>
                    <div class="col-lg-10">
                        <div class="row">
                            {% for setting in edit_flags %}
                                <div class="col-lg-4 pl15">
                                    <div class="bs-component">
                                        <div class="checkbox-custom checkbox-disabled mb10">
                                            <input name="data[{{ setting.key }}]" {{ setting.value == '1' ? ' checked'}} value="1" type="checkbox" id="checkboxDefault{{ setting.key }}">
                                            <label for="checkboxDefault{{ setting.key }}">{{ setting.label }}</label>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
                <hr>
                <div class="panel-footer">
                    <div>
                    <button id="fld_submit_button" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                        <span class="ladda-spinner"></span>
                    </button>
                        <div class="clearfix"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {#
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Welke kolommen wilt u in dit overzicht laten zien?'|translate }}</span>
                </div>
                <div class="panel-body">
                    <h6>Zichtbare kolommen</h6>
                    <div id="configured_fields" class="drop-area sortable">

                        {% for field in enabled_fields  %}
                            {% if field.is_delete_field %}
                                <span id="{{ field.name }}" class="label label-danger col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    <i class="fa fa-trash"></i>
                                        {{ field.title }}
                                </span>


                            {% elseif  field.event_field %}
                                <span id="{{ field.name }}" class="label label-success col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    <i class="fa fa-bolt"></i>
                                        {{ field.title }}
                                </span>
                            {% elseif field.name == "Edit" %}
                                <span id="{{ field.name }}" class="label label-dark col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    <i class="fa fa-pencil"></i>
                                        {{ field.title }}
                                </span>
                            {%  else %}
                                <span id="{{ field.name }}" class="label label-primary col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                    {{ field.title }}
                                </span>
                            {% endif %}
                        {% endfor %}
                    </div>

                    <div class="cl"></div>
                    <div style="margin-top: 30px;">
                        <h6>Nog beschikbare kolommen</h6>
                        <div class="sortable drop-area">
                            {% for field in fields  %}
                                {% if field.is_delete_field %}
                                    <span id="{{ field.name }}" class="label label-danger col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        <i class="fa fa-trash"></i>
                                        {{ field.title }}
                                    </span>
                                {% elseif field.event_field  %}
                                    <span id="{{ field.name }}" class="label label-success col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        <i class="fa fa-bolt"></i>
                                        {{ field.title }}
                                    </span>
                                {% elseif  field.name == "Edit" %}
                                    <span id="{{ field.name }}" class="label label-dark col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        <i class="fa fa-pencil"></i>
                                        {{ field.title }}
                                    </span>
                                {%  else %}
                                    <span id="{{ field.name }}" class="label label-primary col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                        {{ field.title }}
                                    </span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    {% if tab_id %}
                        <button id="fld_submit_button" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <i class="fa fa-save"></i>
                            <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                        <a href="/generic/crud/delete?module={{ module }}&manager={{ manager }}&tab={{ tab_id }}" class="btn ladda-button btn-danger pull-right" data-style="expand-right" style="margin-right:10px;">
                            <i class="fa fa-trash"></i>
                            <span class="ladda-label">{{ 'Verwijderen'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </a>
                    {% else %}
                        <button id="fld_submit_button" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                            <span class="ladda-label">{{ 'Overzicht aanmaken'|translate }}</span>
                            <span class="ladda-spinner"></span>
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    #}
</form>
