<div class="chute chute-center">
<!-- -------------- Column Center -------------- -->
<div class="chute chute-center">
    <!-- -------------- Quick Links -------------- -->
    <div class="row">

        {{ widget_html|raw }}

    </div>
</div>
