<header id="topbar" class="ph10">

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">


            <a href="{{ new_url }}" class="btn btn-primary btn-sm ml10" title="{{ new_title }}">
                <span class="fa fa-plus pr5"></span>
                <span class="fa fa-pencil pr5"></span>
            </a>


            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module=Desktop_widgets&manager=Desktop_widgetsManager&name={{ layout_key }}&title=Widgets%20configureren&do_after_save=return_desktop&single_block=true">
                        <i class="fa fa-bar-chart"></i>
                        {{ 'Widgets'|translate }}
                    </a>
                </li>
            </ul>

        </div>
    </div>
</header>
