<div class="col-md-12">

    <div style="margin-bottom:80px;">
        <h2>Resource: <a name="{{ module }}" href="/v{{ api_version }}/rest/{{ module }}/">{{ module }}</a></h2>
        {{ manager.getShortDescription() }}

        <h3>General</h3>
        <p>
            <table class="table">
                <tr>
                    <th>Create (POST)</th>
                    <th>Read (GET)</th>
                    <th>Update (PUT/PATCH)</th>
                    <th>Delete (DELETE)</th>
                    <th>GET Limit</th>
                </tr>
                <tr>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>1000</td>
                </tr>
            </table>
        </p>

        <h3>Endpoints</h3>
        Be aware that items written like <code>this</code> are key elements and should be substituted with their
        true value,<br/><br/>
        <dl class="dl-horizontal">
            <dt>Retrieve collection</dt>
            <dd>
                <a href="//{{ host }}/v{{ api_version }}/rest/{{ module }}/">{{ protocol }}://{{ host }}/v{{ api_version }}/rest/{{ module }}/</a>
                (must have trailing slash)
            </dd>

            <dt>Retrieve single</dt>
            <dd>
                {{ protocol }}://{{ host }}/v{{ api_version }}/rest/{{ module }}/<code>id</code>
            </dd>
            <dd>
                You can retrieve a single item by any unique property, default is <code>id</code>, to use any other property.<br>
                Add it to the url like so: /v{{ api_version }}/rest/{{ module }}/<code>property-name</code>/<code>id</code>
            </dd>

            {% if crud_actions %}
                <dt>Call action</dt>
                <dd>
                    {{ protocol }}://{{ host }}/v{{ api_version }}/rest/{{ module }}/<code>id</code>/<code>action-name</code>
                </dd>
            {% endif %}
            <dt>
                Retrieve definition
            </dt>
            <dd>
                <a href="//{{ host }}/v{{ api_version }}/rest/{{ module }}/definition">
                    {{ protocol }}://{{ host }}/v{{ api_version }}/rest/{{ module }}/definition
                </a> (no trailing slash)
            </dd>
            <dt>
                Open API / swagger
            </dt>
            <dd>
                <a href="//{{ host }}/v{{ api_version }}/openapi.json">
                    {{ protocol }}://{{ host }}/v{{ api_version }}/openapi.json
                </a>
            </dd>
        </dl>
        <h3>Fields in resource</h3>
        <table class="table">
            <tr>
                <th>Fieldname</th>
                <th>Datatype</th>
                <th>Primitive</th>
                <th>Key</th>
                <th>Input</th>
                <th>Validations</th>
                <th>Output</th>
                <th>Filterable</th>
                <th>Sortable</th>
            </tr>
            {% for field in regular_fields %}
                <tr>
                    <td>
                        {{ field.getFieldName() }}
                    </td>
                    <td>{#primitive#}
                        <a href="/v{{ api_version }}/doc/datatypes">{{ field.getDataType() }}</a>
                    </td>
                    <td>{#datatype#}
                        {{ field.getPrimitive() }}
                    </td>
                    <td>{#key#}
                        <span class="label label-{{ field.isUniqueKey() ? 'success' : 'default' }}">
                            {{ field.isUniqueKey() ? 'YES' : 'NO' }}
                        </span>
                    </td>
                    <td>{#input#}
                        <span class="label label-{{ field.isMutable() ? 'default' : 'danger' }}">
                            {{ field.isMutable() ? 'YES' : 'NO' }}
                        </span>
                    </td>
                    <td>{#validations#}
                        <span class="label label-{{ field.hasValidations() ? 'danger' : 'default' }}">
                            {{ field.hasValidations() ? 'YES' : 'NO' }}
                        </span>
                    </td>
                    <td>{#output#}
                        <span class="label label-success">
                        YES
                        </span>
                    </td>
                    <td>{#filterable#}
                        <span class="label label-{{ field.isFilterable ? 'success' : 'default' }}">
                            {{ field ? 'YES' : 'NO' }}
                        </span>
                    </td>
                    <td>{#sortable#}
                        <span class="label label-success">
                        YES
                        </span>
                    </td>
                </tr>
            {% endfor %}
        </table>

        <h3>Field names</h3>
        <p>
            By default fieldnames are returned in snake_case but you can request other formats if this better aligns with
            your own coding preference or platform. You can change the layout with the get parameter <code>field_style</code>.
            Valid options are <code>snake_case</code>, <code>camelcase</code>, <code>uppercamel</code> or <code>numeric</code>.
        </p>

        <h3>Filterable</h3>
        <p>
            Filterable fields can be added to the collection url to filter on a resultset.
            Filters are expected to be passed as get variables in an array called filter.
            Each filter consists of a <code>field</code>, a <code>value</code> and an <code>operator</code>.
            The field is embedded as a key in the array, please see the examples as it is probably more easy understand.

        </p>
        <h4>Filter operators</h4>
        <table style="width:100%">
            <tr>
                <th>Operator name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td><code>is_null</code></td>
                <td>When the operator is null the value of the property called value is neglected, the query would be IS NULL</td>
            </tr>
            <tr>
                <td><code>contains_text</code></td>
                <td>Valid for strings, a wildcard is added on both sides</td>
            </tr>
            <tr>
                <td><code>not_contains_text</code></td>
                <td>Valid for strings, a wildcard is added on both sides and this this is exclusive so all rows that do not match are returned in the resultset</td>
            </tr>
            <tr>
                <td><code>in</code></td>
                <td>Comma separated array of values</td>
            </tr>
            <tr>
                <td><code>not_in</code></td>
                <td>Comma separated array of values, all results that do not match are included</td>
            </tr>
            <tr>
                <td><code>equals</code></td>
                <td>Values should match 100%</td>
            </tr>
            <tr>
                <td><code>yes_no</code></td>
                <td>Should contain 1 or 0 or true of false. For the rest the same as equals</td>
            </tr>
            <tr>
                <td><code>larger_then</code></td>
                <td>Only works on numeric / integer and date / datetime values</td>
            </tr>
            <tr>
                <td><code>larger_then_or_equal</code></td>
                <td></td>
            </tr>
            <tr>
                <td><code>smaller_then</code></td>
                <td>Only works on numeric / integer and date / datetime values</td>
            </tr>
            <tr>
                <td><code>smaller_then_or_equal</code></td>
                <td>Only works on numeric / integer and date / datetime values</td>
            </tr>
            <tr>
                <td><code>starts_with</code></td>
                <td>A wildcard is added on the end of the line and the query would have the operator LIKE.</td>
            </tr>
            <tr>
                <td><code>ends_on</code></td>
                <td>A wildcard is added on beginning of your value and the query would have the operator LIKE.</td>
            </tr>
            <tr>
                <td><code>not_equals</code></td>
                <td></td>
            </tr>
            <tr>
                <td><code>smaller_then_or_equal_or_null</code></td>
                <td>Only works on numeric / integer and date / datetime values</td>
            </tr>
        </table>

        <h4>Resultcount</h4>
        <p>
            By default the resultcount is capped at 10 but you can query up to 1000 records per page. The total number
            of results is always returned in the "count" variable. You can change the resultcount with the "items_pp"
            get variable and jump to a specific page by passing the page number in the "current_page" variable.
            In the resultset you also find a url that directs you to the next and previous pages in the set, if available.
            Please be ware that results may change between one pageload and the next to iterating over each page will
            not guarantee you that you hit every result in the set.
        </p>


        <h4>Filter examples</h4>
        <p>
            Say you would want all persons that live in a certain city. The field is called city and the is called Amsterdam.

            The querystring would then be:<br><br>
            <code>{{ protocol }}://{{ host }}/v{{ api_version }}/rest/{{ module }}/?<b>filter[city][value]=Amsterdam&filter[city][operator]=equals</b></code>
        </p>


        <h3>Sortable</h3>
        <p>
            Sortable fields are available for sorting and ordered output using the <i>_ORDER</i> parameter. If a
            field is NOT sortable trying to sort on
            it will result in an error and no output.
        </p>

        <h3>Layouts</h3>
        <p>
            Each endpoint can have several layouts for both collections and item view.
            The layout gives hints about the way forms can be build up in consuming systems and also adds or removes validations.
            You can get the layout of an endpoint by providing a key that relates to a certain layout.
        </p>

        {% if edit_layouts %}
            <table class="table">
                <tr>
                    <th>Item layouts</th>
                </tr>

                {% for edit_layout in edit_layouts %}
                    <tr>
                        <td>
                            <a href="//{{ host }}/v{{ api_version }}/rest/{{ module }}/definition?layout={{ edit_layout.getName() }}">
                                {{ edit_layout.getName() }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <b>This endpoint does not have any form layouts defined yet.</b>
        {% endif %}

        <h3>Layout format</h3>
        <p>
            The single item endpoint can be presented as a json object or in list format.
            The list format gives additional information such as the field type, if the field is read-only, filterable
            et cetera. You can toggle the list layout with the get varibale <code>layout_format=list</code>
        </p>

        <hr/>


        <h3>Callbacks</h3>
        <p>
            Calbacks are urls or messages that can be called upon an event. Callbacks do not need to send the whole
            dataset but can instead also send a custom message to the recevier containing just a portion of the dataset.
        </p>


        <hr/>

        <h3>Callable actions</h3>
        <p>
            Actions are operations that can be called on an item within the collection. An action may have input
            parameters, in that case you must post the parameters required when you wish to execute the action.
            If you wish to execute an action without parameters you may post an empty object, for example <code>{}</code>.
        </p>
        {% if crud_actions %}
            <table class="table">
                <tr>
                    <th>Action name</th>
                    <th>Description</th>
                    <th>Sample request</th>
                    <th>Sample answer</th>
                </tr>
                {% for crud_action in crud_actions %}
                    <tr>
                        <td>{{ crud_action.base_name }}</td>
                        <td>{{ crud_action.object.getDescription()|raw }}</td>
                        <td>{{ crud_action.object.getExampleRequest()|raw }}</td>
                        <td>{{ crud_action.object.getExampleAnswer()|raw }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <i>This resource has no functions on items.</i>
        {% endif %}


        {#
                <h4>Ordering</h4>
                No default ordering set for this resource. Please be aware that when using _LIMIT and _OFFSET you should set
                an order to make sure the row order is maintained between pages.

                <h4>Key</h4>
                <p>
                    Key indicates if a field is (part of) the identifier for each item in the resource. Keys can be fully
                    automated (input is set as NO)
                    completely user-settable (input is set as YES) or a combination in case of a composite key (Some fields
                    NO and some fields YES). The full key is mandatory
                    for <kbd>POST</kbd>, <kbd>PUT</kbd>, <kbd>PATCH</kbd> and <kbd>DELETE</kbd> operations. However if a key
                    element has a default value, that element MAY be
                    omitted during these operations. That key part will be substituted with the default value. If needed /
                    required by the resource, you may supply NULL values in the key by just
                    omitting the element, for example /resource/123::456 would fill the first key field with 123, either set
                    the second key field to NULL or the default value
                    and fill the third key field with 456.
                </p>

                <h4>Input</h4>
                <p>
                    Input indicates if a field is mandatory when <b>Creating</b> an item in the resource (when performing a
                    POST to the collection.).
                    Fields marked as OPT may or may not be given when creating a resource, fields marked NO may not be
                    given. Any field other than the
                    ones marked REQ or OPT on input will be pruned (removed from the input.)
                </p>

                <h4>Output</h4>
                <p>
                    Output indicates if a field will be returned when reading the item or collection. If a field is marked
                    YES it will be returned
                    by default. If a field is marked NO it will never be returned. If a field is marked OPT it will be
                    returned when specified with the
                    <i>_FIELDS=</i> GET-parameter as mentioned in the global documentation.
                </p>

                <h4>Filterable</h4>
                <p>
                    Filterable fields accept output filters as described in the main document. Fields that are not
                    filterable will report an error and give no output
                    if there is a filter set.
                </p>

                <h4>Sortable</h4>
                <p>
                    Sortable fields are available for sorting and ordered output using the <i>_ORDER</i> parameter. If a
                    field is NOT sortable trying to sort on
                    it will result in an error and no output.
                </p>

                <h4>Default</h4>
                <p>
                    If defined the given default is set for the field if it is not supplied during a <kbd>POST</kbd> or
                    <kbd>PUT</kbd> operation.
                    If the default value is on a key field, you may omit this field from the key in the URL. Its value is
                    then substituted with the default value.
                </p>

                <h3>Available relations</h3>
                <p>
                    Relations can be navigated to see related items from a different resource.
                <p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relation Name</h4>
                        option_pack

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Description</h4>
                        The option pack this <a href="./vehicleaccessories">vehicleaccessory</a> belongs to.

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Location</h4>
                        <a>{{ protocol }}:://api.hexon.nl/spi/api/v2/rest/vehicleaccessory/<code>ID</code>/option_pack/</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relates to:</h4>
                        A single <a href="{{ protocol }}:://api.hexon.nl/spi/api/v2/restdoc/vehicleaccessories">vehicleaccessory</a>
                        and returns a single entry of that.

                </ul>

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relation Name</h4>
                        option_pack_contents

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Description</h4>
                        The <a href="./vehicleaccessories">vehicleaccessories</a> belonging to this option pack.

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Location</h4>
                        <a>{{ protocol }}:://api.hexon.nl/spi/api/v2/rest/vehicleaccessory/<code>ID</code>/option_pack_contents/</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relates to:</h4>
                        <a href="{{ protocol }}:://api.hexon.nl/spi/api/v2/restdoc/vehicleaccessories">vehicleaccessories</a>
                        and returns a collection of those.

                </ul>

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relation Name</h4>
                        vehicle

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Description</h4>
                        The <a href="./vehicles">vehicle</a> that is related to this <a href="./vehicleaccessories">vehicleaccessory</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Location</h4>
                        <a>{{ protocol }}:://api.hexon.nl/spi/api/v2/rest/vehicleaccessory/<code>ID</code>/vehicle/</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relates to:</h4>
                        A single <a href="{{ protocol }}:://api.hexon.nl/spi/api/v2/restdoc/vehicles">vehicle</a> and
                        returns a single entry of that.

                </ul>

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relation Name</h4>
                        client

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Description</h4>
                        The related <a href="./clients">client</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Location</h4>
                        <a>{{ protocol }}:://api.hexon.nl/spi/api/v2/rest/vehicleaccessory/<code>ID</code>/client/</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relates to:</h4>
                        A single <a href="{{ protocol }}:://api.hexon.nl/spi/api/v2/restdoc/clients">client</a> and returns
                        a single entry of that.

                </ul>

                <ul class="list-group">
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relation Name</h4>
                        vehiclemediareference

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Description</h4>
                        The <a href="./vehiclemediareference">vehiclemediareference</a> pointing to this <a
                                href="./vehicleaccessories">vehicleaccessory</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Location</h4>
                        <a>{{ protocol }}:://api.hexon.nl/spi/api/v2/rest/vehicleaccessory/<code>ID</code>/vehiclemediareference/</a>

                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">Relates to:</h4>
                        <a href="{{ protocol }}:://api.hexon.nl/spi/api/v2/restdoc/vehiclemediareference">vehiclemediareference</a>
                        and returns a collection of those.

                </ul>

            </div>
        #}
</div>
</div>
