<div class="chute chute-center pt30">

    <h5>{{ 'Module vertalen'|translate }}</h5>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title hidden-xs">{{ title }}</span>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                    <thead>
                        <tr>
                            <td colspan="2"></td>
                            {% for module_name, module in translated_items %}
                                <td>{{ module_name }}</td>
                            {% endfor %}
                        </tr>

                        {% for language in languages %}
                            <tr>
                                <td class="w20"> <img src="{{ language.getFlagIconPath }}" /></td>
                                <td><strong>{{ language.getDescription }}</strong></td>

                                {% for module_name, module in translated_items %}
                                    <td>
                                        <a class="{{ translated_items[module_name][language.getId] ? 'text-success': ''}}"
                                           href="/admin/site_translation/edit?language_id={{ language.getId() }}&module_name={{ module_name }}&site={{ site }}">
                                            <i class="fa fa-{{ translated_items[module_name][language.getId] ? 'smile-o': 'gear'}}"></i>
                                            {{ 'Instellen'|translate }}
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>