<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" method="post">
        <input type="hidden" name="_do" value="SaveTranslation"/>
        <h5>
            <img src="{{ current_language.getFlagIconPath(48) }}" />
            {{ 'Velden vertalen in het '|translate }} {{ current_language.getDescription }}
        </h5>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title hidden-xs">{{ title }}</span>
            </div>
            <div class="panel-body pn">
                <div class="table-responsive">
                    <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                        <thead>
                        <tr class="bg-light">
                            <td style="width:30%;">
                                <strong>{{ 'Origineel'|translate }}</strong>
                            </td>
                            <td style="width:30%;">
                                <strong>{{ 'Vertaling'|translate }}</strong>
                            </td>
                            <td style="width:30%;">
                                <strong>{{ 'Suggestie'|translate }}</strong>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for key,value in translation_data %}
                            <tr>
                                <td style="text-align: left">
                                    <label for="fld_{{ loop.index }}">
                                        {{ key }}
                                    </label>
                                </td>
                                <td>
                                    {% if value|length > 30%}

                                        <textarea id="fld_{{ loop.index }}" class="form-control" style="width:300px;height:150px;border:1px solid #ddd; border-radius: 3px;" name="data[{{ key }}]">{{ value }}</textarea>
                                    {% else %}
                                        <input id="fld_{{ loop.index }}" class="event-name gui-input br-light light" type="text" name="data[{{ key }}]" value="{{ value }}">
                                    {% endif %}
                                </td>
                                <td>
                                    <a href="" class="copy_suggestion">&laquo; {{ 'overnemen'|translate }}</a> <span class="suggestion">{{ suggestions[key] }}</span>
                                </td>
                            </tr>
                        {% endfor %}

                        <tr>
                            <td style="text-align: left">

                            </td>
                            <td>

                            </td>
                            <td>
                                <a href="" class="copy_all_suggestion">&laquo; {{ 'alles overnemen'|translate }}</a>
                            </td>
                        </tr>

                        <tr>
                            <td style="text-align: right">
                                <label for="fld_all_translated"></label>
                                <strong>{{ 'Alle velden vertaald?'|translate }}</strong>
                            </td>
                            <td>
                                <input id="fld_all_translated" type="checkbox" name="data[all_translated]" {{ all_translated ? 'checked' : '' }} value="1" />
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                </button>
            </div>
        </div>
    </form>
</div>
