<div class="chute chute-center pt30">

    <h5>{{ 'Website vertalen'|translate }}</h5>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title hidden-xs">{{ title }}</span>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                    <thead>
                    <tr class="bg-light">
                        <td colspan="2">
                            <strong> {{ 'Kies een site'|translate }}:</strong>
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for site in sites %}
                        <tr>
                            <td class="iconcol">
                                <a href="/admin/site_translation/choose_module?site={{ site.getDomain()}}" class="btn btn-dark btn-xs">
                                    <i class="fa fa-edit"></i>
                                </a>
                            </td>
                            <td class="text-left">
                                <a class="{{  all_translated[language.getId] ? 'text-success': ''}}" href="/admin/site_translation/choose_module?site={{ site.getDomain()}}">
                                    {{ site.getDomain()}}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>