<!-- HOME SLIDER -->
<!-- heading-banner start -->
{{ banner_area|raw }}
<!-- heading-banner end -->
<!-- shop-area start -->

<div class="shop-area">
    <div class="container">
        <div class="row">
            <!-- shop-content start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="shop-content">
                    <!-- Nav tabs -->
                    <ul class="shop-tab" role="tablist">
                        <li role="presentation" class="{{ view=='tiles' ? 'active' }}">

                            <a href="{{ url_prefix }}{{ category.getUrl() }}" ><i class="fa fa-th"></i></a>
                        </li>
                        <li role="presentation" class="{{ view=='list' ? 'active' }}">
                            <a href="{{ url_prefix }}{{ category.getUrl() }}?view=list"><i class="fa fa-list"></i></a>
                        </li>
                    </ul>
                    <div class="show-result">
                        <p> Showing 1-{{ products.count() }} of {{ products.count() }} results</p>
                    </div>
                    <div class="toolbar-form">
                        <form method="get" id="frm_sort" action="#">
                            <div class="tolbar-select">
                                <select title="{{ 'Sorting'|translate }}" id="fld_sort" name="sort">
                                    <option {{ sort == 'popularity' ? 'selected' }} value="popularity">Sort by popularity</option>
                                    <option {{ sort == 'rating' ? 'selected' }} value="rating">Sort by average rating</option>
                                    <option {{ sort == 'newness' ? 'selected' }} value="newness">Sort by newness</option>
                                </select>
                            </div>
                        </form>
                    </div>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane {{ view=='tiles' ? 'active' }}" id="home">
                            <div class="row">
                                {% for product in products %}
                                    <div class="col-lg-3 col-md-3 col-sm-3  product-cat">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{{ url_prefix }}{{ product.getProductUrl() }}">
                                                    {% if product.hasImages() %}
                                                        <img class="primary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                                        <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                                    {% else %}
                                                        <!-- We need a placeholder for this-->
                                                        <img class="primary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                        <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                    {% endif %}
                                                </a>
                                                {% if product.getInSale %}
                                                    <span class="sale">{{ 'sale'|translate }}</span>
                                                {% endif %}
                                                <div class="product-action">
                                                    {% for derrived_product in product.getDerrivedProducts() %}
                                                        {% if derrived_product.getIsOutOfStock() == false %}
                                                            <div class="pro-button-top" style="margin-bottom:5px;">
                                                                <a href="{{ url_prefix }}/cart/add?product_id={{ derrived_product.getId() }}">
                                                                    {{ 'Buy'|translate }} {{ derrived_product.getQuantityPerPack() }} {{ unit_name }}
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                        <div style="clear:both"></div>
                                                    {% endfor %}
                                                    <div class="pro-button-bottom">
                                                        <a href="{{ url_prefix }}/wishlist/add?product_id={{ product.getId() }}"><i class="fa fa-heart"></i></a>
                                                        {% if product.hasImages() %}
                                                            <a href="/img/product/800x800/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" class="image-link-{{ product.getPrimaryImage().getId() }}">
                                                                <i class="fa fa-search-plus"></i>
                                                            </a>
                                                            <script>
                                                                $('.image-link-{{ product.getPrimaryImage().getId() }}').magnificPopup({
                                                                    type: 'image',

                                                                    retina: {
                                                                        ratio: 2
                                                                    }
                                                                });
                                                            </script>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <h3><a href="{{ url_prefix }}{{ product.getProductUrl() }}">{{ product.title() }}</a></h3>
                                                {% for derrived_product in product.getDerrivedProducts() %}
                                                    <div class="pro-price">
                                                        {{ derrived_product.getQuantityPerPack() }} {{ unit_name }}
                                                        <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                                        {% if derrived_product.getAdvicePrice() %}
                                                            <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="clear:both"></div>
                                                {% endfor %}

                                                <div class="pro-rating">
                                                    {% for x in product.getAverageRatingStars %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane {{ view=='list' ? 'active' }}" id="profile">
                            <div class="row shop-list">
                                {% for product in products %}
                                    <div class="col-md-12">
                                        <div class="single-product">
                                            <div class="product-img">
                                                <a href="{{ url_prefix }}{{ product.getProductUrl() }}">
                                                    {% if product.hasImages() %}
                                                        <img class="primary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                                        <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                                                    {% else %}
                                                        <img class="primary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                        <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                    {% endif %}
                                                </a>
                                                {% if product.getIsOutOfStock() %}
                                                    <span class="sale">{{ 'sold out'|translate }}</span>
                                                {% elseif product.getInSale %}
                                                    <span class="sale">{{ 'sale'|translate }}</span>
                                                {% endif %}

                                            </div>
                                            <div class="product-info">
                                                <h3><a href="{{ url_prefix }}{{ product.getProductUrl() }}">{{ product.title() }}</a></h3>
                                                {% for derrived_product in product.getDerrivedProducts() %}
                                                    <div class="pro-price">
                                                        {{ derrived_product.getQuantityPerPack() }} {{ unit_name }}
                                                        <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                                        {% if derrived_product.getAdvicePrice() %}
                                                            <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <div style="clear:both"></div>
                                                {% endfor %}
                                                <div class="pro-rating">
                                                    {% for x in product.getAverageRatingStars %}
                                                        <i class="fa fa-star"></i>
                                                    {% endfor %}
                                                </div>
                                                <div class="product-desc">
                                                    <p>{{ product.getTranslatedShortDescription(current_language.getId()) }}</p>
                                                </div>
                                                <div class="product-action">

                                                    {% for derrived_product in product.getDerrivedProducts() %}
                                                        {% if derrived_product.getIsOutOfStock() == false %}
                                                        <div class="pro-button-top" style="margin-bottom:5px;">
                                                            <a href="{{ url_prefix }}/cart/add?product_id={{ product.getId() }}">
                                                                Buy {{ derrived_product.getQuantityPerPack() }} {{ unit_name }}
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                        <div style="clear:both"></div>
                                                    {% endfor %}

                                                    <div class="pro-button-bottom">
                                                        <a href="{{ url_prefix }}/wishlist/add?product_id={{ product.getId() }}"><i class="fa fa-heart"></i></a>

                                                        {% if product.hasImages() %}
                                                            <a href="/img/product/800x800/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" class="image-link-{{ product.getPrimaryImage().getId() }}">
                                                                <i class="fa fa-search-plus"></i>
                                                            </a>
                                                            <script>
                                                                $('.image-link-{{ product.getPrimaryImage().getId() }}').magnificPopup({
                                                                    type: 'image',

                                                                    retina: {
                                                                        ratio: 2
                                                                    }

                                                                });
                                                            </script>
                                                        {% endif %}

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>