{% if category.getHasImage() %}
<div class="heading-banner"
     style="
     background-repeat: no-repeat;
     height:300px;
     background-position: center;
     background-size: contain!important;
     background-image: url('{{ category.getImagePath() }}">
{% else %}
<div class="heading-banner">
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                    <div class="heading-banner-title">
                    <h2 style="display: none">{{ category_translation.getAlt() }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>