<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-comment"></span>
        <span class="sidebar-title"> {{ 'Reviews'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/review/moderation">
                <span class="fa fa-file-text-o"></span>
                {{ 'Modereren'|translate }}
            </a>
        </li>
    </ul>
</li>