{% extends "User/about_me_generic.twig" %}

{% block content %}

    <div id="tab2" class="tab-pane active">

        {%  for activity in activities %}


            <div class="media mt25">
                <a class="pull-left" href="#">
                    {% if activity.UserObj.getHasProfilePic %}

                        <img class="media-object mn thumbnail thumbnail-sm rounded mw40"  src="/img/user/{{current_user.getId()}}/profile_pic.{{current_user.getPicExt}}">

                    {% else %}

                        <img class="media-object mn thumbnail thumbnail-sm rounded mw40" src="/assets/img/default-avatar.png">

                    {% endif %}

                     </a>

                <div class="media-body mb5">
                    <h5 class="media-heading mbn">{{ activity.UserObj.getFirstName }} {{ activity.UserObj.getLastName }}
                        <small>{{ activity.getActivityDone|date("m/d/Y H:m")  }}</small>
                    </h5>
                    <p class="fw400"> {{ activity.getTitle }}</p>
                </div>
            </div>

        {% endfor %}

</div>

{% endblock %}