{% extends "User/about_me_generic.twig" %}

{% block content %}
    <div id="tab1" class="tab-pane active">

        <div class="row">
            <div class="col-sm-3 col-md-6">
                <a href="#">
                    {% if current_user.getHasProfilePic %}

                        <img class="media-object img-responsive" src="/img/user/{{current_user.getId()}}/profile_pic.{{current_user.getPicExt}}" >

                    {% else %}

                        <img class="media-object img-responsive" src="/assets/img/default-avatar.png" alt="...">

                    {% endif %}
                </a>
            </div>
            <div class="col-sm-9 col-md-6">
                <h2 class="media-heading fs30 mb20">{{ current_user.getFirstName }} {{ current_user.getLastName }}</h2>

                <p class="fw400">

                <div class="well">
                    <address>
                        <strong>{{ current_user.getFirstName }} {{ current_user.getLastName }}</strong><br/>
                        {% if current_user.getAboutMe  %}
                            {{ current_user.getAboutMe }}
                        {% else  %}
                            <a href="/user/about_me?tab=Change">&lt;&lt; vul aan &gt;&gt;</a>
                        {% endif  %}
                    </address>
                    <address>
                        <strong>Contact</strong>
                        <br>
                        <table>
                            <tr>
                                <td style="width:20px;"><i class="fa fa-envelope"></i></td>
                                <td><a href="/user/about_me?tab=Change">{{ current_user.getEmail }}</a></td>
                            </tr>
                            <tr>
                                <td><i class="fa fa-mobile"></i></td>
                                {%  if current_user.getPhoneMobile or current_user.getPhone %}
                                    <td>{{ current_user.getPhoneMobile }}</td>
                                {%  else %}
                                    <td><a href="/user/about_me?tab=Change">&lt;&lt; vul aan &gt;&gt;</a></td>
                                {%  endif %}
                            </tr>
                            <tr>
                                <td><i class="fa fa-phone"></i></td>
                                {%  if current_user.getPhoneMobile or current_user.getPhone %}
                                    <td>{{ current_user.getPhone }}</td>
                                {%  else %}
                                    <td><a href="/user/about_me?tab=Change">&lt;&lt; vul aan &gt;&gt;</a></td>
                                {%  endif %}
                            </tr>
                            <tr>
                                <td><i class="fa fa-twitter"></i></td>
                                {%  if current_user.getTwitter %}
                                    <td><a target="_blank" href="{{ current_user.getTwitter }}">profiel pagina</a></td>
                                {%  else %}
                                    <td><a href="/user/about_me?tab=Change">&lt;&lt; vul aan &gt;&gt;</a></td>
                                {%  endif %}
                            </tr>
                            {% if linked_in_connected == true %}
                                <tr>
                                    <td><i class="fa fa-linkedin"></i></td>
                                    <td><a target="_blank" href="{{ linked_in_user.getPublicProfileUrl }}">profiel pagina</a></td>
                                </tr>
                            {%  endif %}
                            <tr>
                                <td><i class="fa fa-globe"></i></td>
                                {%  if current_user.getWebsite %}
                                    <td><a target="_blank" href="{{ current_user.getWebsite }}">website bekijken</a></td>
                                {%  else %}
                                    <td><a href="/user/about_me?tab=Change">&lt;&lt; vul aan &gt;&gt;</a></td>
                                {%  endif %}
                            </tr>
                        </table>
                    </address>
                </div>
                </p>
            </div>
        </div>
        <!--<div class="media clearfix">
            <div class="media-left pr30">
                <a href="#">
                    <img class="media-object mw320 mnw150" src="/assets/img/avatars/profile_avatar_big.jpg" alt="...">
                </a>
            </div>
            <div class="media-body va-t">
                <h2 class="media-heading fs30 mb20">Douglas Adams</h2>
                <p class="fw400">
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
                <p class="fw400">Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
                </p>

                <div class="media-links mt40">
                    <ul class="list-inline list-unstyled">
                        <li>
                            <a href="#" title="google plus link">
                                <span class="fa fa-google-plus-square fs35 text-danger"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="facebook link">
                                <span class="fa fa-facebook-square fs35 text-primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="pinterest link">
                                <span class="fa fa-pinterest-square fs35 text-danger-light"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="twitter link">
                                <span class="fa fa-twitter-square fs35 text-primary"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="github link">
                                <span class="fa fa-github-square fs35 text-system"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" title="email link">
                                <span class="fa fa-envelope-square fs35 text-muted"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->

        {% if linked_in_connected == true %}

            <blockquote class="blockquote-rounded mv20">
                <p>"{{ linked_in_user.getHeadLine }}"</p>
                <small>{{ current_user.getFirstName }} {{ current_user.getLastName }}</small>
            </blockquote>

        {%  endif %}

    </div>
{% endblock %}