{% extends "User/about_me_generic.twig" %}

{% block content %}
    <div id="tab1" class="tab-pane active">
        <form action="/user/about_me?tab=Change" enctype="multipart/form-data" class="form-horizontal" role="form" method="post">
            <input type="hidden" name="_do" value="Save">
            <div class="row">
                <div class="col-sm-9 col-md-9">

                    <h2 class="media-heading fs30 mb20">Mijn info</h2>

                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="phone">Profielfoto</label>
                            <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-phone"></i>
                                    </span>
                                <input id="phone" class="form-control" type="file" value="" placeholder="Profielfoto" name="profile_pic">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="phone">Telefoon</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-phone"></i>
                                </span>
                                <input id="phone" class="form-control" type="text" value="{{ current_user.getPhone }}" placeholder="Telefoon nummer" name="data[phone]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="phone_mobile">Mobiel</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-mobile"></i>
                                </span>
                                <input id="phone_mobile" class="form-control" type="text" value="{{ current_user.getPhoneMobile }}" placeholder="Mobiel nummer" name="data[phone_mobile]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="website">Website</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-globe"></i>
                                </span>
                                <input id="website" class="form-control" type="text" value="{{ current_user.getWebsite }}" placeholder="Website url" name="data[website]">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="twitter">Twitter</label>
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-twitter"></i>
                                </span>
                                <input id="twitter" class="form-control" type="text" value="{{ current_user.getTwitter }}" placeholder="Twitter url" name="data[twitter]">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label" for="about_me">Over mij</label>

                            <div class="input-group">
                                <textarea name="data[about_me]" rows="3" id="about_me" class="form-control">{{ current_user.getAboutMe }}</textarea>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label">Wijzigingen opslaan</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </form>
    </div>
{% endblock %}