<div class="row">
    <div class="col-md-8 mb40">

        <div class="tab-block">
            <ul class="nav nav-tabs">
                <li class="{{ current_tab_home }}">
                    <a href="/user/about_me">Info</a>
                </li>
                <li class="{{ current_tab_change}}">
                    <a href="/user/about_me?tab=change">Wijzigen</a>
                </li>
                <li class="{{ current_tab_change}}">
                    <a href="/user/change_pass">Wachtwoord wijzigen</a>
                </li>
                <li class="{{ current_tab_activity }}">
                    <a href="/user/about_me?tab=activity">Activiteiten</a>
                </li>
            </ul>
            <div class="tab-content p30">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% if linked_in_connected == false %}
        <div class="col-md-4">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Hoi {{ current_user.getFirstName }}!</span>
                </div>
                <div class="panel-body pn pb5">

                    <hr class="short br-lighter">

                    <h6>Mogen we je een tip geven?</h6>


                    <p class="text-muted">
                        Door je profiel te linken met LinkedIn kunnen we jou en de HR afdeling werk uit handen nemen.
                        <br>
                    </p>

                    <h6>Wil je koppelen?</h6>
                    <a href="/user/about_me?_do=HookupLinkedIn">
                        <img width="100%" src="/assets/img/linkedin/Sign-In-Large---Default.png" />
                    </a>

                </div>
            </div>
        </div>
    {% endif %}

    {% if linked_in_connected == true %}
        {% if answered_never_copy_linked_in_photo == false %}
            <div class="col-md-4">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">Linked in foto overnemen?</span>
                    </div>
                    <div class="panel-body pn pb5">

                        <hr class="short br-lighter">

                        <h6>Mogen we dit voor je doen?</h6>

                        <p class="text-muted">
                            Zullen we je huidige foto vervangen voor de profielfoto die je op LinkedIn gebruikt?
                            <br>
                        </p>
                        <hr class="short br-lighter">

                        <a href="/user/about_me?_do=CopyLinkedInPhoto">Ja</a> |
                        <a href="/user/about_me?_do=NeverCopyLinkedInPhoto">Nee, en niet meer vragen a.u.b.</a>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}



</div>
