
<div class="col-md-6">
    <form method="post">
        <input type="hidden" name="_do" value="ChangePass">
        <div class="bs-component">
            <div class="panel panel-widget draft-widget">
                <div class="panel-heading">
                    <span class="panel-title">{{ 'Wachtwoord wijzigen'|translate }}</span>
                </div>
                <div class="panel-body p20">
                    <div class="allcp-form theme-primary">
                        <div class="section mb20">
                            <input name="new_password" type="password" id="draft-title" class="gui-input bg-light" placeholder="{{ 'Kies uw nieuwe wachtwoord'|translate }}">
                        </div>
                        <div class="section mb20">
                            <input name="new_password_verify" type="password" id="draft-title" class="gui-input bg-light" placeholder="{{ 'Nogmaals ter verificatie'|translate }}">
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-primary ph15" type="submit">
                        <i class="fa fa-save"></i> {{ 'Wijzigen'|translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
