<script src="/assets/js/jquery3.4.1/jquery.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ['Lato:400,300,300italic,400italic,700,700italic', 'Open+Sans:300,400,600,700']
        }
    });
</script>

<script src="/assets/js/jquery-ui-new/jquery-ui.js"></script>
<script src="/assets/js/plugins/ladda/ladda.min.js"></script>
<script src="/assets/js/plugins/highcharts/highcharts.js"></script>
<script src="/assets/js/plugins/tagsinput/tagsinput.min.js"></script>
<script src="/assets/js/plugins/globalize/globalize.min.js"></script>
<script src="/assets/js/moment.modified.js"></script>
<script src="/assets/js/plugins/daterange/daterangepicker.min.js"></script>
<script src="/assets/js/plugins/magnific/jquery.magnific-popup.js"></script>
<script src="/assets/js/plugins/summernote/summernote.min.js"></script>
<script src="/assets/js/plugins/datepicker/js/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/plugins/pnotify/pnotify.js"></script>
<script src="/assets/js/utility/utility.js"></script>
<script src="/assets/plugins/summernote/dist/summernote.js"></script>
<script src="/js/summernote-codeedit.js"></script>

<script>
    $(document).ready(function(){
        var aEditors = $('.editor');

        $(aEditors).each(function(i , e)
        {
            var oParentContainer = $(e).closest('.richtext-editor');
            var oHiddenShadowField = $('.richtext-editor-input', oParentContainer);

            var oEditor = $(e);
            oEditor.summernote({
                minHeight : null,
                maxHeight : null,
                callbacks: {
                    onChange: function() {
                        var markupStr = oEditor.summernote('code');
                        oHiddenShadowField.val(markupStr);
                    }
                }
            });
            oEditor.summernote('code', oHiddenShadowField.val());
        });
    });
</script>

<script src="/assets/plugins/selectize/dist/js/standalone/selectize.min.js"></script>
<script src="/assets/js/fullscreen.js"></script>
<script src="/js/statusmessage.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/custom.js"></script>

{% if event_javascript_to_run %}
    <script>
        {{ event_javascript_to_run|raw }}
    </script>
{% endif %}



{% for js_file in autoload_js_files%}
    <script src="{{ js_file }}"></script>
{%  endfor %}

<script src="/assets/plugins/boostrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script>
    $(document).ready(() => {
        $('.colorpicker').colorpicker();
    });
</script>

{#
<script src="/js/typescript/dist/main-webpack.js"></script>
#}
