<meta charset="utf-8">
<title>{{ title }}</title>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/assets/plugins/selectize/dist/css/selectize.css"/>
<link rel="stylesheet" href="/assets/plugins/selectize/dist/css/selectize.bootstrap3.css"/>


<!-- link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' -->
<!-- link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' -->

<link rel="stylesheet" href="/assets/js/plugins/dropzone/css/dropzone.css">
<link rel="stylesheet" href="/assets/js/plugins/ladda/ladda.min.css">
<link rel="stylesheet" href="/assets/js/plugins/tagmanager/tagmanager.css">
<link rel="stylesheet" href="/assets/js/plugins/daterange/daterangepicker.css">
<link rel="stylesheet" href="/assets/js/plugins/datepicker/css/bootstrap-datetimepicker.css">
<link rel="stylesheet" href="/assets/js/plugins/colorpicker/css/bootstrap-colorpicker.min.css">
<link rel="stylesheet" href="/assets/js/plugins/select2/css/core.css">
<link rel="stylesheet" href="/assets/js/plugins/summernote/summernote.css">
<link rel="stylesheet" href="/assets/allcp/forms/css/forms.css">
<link rel="stylesheet" href="/assets/js/plugins/footable/css/footable.core.min.css">
<link rel="stylesheet" href="/assets/skin/default_skin/less/theme.min.css">
<link rel="stylesheet" href="/assets/js/plugins/magnific/magnific-popup.css">
<link rel="stylesheet" href="/assets/allcp/forms/less/elements.less">

<link rel="stylesheet" href="/assets/skin/base/components/content_chutes.less">
<link rel="stylesheet" href="/assets/skin/base/helpers.less">


<link rel="stylesheet" href="/assets/skin/base/plugins/magnific.less">

<link rel="stylesheet" href="/assets/timeline.css">
<link rel="stylesheet" href="/assets/plugins/boostrap-colorpicker/css/bootstrap-colorpicker.min.css">


<!-- -------------- CSS - plugins -------------- -->
<link rel="stylesheet" href="/assets/js/plugins/fullcalendar/fullcalendar.min.css" media="screen">
<link rel="stylesheet" href="/assets/js/plugins/magnific/magnific-popup.css">


{#
<link rel="stylesheet" href="/assets/plugins/bootstrap-wysiwyg/index.css">
<!-- link rel="stylesheet" href="/assets/js/plugins/fancytree/skin-win8/ui.fancytree.min.css" -->
#}
<link href="/assets/plugins/summernote/dist/summernote.css" rel="stylesheet">

{#
<link rel="stylesheet" href="/assets/plugins/bootstrap-wysihtml5-0.0.2/bootstrap-wysihtml5-0.0.2.css">
<link rel="stylesheet" href="/assets/plugins/jwysiwyg/jquery.wysiwyg.css">
#}
<!-- -------------- Datatables CSS -------------- -->
<link rel="stylesheet" href="/assets/js/plugins/datatables/media/css/dataTables.bootstrap.css">
<link rel="stylesheet" href="/assets/js/plugins/datatables/extensions/Editor/css/dataTables.editor.css">
<link rel="stylesheet" href="/assets/js/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">




<!-- Autoload css file -->
{% for autoload_css_file in autoload_css_files %}
    <link rel="stylesheet" href="{{ autoload_css_file }}">
{% endfor %}

<link rel="stylesheet" href="/custom/{{ magic_arguments.custom }}/custom.css">
<link rel="stylesheet" href="/assets/custom.css">

<link rel="shortcut icon" href="/custom/{{ magic_arguments.custom }}/favicon.ico">


