{% for status_modal in status_modals %}

    <div class="auto-modal popup-basic popup-{{ status_modal.arguments.getSize().getClass() }} bg-none mfp-with-anim">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-icon">
                    <i class="fa fa-{{ status_modal.type }} text-{{ status_modal.type }}"></i>
                </span> <span class="panel-title text-{{ status_modal.type }}">
                    {{ status_modal.label|raw }}
                </span>
            </div>
            <div class="panel-body">
                <p>
                    {{ status_modal.contents|raw }}
                </p>
            </div>

            {% if status_modal.arguments.buttonsEnabled() %}
                <div class="panel-footer text-right">
                    {% if status_modal.buttons %}
                        {% for button in status_modal.buttons %}
                            <a title="{{ button.title }}" class="btn btn-default btn-{{ button.type }}" href="{{ button.action }}">
                                {{ button.label|raw }}
                            </a>
                        {% endfor %}
                    {% else %}
                        <button type="button" class="btn btn-default" data-dismiss="modal">Sluiten</button>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
