<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <div class="panel mb25 mt5">
            <div class="form-group">
                <label for="exampleInputEmail1">{{ 'Bestand uploaden'|translate }}</label>
                <input type="file" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">
                    <br />
                    {{ 'With the import function it is possible create or update customers.'|translate }}<br />
                    {{ 'In order to update an existing customer the id needs to be added to the import sheet.'|translate }}<br />
                    {{ 'You can obtain the id by first downloading customers.'|translate }}<br />
                    <br />
                    {{ 'Please download an upload template and modify that'|translate }}
                    <a href="/crm/import/customers?_do=DownloadCsv">{{ 'download alle klanten'|translate }}</a>.<br/>

                </small>
            </div>
            <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-up"></i> Submit</button>
        </div>
    </form>
</div>

