<aside id="edit_model_panel" class="chute chute-right chute350" style="display:none; height: 743px;">
    <a href="#" class="pull-right close-panel"><i class="fa fa-close"></i> </a>
    <h4>Edit model</h4>

    <input type="text" id="fld_id" name="id" value="">

    <div class="tab-block mb25">
        <ul class="nav nav-tabs tabs-bg">
            <li class="active">
                <a href="#tab10_1" data-toggle="tab">General</a>
            </li>
            <li>
                <a href="#tab10_2" data-toggle="tab">
                    <i class="fa fa-cogs text-purple"></i> Extra
                </a>
            </li>

        </ul>
        <div class="tab-content" style="overflow: visible;">
            <div id="tab10_1" class="tab-pane active allcp-form">

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label for="fld_name" class="field prepend-icon">
                            <input type="text" autocomplete="off" name="name" id="fld_name" class="gui-input" placeholder="{{ 'Model name'|translate }}...">
                            <b class="tooltip tip-left-bottom">
                                <em>
                                    {{ 'The first character must be from the alphabet (a-z), the rest may contain alphanumeric characters and underscores. The modelname is always stored in lower case and must be unique.'|translate }}
                                </em>
                            </b>
                            <label for="fld_name" class="field-icon">
                                <i class="fa fa-table"></i>
                            </label>
                        </label>
                    </div>
                </div>

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label for="fld_title" class="field prepend-icon">
                            <input type="text" name="title" autocomplete="off" id="fld_title" class="gui-input" placeholder="{{ 'Describe your model in a few words'|translate }}...">
                            <b class="tooltip tip-left-bottom">
                                <em>
                                    {{ 'What you type here will be shown in various places in the admin panel, for instance in dropdown menu\'s when asked to select a model somewhere. Ideally you should use 2 or 3 words here. '|translate }}
                                </em>
                            </b>
                            <label for="fld_title" class="field-icon">
                                <i class="fa fa-comment"></i>
                            </label>
                        </label>
                    </div>
                </div>

                <div class="section row mb50">
                    <div class="col-md-12 ph15">
                        <label class="field select">
                            <select id="fld_module_id" name="module">
                                <option value="">{{ 'Module (user interface location)'|translate }}</option>
                                <option data-action="_create_new_" value="">-- {{ 'Create a new empty module'|translate }}</option>
                                {% for module in modules %}
                                    {% if module.getTitle() %}
                                        <option value="{{ module.getId() }}">{{ module.getTitle() }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <i class="arrow double"></i>
                        </label>
                    </div>
                </div>


                <div class="section row">
                    <div class="col-md-12 ph15">

                        <button type="submit" id="fld_delete_model" class="button btn-danger pull-right ml10">
                            <i class="fa fa-trash"></i>
                            {{ 'Delete'|translate }}
                        </button>

                        <button type="submit" id="fld_create_model" class="button btn-primary pull-right">
                            <i class="fa fa-floppy-o"></i>
                            {{ 'Save'|translate }}
                        </button>

                    </div>
                </div>


                {#
                api_exposed
                api_description
                is_persistent
                is_ui_component
#}


            </div>
            <div id="tab10_2" class="tab-pane">
                <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt.</p>
            </div>
            <div id="tab10_3" class="tab-pane">
                <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
            </div>
            <div id="tab10_4" class="tab-pane">
                <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. </p>
            </div>
        </div>
    </div>


    <hr class="alt short">
    <p class="text-muted">

        <br><br>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.
    </p>

</aside>
