<div id="add_model_popup" class="popup-basic bg-none mfp-with-anim mfp-hide holder-active">
    <div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-zoomIn mfp-ready">
        <div class="mfp-container mfp-s-ready mfp-inline-holder">
            <div class="mfp-content">
                <div id="modal-form" class=" popup-basic allcp-form mfp-with-anim">
                    <div class="panel">
                        <div class="panel-heading">
                          <span class="panel-title">
                                <i class="fa fa-rocket"></i>
                              {{ 'Create a new model'|translate }}
                          </span>
                        </div>

                        <form method="post" action="/" id="comment">
                            <input type="hidden" name="create_new_module" id="fld_create_new_module" value="0">
                            <div class="panel-body  ph15">

                                <div class="section row">
                                    <div class="col-md-12 ph15">
                                        <label for="fld_name" class="field prepend-icon">
                                            <input type="text" name="name" id="fld_name" class="gui-input" placeholder="{{ 'Model name'|translate }}...">
                                            <b class="tooltip tip-left-bottom">
                                                <em>
                                                    {{ 'The first character must be from the alphabet (a-z), the rest may contain alphanumeric characters and underscores. The modelname is always stored in lower case and must be unique.'|translate }}
                                                </em>
                                            </b>
                                            <label for="fld_name" class="field-icon">
                                                <i class="fa fa-table"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                                <div class="section row">
                                    <div class="col-md-12 ph15">
                                        <label for="fld_title" class="field prepend-icon">
                                            <input type="text" name="title" id="fld_title" class="gui-input" placeholder="{{ 'Describe your model in a few words'|translate }}...">
                                            <b class="tooltip tip-left-bottom">
                                                <em>
                                                    {{ 'What you type here will be shown in various places in the admin panel, for instance in dropdown menu\'s when asked to select a model somewhere. Ideally you should use 2 or 3 words here. '|translate }}
                                                </em>
                                            </b>
                                            <label for="fld_title" class="field-icon">
                                                <i class="fa fa-comment"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>

                                <div class="section">
                                    <label class="field select">
                                        <select id="fld_module_id" name="module">
                                            <option value="">{{ 'Module (user interface location)'|translate }}</option>
                                            <option data-action="_create_new_" value="">-- {{ 'Create a new empty module'|translate }}</option>
                                            {% for module in modules %}
                                                {% if module.getTitle() %}
                                                    <option value="{{ module.getId() }}">{{ module.getTitle() }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <i class="arrow double"></i>
                                    </label>
                                </div>

                                <div id="new_module_field_block" class="section row" style="margin-bottom: 18px;display: none">
                                    <div class="col-md-12 ph15">
                                        <label for="fld_new_module" class="field prepend-icon">
                                            <input type="text" name="title" id="fld_new_module" class="gui-input" placeholder="{{ 'Name your module'|translate }}...">
                                            <label for="fld_new_module" class="field-icon">
                                                <i class="fa fa-folder-open-o"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>


                                <div class="error_block section row" style="margin-bottom: 18px;display: none">
                                    <div class="col-md-12 ph15">
                                        <ul class="error_ul">
                                        </ul>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12 ph15">
                                        <label class="field prepend-icon">
                                            {#
                                            <button type="submit" id="fld_create_model" class="button btn-danger pull-right ml10">
                                                <i class="fa fa-trash"></i>
                                                {{ 'Delete'|translate }}
                                            </button>
                                            #}
                                            <button type="submit" id="fld_create_model" class="button btn-primary pull-right ml10">
                                                <i class="fa fa-floppy-o"></i>
                                                {{ 'Create model'|translate }}
                                            </button>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    openPopup('#add_model_popup');
</script>
