<aside id="edit_property_panel" class="chute chute-right chute350" style="display:none; height: 743px;">
    <a href="#" class="pull-right close-panel"><i class="fa fa-close"></i> </a>
    <input type="hidden" name="id" id="fld_id" class="gui-input" >

    <h4>Edit property</h4>
    <div class="tab-block mb25">
        <div class="tab-content" style="overflow: visible;">
            <div id="tab10_1" class="tab-pane active allcp-form">

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label class="field prepend-icon">Model name</label>
                        <label for="fld_name" class="field prepend-icon">
                            <input type="text" name="name" id="fld_name" class="gui-input" placeholder="{{ 'Name'|translate }}...">
                            <b class="tooltip tip-left-bottom"> <em>
                                    {{ 'The first character must be from the alphabet (a-z), the rest may contain alphanumeric characters and underscores. The modelname is always stored in lower case and must be unique.'|translate }}
                                </em> </b> <label for="fld_name" class="field-icon"> <i class="fa fa-table"></i>
                            </label> </label>
                    </div>
                </div>

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label class="field prepend-icon">Title</label>
                        <label for="fld_label" class="field prepend-icon">
                            <input type="text" name="label" id="fld_label" class="gui-input" placeholder="{{ 'Label'|translate }}...">
                            <b class="tooltip tip-left-bottom"> <em>
                                    {{ 'This is what the user sees next to the form element.'|translate }}
                                </em> </b> <label for="fld_name" class="field-icon"> <i class="fa fa-table"></i>
                            </label> </label>
                    </div>
                </div>

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label class="field prepend-icon">Field type</label>
                        <label class="field select">
                            <select id="fld_form_field_type_id" name="form_field_type_id">
                                <option value="">{{ 'Field type'|translate }}</option>
                                {% for form_field_type in form_field_types %}
                                    <option data-is-foreign-key="{{ form_field_type.getIsForeignKey() }}" value="{{ form_field_type.getId() }}">{{ form_field_type.getLabel() }}</option>
                                {% endfor %}
                            </select>
                            <i class="arrow double"></i>
                        </label>
                    </div>
                </div>

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label class="field prepend-icon">Form type</label>
                        <label class="field select">
                            <select id="fld_data_type_id" name="data_type_id">
                                <option value="">{{ 'Form type'|translate }}</option>
                                {% for data_type in data_types %}
                                    <option value="{{ data_type.getId() }}">{{ data_type.getName() }}</option>
                                {% endfor %}
                            </select>
                            <i class="arrow double"></i>
                        </label>
                    </div>
                </div>

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <label class="field prepend-icon">Icon</label>
                        <label class="field select">
                            <select id="fld_icon" name="icon">
                                <option value="">{{ 'Icon'|translate }}</option>
                                {% for icon in icons %}
                                    <option value="{{ icon.getId() }}">{{ icon.getName() }}</option>
                                {% endfor %}
                            </select>
                            <i class="arrow double"></i>
                        </label>
                    </div>
                </div>
                <button class="icon-picker" data-icon="fa fa-edit">xx</button>

                {% include 'admin_modules/Modeller/Schema/Forms/Fields/model.twig' %}
                {% include 'admin_modules/Modeller/Schema/Forms/Fields/model_field.twig' %}

                <div class="section row">
                    <div class="col-md-12 ph15">
                        <button type="submit" id="fld_delete_property" class="button btn-danger pull-right btn-sm ml10">
                            <i class="fa fa-trash"></i>
                            {{ 'Delete'|translate }}
                        </button>

                        <button type="submit" id="fld_save_property" class="button btn-primary pull-right btn-sm ml10">
                            <i class="fa fa-floppy-o"></i>
                            {{ 'Save'|translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr class="alt short">
    <p class="text-muted">
        <i class="fa fa-info"></i> You can edit this form
        <a href="/generic/crud/editor_edit?module=DataField&manager=DataFieldManager&name=Schema_property_editor&title=Schema+property+editor&do_after_save=back_schema_editor">here</a>.
    </p>
</aside>
