<div id="add_property_popup" class="popup-basic bg-none mfp-with-anim mfp-hide holder-active">
    <div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-zoomIn mfp-ready">
        <div class="mfp-container mfp-s-ready mfp-inline-holder">
            <div class="mfp-content">
                <div id="modal-form" class=" popup-basic allcp-form mfp-with-anim">
                    <div class="panel">
                        <div class="panel-heading">
                          <span class="panel-title">
                                <i class="fa fa-rocket"></i>
                              {{ 'Create a new property'|translate }}
                          </span>
                        </div>

                        <form method="post" action="/" id="comment">
                            <input type="hidden" name="create_new_property" id="fld_create_new_property" value="0">
                            <div class="panel-body  ph15">


                                <div class="section row">
                                    <div class="col-md-12 ph15">
                                        <label for="fld_name" class="field prepend-icon">
                                            <input type="text" name="name" id="fld_name" class="gui-input" placeholder="{{ 'Name'|translate }}...">
                                            <b class="tooltip tip-left-bottom">
                                                <em>
                                                    {{ 'The first character must be from the alphabet (a-z), the rest may contain alphanumeric characters and underscores. The modelname is always stored in lower case and must be unique.'|translate }}
                                                </em>
                                            </b>
                                            <label for="fld_name" class="field-icon">
                                                <i class="fa fa-table"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>

                                <div class="section row">
                                    <div class="col-md-12 ph15">
                                        <label for="fld_name" class="field prepend-icon">
                                            <input type="text" name="name" id="fld_label" class="gui-input" placeholder="{{ 'Label'|translate }}...">
                                            <b class="tooltip tip-left-bottom">
                                                <em>
                                                    {{ 'This is what the user sees next to the form element.'|translate }}
                                                </em>
                                            </b>
                                            <label for="fld_name" class="field-icon">
                                                <i class="fa fa-table"></i>
                                            </label>
                                        </label>
                                    </div>
                                </div>

                                <div class="section row">
                                    <div class="col-md-12 ph15">
                                        <label class="field select">
                                            <select id="fld_form_field_type_id" name="form_field_type_id">
                                                <option value="">{{ 'Form type'|translate }}</option>
                                                {% for form_field_type in form_field_types %}
                                                    <option data-is-foreign-key="{{ form_field_type.getIsForeignKey() }}" value="{{ form_field_type.getId() }}">{{ form_field_type.getLabel() }}</option>
                                                {% endfor %}
                                            </select>
                                            <i class="arrow double"></i>
                                        </label>
                                    </div>
                                </div>


                                {% include 'admin_modules/Modeller/Schema/Forms/Fields/model.twig' %}
                                {% include 'admin_modules/Modeller/Schema/Forms/Fields/model_field.twig' %}

                                <div class="error_block section row" style="margin-bottom: 18px;display: none">
                                    <div class="col-md-12 ph15">
                                        <ul class="error_ul">
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel-footer">
                                <button type="submit" id="fld_create_property" class="button btn-primary">
                                    <i class="fa fa-flash"></i>
                                    {{ 'Create property'|translate }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    openPopup('#add_property_popup');
</script>

