<form role="form" id="tab_order_form" class="form-horizontal" method="post">
    <input type="hidden" name="_do" value="ChangeSorting" />
    <input type="hidden" name="new_sorting" id="fld_new_sorting" value="" />

    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">Versleep de tabbladen in de gewenste volgorde</span>
                </div>
                <div class="panel-body">
                    <div id="configured_fields" class="drop-area sortable">
                        {% for crud_view in crud_views %}
                            <span id="{{ crud_view.getId() }}" class="label label-primary col_dd" style="display: block; float: left; margin: 0px 3px 3px 0px;">
                                {{ crud_view.getName() }}
                            </span>
                        {% endfor %}
                    </div>
                </div>

                <div class="panel-body">
                    <button id="fld_submit_button" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <i class="fa fa-save"></i>
                        <span class="ladda-label">{{ 'Wijzigingen opslaan'|translate }}</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>