<form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
<div class="chute chute-center">
        <div class="panel">

            <div class="form-group">
                <label for="fld_bank_transaction_category_id" class="col-lg-3 control-label">
                    {{ 'Omschrijving'|translate }}
                </label>
                <div class="col-lg-1">
                    <input type="radio" name="data[filter_on]" value="description">
                </div>
                <div class="col-lg-8">
                    <input type="text" value="{{ transaction.getDescription() }}" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="fld_bank_transaction_category_id" class="col-lg-3 control-label">
                    {{ 'Tegenrekening'|translate }}
                </label>
                <div class="col-lg-1">
                    <input type="radio" name="data[filter_on]" value="counter_bank_iban_id">
                </div>
                <div class="col-lg-8">

                    <select id="fld_bank_transaction_category_id" name="data[category_id]" class="form-control">
                        {% for iban_account in iban_accounts %}
                            <option {{ transaction.getCounterBankIbanId() == iban_account.getId() ? 'selected' }} value="{{ iban_account.getId() }}">{{ iban_account.getDescription() }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>



            <div class="form-group">
                <label for="fld_bank_transaction_category_id" class="col-lg-3 control-label">{{ 'Categorie'|translate }}</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <select id="fld_bank_transaction_category_id" name="data[category_id]" class="form-control">
                            {% for id, description in category_tree %}
                                <option value="{{ id }}">{{ description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="fld_bank_transaction_category_id" class="col-lg-3 control-label">{{ 'Categorie'|translate }}</label>
                <div class="col-lg-8">
                    <div class="input-group">
                        <select id="fld_bank_transaction_category_id" name="data[category_id]" class="form-control">
                            {% for id, description in category_tree %}
                                <option value="{{ id }}">{{ description }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>


    <div class="panel">
        <h5>Transactieregels</h5>
        {% if extra_fields.filter_html|raw %}
            <div class="panel-menu p12 allcp-form mtn">
                {{ extra_fields.filter_html|raw }}
            </div>
        {% endif %}
        <div class="panel-body pn">
            {{ extra_fields.overview_table|raw }}
        </div>
    </div>

</div>
</form>