<section id="content" class="">

    <div class="mw1000 center-block">

        App maken
        <!-- -------------- Wizard -------------- -->
        {#
        <div class="panel">
            <div class="panel-body text-center mtn pb5">
                <div class="row wizard-options">
                    {% for section_key, section in app.result %}
                        <div class="col-xs-6 col-sm-4 col-md-2 ph10 mb10">
                            <a data-action="" href="?section={{ section_key }}&block={{ section.props.first }}" class="post holder-style p15{{ section_key == section.state.section ? 'holder-active' ? ' holder-active' }}">
                                <span class="fa fa-{{ section.props.icon }} holder-icon"></span>
                                <br> {{ section.title|translate }}
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
#}
        <!-- -------------- Spec IForm -------------- -->
        <div class="allcp-form">

            <form method="post" action="{{ current_url }}" id="main_form">

                <div class="wizard steps-bg steps-left clearfix" role="application" id="steps-uid-0">
                    <div class="steps clearfix">
                        {% for section_key, section in app.result %}
                            {% if section_key == app.state.section %}
                                <ul role="tablist">
                                    {% for block_key, block in section.result %}
                                        <li role="tab" class="{{ loop.first ? 'first ' }}{{  block_key == block.state.block ? 'current' : '' }}">
                                            <a data-action="" class="post" href="?section={{ section_key }}&block={{ block_key }}">
                                                <span class="current-info audible">current step: </span>
                                                <span class="number">{{ loop.index }}.</span>
                                                <i class="fa fa-{{ block.props.icon }} pr5"></i>
                                                {{ loop.index }} {{ block.props.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% for section_key, section in app.result %}
                        {% if section_key == app.state.section %}
                            {% for block_key, block in section.result %}

                                {% if block_key == block.state.block %}
                                    <div class="content clearfix">
                                        <!-- -------------- step 1 -------------- -->
                                        <h4 class="wizard-section-title title current" id="steps-uid-0-h-0" tabindex="-1">
                                            <i class="fa fa-user pr5"></i>
                                            User Details
                                        </h4>

                                        <section class="wizard-section body current" id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" aria-hidden="false">
                                            {% if block_key == block.state.block %}
                                                <a class="pull-right" title="Pagina instellen" href="{{ block.props.edit_url|raw }}">
                                                    <i class="fa fa-cogs"></i>
                                                    config
                                                </a>
                                            {% endif %}

                                            <h3>
                                                {{ block.props.title|raw }}
                                            </h3>

                                            {% if block.props.description %}
                                                <p>
                                                    {{ block.props.description|raw }}
                                                </p>
                                            {% endif %}
                                        </section>
                                        <section class="wizard-section body current" id="steps-uid-0-p-0" role="tabpanel" aria-labelledby="steps-uid-0-h-0" aria-hidden="false">
                                         {{ block.result|raw }}
                                        </section>

                                    </div>
                                    <div class="actions clearfix">
                                        <ul role="menu" aria-label="Pagination">
                                            {% for button in block.props.buttons %}
                                            <li class="{{ button.disabled ? 'disabled' }}" aria-disabled="{{ button.disabled ? 'true'}}">
                                                <a data-action="{{ button.action }}" href="{{ button.location }}" class="post" role="menuitem">
                                                    {{ button.title }}
                                                </a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}

                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>

</section>
