<!DOCTYPE html>
<html>

<head>
    <!-- -------------- Meta and Title -------------- -->
    <meta charset="utf-8">
    <title>{{ 'Admin panel'|translate }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -------------- Fonts -------------- -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
          type='text/css'>

    <!-- -------------- CSS - theme -------------- -->
    <link rel="stylesheet" type="text/css" href="/assets/skin/default_skin/less/theme.min.css">

    <!-- -------------- CSS - allcp forms -------------- -->
    <link rel="stylesheet" type="text/css" href="/assets/allcp/forms/css/forms.css">

    <!-- -------------- Favicon -------------- -->
    <link rel="shortcut icon" href="/custom/{{ magic_arguments.custom }}/favicon.ico">

    <!-- -------------- IE8 HTML5 support  -------------- -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/custom/{{ magic_arguments.custom }}/custom.css">
</head>

<body class="utility-page sb-l-c sb-r-c">

<div id="main" class="animated fadeIn">
    <section id="content_wrapper">
        <div id="canvas-wrapper">
            <canvas id="demo-canvas"></canvas>
        </div>

        <section id="content">
            <div class="allcp-form theme-primary mw600" id="login">
                <div class="text-center mb20">

                <div class="panel mw600">

                    <img class="col-md-6 col-sm-12" style="max-width:300px" src="/custom/{{ magic_arguments.assets }}/login-logo.png" />
                    <div class="col-md-6 col-md-12">

                        <form method="post" action="/user/edit" id="form-login">
                            <input type="hidden" name="_do" value="Login" />
                            <div class="panel-body pn mv10">

                                <div class="section">
                                    <label for="email" class="field prepend-icon">
                                        <input type="text" name="email" id="email" class="gui-input" placeholder="{{ 'E-mailadres'|translate }}">
                                        <label for="email" class="field-icon">
                                            <i class="fa fa-user"></i>
                                        </label>
                                    </label>
                                </div>
                                <script>
                                    document.getElementById('email').focus();
                                </script>

                                <div class="section">
                                    <label for="password" class="field prepend-icon">
                                        <input type="password" name="password" id="password" class="gui-input" placeholder="{{ 'Password'|translate }}">
                                        <label for="password" class="field-icon">
                                            <i class="fa fa-lock"></i>
                                        </label>
                                    </label>
                                </div>

                                <div class="section">
                                    <div class="bs-component pull-left pt5">
                                        <div class="radio-custom radio-primary mb5 lh25">
                                            <input type="radio" id="remember" name="remember">
                                            <label for="remember">{{ 'Onthoud mij'|translate }}</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-bordered btn-primary pull-right">{{ 'Inloggen'|translate }}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div style="clear:both;"></div>
                </div>
            </div>
        </section>
    </section>
</div>

<script src="/assets/js/jquery/jquery-1.11.3.min.js"></script>
<script src="/assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>
<script src="/assets/js/main.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {

        "use strict";

        // Init Theme Core
        Core.init();

        // Init Demo JS
        Demo.init();

        // Init CanvasBG
        CanvasBG.init({
            Loc: {
                x: window.innerWidth / 5,
                y: window.innerHeight / 10
            }
        });

    });
</script>
</body>
</html>
