<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <div class="panel mb25 mt5">
            {{ edit_form | raw  }}
        </div>
    </form>
</div>

