<header id="topbar" class="ph10">

    {% if overview_url %}
        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
                <li class="active">
                    <a href="{{ overview_url }}">&laquo; {{ 'Terug naar het overzicht'|translate }}</a>
                </li>
            </ul>
        </div>

    {% endif %}


    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Instellingen voor dit overzicht'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                {{ top_menu_right_extra_options|raw }}
                <li>
                    <a title="{{ 'Velden en titel'|translate }}" href="/generic/crud/editor_edit?module=Customer&manager=CustomerManager&name={{ edit_config_key }}&title={{ edit_view_title }}&do_after_save={{ do_after_save }}&single_block=true">
                        <i class="fa fa-table"></i>
                        {{ 'Velden en titel'|translate }}
                    </a>
                </li>
                <li>
                    <a title="{{ 'Customer background info'|translate }}" href="/generic/crud/editor_edit?module=Link_block_customer_details&manager=Link_block_customer_detailsManager&name={{ left_form_edit_config_key }}&title=Linker+menu+klant+bewerk+pagina&do_after_save={{ do_after_save }}&single_block=true">
                        <i class="fa fa-table"></i>
                        {{ 'Linker linklijst'|translate }}
                    </a>
                </li>
                <li>
                    <a title="{{ 'Enabled modules top'|translate }}" href="/generic/crud/editor_edit?module=Link_block_customer_details&manager=Link_block_customer_detailsManager&name=editor_header_menu&title=Linker+menu+klant+bewerk+pagina&do_after_save={{ do_after_save }}&single_block=true">
                        <i class="fa fa-table"></i>
                        {{ 'Top linklijst'|translate }}
                    </a>
                </li>



            </ul>

        </div>
    </div>
</header>
