
<div class="chute chute-center pt30" style="height: 887px;">
    <div class="panel mb25 mt5">
        <div class="panel-heading">
            <span class="panel-title hidden-xs">Klant adressen</span>
            {{ editor_header_menu | raw }}
        </div>
        {% if filter_html %}
            <div class="panel-menu p12 allcp-form mtn">
                {{ filter_html | raw }}
            </div>
        {% endif %}
        <div class="panel-body pn">
            {{ overview_table | raw }}
        </div>
    </div>
</div>


