<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-user"></span>
        <span class="sidebar-title">{{ 'Klanten'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/crm/customer_overview"><span class="fa fa-file-text-o"></span> {{ 'Overzicht'|translate }}</a></li>
        <li><a href="/crm/customer_edit"><span class="fa fa-file-text-o"></span> [+] {{ 'Nieuwe invoeren'|translate }}</a></li>
    </ul>
</li>
