    <form id="filters_form" class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <input type="hidden" name="_do" id="fld_do" value="" />
        <input type="hidden" name="list_id" value="{{ mailing_list.getId() }}" />


        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Algemene lijst instellingen</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fld_list_name" class="col-lg-4 control-label">Titel van de maillijst</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <input id="fld_list_name" value="{{ mailing_list.getName() }}" name="name" class="form-control" type="text" placeholder="Vul hier de titel in.">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {#
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="fld_list_name" class="col-lg-4 control-label">Op basis waarvan wil je de lijst maken</label>
                            <div class="col-lg-8">
                                <div class="input-group">
                                    <select id="fld_list_name" name="" class="form-control">
                                        <option value="customers">Klanten</option>
                                        <option value="newsletter_subscribers">Nieuwbrief abbonees</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                #}
                <div class="row">
                    <div class="col-md-12">
                        <button type="submit" class="btn ladda-button btn-dark pull-right btn_save_changes" data-style="expand-right">
                            <span class="ladda-label">
                                <i class="fa fa-save"></i>
                                {{ 'Wijzigingen opslaan'|translate }}
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Filters</span>
            </div>
            <div class="panel-body">
                <div class="chute chute-center pt30">
                    {% for current_filter in current_filters %}
                        <div class="bs-component">
                            <div class="row form-group">
                                <div class="col-md-3 fw700">{{ current_filter.filter_field.field_object.getFieldTitle() }}</div>
                                <div class="col-md-3 fw700">{{ current_filter.object.getFilterOperator.getDescription() }}</div>
                                <div class="col-md-3 fw700">

                                    {{ current_filter.visible_value }}
                                </div>
                                <a title="{{ 'Filter verwijderen'|translate }}"
                                   href="/marketing/mailing/mailing_list/edit?_do=DeleteFilter&id={{ current_filter.object.getId() }}">
                                    <i class="fa fa-trash danger"></i>
                                </a>
                            </div>
                            <div id="source-button" class="btn btn-system btn-xs" style="display: none;">&lt; &gt;</div>
                        </div>
                    {% endfor %}

                    <div class="bs-component">
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <select name="field" class="form-control autosubmit">
                                    <option value="">{{ 'Kies een veld'|translate }}</option>
                                    {% for field in fields %}
                                        <option {{ field.selected }} value="{{ field.full_name }}">{{ field.title }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <select name="operator" class="form-control autosubmit">
                                    {% if operator_filter_select_items|length > 1 %}
                                        <option value="">Kies een operator</option>
                                    {%  endif %}
                                    {% for item in operator_filter_select_items %}
                                        <option {{ item.selected }} value="{{ item.id }}">{{ item.label }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-4">
                                {% if selected_field_datatype == "lookup" and not (selected_field_operator.getName() == 'in' or selected_field_operator.getName() == 'not_in') %}
                                    <select name="value" class="form-control autosubmit">
                                        {% for item in selected_field_lookups %}
                                            <option {{ value == item.id ? 'selected="selected"' }} value="{{ item.id }}">{{ item.label }}</option>
                                        {% endfor %}
                                    </select>
                                {% elseif selected_field_datatype == "boolean" %}
                                    <select name="value" class="form-control autosubmit">
                                        <option {{ value == item.selected ? 'selected="selected"' }} {{ item.selected }} value="1">Ja</option>
                                        <option {{ value == item.selected ? 'selected="selected"' }}  {{ item.selected }} value="0">Nee</option>
                                    </select>
                                {% else %}
                                    <input name="value" type="text" value="{{ value }}" class="form-control" placeholder="{{ 'Voer een of meer komma gescheiden waardes in.'|translate }}">
                                {% endif %}
                            </div>
                        </div>
                        <p>
                            Special values for third column.<br>
                            <b>today</b> Converts to mysql date formatted string with the current date.<br>
                            <b>now</b> Converts to mysql datetime formatted string with the current date + time.<br>
                        </p>
                        <div id="source-button" class="btn btn-system btn-xs" style="display: none;">&lt; &gt;</div>
                    </div>

                    <button type="submit" class="btn ladda-button btn-dark pull-right btn_save_changes" data-style="expand-right">
                        <span class="ladda-label">
                            <i class="fa fa-save"></i>
                            {{ 'Wijzigingen opslaan'|translate }}
                        </span>
                        <span class="ladda-spinner"></span>
                    </button>

                </div>
            </div>
        </div>
    </form>
