<form method="post" id="frm_table_form" class="horizontal-form">
    <input type="hidden" id="fld_button_id" name="button_id" value="">
    <input type="hidden" id="fld_do" name="_do" value="" />

    <div class="chute chute-center pt30">
        <h5>{{ title }}</h5>

        <div class="panel">
            <div class="panel-body pn" style="margin-top:0;">
                {% if mailing_lists.isEmpty() %}
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                Vanuit deze module kunt u mailings versturen naar klanten of naar nieuwsbrief abbonees.
                                Het is daarom nodig dat u eerst lijsten met e-mail adressen samenstelt.
                                Dit doet u door selectie criteria op te geven, bijvoorbeeld uit welk land de abbonees komen.
                            </p>
                            <p>
                                Een of meer selectie criteria vormen de basis voor een lijst.
                                Wanneeer u een mailing verstuurd dan kunt u kiezen naar welke lijst u deze wilt verzenden.
                            </p>
                            <a href="/marketing/mailing/mailing_list/edit" class="btn btn-primary">
                                {{ 'Creëer nu de eerste lijst'|translate }}
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                {% else %}
                    <div class="table-responsive generated">
                        <div id="datatable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                            <table class="table allcp-form footable">
                                <tbody>
                                    {% for mailing_list in mailing_lists %}
                                        <tr>
                                            <td class="">
                                                <h3><a href="">{{ mailing_list.getName() }}</a></h3>
                                                {{ 'Aangemaakt op'|translate }} {{ mailing_list.getCreatedDate()|date('l j M Y G:i') }}
                                            </td>
                                            <td class="">
                                                <h3>{{ mailing_list.getSubscriberCount()|number_format(0, ',', '.') }}</h3>
                                                Subscribers
                                            </td>
                                            <td class="">
                                                <h3>{{ mailing_list.getUnsubscribedCount()|number_format(0, ',', '.') }}</h3>
                                                Unsubscribed
                                            </td>
                                            <td class="iconcol">
                                                <a href="/marketing/mailing/mailing_list/edit?list_id={{ mailing_list.getId() }}" title="{{ 'Criteria instellen'|translate }}" class="btn btn-primary">
                                                    <i class="fa fa-gears"></i>
                                                </a>
                                            </td>
                                            <td class="iconcol">
                                                <a href="/marketing/mailing/mailing_list/edit" title="{{ 'Mailing versturen'|translate }}" class="btn btn-primary">
                                                    <i class="fa fa-envelope"></i>
                                                </a>
                                            </td>
                                            <td class="iconcol">
                                                <a href="/marketing/mailing/mailing_list/overview?_do=ConfirmDelete&id={{ mailing_list.getId() }}" title="{{ 'Lijst verwijderen'|translate }}" class="btn btn-danger">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="dt-panelfooter clearfix">
                                <div class="dataTables_info" id="datatable_info" role="status" aria-live="polite">{# nog geen paginering maar zo lijkt het iig wat. #}Showing 1 to {{ list_count }} of {{ list_count }} entries</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</form>