    <div class="chute chute-center" style="height: 903px;">
        <!-- -------------- Quick Links -------------- -->

        <div class="row">
            <div class="col-sm-8 allcp-grid">
                <div class="panel" id="spy1">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Verkoop statistieken'|translate }}</span>
                    </div>
                    <div class="panel-body pn">
                        <div class="line_chart" id="lease_request_barchart" data-legend='{{ sale_legend|raw }}' data-language="{{ language_code }}" data-data="{{ sales_report|raw }}" style="width: 100%; height: 210px; margin: 0 auto"></div>
                    </div>
                </div>
                <div class="panel-menu br3 mt20">
                    <div class="chart-legend" data-chart-id="#lease_request_barchart">
                        {% for sale_category in sale_categories %}
                            <a style="margin:0 1px 3px 0" type="button" data-chart-id="{{ loop.index -1 }}" class="legend-item btn btn-sm btn-{{ sale_category.color }}">{{ sale_category.label }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-sm-4 allcp-grid">
                <div class="panel" id="spy1">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Rapportages downloaden'|translate }}</span>
                    </div>
                    <div class="panel-body pn">
                        <a href="/reporting/sales/download/summary"><i class="fa fa-download"></i> {{ 'Download samenvatting'|translate }}</a><br>
                        <a href="/reporting/sales/download/all"><i class="fa fa-download"></i> {{ 'Download alle transacties'|translate }}</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>




