.allcp-form .bg-alert {
  background-color: #FFBC0B;
}
.allcp-form .bg-alert.light {
  background-color: #ac92ec;
}
.allcp-form .bg-alert.lighter {
  background-color: #c0b0ea;
}
.allcp-form .bg-alert.dark {
  background-color: #815fd5;
}
.allcp-form .bg-alert.darker {
  background-color: #6c44ce;
}
.allcp-form .panel-alert > .panel-heading {
  border-top-color: #ac92ec;
}
.allcp-form .panel-alert > .panel-heading:before {
  background-color: #FFBC0B;
}
.allcp-form .panel-alert.heading-border:before,
.allcp-form .panel-alert .heading-border:before {
  background-color: #FFBC0B;
}
.allcp-form .option-alert input:hover + .checkbox,
.allcp-form .option-alert input:hover + .radio {
  border-color: #ac92ec;
}
.allcp-form .option-alert input:checked + .checkbox,
.allcp-form .option-alert input:focus + .checkbox,
.allcp-form .option-alert input:checked + .radio,
.allcp-form .option-alert input:focus + .radio {
  border-color: #FFBC0B;
}
.allcp-form .option-alert input:checked + .radio:before,
.allcp-form .option-alert input:focus + .radio:before {
  background: #FFBC0B;
}
.allcp-form .option-alert input:checked + .checkbox:before,
.allcp-form .option-alert input:focus + .checkbox:before {
  border-color: #FFBC0B;
}
.allcp-form .btn-alert {
  background-color: #FFBC0B;
}
.allcp-form .btn-alert:hover,
.allcp-form .btn-alert:focus {
  background-color: #ac92ec;
  border-color: #ac92ec;
}
.allcp-form .btn-alert:active {
  background-color: #815fd5;
}
.allcp-form .btn-alert,
.allcp-form .btn-alert:hover,
.allcp-form .btn-alert:focus,
.allcp-form .btn-alert:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-alert > input:checked + label {
  background: transparent;
  border-color: #FFBC0B;
  color: #FFBC0B;
}
.allcp-form .switch-alert > input:checked + label:after {
  background: #FFBC0B;
  color: #FFBC0B;
}
.allcp-form .switch-alert > input:checked:focus + label {
  background: #fff;
  border-color: #FFBC0B;
}
.allcp-form .slider-wrapper.slider-alert .ui-slider .ui-slider-range {
  background-color: #FFBC0B;
}
.allcp-form .slider-wrapper.slider-alert .ui-slider .ui-slider-handle {
  border-color: #FFBC0B;
}
.allcp-form .slider-wrapper.slider-alert .ui-slider .ui-slider-handle:before {
  background-color: #FFBC0B;
}
.allcp-form.theme-alert .tagline span {
  color: #FFBC0B;
}
.allcp-form.theme-alert .theme-link {
  color: #FFBC0B;
}
.allcp-form.theme-alert .section-divider span {
  color: #FFBC0B;
}
.allcp-form.theme-alert .gui-input:hover,
.allcp-form.theme-alert .gui-textarea:hover,
.allcp-form.theme-alert .select > select:hover,
.allcp-form.theme-alert .select-multiple select:hover,
.allcp-form.theme-alert .gui-input:hover ~ .input-footer,
.allcp-form.theme-alert .file .gui-file:hover + .gui-input,
.allcp-form.theme-alert .gui-textarea:hover ~ .input-footer {
  border-color: #ac92ec;
}
.allcp-form.theme-alert .gui-input:focus,
.allcp-form.theme-alert .gui-textarea:focus,
.allcp-form.theme-alert .select > select:focus,
.allcp-form.theme-alert .select-multiple select:focus {
  border-color: #ac92ec;
  color: #3C3C3C;
}
.allcp-form.theme-alert .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-alert .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-alert .gui-input:focus ~ .field-icon i,
.allcp-form.theme-alert .gui-textarea:focus ~ .field-icon i {
  color: #FFBC0B;
}
.allcp-form.theme-alert .select-multiple select:focus,
.allcp-form.theme-alert .gui-input:focus ~ .input-footer,
.allcp-form.theme-alert .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-alert .file .gui-file:focus + .gui-input {
  border-color: #ac92ec;
}
.allcp-form.theme-alert .select > select:focus + .arrow {
  color: #FFBC0B;
}
.allcp-form.theme-alert .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-alert .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-alert .ui-datepicker .ui-datepicker-title {
  color: #FFBC0B;
}
.allcp-form.theme-alert .ui-datepicker-today a,
.allcp-form.theme-alert .ui-datepicker-calendar a:hover,
.allcp-form.theme-alert .ui-datepicker-today a:hover,
.allcp-form.theme-alert .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #FFBC0B !important;
}
.allcp-form.theme-alert .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #FFBC0B !important;
}
.allcp-form.theme-alert .rating:hover .rating-star:hover,
.allcp-form.theme-alert .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-alert .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-alert .rating-star,
.allcp-form.theme-alert .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #FFBC0B;
}
.allcp-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #FFBC0B;
}
.allcp-form.theme-alert .wizard .steps li a,
.allcp-form.theme-alert .wizard .actions li a {
  background-color: #FFBC0B;
}
.allcp-form.theme-alert .wizard .steps li.current a {
  background-color: #815fd5;
}
.allcp-form .bg-danger {
  background-color: #F5393D;
}
.allcp-form .bg-danger.light {
  background-color: #fc6e51;
}
.allcp-form .bg-danger.lighter {
  background-color: #f08c7c;
}
.allcp-form .bg-danger.dark {
  background-color: #e63c21;
}
.allcp-form .bg-danger.darker {
  background-color: #cd3117;
}
.allcp-form .panel-danger > .panel-heading {
  border-top-color: #fc6e51;
}
.allcp-form .panel-danger > .panel-heading:before {
  background-color: #F5393D;
}
.allcp-form .panel-danger.heading-border:before,
.allcp-form .panel-danger .heading-border:before {
  background-color: #F5393D;
}
.allcp-form .option-danger input:hover + .checkbox,
.allcp-form .option-danger input:hover + .radio {
  border-color: #fc6e51;
}
.allcp-form .option-danger input:checked + .checkbox,
.allcp-form .option-danger input:focus + .checkbox,
.allcp-form .option-danger input:checked + .radio,
.allcp-form .option-danger input:focus + .radio {
  border-color: #F5393D;
}
.allcp-form .option-danger input:checked + .radio:before,
.allcp-form .option-danger input:focus + .radio:before {
  background: #F5393D;
}
.allcp-form .option-danger input:checked + .checkbox:before,
.allcp-form .option-danger input:focus + .checkbox:before {
  border-color: #F5393D;
}
.allcp-form .btn-danger {
  background-color: #F5393D;
}
.allcp-form .btn-danger:hover,
.allcp-form .btn-danger:focus {
  background-color: #fc6e51;
  border-color: #fc6e51;
}
.allcp-form .btn-danger:active {
  background-color: #e63c21;
}
.allcp-form .btn-danger,
.allcp-form .btn-danger:hover,
.allcp-form .btn-danger:focus,
.allcp-form .btn-danger:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-danger > input:checked + label {
  background: transparent;
  border-color: #F5393D;
  color: #F5393D;
}
.allcp-form .switch-danger > input:checked + label:after {
  background: #F5393D;
  color: #F5393D;
}
.allcp-form .switch-danger > input:checked:focus + label {
  background: #fff;
  border-color: #F5393D;
}
.allcp-form .slider-wrapper.slider-danger .ui-slider .ui-slider-range {
  background-color: #F5393D;
}
.allcp-form .slider-wrapper.slider-danger .ui-slider .ui-slider-handle {
  border-color: #F5393D;
}
.allcp-form .slider-wrapper.slider-danger .ui-slider .ui-slider-handle:before {
  background-color: #F5393D;
}
.allcp-form.theme-danger .tagline span {
  color: #F5393D;
}
.allcp-form.theme-danger .theme-link {
  color: #F5393D;
}
.allcp-form.theme-danger .section-divider span {
  color: #F5393D;
}
.allcp-form.theme-danger .gui-input:hover,
.allcp-form.theme-danger .gui-textarea:hover,
.allcp-form.theme-danger .select > select:hover,
.allcp-form.theme-danger .select-multiple select:hover,
.allcp-form.theme-danger .gui-input:hover ~ .input-footer,
.allcp-form.theme-danger .file .gui-file:hover + .gui-input,
.allcp-form.theme-danger .gui-textarea:hover ~ .input-footer {
  border-color: #fc6e51;
}
.allcp-form.theme-danger .gui-input:focus,
.allcp-form.theme-danger .gui-textarea:focus,
.allcp-form.theme-danger .select > select:focus,
.allcp-form.theme-danger .select-multiple select:focus {
  border-color: #fc6e51;
  color: #3C3C3C;
}
.allcp-form.theme-danger .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-danger .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-danger .gui-input:focus ~ .field-icon i,
.allcp-form.theme-danger .gui-textarea:focus ~ .field-icon i {
  color: #F5393D;
}
.allcp-form.theme-danger .select-multiple select:focus,
.allcp-form.theme-danger .gui-input:focus ~ .input-footer,
.allcp-form.theme-danger .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-danger .file .gui-file:focus + .gui-input {
  border-color: #fc6e51;
}
.allcp-form.theme-danger .select > select:focus + .arrow {
  color: #F5393D;
}
.allcp-form.theme-danger .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-danger .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-danger .ui-datepicker .ui-datepicker-title {
  color: #F5393D;
}
.allcp-form.theme-danger .ui-datepicker-today a,
.allcp-form.theme-danger .ui-datepicker-calendar a:hover,
.allcp-form.theme-danger .ui-datepicker-today a:hover,
.allcp-form.theme-danger .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #F5393D !important;
}
.allcp-form.theme-danger .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #F5393D !important;
}
.allcp-form.theme-danger .rating:hover .rating-star:hover,
.allcp-form.theme-danger .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-danger .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-danger .rating-star,
.allcp-form.theme-danger .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-danger .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-danger .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #F5393D;
}
.allcp-form.theme-danger .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #F5393D;
}
.allcp-form.theme-danger .wizard .steps li a,
.allcp-form.theme-danger .wizard .actions li a {
  background-color: #F5393D;
}
.allcp-form.theme-danger .wizard .steps li.current a {
  background-color: #e63c21;
}
.allcp-form .bg-dark {
  background-color: #2a2f43;
}
.allcp-form .bg-dark.light {
  background-color: #424759;
}
.allcp-form .bg-dark.lighter {
  background-color: #51566c;
}
.allcp-form .bg-dark.dark {
  background-color: #222636;
}
.allcp-form .bg-dark.darker {
  background-color: #1e2028;
}
.allcp-form .panel-dark > .panel-heading {
  border-top-color: #424759;
}
.allcp-form .panel-dark > .panel-heading:before {
  background-color: #2a2f43;
}
.allcp-form .panel-dark.heading-border:before,
.allcp-form .panel-dark .heading-border:before {
  background-color: #2a2f43;
}
.allcp-form .option-dark input:hover + .checkbox,
.allcp-form .option-dark input:hover + .radio {
  border-color: #424759;
}
.allcp-form .option-dark input:checked + .checkbox,
.allcp-form .option-dark input:focus + .checkbox,
.allcp-form .option-dark input:checked + .radio,
.allcp-form .option-dark input:focus + .radio {
  border-color: #2a2f43;
}
.allcp-form .option-dark input:checked + .radio:before,
.allcp-form .option-dark input:focus + .radio:before {
  background: #2a2f43;
}
.allcp-form .option-dark input:checked + .checkbox:before,
.allcp-form .option-dark input:focus + .checkbox:before {
  border-color: #2a2f43;
}
.allcp-form .btn-dark {
  background-color: #2a2f43;
}
.allcp-form .btn-dark:hover,
.allcp-form .btn-dark:focus {
  background-color: #424759;
  border-color: #424759;
}
.allcp-form .btn-dark:active {
  background-color: #222636;
}
.allcp-form .btn-dark,
.allcp-form .btn-dark:hover,
.allcp-form .btn-dark:focus,
.allcp-form .btn-dark:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-dark > input:checked + label {
  background: transparent;
  border-color: #2a2f43;
  color: #2a2f43;
}
.allcp-form .switch-dark > input:checked + label:after {
  background: #2a2f43;
  color: #2a2f43;
}
.allcp-form .switch-dark > input:checked:focus + label {
  background: #fff;
  border-color: #2a2f43;
}
.allcp-form .slider-wrapper.slider-dark .ui-slider .ui-slider-range {
  background-color: #2a2f43;
}
.allcp-form .slider-wrapper.slider-dark .ui-slider .ui-slider-handle {
  border-color: #2a2f43;
}
.allcp-form .slider-wrapper.slider-dark .ui-slider .ui-slider-handle:before {
  background-color: #2a2f43;
}
.allcp-form.theme-dark .tagline span {
  color: #2a2f43;
}
.allcp-form.theme-dark .theme-link {
  color: #2a2f43;
}
.allcp-form.theme-dark .section-divider span {
  color: #2a2f43;
}
.allcp-form.theme-dark .gui-input:hover,
.allcp-form.theme-dark .gui-textarea:hover,
.allcp-form.theme-dark .select > select:hover,
.allcp-form.theme-dark .select-multiple select:hover,
.allcp-form.theme-dark .gui-input:hover ~ .input-footer,
.allcp-form.theme-dark .file .gui-file:hover + .gui-input,
.allcp-form.theme-dark .gui-textarea:hover ~ .input-footer {
  border-color: #424759;
}
.allcp-form.theme-dark .gui-input:focus,
.allcp-form.theme-dark .gui-textarea:focus,
.allcp-form.theme-dark .select > select:focus,
.allcp-form.theme-dark .select-multiple select:focus {
  border-color: #424759;
  color: #3C3C3C;
}
.allcp-form.theme-dark .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-dark .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-dark .gui-input:focus ~ .field-icon i,
.allcp-form.theme-dark .gui-textarea:focus ~ .field-icon i {
  color: #2a2f43;
}
.allcp-form.theme-dark .select-multiple select:focus,
.allcp-form.theme-dark .gui-input:focus ~ .input-footer,
.allcp-form.theme-dark .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-dark .file .gui-file:focus + .gui-input {
  border-color: #424759;
}
.allcp-form.theme-dark .select > select:focus + .arrow {
  color: #2a2f43;
}
.allcp-form.theme-dark .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-dark .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-dark .ui-datepicker .ui-datepicker-title {
  color: #2a2f43;
}
.allcp-form.theme-dark .ui-datepicker-today a,
.allcp-form.theme-dark .ui-datepicker-calendar a:hover,
.allcp-form.theme-dark .ui-datepicker-today a:hover,
.allcp-form.theme-dark .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #2a2f43 !important;
}
.allcp-form.theme-dark .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #2a2f43 !important;
}
.allcp-form.theme-dark .rating:hover .rating-star:hover,
.allcp-form.theme-dark .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-dark .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-dark .rating-star,
.allcp-form.theme-dark .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-dark .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-dark .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #2a2f43;
}
.allcp-form.theme-dark .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #2a2f43;
}
.allcp-form.theme-dark .wizard .steps li a,
.allcp-form.theme-dark .wizard .actions li a {
  background-color: #2a2f43;
}
.allcp-form.theme-dark .wizard .steps li.current a {
  background-color: #222636;
}
.allcp-form .bg-info {
  background-color: #4FD8B0;
}
.allcp-form .bg-info.light {
  background-color: #4fc1e9;
}
.allcp-form .bg-info.lighter {
  background-color: #74c6e5;
}
.allcp-form .bg-info.dark {
  background-color: #27a0cc;
}
.allcp-form .bg-info.darker {
  background-color: #2189b0;
}
.allcp-form .panel-info > .panel-heading {
  border-top-color: #4fc1e9;
}
.allcp-form .panel-info > .panel-heading:before {
  background-color: #4FD8B0;
}
.allcp-form .panel-info.heading-border:before,
.allcp-form .panel-info .heading-border:before {
  background-color: #4FD8B0;
}
.allcp-form .option-info input:hover + .checkbox,
.allcp-form .option-info input:hover + .radio {
  border-color: #4fc1e9;
}
.allcp-form .option-info input:checked + .checkbox,
.allcp-form .option-info input:focus + .checkbox,
.allcp-form .option-info input:checked + .radio,
.allcp-form .option-info input:focus + .radio {
  border-color: #4FD8B0;
}
.allcp-form .option-info input:checked + .radio:before,
.allcp-form .option-info input:focus + .radio:before {
  background: #4FD8B0;
}
.allcp-form .option-info input:checked + .checkbox:before,
.allcp-form .option-info input:focus + .checkbox:before {
  border-color: #4FD8B0;
}
.allcp-form .btn-info {
  background-color: #4FD8B0;
}
.allcp-form .btn-info:hover,
.allcp-form .btn-info:focus {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}
.allcp-form .btn-info:active {
  background-color: #27a0cc;
}
.allcp-form .btn-info,
.allcp-form .btn-info:hover,
.allcp-form .btn-info:focus,
.allcp-form .btn-info:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-info > input:checked + label {
  background: transparent;
  border-color: #4FD8B0;
  color: #4FD8B0;
}
.allcp-form .switch-info > input:checked + label:after {
  background: #4FD8B0;
  color: #4FD8B0;
}
.allcp-form .switch-info > input:checked:focus + label {
  background: #fff;
  border-color: #4FD8B0;
}
.allcp-form .slider-wrapper.slider-info .ui-slider .ui-slider-range {
  background-color: #4FD8B0;
}
.allcp-form .slider-wrapper.slider-info .ui-slider .ui-slider-handle {
  border-color: #4FD8B0;
}
.allcp-form .slider-wrapper.slider-info .ui-slider .ui-slider-handle:before {
  background-color: #4FD8B0;
}
.allcp-form.theme-info .tagline span {
  color: #4FD8B0;
}
.allcp-form.theme-info .theme-link {
  color: #4FD8B0;
}
.allcp-form.theme-info .section-divider span {
  color: #4FD8B0;
}
.allcp-form.theme-info .gui-input:hover,
.allcp-form.theme-info .gui-textarea:hover,
.allcp-form.theme-info .select > select:hover,
.allcp-form.theme-info .select-multiple select:hover,
.allcp-form.theme-info .gui-input:hover ~ .input-footer,
.allcp-form.theme-info .file .gui-file:hover + .gui-input,
.allcp-form.theme-info .gui-textarea:hover ~ .input-footer {
  border-color: #4fc1e9;
}
.allcp-form.theme-info .gui-input:focus,
.allcp-form.theme-info .gui-textarea:focus,
.allcp-form.theme-info .select > select:focus,
.allcp-form.theme-info .select-multiple select:focus {
  border-color: #4fc1e9;
  color: #3C3C3C;
}
.allcp-form.theme-info .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-info .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-info .gui-input:focus ~ .field-icon i,
.allcp-form.theme-info .gui-textarea:focus ~ .field-icon i {
  color: #4FD8B0;
}
.allcp-form.theme-info .select-multiple select:focus,
.allcp-form.theme-info .gui-input:focus ~ .input-footer,
.allcp-form.theme-info .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-info .file .gui-file:focus + .gui-input {
  border-color: #4fc1e9;
}
.allcp-form.theme-info .select > select:focus + .arrow {
  color: #4FD8B0;
}
.allcp-form.theme-info .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-info .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-info .ui-datepicker .ui-datepicker-title {
  color: #4FD8B0;
}
.allcp-form.theme-info .ui-datepicker-today a,
.allcp-form.theme-info .ui-datepicker-calendar a:hover,
.allcp-form.theme-info .ui-datepicker-today a:hover,
.allcp-form.theme-info .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #4FD8B0 !important;
}
.allcp-form.theme-info .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #4FD8B0 !important;
}
.allcp-form.theme-info .rating:hover .rating-star:hover,
.allcp-form.theme-info .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-info .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-info .rating-star,
.allcp-form.theme-info .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #4FD8B0;
}
.allcp-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #4FD8B0;
}
.allcp-form.theme-info .wizard .steps li a,
.allcp-form.theme-info .wizard .actions li a {
  background-color: #4FD8B0;
}
.allcp-form.theme-info .wizard .steps li.current a {
  background-color: #27a0cc;
}
.allcp-form .bg-primary {
  background-color: #00aeef;
}
.allcp-form .bg-primary.light {
  background-color: #4ea5e0;
}
.allcp-form .bg-primary.lighter {
  background-color: #83aee7;
}
.allcp-form .bg-primary.dark {
  background-color: #2489cc;
}
.allcp-form .bg-primary.darker {
  background-color: #2567bd;
}
.allcp-form .panel-primary > .panel-heading {
  border-top-color: #4ea5e0;
}
.allcp-form .panel-primary > .panel-heading:before {
  background-color: #00aeef;
}
.allcp-form .panel-primary.heading-border:before,
.allcp-form .panel-primary .heading-border:before {
  background-color: #00aeef;
}
.allcp-form .option-primary input:hover + .checkbox,
.allcp-form .option-primary input:hover + .radio {
  border-color: #4ea5e0;
}
.allcp-form .option-primary input:checked + .checkbox,
.allcp-form .option-primary input:focus + .checkbox,
.allcp-form .option-primary input:checked + .radio,
.allcp-form .option-primary input:focus + .radio {
  border-color: #00aeef;
}
.allcp-form .option-primary input:checked + .radio:before,
.allcp-form .option-primary input:focus + .radio:before {
  background: #00aeef;
}
.allcp-form .option-primary input:checked + .checkbox:before,
.allcp-form .option-primary input:focus + .checkbox:before {
  border-color: #00aeef;
}
.allcp-form .btn-primary {
  background-color: #00aeef;
}
.allcp-form .btn-primary:hover,
.allcp-form .btn-primary:focus {
  background-color: #4ea5e0;
  border-color: #4ea5e0;
}
.allcp-form .btn-primary:active {
  background-color: #2489cc;
}
.allcp-form .btn-primary,
.allcp-form .btn-primary:hover,
.allcp-form .btn-primary:focus,
.allcp-form .btn-primary:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-primary > input:checked + label {
  background: transparent;
  border-color: #00aeef;
  color: #00aeef;
}
.allcp-form .switch-primary > input:checked + label:after {
  background: #00aeef;
  color: #00aeef;
}
.allcp-form .switch-primary > input:checked:focus + label {
  background: #fff;
  border-color: #00aeef;
}
.allcp-form .slider-wrapper.slider-primary .ui-slider .ui-slider-range {
  background-color: #00aeef;
}
.allcp-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle {
  border-color: #00aeef;
}
.allcp-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle:before {
  background-color: #00aeef;
}
.allcp-form.theme-primary .tagline span {
  color: #00aeef;
}
.allcp-form.theme-primary .theme-link {
  color: #00aeef;
}
.allcp-form.theme-primary .section-divider span {
  color: #00aeef;
}
.allcp-form.theme-primary .gui-input:hover,
.allcp-form.theme-primary .gui-textarea:hover,
.allcp-form.theme-primary .select > select:hover,
.allcp-form.theme-primary .select-multiple select:hover,
.allcp-form.theme-primary .gui-input:hover ~ .input-footer,
.allcp-form.theme-primary .file .gui-file:hover + .gui-input,
.allcp-form.theme-primary .gui-textarea:hover ~ .input-footer {
  border-color: #00aeef;
}
.allcp-form.theme-primary .gui-input:focus,
.allcp-form.theme-primary .gui-textarea:focus,
.allcp-form.theme-primary .select > select:focus,
.allcp-form.theme-primary .select-multiple select:focus {
  border-color: #00aeef;
  color: #3C3C3C;
}
.allcp-form.theme-primary .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-primary .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-primary .gui-input:focus ~ .field-icon i,
.allcp-form.theme-primary .gui-textarea:focus ~ .field-icon i {
  color: #00aeef;
}
.allcp-form.theme-primary .select-multiple select:focus,
.allcp-form.theme-primary .gui-input:focus ~ .input-footer,
.allcp-form.theme-primary .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-primary .file .gui-file:focus + .gui-input {
  border-color: #00aeef;
}
.allcp-form.theme-primary .select > select:focus + .arrow {
  color: #00aeef;
}
.allcp-form.theme-primary .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-primary .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-primary .ui-datepicker .ui-datepicker-title {
  color: #00aeef;
}
.allcp-form.theme-primary .ui-datepicker-today a,
.allcp-form.theme-primary .ui-datepicker-calendar a:hover,
.allcp-form.theme-primary .ui-datepicker-today a:hover,
.allcp-form.theme-primary .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #00aeef !important;
}
.allcp-form.theme-primary .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #00aeef !important;
}
.allcp-form.theme-primary .rating:hover .rating-star:hover,
.allcp-form.theme-primary .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-primary .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-primary .rating-star,
.allcp-form.theme-primary .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #00aeef;
}
.allcp-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #00aeef;
}
.allcp-form.theme-primary .wizard .steps li a,
.allcp-form.theme-primary .wizard .actions li a {
  background-color: #00aeef;
}
.allcp-form.theme-primary .wizard .steps li.current a {
  background-color: #2489cc;
}
.allcp-form .bg-success {
  background-color: #398439;
}
.allcp-form .bg-success.light {
  background-color: #87d37c;
}
.allcp-form .bg-success.lighter {
  background-color: #9edc95;
}
.allcp-form .bg-success.dark {
  background-color: #58c249;
}
.allcp-form .bg-success.darker {
  background-color: #49ae3b;
}
.allcp-form .panel-success > .panel-heading {
  border-top-color: #87d37c;
}
.allcp-form .panel-success > .panel-heading:before {
  background-color: #398439;
}
.allcp-form .panel-success.heading-border:before,
.allcp-form .panel-success .heading-border:before {
  background-color: #398439;
}
.allcp-form .option-success input:hover + .checkbox,
.allcp-form .option-success input:hover + .radio {
  border-color: #87d37c;
}
.allcp-form .option-success input:checked + .checkbox,
.allcp-form .option-success input:focus + .checkbox,
.allcp-form .option-success input:checked + .radio,
.allcp-form .option-success input:focus + .radio {
  border-color: #398439;
}
.allcp-form .option-success input:checked + .radio:before,
.allcp-form .option-success input:focus + .radio:before {
  background: #398439;
}
.allcp-form .option-success input:checked + .checkbox:before,
.allcp-form .option-success input:focus + .checkbox:before {
  border-color: #398439;
}
.allcp-form .btn-success {
  background-color: #398439;
}
.allcp-form .btn-success:hover,
.allcp-form .btn-success:focus {
  background-color: #87d37c;
  border-color: #87d37c;
}
.allcp-form .btn-success:active {
  background-color: #58c249;
}
.allcp-form .btn-success,
.allcp-form .btn-success:hover,
.allcp-form .btn-success:focus,
.allcp-form .btn-success:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-success > input:checked + label {
  background: transparent;
  border-color: #398439;
  color: #398439;
}
.allcp-form .switch-success > input:checked + label:after {
  background: #398439;
  color: #398439;
}
.allcp-form .switch-success > input:checked:focus + label {
  background: #fff;
  border-color: #398439;
}
.allcp-form .slider-wrapper.slider-success .ui-slider .ui-slider-range {
  background-color: #398439;
}
.allcp-form .slider-wrapper.slider-success .ui-slider .ui-slider-handle {
  border-color: #398439;
}
.allcp-form .slider-wrapper.slider-success .ui-slider .ui-slider-handle:before {
  background-color: #398439;
}
.allcp-form.theme-success .tagline span {
  color: #398439;
}
.allcp-form.theme-success .theme-link {
  color: #398439;
}
.allcp-form.theme-success .section-divider span {
  color: #398439;
}
.allcp-form.theme-success .gui-input:hover,
.allcp-form.theme-success .gui-textarea:hover,
.allcp-form.theme-success .select > select:hover,
.allcp-form.theme-success .select-multiple select:hover,
.allcp-form.theme-success .gui-input:hover ~ .input-footer,
.allcp-form.theme-success .file .gui-file:hover + .gui-input,
.allcp-form.theme-success .gui-textarea:hover ~ .input-footer {
  border-color: #87d37c;
}
.allcp-form.theme-success .gui-input:focus,
.allcp-form.theme-success .gui-textarea:focus,
.allcp-form.theme-success .select > select:focus,
.allcp-form.theme-success .select-multiple select:focus {
  border-color: #87d37c;
  color: #3C3C3C;
}
.allcp-form.theme-success .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-success .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-success .gui-input:focus ~ .field-icon i,
.allcp-form.theme-success .gui-textarea:focus ~ .field-icon i {
  color: #398439;
}
.allcp-form.theme-success .select-multiple select:focus,
.allcp-form.theme-success .gui-input:focus ~ .input-footer,
.allcp-form.theme-success .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-success .file .gui-file:focus + .gui-input {
  border-color: #87d37c;
}
.allcp-form.theme-success .select > select:focus + .arrow {
  color: #398439;
}
.allcp-form.theme-success .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-success .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-success .ui-datepicker .ui-datepicker-title {
  color: #398439;
}
.allcp-form.theme-success .ui-datepicker-today a,
.allcp-form.theme-success .ui-datepicker-calendar a:hover,
.allcp-form.theme-success .ui-datepicker-today a:hover,
.allcp-form.theme-success .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #398439 !important;
}
.allcp-form.theme-success .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #398439 !important;
}
.allcp-form.theme-success .rating:hover .rating-star:hover,
.allcp-form.theme-success .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-success .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-success .rating-star,
.allcp-form.theme-success .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #398439;
}
.allcp-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #398439;
}
.allcp-form.theme-success .wizard .steps li a,
.allcp-form.theme-success .wizard .actions li a {
  background-color: #398439;
}
.allcp-form.theme-success .wizard .steps li.current a {
  background-color: #58c249;
}
.allcp-form .bg-system {
  background-color: #5A5386;
}
.allcp-form .bg-system.light {
  background-color: #48cfad;
}
.allcp-form .bg-system.lighter {
  background-color: #65d2b7;
}
.allcp-form .bg-system.dark {
  background-color: #2fa285;
}
.allcp-form .bg-system.darker {
  background-color: #288770;
}
.allcp-form .panel-system > .panel-heading {
  border-top-color: #48cfad;
}
.allcp-form .panel-system > .panel-heading:before {
  background-color: #5A5386;
}
.allcp-form .panel-system.heading-border:before,
.allcp-form .panel-system .heading-border:before {
  background-color: #5A5386;
}
.allcp-form .option-system input:hover + .checkbox,
.allcp-form .option-system input:hover + .radio {
  border-color: #48cfad;
}
.allcp-form .option-system input:checked + .checkbox,
.allcp-form .option-system input:focus + .checkbox,
.allcp-form .option-system input:checked + .radio,
.allcp-form .option-system input:focus + .radio {
  border-color: #5A5386;
}
.allcp-form .option-system input:checked + .radio:before,
.allcp-form .option-system input:focus + .radio:before {
  background: #5A5386;
}
.allcp-form .option-system input:checked + .checkbox:before,
.allcp-form .option-system input:focus + .checkbox:before {
  border-color: #5A5386;
}
.allcp-form .btn-system {
  background-color: #5A5386;
}
.allcp-form .btn-system:hover,
.allcp-form .btn-system:focus {
  background-color: #48cfad;
  border-color: #48cfad;
}
.allcp-form .btn-system:active {
  background-color: #2fa285;
}
.allcp-form .btn-system,
.allcp-form .btn-system:hover,
.allcp-form .btn-system:focus,
.allcp-form .btn-system:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-system > input:checked + label {
  background: transparent;
  border-color: #5A5386;
  color: #5A5386;
}
.allcp-form .switch-system > input:checked + label:after {
  background: #5A5386;
  color: #5A5386;
}
.allcp-form .switch-system > input:checked:focus + label {
  background: #fff;
  border-color: #5A5386;
}
.allcp-form .slider-wrapper.slider-system .ui-slider .ui-slider-range {
  background-color: #5A5386;
}
.allcp-form .slider-wrapper.slider-system .ui-slider .ui-slider-handle {
  border-color: #5A5386;
}
.allcp-form .slider-wrapper.slider-system .ui-slider .ui-slider-handle:before {
  background-color: #5A5386;
}
.allcp-form.theme-system .tagline span {
  color: #5A5386;
}
.allcp-form.theme-system .theme-link {
  color: #5A5386;
}
.allcp-form.theme-system .section-divider span {
  color: #5A5386;
}
.allcp-form.theme-system .gui-input:hover,
.allcp-form.theme-system .gui-textarea:hover,
.allcp-form.theme-system .select > select:hover,
.allcp-form.theme-system .select-multiple select:hover,
.allcp-form.theme-system .gui-input:hover ~ .input-footer,
.allcp-form.theme-system .file .gui-file:hover + .gui-input,
.allcp-form.theme-system .gui-textarea:hover ~ .input-footer {
  border-color: #48cfad;
}
.allcp-form.theme-system .gui-input:focus,
.allcp-form.theme-system .gui-textarea:focus,
.allcp-form.theme-system .select > select:focus,
.allcp-form.theme-system .select-multiple select:focus {
  border-color: #48cfad;
  color: #3C3C3C;
}
.allcp-form.theme-system .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-system .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-system .gui-input:focus ~ .field-icon i,
.allcp-form.theme-system .gui-textarea:focus ~ .field-icon i {
  color: #5A5386;
}
.allcp-form.theme-system .select-multiple select:focus,
.allcp-form.theme-system .gui-input:focus ~ .input-footer,
.allcp-form.theme-system .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-system .file .gui-file:focus + .gui-input {
  border-color: #48cfad;
}
.allcp-form.theme-system .select > select:focus + .arrow {
  color: #5A5386;
}
.allcp-form.theme-system .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-system .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-system .ui-datepicker .ui-datepicker-title {
  color: #5A5386;
}
.allcp-form.theme-system .ui-datepicker-today a,
.allcp-form.theme-system .ui-datepicker-calendar a:hover,
.allcp-form.theme-system .ui-datepicker-today a:hover,
.allcp-form.theme-system .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #5A5386 !important;
}
.allcp-form.theme-system .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #5A5386 !important;
}
.allcp-form.theme-system .rating:hover .rating-star:hover,
.allcp-form.theme-system .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-system .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-system .rating-star,
.allcp-form.theme-system .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #5A5386;
}
.allcp-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #5A5386;
}
.allcp-form.theme-system .wizard .steps li a,
.allcp-form.theme-system .wizard .actions li a {
  background-color: #5A5386;
}
.allcp-form.theme-system .wizard .steps li.current a {
  background-color: #2fa285;
}
.allcp-form .bg-warning {
  background-color: #FF7022;
}
.allcp-form .bg-warning.light {
  background-color: #ffce54;
}
.allcp-form .bg-warning.lighter {
  background-color: #f9d283;
}
.allcp-form .bg-warning.dark {
  background-color: #f4af22;
}
.allcp-form .bg-warning.darker {
  background-color: #d9950a;
}
.allcp-form .panel-warning > .panel-heading {
  border-top-color: #ffce54;
}
.allcp-form .panel-warning > .panel-heading:before {
  background-color: #FF7022;
}
.allcp-form .panel-warning.heading-border:before,
.allcp-form .panel-warning .heading-border:before {
  background-color: #FF7022;
}
.allcp-form .option-warning input:hover + .checkbox,
.allcp-form .option-warning input:hover + .radio {
  border-color: #ffce54;
}
.allcp-form .option-warning input:checked + .checkbox,
.allcp-form .option-warning input:focus + .checkbox,
.allcp-form .option-warning input:checked + .radio,
.allcp-form .option-warning input:focus + .radio {
  border-color: #FF7022;
}
.allcp-form .option-warning input:checked + .radio:before,
.allcp-form .option-warning input:focus + .radio:before {
  background: #FF7022;
}
.allcp-form .option-warning input:checked + .checkbox:before,
.allcp-form .option-warning input:focus + .checkbox:before {
  border-color: #FF7022;
}
.allcp-form .btn-warning {
  background-color: #FF7022;
}
.allcp-form .btn-warning:hover,
.allcp-form .btn-warning:focus {
  background-color: #ffce54;
  border-color: #ffce54;
}
.allcp-form .btn-warning:active {
  background-color: #f4af22;
}
.allcp-form .btn-warning,
.allcp-form .btn-warning:hover,
.allcp-form .btn-warning:focus,
.allcp-form .btn-warning:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-warning > input:checked + label {
  background: transparent;
  border-color: #FF7022;
  color: #FF7022;
}
.allcp-form .switch-warning > input:checked + label:after {
  background: #FF7022;
  color: #FF7022;
}
.allcp-form .switch-warning > input:checked:focus + label {
  background: #fff;
  border-color: #FF7022;
}
.allcp-form .slider-wrapper.slider-warning .ui-slider .ui-slider-range {
  background-color: #FF7022;
}
.allcp-form .slider-wrapper.slider-warning .ui-slider .ui-slider-handle {
  border-color: #FF7022;
}
.allcp-form .slider-wrapper.slider-warning .ui-slider .ui-slider-handle:before {
  background-color: #FF7022;
}
.allcp-form.theme-warning .tagline span {
  color: #FF7022;
}
.allcp-form.theme-warning .theme-link {
  color: #FF7022;
}
.allcp-form.theme-warning .section-divider span {
  color: #FF7022;
}
.allcp-form.theme-warning .gui-input:hover,
.allcp-form.theme-warning .gui-textarea:hover,
.allcp-form.theme-warning .select > select:hover,
.allcp-form.theme-warning .select-multiple select:hover,
.allcp-form.theme-warning .gui-input:hover ~ .input-footer,
.allcp-form.theme-warning .file .gui-file:hover + .gui-input,
.allcp-form.theme-warning .gui-textarea:hover ~ .input-footer {
  border-color: #ffce54;
}
.allcp-form.theme-warning .gui-input:focus,
.allcp-form.theme-warning .gui-textarea:focus,
.allcp-form.theme-warning .select > select:focus,
.allcp-form.theme-warning .select-multiple select:focus {
  border-color: #ffce54;
  color: #3C3C3C;
}
.allcp-form.theme-warning .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-warning .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-warning .gui-input:focus ~ .field-icon i,
.allcp-form.theme-warning .gui-textarea:focus ~ .field-icon i {
  color: #FF7022;
}
.allcp-form.theme-warning .select-multiple select:focus,
.allcp-form.theme-warning .gui-input:focus ~ .input-footer,
.allcp-form.theme-warning .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-warning .file .gui-file:focus + .gui-input {
  border-color: #ffce54;
}
.allcp-form.theme-warning .select > select:focus + .arrow {
  color: #FF7022;
}
.allcp-form.theme-warning .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-warning .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-warning .ui-datepicker .ui-datepicker-title {
  color: #FF7022;
}
.allcp-form.theme-warning .ui-datepicker-today a,
.allcp-form.theme-warning .ui-datepicker-calendar a:hover,
.allcp-form.theme-warning .ui-datepicker-today a:hover,
.allcp-form.theme-warning .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #FF7022 !important;
}
.allcp-form.theme-warning .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #FF7022 !important;
}
.allcp-form.theme-warning .rating:hover .rating-star:hover,
.allcp-form.theme-warning .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-warning .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-warning .rating-star,
.allcp-form.theme-warning .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #FF7022;
}
.allcp-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #FF7022;
}
.allcp-form.theme-warning .wizard .steps li a,
.allcp-form.theme-warning .wizard .actions li a {
  background-color: #FF7022;
}
.allcp-form.theme-warning .wizard .steps li.current a {
  background-color: #f4af22;
}
/*# sourceMappingURL=all-themes.css.map */