.allcp-form .bg-success {
  background-color: #398439;
}
.allcp-form .bg-success.light {
  background-color: #87d37c;
}
.allcp-form .bg-success.lighter {
  background-color: #9edc95;
}
.allcp-form .bg-success.dark {
  background-color: #58c249;
}
.allcp-form .bg-success.darker {
  background-color: #49ae3b;
}
.allcp-form .panel-success > .panel-heading {
  border-top-color: #87d37c;
}
.allcp-form .panel-success > .panel-heading:before {
  background-color: #398439;
}
.allcp-form .panel-success.heading-border:before,
.allcp-form .panel-success .heading-border:before {
  background-color: #398439;
}
.allcp-form .option-success input:hover + .checkbox,
.allcp-form .option-success input:hover + .radio {
  border-color: #87d37c;
}
.allcp-form .option-success input:checked + .checkbox,
.allcp-form .option-success input:focus + .checkbox,
.allcp-form .option-success input:checked + .radio,
.allcp-form .option-success input:focus + .radio {
  border-color: #398439;
}
.allcp-form .option-success input:checked + .radio:before,
.allcp-form .option-success input:focus + .radio:before {
  background: #398439;
}
.allcp-form .option-success input:checked + .checkbox:before,
.allcp-form .option-success input:focus + .checkbox:before {
  border-color: #398439;
}
.allcp-form .btn-success {
  background-color: #398439;
}
.allcp-form .btn-success:hover,
.allcp-form .btn-success:focus {
  background-color: #87d37c;
  border-color: #87d37c;
}
.allcp-form .btn-success:active {
  background-color: #58c249;
}
.allcp-form .btn-success,
.allcp-form .btn-success:hover,
.allcp-form .btn-success:focus,
.allcp-form .btn-success:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-success > input:checked + label {
  background: transparent;
  border-color: #398439;
  color: #398439;
}
.allcp-form .switch-success > input:checked + label:after {
  background: #398439;
  color: #398439;
}
.allcp-form .switch-success > input:checked:focus + label {
  background: #fff;
  border-color: #398439;
}
.allcp-form .slider-wrapper.slider-success .ui-slider .ui-slider-range {
  background-color: #398439;
}
.allcp-form .slider-wrapper.slider-success .ui-slider .ui-slider-handle {
  border-color: #398439;
}
.allcp-form .slider-wrapper.slider-success .ui-slider .ui-slider-handle:before {
  background-color: #398439;
}
.allcp-form.theme-success .tagline span {
  color: #398439;
}
.allcp-form.theme-success .theme-link {
  color: #398439;
}
.allcp-form.theme-success .section-divider span {
  color: #398439;
}
.allcp-form.theme-success .gui-input:hover,
.allcp-form.theme-success .gui-textarea:hover,
.allcp-form.theme-success .select > select:hover,
.allcp-form.theme-success .select-multiple select:hover,
.allcp-form.theme-success .gui-input:hover ~ .input-footer,
.allcp-form.theme-success .file .gui-file:hover + .gui-input,
.allcp-form.theme-success .gui-textarea:hover ~ .input-footer {
  border-color: #87d37c;
}
.allcp-form.theme-success .gui-input:focus,
.allcp-form.theme-success .gui-textarea:focus,
.allcp-form.theme-success .select > select:focus,
.allcp-form.theme-success .select-multiple select:focus {
  border-color: #87d37c;
  color: #3C3C3C;
}
.allcp-form.theme-success .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-success .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-success .gui-input:focus ~ .field-icon i,
.allcp-form.theme-success .gui-textarea:focus ~ .field-icon i {
  color: #398439;
}
.allcp-form.theme-success .select-multiple select:focus,
.allcp-form.theme-success .gui-input:focus ~ .input-footer,
.allcp-form.theme-success .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-success .file .gui-file:focus + .gui-input {
  border-color: #87d37c;
}
.allcp-form.theme-success .select > select:focus + .arrow {
  color: #398439;
}
.allcp-form.theme-success .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-success .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-success .ui-datepicker .ui-datepicker-title {
  color: #398439;
}
.allcp-form.theme-success .ui-datepicker-today a,
.allcp-form.theme-success .ui-datepicker-calendar a:hover,
.allcp-form.theme-success .ui-datepicker-today a:hover,
.allcp-form.theme-success .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #398439 !important;
}
.allcp-form.theme-success .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #398439 !important;
}
.allcp-form.theme-success .rating:hover .rating-star:hover,
.allcp-form.theme-success .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-success .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-success .rating-star,
.allcp-form.theme-success .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #398439;
}
.allcp-form.theme-success .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #398439;
}
.allcp-form.theme-success .wizard .steps li a,
.allcp-form.theme-success .wizard .actions li a {
  background-color: #398439;
}
.allcp-form.theme-success .wizard .steps li.current a {
  background-color: #58c249;
}
/*# sourceMappingURL=theme-success.css.map */