.allcp-form .bg-info {
  background-color: #4FD8B0;
}
.allcp-form .bg-info.light {
  background-color: #4fc1e9;
}
.allcp-form .bg-info.lighter {
  background-color: #74c6e5;
}
.allcp-form .bg-info.dark {
  background-color: #27a0cc;
}
.allcp-form .bg-info.darker {
  background-color: #2189b0;
}
.allcp-form .panel-info > .panel-heading {
  border-top-color: #4fc1e9;
}
.allcp-form .panel-info > .panel-heading:before {
  background-color: #4FD8B0;
}
.allcp-form .panel-info.heading-border:before,
.allcp-form .panel-info .heading-border:before {
  background-color: #4FD8B0;
}
.allcp-form .option-info input:hover + .checkbox,
.allcp-form .option-info input:hover + .radio {
  border-color: #4fc1e9;
}
.allcp-form .option-info input:checked + .checkbox,
.allcp-form .option-info input:focus + .checkbox,
.allcp-form .option-info input:checked + .radio,
.allcp-form .option-info input:focus + .radio {
  border-color: #4FD8B0;
}
.allcp-form .option-info input:checked + .radio:before,
.allcp-form .option-info input:focus + .radio:before {
  background: #4FD8B0;
}
.allcp-form .option-info input:checked + .checkbox:before,
.allcp-form .option-info input:focus + .checkbox:before {
  border-color: #4FD8B0;
}
.allcp-form .btn-info {
  background-color: #4FD8B0;
}
.allcp-form .btn-info:hover,
.allcp-form .btn-info:focus {
  background-color: #4fc1e9;
  border-color: #4fc1e9;
}
.allcp-form .btn-info:active {
  background-color: #27a0cc;
}
.allcp-form .btn-info,
.allcp-form .btn-info:hover,
.allcp-form .btn-info:focus,
.allcp-form .btn-info:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-info > input:checked + label {
  background: transparent;
  border-color: #4FD8B0;
  color: #4FD8B0;
}
.allcp-form .switch-info > input:checked + label:after {
  background: #4FD8B0;
  color: #4FD8B0;
}
.allcp-form .switch-info > input:checked:focus + label {
  background: #fff;
  border-color: #4FD8B0;
}
.allcp-form .slider-wrapper.slider-info .ui-slider .ui-slider-range {
  background-color: #4FD8B0;
}
.allcp-form .slider-wrapper.slider-info .ui-slider .ui-slider-handle {
  border-color: #4FD8B0;
}
.allcp-form .slider-wrapper.slider-info .ui-slider .ui-slider-handle:before {
  background-color: #4FD8B0;
}
.allcp-form.theme-info .tagline span {
  color: #4FD8B0;
}
.allcp-form.theme-info .theme-link {
  color: #4FD8B0;
}
.allcp-form.theme-info .section-divider span {
  color: #4FD8B0;
}
.allcp-form.theme-info .gui-input:hover,
.allcp-form.theme-info .gui-textarea:hover,
.allcp-form.theme-info .select > select:hover,
.allcp-form.theme-info .select-multiple select:hover,
.allcp-form.theme-info .gui-input:hover ~ .input-footer,
.allcp-form.theme-info .file .gui-file:hover + .gui-input,
.allcp-form.theme-info .gui-textarea:hover ~ .input-footer {
  border-color: #4fc1e9;
}
.allcp-form.theme-info .gui-input:focus,
.allcp-form.theme-info .gui-textarea:focus,
.allcp-form.theme-info .select > select:focus,
.allcp-form.theme-info .select-multiple select:focus {
  border-color: #4fc1e9;
  color: #3C3C3C;
}
.allcp-form.theme-info .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-info .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-info .gui-input:focus ~ .field-icon i,
.allcp-form.theme-info .gui-textarea:focus ~ .field-icon i {
  color: #4FD8B0;
}
.allcp-form.theme-info .select-multiple select:focus,
.allcp-form.theme-info .gui-input:focus ~ .input-footer,
.allcp-form.theme-info .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-info .file .gui-file:focus + .gui-input {
  border-color: #4fc1e9;
}
.allcp-form.theme-info .select > select:focus + .arrow {
  color: #4FD8B0;
}
.allcp-form.theme-info .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-info .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-info .ui-datepicker .ui-datepicker-title {
  color: #4FD8B0;
}
.allcp-form.theme-info .ui-datepicker-today a,
.allcp-form.theme-info .ui-datepicker-calendar a:hover,
.allcp-form.theme-info .ui-datepicker-today a:hover,
.allcp-form.theme-info .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #4FD8B0 !important;
}
.allcp-form.theme-info .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #4FD8B0 !important;
}
.allcp-form.theme-info .rating:hover .rating-star:hover,
.allcp-form.theme-info .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-info .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-info .rating-star,
.allcp-form.theme-info .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #4FD8B0;
}
.allcp-form.theme-info .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #4FD8B0;
}
.allcp-form.theme-info .wizard .steps li a,
.allcp-form.theme-info .wizard .actions li a {
  background-color: #4FD8B0;
}
.allcp-form.theme-info .wizard .steps li.current a {
  background-color: #27a0cc;
}
/*# sourceMappingURL=theme-info.css.map */