.allcp-form .bg-warning {
  background-color: #FF7022;
}
.allcp-form .bg-warning.light {
  background-color: #ffce54;
}
.allcp-form .bg-warning.lighter {
  background-color: #f9d283;
}
.allcp-form .bg-warning.dark {
  background-color: #f4af22;
}
.allcp-form .bg-warning.darker {
  background-color: #d9950a;
}
.allcp-form .panel-warning > .panel-heading {
  border-top-color: #ffce54;
}
.allcp-form .panel-warning > .panel-heading:before {
  background-color: #FF7022;
}
.allcp-form .panel-warning.heading-border:before,
.allcp-form .panel-warning .heading-border:before {
  background-color: #FF7022;
}
.allcp-form .option-warning input:hover + .checkbox,
.allcp-form .option-warning input:hover + .radio {
  border-color: #ffce54;
}
.allcp-form .option-warning input:checked + .checkbox,
.allcp-form .option-warning input:focus + .checkbox,
.allcp-form .option-warning input:checked + .radio,
.allcp-form .option-warning input:focus + .radio {
  border-color: #FF7022;
}
.allcp-form .option-warning input:checked + .radio:before,
.allcp-form .option-warning input:focus + .radio:before {
  background: #FF7022;
}
.allcp-form .option-warning input:checked + .checkbox:before,
.allcp-form .option-warning input:focus + .checkbox:before {
  border-color: #FF7022;
}
.allcp-form .btn-warning {
  background-color: #FF7022;
}
.allcp-form .btn-warning:hover,
.allcp-form .btn-warning:focus {
  background-color: #ffce54;
  border-color: #ffce54;
}
.allcp-form .btn-warning:active {
  background-color: #f4af22;
}
.allcp-form .btn-warning,
.allcp-form .btn-warning:hover,
.allcp-form .btn-warning:focus,
.allcp-form .btn-warning:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-warning > input:checked + label {
  background: transparent;
  border-color: #FF7022;
  color: #FF7022;
}
.allcp-form .switch-warning > input:checked + label:after {
  background: #FF7022;
  color: #FF7022;
}
.allcp-form .switch-warning > input:checked:focus + label {
  background: #fff;
  border-color: #FF7022;
}
.allcp-form .slider-wrapper.slider-warning .ui-slider .ui-slider-range {
  background-color: #FF7022;
}
.allcp-form .slider-wrapper.slider-warning .ui-slider .ui-slider-handle {
  border-color: #FF7022;
}
.allcp-form .slider-wrapper.slider-warning .ui-slider .ui-slider-handle:before {
  background-color: #FF7022;
}
.allcp-form.theme-warning .tagline span {
  color: #FF7022;
}
.allcp-form.theme-warning .theme-link {
  color: #FF7022;
}
.allcp-form.theme-warning .section-divider span {
  color: #FF7022;
}
.allcp-form.theme-warning .gui-input:hover,
.allcp-form.theme-warning .gui-textarea:hover,
.allcp-form.theme-warning .select > select:hover,
.allcp-form.theme-warning .select-multiple select:hover,
.allcp-form.theme-warning .gui-input:hover ~ .input-footer,
.allcp-form.theme-warning .file .gui-file:hover + .gui-input,
.allcp-form.theme-warning .gui-textarea:hover ~ .input-footer {
  border-color: #ffce54;
}
.allcp-form.theme-warning .gui-input:focus,
.allcp-form.theme-warning .gui-textarea:focus,
.allcp-form.theme-warning .select > select:focus,
.allcp-form.theme-warning .select-multiple select:focus {
  border-color: #ffce54;
  color: #3C3C3C;
}
.allcp-form.theme-warning .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-warning .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-warning .gui-input:focus ~ .field-icon i,
.allcp-form.theme-warning .gui-textarea:focus ~ .field-icon i {
  color: #FF7022;
}
.allcp-form.theme-warning .select-multiple select:focus,
.allcp-form.theme-warning .gui-input:focus ~ .input-footer,
.allcp-form.theme-warning .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-warning .file .gui-file:focus + .gui-input {
  border-color: #ffce54;
}
.allcp-form.theme-warning .select > select:focus + .arrow {
  color: #FF7022;
}
.allcp-form.theme-warning .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-warning .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-warning .ui-datepicker .ui-datepicker-title {
  color: #FF7022;
}
.allcp-form.theme-warning .ui-datepicker-today a,
.allcp-form.theme-warning .ui-datepicker-calendar a:hover,
.allcp-form.theme-warning .ui-datepicker-today a:hover,
.allcp-form.theme-warning .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #FF7022 !important;
}
.allcp-form.theme-warning .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #FF7022 !important;
}
.allcp-form.theme-warning .rating:hover .rating-star:hover,
.allcp-form.theme-warning .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-warning .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-warning .rating-star,
.allcp-form.theme-warning .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #FF7022;
}
.allcp-form.theme-warning .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #FF7022;
}
.allcp-form.theme-warning .wizard .steps li a,
.allcp-form.theme-warning .wizard .actions li a {
  background-color: #FF7022;
}
.allcp-form.theme-warning .wizard .steps li.current a {
  background-color: #f4af22;
}
/*# sourceMappingURL=theme-warning.css.map */