.allcp-form .bg-alert {
  background-color: #FFBC0B;
}
.allcp-form .bg-alert.light {
  background-color: #ac92ec;
}
.allcp-form .bg-alert.lighter {
  background-color: #c0b0ea;
}
.allcp-form .bg-alert.dark {
  background-color: #815fd5;
}
.allcp-form .bg-alert.darker {
  background-color: #6c44ce;
}
.allcp-form .panel-alert > .panel-heading {
  border-top-color: #ac92ec;
}
.allcp-form .panel-alert > .panel-heading:before {
  background-color: #FFBC0B;
}
.allcp-form .panel-alert.heading-border:before,
.allcp-form .panel-alert .heading-border:before {
  background-color: #FFBC0B;
}
.allcp-form .option-alert input:hover + .checkbox,
.allcp-form .option-alert input:hover + .radio {
  border-color: #ac92ec;
}
.allcp-form .option-alert input:checked + .checkbox,
.allcp-form .option-alert input:focus + .checkbox,
.allcp-form .option-alert input:checked + .radio,
.allcp-form .option-alert input:focus + .radio {
  border-color: #FFBC0B;
}
.allcp-form .option-alert input:checked + .radio:before,
.allcp-form .option-alert input:focus + .radio:before {
  background: #FFBC0B;
}
.allcp-form .option-alert input:checked + .checkbox:before,
.allcp-form .option-alert input:focus + .checkbox:before {
  border-color: #FFBC0B;
}
.allcp-form .btn-alert {
  background-color: #FFBC0B;
}
.allcp-form .btn-alert:hover,
.allcp-form .btn-alert:focus {
  background-color: #ac92ec;
  border-color: #ac92ec;
}
.allcp-form .btn-alert:active {
  background-color: #815fd5;
}
.allcp-form .btn-alert,
.allcp-form .btn-alert:hover,
.allcp-form .btn-alert:focus,
.allcp-form .btn-alert:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-alert > input:checked + label {
  background: transparent;
  border-color: #FFBC0B;
  color: #FFBC0B;
}
.allcp-form .switch-alert > input:checked + label:after {
  background: #FFBC0B;
  color: #FFBC0B;
}
.allcp-form .switch-alert > input:checked:focus + label {
  background: #fff;
  border-color: #FFBC0B;
}
.allcp-form .slider-wrapper.slider-alert .ui-slider .ui-slider-range {
  background-color: #FFBC0B;
}
.allcp-form .slider-wrapper.slider-alert .ui-slider .ui-slider-handle {
  border-color: #FFBC0B;
}
.allcp-form .slider-wrapper.slider-alert .ui-slider .ui-slider-handle:before {
  background-color: #FFBC0B;
}
.allcp-form.theme-alert .tagline span {
  color: #FFBC0B;
}
.allcp-form.theme-alert .theme-link {
  color: #FFBC0B;
}
.allcp-form.theme-alert .section-divider span {
  color: #FFBC0B;
}
.allcp-form.theme-alert .gui-input:hover,
.allcp-form.theme-alert .gui-textarea:hover,
.allcp-form.theme-alert .select > select:hover,
.allcp-form.theme-alert .select-multiple select:hover,
.allcp-form.theme-alert .gui-input:hover ~ .input-footer,
.allcp-form.theme-alert .file .gui-file:hover + .gui-input,
.allcp-form.theme-alert .gui-textarea:hover ~ .input-footer {
  border-color: #ac92ec;
}
.allcp-form.theme-alert .gui-input:focus,
.allcp-form.theme-alert .gui-textarea:focus,
.allcp-form.theme-alert .select > select:focus,
.allcp-form.theme-alert .select-multiple select:focus {
  border-color: #ac92ec;
  color: #3C3C3C;
}
.allcp-form.theme-alert .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-alert .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-alert .gui-input:focus ~ .field-icon i,
.allcp-form.theme-alert .gui-textarea:focus ~ .field-icon i {
  color: #FFBC0B;
}
.allcp-form.theme-alert .select-multiple select:focus,
.allcp-form.theme-alert .gui-input:focus ~ .input-footer,
.allcp-form.theme-alert .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-alert .file .gui-file:focus + .gui-input {
  border-color: #ac92ec;
}
.allcp-form.theme-alert .select > select:focus + .arrow {
  color: #FFBC0B;
}
.allcp-form.theme-alert .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-alert .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-alert .ui-datepicker .ui-datepicker-title {
  color: #FFBC0B;
}
.allcp-form.theme-alert .ui-datepicker-today a,
.allcp-form.theme-alert .ui-datepicker-calendar a:hover,
.allcp-form.theme-alert .ui-datepicker-today a:hover,
.allcp-form.theme-alert .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #FFBC0B !important;
}
.allcp-form.theme-alert .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #FFBC0B !important;
}
.allcp-form.theme-alert .rating:hover .rating-star:hover,
.allcp-form.theme-alert .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-alert .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-alert .rating-star,
.allcp-form.theme-alert .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #FFBC0B;
}
.allcp-form.theme-alert .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #FFBC0B;
}
.allcp-form.theme-alert .wizard .steps li a,
.allcp-form.theme-alert .wizard .actions li a {
  background-color: #FFBC0B;
}
.allcp-form.theme-alert .wizard .steps li.current a {
  background-color: #815fd5;
}
/*# sourceMappingURL=theme-alert.css.map */