.allcp-form .bg-primary {
  background-color: #00aeef;
}
.allcp-form .bg-primary.light {
  background-color: #4ea5e0;
}
.allcp-form .bg-primary.lighter {
  background-color: #83aee7;
}
.allcp-form .bg-primary.dark {
  background-color: #2489cc;
}
.allcp-form .bg-primary.darker {
  background-color: #2567bd;
}
.allcp-form .panel-primary > .panel-heading {
  border-top-color: #4ea5e0;
}
.allcp-form .panel-primary > .panel-heading:before {
  background-color: #00aeef;
}
.allcp-form .panel-primary.heading-border:before,
.allcp-form .panel-primary .heading-border:before {
  background-color: #00aeef;
}
.allcp-form .option-primary input:hover + .checkbox,
.allcp-form .option-primary input:hover + .radio {
  border-color: #4ea5e0;
}
.allcp-form .option-primary input:checked + .checkbox,
.allcp-form .option-primary input:focus + .checkbox,
.allcp-form .option-primary input:checked + .radio,
.allcp-form .option-primary input:focus + .radio {
  border-color: #00aeef;
}
.allcp-form .option-primary input:checked + .radio:before,
.allcp-form .option-primary input:focus + .radio:before {
  background: #00aeef;
}
.allcp-form .option-primary input:checked + .checkbox:before,
.allcp-form .option-primary input:focus + .checkbox:before {
  border-color: #00aeef;
}
.allcp-form .btn-primary {
  background-color: #00aeef;
}
.allcp-form .btn-primary:hover,
.allcp-form .btn-primary:focus {
  background-color: #4ea5e0;
  border-color: #4ea5e0;
}
.allcp-form .btn-primary:active {
  background-color: #2489cc;
}
.allcp-form .btn-primary,
.allcp-form .btn-primary:hover,
.allcp-form .btn-primary:focus,
.allcp-form .btn-primary:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-primary > input:checked + label {
  background: transparent;
  border-color: #00aeef;
  color: #00aeef;
}
.allcp-form .switch-primary > input:checked + label:after {
  background: #00aeef;
  color: #00aeef;
}
.allcp-form .switch-primary > input:checked:focus + label {
  background: #fff;
  border-color: #00aeef;
}
.allcp-form .slider-wrapper.slider-primary .ui-slider .ui-slider-range {
  background-color: #00aeef;
}
.allcp-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle {
  border-color: #00aeef;
}
.allcp-form .slider-wrapper.slider-primary .ui-slider .ui-slider-handle:before {
  background-color: #00aeef;
}
.allcp-form.theme-primary .tagline span {
  color: #00aeef;
}
.allcp-form.theme-primary .theme-link {
  color: #00aeef;
}
.allcp-form.theme-primary .section-divider span {
  color: #00aeef;
}
.allcp-form.theme-primary .gui-input:hover,
.allcp-form.theme-primary .gui-textarea:hover,
.allcp-form.theme-primary .select > select:hover,
.allcp-form.theme-primary .select-multiple select:hover,
.allcp-form.theme-primary .gui-input:hover ~ .input-footer,
.allcp-form.theme-primary .file .gui-file:hover + .gui-input,
.allcp-form.theme-primary .gui-textarea:hover ~ .input-footer {
  border-color: #4ea5e0;
}
.allcp-form.theme-primary .gui-input:focus,
.allcp-form.theme-primary .gui-textarea:focus,
.allcp-form.theme-primary .select > select:focus,
.allcp-form.theme-primary .select-multiple select:focus {
  border-color: #4ea5e0;
  color: #3C3C3C;
}
.allcp-form.theme-primary .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-primary .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-primary .gui-input:focus ~ .field-icon i,
.allcp-form.theme-primary .gui-textarea:focus ~ .field-icon i {
  color: #00aeef;
}
.allcp-form.theme-primary .select-multiple select:focus,
.allcp-form.theme-primary .gui-input:focus ~ .input-footer,
.allcp-form.theme-primary .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-primary .file .gui-file:focus + .gui-input {
  border-color: #4ea5e0;
}
.allcp-form.theme-primary .select > select:focus + .arrow {
  color: #00aeef;
}
.allcp-form.theme-primary .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-primary .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-primary .ui-datepicker .ui-datepicker-title {
  color: #00aeef;
}
.allcp-form.theme-primary .ui-datepicker-today a,
.allcp-form.theme-primary .ui-datepicker-calendar a:hover,
.allcp-form.theme-primary .ui-datepicker-today a:hover,
.allcp-form.theme-primary .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #00aeef !important;
}
.allcp-form.theme-primary .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #00aeef !important;
}
.allcp-form.theme-primary .rating:hover .rating-star:hover,
.allcp-form.theme-primary .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-primary .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-primary .rating-star,
.allcp-form.theme-primary .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #00aeef;
}
.allcp-form.theme-primary .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #00aeef;
}
.allcp-form.theme-primary .wizard .steps li a,
.allcp-form.theme-primary .wizard .actions li a {
  background-color: #00aeef;
}
.allcp-form.theme-primary .wizard .steps li.current a {
  background-color: #2489cc;
}
/*# sourceMappingURL=theme-primary.css.map */