.allcp-form .bg-system {
  background-color: #5A5386;
}
.allcp-form .bg-system.light {
  background-color: #48cfad;
}
.allcp-form .bg-system.lighter {
  background-color: #65d2b7;
}
.allcp-form .bg-system.dark {
  background-color: #2fa285;
}
.allcp-form .bg-system.darker {
  background-color: #288770;
}
.allcp-form .panel-system > .panel-heading {
  border-top-color: #48cfad;
}
.allcp-form .panel-system > .panel-heading:before {
  background-color: #5A5386;
}
.allcp-form .panel-system.heading-border:before,
.allcp-form .panel-system .heading-border:before {
  background-color: #5A5386;
}
.allcp-form .option-system input:hover + .checkbox,
.allcp-form .option-system input:hover + .radio {
  border-color: #48cfad;
}
.allcp-form .option-system input:checked + .checkbox,
.allcp-form .option-system input:focus + .checkbox,
.allcp-form .option-system input:checked + .radio,
.allcp-form .option-system input:focus + .radio {
  border-color: #5A5386;
}
.allcp-form .option-system input:checked + .radio:before,
.allcp-form .option-system input:focus + .radio:before {
  background: #5A5386;
}
.allcp-form .option-system input:checked + .checkbox:before,
.allcp-form .option-system input:focus + .checkbox:before {
  border-color: #5A5386;
}
.allcp-form .btn-system {
  background-color: #5A5386;
}
.allcp-form .btn-system:hover,
.allcp-form .btn-system:focus {
  background-color: #48cfad;
  border-color: #48cfad;
}
.allcp-form .btn-system:active {
  background-color: #2fa285;
}
.allcp-form .btn-system,
.allcp-form .btn-system:hover,
.allcp-form .btn-system:focus,
.allcp-form .btn-system:active {
  color: #fff;
  text-shadow: 0 1px rgba(0, 0, 0, 0.08);
}
.allcp-form .switch-system > input:checked + label {
  background: transparent;
  border-color: #5A5386;
  color: #5A5386;
}
.allcp-form .switch-system > input:checked + label:after {
  background: #5A5386;
  color: #5A5386;
}
.allcp-form .switch-system > input:checked:focus + label {
  background: #fff;
  border-color: #5A5386;
}
.allcp-form .slider-wrapper.slider-system .ui-slider .ui-slider-range {
  background-color: #5A5386;
}
.allcp-form .slider-wrapper.slider-system .ui-slider .ui-slider-handle {
  border-color: #5A5386;
}
.allcp-form .slider-wrapper.slider-system .ui-slider .ui-slider-handle:before {
  background-color: #5A5386;
}
.allcp-form.theme-system .tagline span {
  color: #5A5386;
}
.allcp-form.theme-system .theme-link {
  color: #5A5386;
}
.allcp-form.theme-system .section-divider span {
  color: #5A5386;
}
.allcp-form.theme-system .gui-input:hover,
.allcp-form.theme-system .gui-textarea:hover,
.allcp-form.theme-system .select > select:hover,
.allcp-form.theme-system .select-multiple select:hover,
.allcp-form.theme-system .gui-input:hover ~ .input-footer,
.allcp-form.theme-system .file .gui-file:hover + .gui-input,
.allcp-form.theme-system .gui-textarea:hover ~ .input-footer {
  border-color: #48cfad;
}
.allcp-form.theme-system .gui-input:focus,
.allcp-form.theme-system .gui-textarea:focus,
.allcp-form.theme-system .select > select:focus,
.allcp-form.theme-system .select-multiple select:focus {
  border-color: #48cfad;
  color: #3C3C3C;
}
.allcp-form.theme-system .gui-textarea:focus {
  height: 120px;
}
.allcp-form.theme-system .select > select:focus {
  z-index: 10;
  z-index: 20\9;
}
.allcp-form.theme-system .gui-input:focus ~ .field-icon i,
.allcp-form.theme-system .gui-textarea:focus ~ .field-icon i {
  color: #5A5386;
}
.allcp-form.theme-system .select-multiple select:focus,
.allcp-form.theme-system .gui-input:focus ~ .input-footer,
.allcp-form.theme-system .gui-textarea:focus ~ .input-footer,
.allcp-form.theme-system .file .gui-file:focus + .gui-input {
  border-color: #48cfad;
}
.allcp-form.theme-system .select > select:focus + .arrow {
  color: #5A5386;
}
.allcp-form.theme-system .ui-datepicker .ui-datepicker-prev,
.allcp-form.theme-system .ui-datepicker .ui-datepicker-next,
.allcp-form.theme-system .ui-datepicker .ui-datepicker-title {
  color: #5A5386;
}
.allcp-form.theme-system .ui-datepicker-today a,
.allcp-form.theme-system .ui-datepicker-calendar a:hover,
.allcp-form.theme-system .ui-datepicker-today a:hover,
.allcp-form.theme-system .ui-datepicker .ui-state-highlight {
  background-color: #ffffff !important;
  color: #5A5386 !important;
}
.allcp-form.theme-system .ui-datepicker .ui-state-active {
  background-color: #ffffff !important;
  color: #5A5386 !important;
}
.allcp-form.theme-system .rating:hover .rating-star:hover,
.allcp-form.theme-system .rating:hover .rating-star:hover ~ .rating-star,
.allcp-form.theme-system .rating-input:checked ~ .rating-star {
  color: #00aeef;
}
.allcp-form.theme-system .rating-star,
.allcp-form.theme-system .rating:hover .rating-star {
  color: #b9bbc5;
}
.allcp-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle.ui-state-active {
  background: #FFF !important;
}
.allcp-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle {
  border-color: #5A5386;
}
.allcp-form.theme-system .ui-datepicker .ui-timepicker-div .ui-slider .ui-slider-handle:before {
  background-color: #5A5386;
}
.allcp-form.theme-system .wizard .steps li a,
.allcp-form.theme-system .wizard .actions li a {
  background-color: #5A5386;
}
.allcp-form.theme-system .wizard .steps li.current a {
  background-color: #2fa285;
}
/*# sourceMappingURL=theme-system.css.map */