
<div class="chute chute-center pt30">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Webshop formulieren</span>
        </div>
        <div class="panel-body pn">
            <ul>
                <li><a href="/cms/form/edit?site={{ site }}&name=customer_webshop_own_info_form&title=Eigen bedrijfsgegevens">"Mijn gegevens" formulier</a></li>

                <li><a href="/cms/form/edit?site={{ site }}&name=customer_webshop_checkout_form&title=Uw gegevens">"Checkout" formulier</a></li>
            </ul>

        </div>
    </div>
</div>

