<div class="chute">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <input type="hidden" name="_do" value="Store">
        <h5>Verzenden naar {{ country.getName() }}</h5>
        {% for shipping_method in shipping_methods %}

            <div class="panel">
                <div class="panel-heading">
                    <span class="panel-title">{{ shipping_method.name }}</span>
                </div>
                <div class="panel-body">

                    <div class="form-group mb25">
                        <label class="col-md-3 control-label" for="fld_is_enabled_website">{{ 'Ingeschakeled'|translate }}</label>
                        <div class="col-md-9">
                            <div class="bs-component">
                                <label class="checkbox-inline mr10">
                                    <input name="data[{{ shipping_method.id }}][is_enabled_website]" type="hidden" value="0" />
                                    <input name="data[{{ shipping_method.id }}][is_enabled_website]" type="checkbox" id="fld_is_enabled_website" value="1" {{ shipping_method.is_enabled_website ? 'checked="checked"'}} >
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fld_price" class="col-lg-3 control-label">{{ 'Verzendkosten'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-money"></i>
                            </span>
                                <input name="data[{{ shipping_method.id }}][price]" id="fld_price" class="form-control" value="{{ shipping_method.price }}" type="text">
                                <span class="help-block mt5"></span>
                            </div>
                            <i class="fa fa-bell"></i>
                            {{ 'Just the price that the customer needs to pay'|translate }}
                        </div>
                    </div>

                    <button name="save" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                        <span class="ladda-label">{{ 'Opslaan'|translate }}</span>
                        <span class="ladda-spinner"></span>
                    </button>
                    <button name="next_overview" value="1" value="1" type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right" style="margin-right:10px;">
                        <span class="ladda-label">{{ 'Opslaan + naar overzicht'|translate }}</span>
                        <span class="ladda-spinner"></span>
                    </button>
                </div>
            </div>
        {% endfor %}
    </form>
</div>