<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        {{ edit_form | raw  }}
    </form>

    <div class="panel">
        <h5>Transacties</h5>
        {% if extra_fields.filter_html|raw %}
            <div class="panel-menu p12 allcp-form mtn">
                {{ extra_fields.filter_html|raw }}
            </div>
        {% endif %}
        <div class="panel-body pn">
            {{ extra_fields.overview_table|raw }}
        </div>
    </div>

</div>