<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-user"></span>
        <span class="sidebar-title">{{ 'Admin'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/admin/module/role_selector"><span class="fa fa-file-text-o"></span> {{ 'Modules'|translate }}</a></li>
        <li><a href="/admin/language_overview"><span class="fa fa-file-text-o"></span> {{ 'Talen in- of uitschakelen'|translate }}</a></li>
        <li><a href="/admin/translation_overview"><span class="fa fa-file-text-o"></span> {{ 'Vertalingen'|translate }}</a></li>
        <li><a href="/admin/mastertable/sale_order_status/overview"><span class="fa fa-file-text-o"></span> {{ 'Order statussen'|translate }}</a></li>
        <li><a href="/admin/mastertable/shipping_method/overview"><span class="fa fa-file-text-o"></span> {{ 'Verzend methoden'|translate }}</a></li>
        <li><a href="/admin/site/overview"><span class="fa fa-file-text-o"></span> {{ 'Sites / shops'|translate }}</a></li>
        <li><a href="/admin/exception/overview"><span class="fa fa-file-text-o"></span> {{ 'Exceptie log'|translate }}</a></li>

    </ul>
</li>
