<header id="topbar" class="ph10">

    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <li class="{{ active == 'translation_overview' ? 'active' : '' }}">
                <a href="/admin/translation_overview">{{ 'CMS modules vertalen'|translate }}</a>
            </li>
            <li class="{{ active == 'field_translation' ? 'active' : '' }}">
                <a href="/admin/field_translation/overview">{{ 'Velden vertalen'|translate }}</a>
            </li>
            <li class="{{ active == 'site_translation' ? 'active' : '' }}">
                <a href="/admin/site_translation/overview">{{ 'Shop vertalen'|translate }}</a>
            </li>
            <li class="{{ active == 'email_translation' ? 'active' : '' }}">
                <a href="/setting/sale_order/status_email/overview"> {{ 'E-mail berichten vertalen'|translate }}</a>
            </li>
        </ul>
    </div>
</header>
