<header id="topbar" class="ph10">

        <div class="topbar-left">
            <ul class="nav nav-list nav-list-topbar pull-left">
                <li class="active">
                    <a href="/admin/translation_overview">&laquo; {{ 'Terug naar het overzicht'|translate }}</a>
                </li>
            </ul>
        </div>


    {#
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="Instellingen voor dit overzicht">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ edit_config_key }}&title={{ edit_view_title }}">
                        <i class="fa fa-table"></i>
                        Velden en titel
                    </a>
                </li>
            </ul>

        </div>
    </div>
    #}
</header>
