<div class="chute chute-center pt30">

    <h5>{{ 'Module vertalen'|translate }}</h5>

    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title hidden-xs">{{ title }}</span>
        </div>
        <div class="panel-body pn">
            <div class="table-responsive">
                <table class="table allcp-form theme-warning tc-checkbox-1 fs13">
                    <thead>
                        <tr class="bg-light">
                            <td colspan="2">
                                <strong>{{ 'Modulenaam'|translate }}:</strong>
                            </td>
                            <td>Algemeen</td>
                            {% for module in modules %}
                                <td>{{ module.getModuleTitle() }}</td>
                            {% endfor %}
                        </tr>
                        {% for language in languages %}
                            <tr>
                                <td class="w20"> <img src="{{ language.getFlagIconPath }}" /></td>
                                <td><strong>{{ language.getDescription }}</strong></td>
                                <td>
                                    <a class="{{  general_column_all_translated[language.getId] ? 'text-success': ''}}" href="/admin/translation_edit?language_id={{ language.getId() }}&module=general">
                                        <i class="fa fa-{{ general_column_all_translated[language.getId] ? 'smile-o': 'gear'}}"></i>
                                        {{ 'Instellen'|translate }}
                                    </a>
                                </td>
                                {% for module in modules %}
                                    <td>
                                        <a class="{{ translated_items[module.getDatabaseId][language.getId] ? 'text-success': ''}}" href="/admin/translation_edit?language_id={{ language.getId() }}&module_id={{ module.getDatabaseId() }}">
                                            <i class="fa fa-{{ translated_items[module.getDatabaseId][language.getId] ? 'smile-o': 'gear'}}"></i>
                                            {{ 'Instellen'|translate }}
                                        </a>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>