
<div class="chute chute-center pt30">
    <form class="form-horizontal" role="form" method="post">
        <div class="panel mb25 mt5">
            <h5>Geen keuze gemaakt</h5>
            Je hebt geen keuze gemaakt, <a href="{{ decline_url }}">klik hier om de wijzigingen alsnog op te slaan.</a>.
        </div>
    </form>
</div>

