{% if category.getHasImage() %}
    <a class="heading-banner" href="{{ origin_category_page }}" style="
         display: block;
         background-repeat: no-repeat;
         height:300px;
         background-position: center;
         background-size: contain!important;
         background-image: url('{{ category.getImagePath() }}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-banner-title">
                        <h2 style="display:none;">{{ product.getTitle() }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% else %}
    <a class="heading-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-banner-title">
                        <h2 style="display:none;">{{ product.getTitle() }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </a>
{% endif %}
<div class="single-product-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9">
                <div class="row">
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <div class="single-pro-tab-content">
                            {% if product_images|length > 1 %}
                                <div class="tab-content">
                                    {% for image in product_images %}
                                        <div role="tabpanel" class="tab-pane {% if image.getSorting() == 1 %}active{% endif %}" id="tab-{{ image.getSorting() }}">
                                            <img src="/img/product/{{ settings.default_image_size }}/{{ image.getId() }}.{{ image.getFileExt() }}" alt="" />
                                        </div>
                                    {% endfor %}
                                </div>
                                <ul class="single-product-tab" role="tablist">
                                    {% for image in product_images %}
                                        <li role="presentation" class="{% if image.getSorting() == 1 %}active{% endif %}">
                                            <a href="#tab-{{ image.getSorting() }}" aria-controls="tab-{{ image.getSorting() }}" role="tab" data-toggle="tab">
                                                <img src="/img/product/100x120/{{ image.getId() }}.{{ image.getFileExt() }}" alt="" />
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <div class="tab-content">
                                    {% for image in product_images %}
                                        <div role="tabpanel" class="tab-pane {% if image.getSorting() == 1 %}active{% endif %}" id="tab-{{ image.getSorting() }}">
                                            <img src="/img/product/{{ settings.default_image_size }}/{{ image.getId() }}.{{ image.getFileExt() }}" alt="" />
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-7 col-sm-7 col-xs-12 shop-list">
                        <div class="product-info">
                            <h3>{{ product.getTitle() }}</h3>
                            <form method="get" name="product" action="{{ url_prefix }}/cart/add">
                                {% for derrived_product in product.getDerrivedProducts() %}
                                    <div class="pro-price">
                                        {{ derrived_product.getQuantityPerPack() }}  {{ unit_name }}
                                        <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                        {% if derrived_product.getAdvicePrice() %}
                                            <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                        {% endif %}
                                    </div>
                                    <div style="clear:both"></div>
                                {% endfor %}
                                <div class="pro-rating">
                                    {% for x in product.getAverageRatingStars %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <div class="product-desc">
                                    <p>{{ product.getTranslatedShortDescription(current_language.getId())|raw }}</p>
                                </div>
                                <div class="product-action  product-action-single">
                                    {% if product.getIsOutOfStock() == false %}
                                        <div class="pro-pack col-md-4 text-left">
                                            {% if product.getDerrivedProducts() %}
                                                <div class="form-group proprice">
                                                    <select title="{{ 'Maak een keuze'|translate }}" name="product_id" required class="form-control">
                                                        <optgroup label="{{ 'Select '|translate }} {{ unit_name }}"></optgroup>
                                                        {% for derrived_product in product.getDerrivedProducts() %}
                                                            {% if derrived_product.getIsOutOfStock() == false %}
                                                                <option value="{{ derrived_product.getId() }}">
                                                                    {{ derrived_product.getQuantityPerPack() }} {{ unit_name }} &euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}
                                                                </option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            {% else %}
                                                <div class="form-group proprice">
                                                    <input type="hidden" value="{{ product.getQuantityPerPack() }}" name="pack" />
                                                    &euro;{{ product.getSalePrice()|number_format(2, ',', '.')  }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="pro-quantity col-md-2">
                                            <input title="{{ 'Quantity'|translate }}" type="text" value="1" name="quantity">
                                        </div>
                                    {% endif %}
                                    {% if product.getIsOutOfStock() == false %}
                                        <div class="pro-button-top col-md-3 text-center cart-button">
                                            <input type="submit" value="{{ 'Add to cart'|translate }}" />
                                        </div>
                                    {% else %}
                                        <h3 style="color:red">{{ 'Sorry this product is temporarily sold out'|translate }}</h3>
                                    {% endif %}
                                    <div class="pro-button-bottom col-md-3">
                                        <a href="{{ url_prefix }}/wishlist/add?product_id={{ product.getId() }}"><i class="fa fa-heart"></i></a>
                                        {% if product.hasImages() %}
                                            <a href="/img/product/800x800/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" class="image-link-{{ product.getPrimaryImage().getId() }}">
                                                <i class="fa fa-search-plus"></i>
                                            </a>
                                            <script>
                                                $('.image-link-{{ product.getPrimaryImage().getId() }}').magnificPopup({
                                                    type: 'image',

                                                    retina: {
                                                        ratio: 2
                                                    }
                                                });
                                            </script>
                                        {% endif %}
                                    </div>
                                </div>
                                <div style="clear: both"></div>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="product-tabs">
                            <div>
                                <ul class="pro-details-tab" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab-desc" aria-controls="tab-desc" role="tab" data-toggle="tab">{{ 'Description'|translate }}</a></li>
                                    <li role="presentation"><a href="#page-comments" aria-controls="page-comments" role="tab" data-toggle="tab">{{ 'Reviews'|translate }} ({{ reviews.count() }})</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="tab-desc">
                                        <div class="product-tab-desc">
                                            <p>{{ product.getTranslatedDescription(current_language.getId())|raw }}</p>


                                            <div class="widget-icon-new" style="padding-top: 20px;">
                                                <strong>Like this product? Please follow us!</strong>
                                                <div class="cl"></div>
                                                <a href="https://www.facebook.com/" target="_blank" class="soc fb"></a>
                                                <a href="https://www.instagram.com/" target="_blank" class="soc ig"></a>
                                                <a href="https://twitter.com/" target="_blank" class="soc tw"></a>
                                                <a href="https://massroots.com/user/" target="_blank" class="soc mr"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="page-comments">
                                        <div class="product-tab-desc">
                                            <div class="product-page-comments">
                                                {% if reviews.count() == 0 %}
                                                   <h2>{{ 'No reviews have been written for this product yet, be the first and help us! Thanks!'|translate }}</h2>
                                                {% else %}
                                                    <h2>{{ reviews.count() }} {{ 'reviews for'|translate }} {{ product.getName() }}</h2>
                                                {% endif %}
                                                <ul>
                                                {% for review in reviews %}
                                                    <li>
                                                        <div class="product-comments">
                                                            <img src="{{ gravatar.get(review.getCustomer().getEmail())|raw }}" alt="{{ review.fagetCustomer().getFirstName() }} {{ review.getCustomer().getLastName() }}" />
                                                            <div class="product-comments-content">
                                                                <p><strong>
                                                                {% if review.getCustomer().getFirstName() %}
                                                                    {{ 'Written by'|translate }}: {{ review.getCustomer().getFirstName() }}
                                                                {% else %}
                                                                    {{ 'Written by'|translate }}: {{ 'anonymous customer'|translate }}
                                                                {% endif %}
                                                                    </strong> <!-- you fix this later -> ok? ok i hacan yoi please take care of correct indentation / tabs when i am done?-->
                                                                    <span>{{ review.getCreatedDate()|date("m-d-Y H:m") }}</span>
                                                                    <span class="pro-comments-rating">

                                                                    {% for x in review.getRatingStars() %}
                                                                        <i class="fa fa-star"></i>
                                                                    {% endfor %}

                                                                    </span>
                                                                </p>
                                                                <div class="desc">
                                                                    {{ review.getDescription()  }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                                </ul>
                                                <div class="review-form-wrapper">
                                                    <h3>{{ 'Add a review'|translate }}</h3>
                                                    <form method="post">

                                                        <input type="hidden" name="_do" value="AddReview"/>
                                                        <input type="hidden" name="product_id" value="{{ product.getId() }}"/>

                                                        <div class="your-rating acidjs-rating-stars">
                                                            <h5>{{ 'Your Rating'|translate }}</h5>

                                                            <input type="radio" name="review[rating]" id="group-1-0" value="5" /><label for="group-1-0"></label><!--
                                                            --><input type="radio" checked="checked" name="review[rating]" id="group-1-1" value="4" /><label for="group-1-1"></label><!--
                                                            --><input type="radio" name="review[rating]" id="group-1-2" value="3" /><label for="group-1-2"></label><!--
                                                            --><input type="radio"  name="review[rating]" id="group-1-3" value="2" /><label for="group-1-3"></label><!--
                                                            --><input type="radio" name="review[rating]" id="group-1-4"  value="1" /><label for="group-1-4"></label>

                                                        </div>
                                                        <textarea name="review[description]" id="product-message" cols="30" rows="10" placeholder="{{ 'Your Rating'|translate }}"></textarea>
                                                        <input type="submit" value="{{ 'submit'|translate }}" />
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if related_products|length > 1 %}
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="section-title text-center">
                            <h2>{{ 'Related Product'|translate }}</h2>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="related-curosel">
                        {% for related_product in related_products %}
                            <!-- single-product start -->
                            <div class="col-lg-12">
                                <div class="single-product">
                                    <div class="product-img">
                                        <a href="{{ url_prefix }}{{ related_product.getProductUrl() }}">
                                            {% if related_product.hasImages() %}
                                                <img class="primary-img" src="/img/product/{{ settings.default_image_size }}/{{ related_product.getPrimaryImage().getId() }}.{{ related_product.getPrimaryImage().getFileExt() }}" alt="" />
                                                <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}/{{ related_product.getPrimaryImage().getId() }}.{{ related_product.getPrimaryImage().getFileExt() }}" alt="" />
                                            {% else %}
                                                <!-- We need a placeholder for this-->
                                                <img class="primary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                                <img class="secondary-img" src="/img/product/{{ settings.default_image_size }}.jpg" alt="" />
                                            {% endif %}
                                        </a>

                                        {% if related_product.getIsOutOfStock() %}
                                            <span class="sale">{{ 'sold out'|translate }}</span>
                                        {% elseif related_product.getInSale %}
                                            <span class="sale">{{ 'sale'|translate }}</span>
                                        {% endif %}
                                        <div class="product-action">
                                            {% for derrived_product in related_product.getDerrivedProducts() %}
                                                <div class="pro-button-top" style="margin-bottom:5px;">
                                                    <a href="{{ url_prefix }}/cart/add?product_id={{ derrived_product.getId() }}">
                                                        Buy {{ derrived_product.getQuantityPerPack() }} {{ unit_name }}
                                                    </a>
                                                </div>
                                                <div style="clear:both"></div>
                                            {% endfor %}
                                            <div class="pro-button-bottom">
                                                <a href="{{ url_prefix }}/wishlist/add?product_id={{ related_product.getId() }}"><i class="fa fa-heart"></i></a>
                                                {% if related_product.hasImages() %}
                                                    <a href="/img/product/800x800/{{ related_product.getPrimaryImage().getId() }}.{{ related_product.getPrimaryImage().getFileExt() }}" class="image-link-{{ related_product.getPrimaryImage().getId() }}">
                                                        <i class="fa fa-search-plus"></i>
                                                    </a>
                                                    <script>
                                                        $('.image-link-{{ related_product.getPrimaryImage().getId() }}').magnificPopup({
                                                            type: 'image',
                                                            retina: {
                                                                ratio: 2
                                                            }
                                                        });
                                                    </script>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <h3><a href="{{ url_prefix }}{{ related_product.getProductUrl() }}">{{ related_product.title() }}</a></h3>
                                        {% for derrived_product in related_product.getDerrivedProducts() %}
                                            <div class="pro-price">
                                                {{ derrived_product.getQuantityPerPack() }} {{ unit_name }}
                                                <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                                                {% if derrived_product.getAdvicePrice() %}
                                                    <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                                                {% endif %}
                                            </div>
                                            <div style="clear:both"></div>
                                        {% endfor %}

                                        <div class="pro-rating">
                                            {% for x in related_product.getAverageRatingStars %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3">

                {% if last_viewed_products %}
                    <aside class="widget widget-categories">
                        <h3 class="sidebar-title">{{'Recently watched'|translate}}</h3>
                        <div class="widget-curosel">
                            {% include 'Product/right_products.twig' with {'products' : last_viewed_products} %}
                        </div>
                    </aside>
                {% endif %}
                {% if similar_products %}
                    <aside class="widget widget-categories">
                        <h3 class="sidebar-title">{{'Similar products'|translate}}</h3>
                        <div class="widget-curosel">
                            {% include 'Product/right_products.twig' with {'products' : similar_products} %}
                        </div>
                    </aside>
                {% endif %}

                <aside class="widget widget-categories">
                    <h3 class="sidebar-title">{{ 'Product Categories'|translate }}</h3>
                    <ul class="sidebar-menu">
                        {% for category in other_categories %}
                        <li><a href="{{ url_prefix }}{{ category.category_translation.getWebshopUrl() }}">{{ category.category_name }}</a> <span class="count">({{ category.cat_products.count() }})</span></li>
                        {% endfor %}
                    </ul>
                </aside>

            </div>
        </div>
    </div>
</div>
