
{% for product in products %}
    <div class="single-product">
        <div class="product-img">
            <a href="{{ url_prefix }}{{ product.getProductUrl() }}">
                {% if product.hasImages() %}
                    <img class="primary-img" src="/img/product/{{ settings.thumb_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                    <img class="secondary-img" src="/img/product/{{ settings.thumb_image_size }}/{{ product.getPrimaryImage().getId() }}.{{ product.getPrimaryImage().getFileExt() }}" alt="" />
                {% else %}
                    <img class="primary-img" src="/img/noimagefound.jpg" width="120" height="150" alt="" />
                    <img class="secondary-img" src="/img/noimagefound.jpg" width="120" height="150" alt="" />
                {% endif %}
            </a>
        </div>
        <div class="product-info">
            <h3><a href="{{ url_prefix }}{{ product.getProductUrl() }}">{{ product.title() }}</a></h3>
            {% for derrived_product in product.getDerrivedProducts() %}
                <div class="pro-price">
                    {{ derrived_product.getQuantityPerPack() }}  {{ unit_name }}
                    <span class="normal">&euro;{{ derrived_product.getSalePrice()|number_format(2, ',', '.')  }}</span>
                    {% if derrived_product.getAdvicePrice() %}
                        <span class="old">&euro;{{ derrived_product.getAdvicePrice()|number_format(2, ',', '.') }}</span>
                    {% endif %}
                </div>
                <div style="clear:both"></div>
            {% endfor %}
        </div>
    </div>
{% endfor %}