<form class="form-horizontal" id="main_form" method="post" role="form">

    <div style="overflow: hidden;width:100%;height:100%;padding:0;">

        <iframe scrolling="no" src="http://localhost:1880/" style="margin-top:-80px;width: 100%;height:800px;"></iframe>

    </div>
</form>
