<header id="topbar" class="ph10">
    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <button class="btn btn-system btn-sm" id="save-button">
            <i class="fa fa-floppy-o"></i> Print to console
        </button>

        <button class="btn btn-system btn-sm" id="toggle_full_screen">
            <i class="octicon octicon-screen-full"></i> Full screen
        </button>
    </div>
</header>
