<header id="topbar" class="ph10">
    {#
    <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
            <a href="/product/overview?category_id=13">&laquo; Terug naar het product</a>
        </ul>
    </div>

    <div class="topbar-right hidden-xs hidden-sm mt5 mr35">
        <div class="btn-group">

            <a href="/product/overview?category_id=13">« Terug naar het automatic seeds overzicht</a>

            <button type="button" class="btn btn-primary btn-sm ml10 dropdown-toggle" data-toggle="dropdown" title="{{ 'Formulier configuratie'|translate }}">
                <span class="fa fa-wrench pr5"></span>
                <span class="caret ml5"></span>
            </button>

            <ul class="dropdown-menu" role="menu">
                <li>

                    <a href="/generic/crud/editor_edit?module={{ module }}&manager={{ manager }}&name={{ name }}&title={{ title }}">
                        <i class="fa fa-table"></i>

                        {{ 'Velden en titel'|translate }}
                    </a>
                </li>
            </ul>

        </div>
    </div>
    #}
</header>
