<!-- -------------- HTML popup -------------- -->
<div id="icon-picker-dialog" class="popup-basic p25 mfp-with-anim mfp-hide">

    {% for icon in icons %}
        <a href="/select-icon/{{ icon }}" data-icon="{{ icon }}" class="hoverable-lnk icon_selected" title="{{  icon }}"><i class="fa fa-lg {{ icon }}"></i></a>
    {% endfor %}

</div>
