<div class="chute chute-center pt30" style="height: 918px;">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <input type="hidden" name="_do" id="fld_do" value="Store" />
        <div class="row mb30 order_buttons">

            <div class="col-sm-2">
                <a target="_blank" href="/order/invoice/invoice?order_id={{ sale_order.getId() }}&format=pdf" class="btn btn-primary btn-block">
                    <i class="fa fa-print"></i>
                    {{ 'Factuur openen'|translate }}
                </a>
            </div>

            <div class="col-sm-2">
                <a target="_blank" href="/order/packing_slip/packing_slip?order_id={{ sale_order.getId() }}&format=pdf" class="btn btn-primary btn-block">
                    <i class="fa fa-print"></i>
                    {{ 'Pakbon openen'|translate }}
                </a>
            </div>

            {% if sale_order.getShippingHasTrackTrace() %}
                {% if sale_order.getTrackingUrl() %}
                    <div class="col-sm-2">
                        <a target="_blank" href="{{ sale_order.getTrackingUrl() }}" type="button" class="btn btn-info btn-block">
                            <i class="fa fa-globe"></i>
                            {{ 'T&T bekijken'|translate }}
                        </a>
                    </div>
                {% else %}
                    <div class="col-sm-2">
                        <a target="_blank" href="{{ sale_order.getTrackingUrl() }}" type="button" class="btn btn-info btn-block">
                            <i class="fa fa-info"></i>
                            {{ 'T&T vastleggen'|translate }}
                        </a>
                    </div>
                {% endif %}
            {% endif %}
            {% if sale_order.getCustomerId() %}
                <div class="col-sm-2">
                    <a href="/crm/customer_edit?id={{ sale_order.getCustomerId() }}" class="btn btn-info btn-block">
                        <i class="fa fa-user"></i>
                        {{ 'Klant'|translate }}
                    </a>
                </div>
            {% endif %}
            {% if sale_order.getItemDeleted() %}
                <div class="col-sm-2">
                    <a href="/order/completed/status?order_id={{ sale_order.getId() }}&_do=UnCancel" class="btn btn-warning btn-block">
                        <i class="fa fa-undo"></i>
                        {{ 'Terugzetten'|translate }}
                    </a>
                </div>
            {% else %}
                <div class="col-sm-2">
                    <a href="/order/completed/status?order_id={{ sale_order.getId() }}&_do=Cancel" class="btn btn-warning btn-block">
                        <i class="fa fa-warning"></i>
                        {{ 'Annuleren'|translate }}
                    </a>
                </div>
            {% endif %}
<!--
            <div class="col-sm-2">
                <a href="/order/completed/status?order_id={{ sale_order.getId() }}&_do=RoundUp" class="btn btn-danger btn-block">
                    <i class="fa fa-check"></i>
                    {{ 'Afronden'|translate }}
                </a>
            </div>
-->
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-widget task-widget sort-disable ui-sortable" id="spy11">

                    <div class="panel-heading cursor">
                        <span class="panel-title">{{ 'Todo lijst'|translate }}</span>
                    </div>
                    <div class="panel-body pn br-t">

                        {% if all_done == false %}
                            <h6 class="fs14 mv20">
                                <i class="fa fa-bell text-alert mr15"></i>
                                <span class="text-muted">{{ 'STAPPEN'|translate }}</span>
                            </h6>
                            <ul class="task-list task-current mb40">
                                {% for todo_item in todo_items %}
                                    {% if todo_item.isDone() == false %}
                                        {{ todo_item.getHtml()|raw }}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <h6 class="fs14 mb20">
                            <i class="fa fa-check-square-o text-success mr15"></i>
                            <span class="text-muted">{{ 'AFGEROND'|translate }}</span>
                        </h6>
                        <ul class="task-list task-completed">
                            {% for todo_item in todo_items %}
                                {% if todo_item.isDone() %}
                                    {{ todo_item.getHtml()|raw }}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Notes'|translate }}</span>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <div class="thumbnail" style="border:none">
                                    {% if current_user.getHasProfilePic %}
                                        <img alt="Profielfoto" src="/img/user/{{current_user.getId}}/profile_pic.{{current_user.getPicExt}}" />
                                    {% else %}
                                        <img src="/assets/img/default-avatar.png" alt="avatar" class="mw55">
                                    {% endif %}
                                    {{ current_user.getFirstName() }}
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <textarea name="description" id="create_note_field" style="width:100%;min-height:150px;" placeholder="Type your note here.."></textarea>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12"><hr></div>
                        </div>

                        <div class="row">
                            {% if customer_notes %}
                                {% for customer_note in customer_notes %}
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="thumbnail">
                                                <img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
                                                {{ customer_note.getCustomer().getFirstName() }} {{ customer_note.getCustomer().getLastName() }}<br />
                                                {{ 'commented'|translate }} {{ customer_note.getCreatedOn()|date('j-n-Y H:i') }}
                                            </div>
                                        </div>
                                        <div class="col-sm-9">
                                            {{ customer_note.getDescription() }}
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="panel-heading">
                        <span class="panel-title">{{ 'Tijdlijn'|translate }}</span>
                    </div>
                    <div class="panel-body bg-light pt20 pbn pl30">
                        <div class="row">
                            <ul class="timeline">
                                {% for item in sale_order_timeline %}
                                    <li class="{{ item.getPos() == 'right' ? 'timeline-inverted' : '' }}">
                                        <div class="timeline-badge {{ item.getType() }}">
                                            <i class="fa fa-{{ item.getIcon() }}"></i>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="timeline-title">{{ item.getTitle()|raw }}</h4>
                                                <p>
                                                    <small class="text-muted">
                                                        <i class="glyphicon glyphicon-time"></i> {{ item.getTimeAgo() }} ago at {{ item.getDateTime()|date('d-m-Y H:i') }}
                                                    </small>
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>
