<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
        <title>{{ 'Pakbon'|translate }}</title>
        <style>
            *,
            html,
            body {  margin: 0;  padding: 0;  box-sizing: border-box;  color: #000;  }
            html {  font-size: 62.5%;  }
            body {  font: 1.4rem/1.5 'PT Sans Caption', serif;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;  }
            article {  height: 1021px;  position: relative;  page-break-after: always;  page-break-inside: avoid;  }
            article header {  padding: 0 0 2rem;  overflow: hidden;  }
            .summary header {  padding: 0 0 6rem;  }
            article header h1 {  text-transform: uppercase;  font-size: 2.8rem;  }
            .order-info {  width: 40%;  padding: 2rem 0 0;  float: right;  }
            .order-info .order-number {  font-size: 3rem;  }
            .order-info span {  float: right;  margin: -.5rem 0 0 0;  }
            .order-info div {  line-height: 2.2rem;  clear: both;  }
            .order-info .item-info {  padding: 1rem 0 0;  text-transform: uppercase;  text-align: right;  font-size: 1.6rem;  }
            .customer-info {  width: 60%;  float: left;  }
            .customer-info h2 {  padding: 1rem 0 4rem;  font-size: 2rem;  font-weight: bold;  }
            .summary .customer-info h2 {  padding-bottom: 0;  }
            .customer-info span {  width: 70%;  display: inline-block;  float: left;  }
            .customer-info span.label {  width: 30%;  display: inline-block;  float: left;  }
            .customer-info div {  clear: both;  line-height: 2.2rem;  }
            .customer-info .reference {  padding-top: 1.4rem;  }
            .sender-info {  padding-top: 3rem;  font-size: 13px;  text-align: center;  }
            .products-all-heading {  padding-top: 4rem;  padding-left: 1rem;  font-size: 1.4rem;  line-height: 1.6rem;  font-weight: normal;  }
            .products {  width: 100%;  border-collapse: collapse;  }
            .products th {  padding-top: .4rem;  padding-bottom: .2rem;  overflow: hidden;  background: #d4d4d4;  line-height: 1.4rem;  font-weight: normal;  text-align: left;  }
            .products th:first-of-type {  padding-left: 2.2rem;  }
            .products td {  font-size: 1.3rem;  line-height: 1.3rem;  font-weight: bold;  }
            .summary .products td {  font-weight: normal;  }
            .products.products-all td {  color: #808080;  font-weight: normal;  }
            .products td:nth-child(1) {  width: 15%;  }
            .products td:nth-child(2) {  width: 15%;  text-align: right;  }
            .products td:nth-child(4) {  width: 15%;  text-align: right;  }
            .products th:nth-child(4) {  padding-right: 1rem;  text-align: right;  }
            .products td:nth-child(3),
            .products th:nth-child(3) {  padding-left: 2rem;  }
            .products td:first-of-type::before {  content: '';  margin: 0 1rem 0 0;  display: inline-block;  width: 1rem;  height: 1rem;  border: .1rem solid #808080;  }
            .products tr:first-of-type td {  padding-top: 1.3rem;  }
            .summary .products td:last-of-type span,
            .summary .products th:last-of-type span {  display: none;  }
            section {  clear: both;  }
            footer {  width: 100%;  position: absolute;  bottom: 0;  }
            footer h3 {  overflow: hidden;  background: #d4d4d4;  line-height: 1.4rem;  margin: 0 0 1rem;  padding: .4rem 3rem .2rem;  background: #d4d4d4;  font-weight: normal;  font-size: 1.4rem;  }
            .check {  width: 100%;  font-size: 1.3rem;  }
            .check h4,
            .check span {  padding: 0 .5rem;  }
            .check h4 {  margin: 0 0 .4rem;  padding-top: .4rem;  line-height: 2rem;  }
            .check div {  width: 24.35%;  height: 9rem;  margin: 0 .6% 0 0;  border: .1rem solid #808080;  float: left;  }
            .check div:nth-child(3) {  margin-right: 1.2%;  }
            .check div:nth-child(4),
            .check div:nth-child(5) {  float: right;  }
            .check div:nth-child(4) {  margin: 0;  }
            .check div:nth-child(4) span,
            .check div:nth-child(5) span {  display: inline-block;  margin-top: 1.8rem;  }
            .check h4 {  border-bottom: .1rem solid #808080;  }
            .check .line-through.enabled {  text-decoration: line-through;  }
            .comment {  height: 10rem;  }
            .comment p {  padding: 0 3rem;  }
            .summary .agreement div {  width: 48%;  height: 8.5rem;  border: .1rem solid #808080;  color: #808080;  padding: .6rem .5rem 0;  font-size: 1.4rem;  line-height: 1.8rem;  float: left;  letter-spacing: .09rem;  }
            .summary .agreement div:first-of-type {  margin-right: 4%;  position: relative;  }
            .summary .agreement div:first-of-type span {  position: absolute;  bottom: .5rem;  left: .5rem;  color: #808080;  }
            .summary .agreement div:last-of-type {  float: right;  }
            .fine-print {  padding: .5rem 0 0;  clear: both;  font-size: 1rem;  text-align: center;  color: #808080;  }
        </style>
    </head>
    <body>
        <article class="summary">
            <header>
                <div class="customer-info">
                    <h1>{{ 'PAKBON'|translate }}</h1>
                    <h2>{{ sale_order.getCustomerDeliveryCompanyName() }}</h2>
                    <div><span class="label">{{ 'Adres'|translate }}:</span>
                        <span>
                            {{ sale_order.getCustomerDeliveryCompanyName() }}<br>
                            {{ sale_order.getCustomerDeliveryAddressL1() }}<br>
                            {% if sale_order.getCustomerDeliveryAddressL2 %}
                                {{ sale_order.getCustomerDeliveryAddressL2() }}<br>
                            {% endif %}
                            {{ sale_order.getCustomerDeliveryPostal() }} {{ sale_order.getCustomerDeliveryCity() }}<br>
                            {%  if sale_order.getCustomerDeliveryUsaState() %}
                                {{ sale_order.getCustomerDeliveryUsaState() }}<br>
                            {% endif %}
                            {{ sale_order.getCustomerDeliveryCountry() }}
                        </span>
                    </div>
                    <div><span class="label">{{ 'Contactpersoon'|translate }}:</span><span>{{ sale_order.getCustomerDeliveryAttnName() }}</span></div>
                    <div class="reference"><span class="label">{{ 'Uw referentie'|translate }}:</span><span>{{ sale_order.getReference() }}</span></div>
                </div>
                <div class="order-info">
                    <div>{{ 'Geplande leverdatum'|translate }}:<span>{{ sale_order.getEstimatedDeliveryDate() }}</span></div>
                    <div>{{ 'Verzendwijze'|translate }}:<span>{{ sale_order.getShippingCarrier() }}</span></div> <!-- fix™ -->
                    <div style="float:right;width:70px;top:90px;height:60px;">
                        <!--<img src="##barcode_url##">-->
                    </div>
                    <div class="sender-info" style="text-align: left">
                        <b>{{ sale_order.getOurGeneralCompanyName() }}</b><br>
                        {{ sale_order.getOurGeneralStreet() }} {{ sale_order.getOurGeneralNumber() }} {{ sale_order.getOurGeneralNumberAdd() }} <br>
                        {{ sale_order.getOurGeneralPostal() }} {{ sale_order.getOurGeneralCity() }} <br>
                        {{ sale_order.getOurGeneralCountry() }}
                    </div>
                </div>
            </header>
            <section>
                <table class="products">
                    <thead>
                    <tr>
                        <th>{{ 'Aantal'|translate }}</th>
                        <th>{{ 'Product'|translate }}</th>
                        <th><span>{{ 'Prijs'|translate }}</span></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for item in sale_order.getSaleOrderItems %}
                        <tr>
                            <td>{{ item.getQuantity() }}</td>
                            <td style="text-align: left">{{ item.getDescription() }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </section>
            <footer>
                <div class="comment">
                    <h3>{{ 'Opmerkingen'|translate }}:</h3>
                    <p>{{ sale_order.getShippingNote() }}</p>
                </div>
                <div class="agreement">
                    <h3>{{ 'Akkoord voor ontvangst'|translate }}:</h3>
                    <div><span>Naam, datum en handtekening</span></div>
                </div>
                <p class="fine-print">{{ 'Op al onze werkzaamheden en leveranties zijn de Algemene Voorwaarden van van toepassing.'|translate }}</p>
            </footer>
        </article>
    </body>
</html>
