<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-truck"></span>
        <span class="sidebar-title">{{ 'Leveranciers'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li><a href="/supplier/overview"><span class="fa fa-file-text-o"></span> {{ 'Overzicht'|translate }}</a></li>
        <li><a href="/supplier/edit"><span class="fa fa-file-text-o"></span> [+] {{ 'Nieuwe invoeren'|translate }}</a></li>
    </ul>
</li>
