<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <div class="row">
            <div class="col-md-12">
                {{ edit_form | raw  }}

                <div class="col-md-6">

                    <div class="panel">
                        <div class="panel-heading">
                            <span class="panel-title">{{ 'Pagina afbeeldingen'|translate }}</span>
                        </div>
                        <div class="{{ site_page_images.isEmpty ? 'panel-body' : 'dropzone' }} sortable_container">
                            {% for site_page_image in site_page_images %}
                                <div class="dz-preview dz-image-preview sortable_item" data-site="{{ site }}" data-site_page_id="{{ site_page_id }}" data-picture_id="{{ site_page_image.getId }}" style="margin:0px;">
                                    <div class="dz-details">
                                        <div class="dz-filename">
                                            <span data-dz-name="">{{ site_page_image.getOriginalName }}</span>
                                        </div>
                                        <div class="dz-size" data-dz-size="">
                                            <strong>{{ (site_page_image.getFileSize/1024)|round }}</strong>KiB<br>
                                        </div>
                                        <img class="img-responsive" src="/img/cms/{{ site_page_image.getSitePageId()  }}/{{ site_page_image.getId  }}.{{ site_page_image.getFileExt  }}" alt="avatar">
                                    </div>
                                    <a title="{{ 'Afbeelding verwijderen'|translate }}" class="dz-remove" href="/cms/page/edit?site={{ site }}&id={{ site_page_id }}&image_id={{ site_page_image.getId  }}&_do=DeletePicture">Verwijderen</a>
                                </div>
                            {% endfor %}

                            <div style="margin-bottom:30px; margin-top:10px;">
                                <input name="new_image" type="file" />

                                <button data-style="expand-right" class="btn ladda-button btn-dark pull-right" type="submit">
                                    <span class="ladda-label">{{ 'Bestand uploaden'|translate }}</span>
                                    <span class="ladda-spinner"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                {% if footer_translation_blocks %}
                    <div class="col-md-6">
                        <div class="panel">
                            <div class="panel-heading">
                                <span class="panel-title">{{ 'Opnemen in footer'|translate }}</span>
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="fld_{{ field_db }}" class="col-lg-4 control-label">
                                        {{ 'Opnemen in'|translate }}
                                    </label>
                                    <div class="col-lg-8">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                                <i class="fa fa-globe"></i>
                                            </span>
                                            <select id="fld_language_id" name="data[site_footer_block_translation_id]" class="form-control">
                                                <option value="">{{ 'Maak een keuze'|translate }}</option>
                                                {% for footer_translation_block in footer_translation_blocks %}
                                                    <option {{ site_footer_block_translation_id == footer_translation_block.site_footer_block_translation_id ? 'selected' }} value="{{ footer_translation_block.site_footer_block_translation_id }}">{{ footer_translation_block.title }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </form>
</div>