<div class="chute chute-center pt30">
    <div class="panel">
        {% if filter_html %}
            <div class="panel-menu p12 allcp-form mtn">
                {{ filter_html | raw }}
            </div>
        {% endif %}
        <div class="panel-body pn">
            {{ overview_table | raw }}
        </div>
    </div>
</div>