<div class="form-group">
    <label for="inputSelect" class="col-lg-{{ label_width }} control-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>
    <div class="col-lg-{{ field_width }}">
        {% include 'admin_modules/Field/StyleFormField/editCurrencyField.twig' %}
    </div>
    </div>
</div>