<div class="form-group">
    <label for="fld_{{ field_db }}" class="col-lg-{{ label_width }} control-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>
    {% include 'admin_modules/Field/StyleFormField/editRichTextField.twig' %}
</div>