<div class="form-group">
    <label for="fld_{{ field_db }}" class="col-lg-{{ label_width }} control-label" style="{{ read_only ? 'margin-top:0px' : '' }}">
        {{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}
    </label>
    <div class="col-lg-{{ field_width }}">
        {% include 'admin_modules/Field/StyleFormField/editTextField.twig' %}
    </div>
</div>
