<div class="form-group">
    <label class="col-lg-4 control-label">{{ title }}</label>
    <div class="col-lg-7" style="position:relative">
        {% include 'admin_modules/Field/StyleFormField/editImagePreview.twig' %}
    </div>
</div>