<div class="form-group">
    <label for="fld_{{ field_db }}" class="col-lg-{{ parameters.label_w }} control-label">
        {{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}
    </label>

    <div class="col-lg-{{ parameters.field_w }}">
        {% include 'admin_modules/Field/StyleFormField/editBooleanField.twig' %}
    </div>
</div>