
<div class="form-group" style="{{ dis }}">
    <label for="fld_{{ field_db }}" class="col-lg-{{ label_width }} control-label">{{ field_label }} {{ has_validations ? '<i class="required">*</i>' }}</label>
    <div class="col-lg-{{ field_width }}">
        {% include 'admin_modules/Field/StyleFormField/editLookupField.twig' %}
    </div>
</div>