
.txt.primary {
    color: #00aeef!important;
}
.txt.info {
    color: #70dfbf!important;
}
.txt.success {
    color: #cddd4f!important;
}
.txt.warning {
    color: #ff8a4b!important;
}
.txt.danger {
    color: #f5393d!important;
}
.txt.alert {
    color: #ffc734!important;
}
.txt.system {
    color: #6b639f!important;
}

.bank_icon_container img{
    max-width: 104px;

}
.danger{color:red;}
/*
#fields_in_use input,
#fields_in_use select{
    width:100%;
    font-size:20px;
    text-align: left;
    color:#32323A;
    margin-bottom: 5px;
}
*/
.field-style-handle{
    display: block;
    position:relative;
    margin: 0 3px 3px 0;
    width:100%;
    border-radius: 3px;
    color: #ffffff;
    font-size: 84%;
    font-weight: 600;
    line-height: 18px;
    padding: 3px 3px 3px 5px;
    vertical-align: baseline;
    white-space: nowrap;
}
#fields_in_use .field-style-handle{
    float:left;
}

.field-style-handle span.badge{
    float:right;
    display: inline-block;
    margin-left:5px;
}

.field-style-handle b{
    text-align: left;
}
.field-style-handle select{
    margin-left:5px;
}
.field-style-handle select.width{
    float:right;
    display: inline-block;
    color:#32323A;
}
.field-style-handle select.read_only{
    float:right;
    display: inline-block;
    color:#32323A;
}

#fields_in_use .w1{width:8%!important;}
#fields_in_use .w2{width:16%!important;}
#fields_in_use .w3{width:24%!important;}
#fields_in_use .w4{width:33%!important;}
#fields_in_use .w5{width:41%!important;}
#fields_in_use .w6{width:49%!important;}
#fields_in_use .w7{width:58%!important;}
#fields_in_use .w8{width:66%!important;}
#fields_in_use .w9{width:74%!important;}
#fields_in_use .w10{width:83%!important;}
#fields_in_use .w11{width:91%!important;}
#fields_in_use .w12{width:99%!important;;}

#fields_in_use .field-style-handle select.w1.width{ width:20px!important;}
#fields_in_use .field-style-handle select.w2.width{ width:20px!important;}
#fields_in_use .field-style-handle select.w3.width{ width:20px!important;}
#fields_in_use .field-style-handle select.w4.width{ width:20px!important;}
#fields_in_use .field-style-handle select.w5.width{ width:20px!important;}
#fields_in_use .field-style-handle select.w6.width{ width:55px!important;}
#fields_in_use .field-style-handle select.w7.width{ width:55px!important;}
#fields_in_use .field-style-handle select.w8.width{ width:55px!important;}
#fields_in_use .field-style-handle select.w9.width{ width:60px!important;}
#fields_in_use .field-style-handle select.w10.width{ width:60px!important;}
#fields_in_use .field-style-handle select.w11.width{ width:60px!important;}
#fields_in_use .field-style-handle select.w12.width{ width:60px!important;}

#fields_in_use .field-style-handle select.w1.read_only{ width:20px!important; right:30px;}
#fields_in_use .field-style-handle select.w2.read_only{ width:20px!important; right:30px;}
#fields_in_use .field-style-handle select.w3.read_only{ width:20px!important; right:30px;}
#fields_in_use .field-style-handle select.w4.read_only{ width:20px!important; right:30px;}
#fields_in_use .field-style-handle select.w5.read_only{ width:20px!important; right:30px;}
#fields_in_use .field-style-handle select.w6.read_only{ width:70px!important; right:65px;}
#fields_in_use .field-style-handle select.w7.read_only{ width:80px!important; right:65px;}
#fields_in_use .field-style-handle select.w8.read_only{ width:100px!important; right:65px;}
#fields_in_use .field-style-handle select.w9.read_only{ width:120px!important; right:70px;}
#fields_in_use .field-style-handle select.w10.read_only{ width:120px!important; right:70px;}
#fields_in_use .field-style-handle select.w11.read_only{ width:120px!important; right:70px;}
#fields_in_use .field-style-handle select.w12.read_only{ width:120px!important; right:70px;}


#available_fields .field-style-handle{

}
#available_fields .field-style-handle select{
    display:none;
}
#fields_in_use .field-style-handle{

}

#fields_in_use .available_fields_container{
    width:100%;
    border: 1px cornflowerblue dashed;
    border-radius:5px;
    margin-bottom: 30px;
    line-height:15px;
}

#fields_in_use .available_fields_container span.placeholder{
    line-height:50px;
}
/* Truc om met alleen css de placeholder weg te halen (de versleep velden hierheen tekst) */
#fields_in_use .available_fields_container span:first-of-type{  display:none;  }
#fields_in_use .available_fields_container span:last-of-type{  display:block;  }

.cl{clear:both;}
i.required{color:red;}
.draggable{cursor: pointer}

.hoverable-lnk{color:#32323a;}
.hoverable-lnk:hover{color:#00aeef;}

select.form-control {
    -webkit-appearance: menulist;
}

.cl{clear: both}
.tpl_textarea{height:150px!important;border:1px solid #ddd; border-radius: 3px;}
.tpl_link_blok{float:left;width:20%;margin-left:10px;}




.pointer{  cursor: pointer;  }
.numeric-col{
    text-align:right;
    white-space: nowrap;
    width:1%;
}
.fancytree-container{border:none!important;}
a.crumble-nav{color:#7f828f;}

.colorpicker.dropdown-menu{
    z-index: 10000!important;
}


.selectize-input
{
    border-radius:0;
    border: 1px solid #d8d8d8;
    height:40px!important;
    line-height: 28px!important;
    color: #626262;
    font-size: 12px;
}
.selectize-control
{
    margin-bottom:-7px;
}
.nobr { white-space: nowrap }


a.active-tab{
    background-color: #d9d9d9!important;
    color:white!important;
}
a.active-tab:hover{
    background-color: #d9d9d9!important;
    color:white!important;
}
.single-share-link i {
    background: #d2d2d2 none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    width: 35px;
    color: #fff;
    float:left;
    margin-right: 10px;
    margin-top: 3px;
}
.single-share-link .input-group-addon {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #818181;
    font-size: 12px;
    padding: 6px 10px;
    border-right: 0px solid;
}

.single-share-link i.fa-facebook{
    background: #3b5998;
}
.single-share-link i.fa-twitter{
    background: #45b0e3;
}
.single-share-link i.fa-google-plus{
    background: #dd4b39;
}
.single-share-link i.fa-instagram{
    background: #29587f;
}
.single-share-link i.fa-youtube-play{
    background: #cc181e;
}
.single-share-link i.fa-linkedin{
    background: #0177B5;
}
.single-share-link i.fa-pinterest{
    background: #BD081C;
}
.input-group .form-control{
    border: 1px solid #d8d8d8;
    border-radius: 2px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
    color: #626262;
    font-size: 12px;
    height: 40px;
}
.single-share-link{
    margin-bottom: 20px;
}

.time{ padding:0px !important}

.single-contact-info-form{ padding:0 0 10px 0 !important}



.icon {
    float: left;
    margin-right: 10px;
    width: 36px;
}
.contact-info-type {
    float: left;
    width: 268px;
}
.contact-info-type .form-control {
    border: 1px solid #d8d8d8;
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
    color: #626262;
    font-size: 12px;
    height: 40px;
}
.single-getway label {
    color: #6a6a6a;
    font-size: 11px;
    font-weight: 400;
}
.single-getway label img {
    margin-right: 3px;
}
.single-getway input[type="checkbox"] {
    display: none;
}
.single-getway input[type="checkbox"] + label::before {
    background-color: white;
    border: 1px solid #d8d8d8;
    content: "";
    display: inline-block;
    font-size: 14px;
    height: 16px;
    line-height: 13px;
    margin: -2px 6px 0 0;
    text-align: center;
    vertical-align: middle;
    width: 16px;
}
.single-getway input[type="checkbox"]:checked + label::before {
    color: #98c240;
    content: "✓";
}
.payment-getway-wrrap {
    margin-top: 20px;
}
.payment-getway-wrrap .col-sm-3 {
    margin-bottom: 20px;
    padding: 0 5px;
}

ul.topbar-menu li{ list-style-type: none;}

.tag_collection li{
    display:block;
    float:left;
    margin-right:10px;
    margin-bottom:10px;
    box-sizing:border-box;
}
.tag_collection select{
    line-height:20px;
    height:35px;
}
ul#products li{
    cursor: pointer;
    list-style-type: none!important;
}
.lead.sm
{
    font-size:12px;
}

.richtext-editor .panel{padding:0!important;}
.richtext-editor .note-editor{border:1px solid #d8d8d8!important;}

.sortable_container{width:100%!important;}
.sortable_container a.trash_link{position:absolute;  background-color:red; color:white; right:6px;top:184px; border:1px solid red;text-align:center;width:30px;height:26px;}
.sortable_container a.info_link{position:absolute; background-color:#45b0e3; color:white; right:42px;top:184px; border:1px solid #45b0e3;text-align:center;width:30px;height:26px;}
.sortable_container span.created_at{
    padding:5px;
    color: black;
    display: block;
    position: absolute;
    bottom:0;
    left:0;
    background-color: white
}
.sortable_container img.image_item{display: block;}
.sortable_container .sortable_item.product_picker{position:relative;display:block;height:220px;overflow:hidden;  float:left;  margin-right:10px;  margin-bottom:10px;  box-sizing:border-box;  border:1px solid #FFC03B;}

.sortable_container .cl{clear:both}


.sortable_item .fa.fa-crop.icon{position:absolute; color:black; right:45px;top:201px;}
.sortable_item .fa.fa-edit.icon{position:absolute; color:black; right:25px;top:201px;}
.sortable_item .fa.fa-trash.icon{position:absolute; color:red; right:8px;top:200px;}

.fc-day{
    cursor: pointer;
}
.danger{color:red;}
.success{color:darkgreen!important;}

.stroke{
    text-decoration: line-through;
}


.mb0{
    margin-bottom:0;
}

component-item {
    background-color:white;
}

.error{
    border:1px solid #dc3545!important;
}

.iconcol{width:16px;}
.col_dd{cursor:pointer;}
.drop-area{width:100%; border:1px #FFC03B dashed; min-height:38px; padding:2px;}

