    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">Basic Table</span>
        </div>
        <div class="panel-body pn">
            {% for dialog in dialogs %}
                <div style="display: block">
                    {{ dialog.result|raw }}
                </div>
            {% endfor %}

            {{ table_content|raw }}

            <div class="actions clearfix" style="display: block">
                {% for button in buttons %}
                    {{ button.result|raw }}
                {% endfor %}
            </div>

            <div class="droppable_button_bar">
                <div class="droppable_zone" data-ui-component-location="table_footer" data-ui-component-id="{{ ui_component_id }}">
                    Drop elements here.
                </div>
            </div>
        </div>
    </div>
