<div class="chute chute-center" style="height: 983px;">

    <form id="add_substract_form" method="post">
        <input type="hidden" name="_do" id="fld_do" value="">
        <input type="hidden" name="product_id" id="fld_product_id" value="">
        <input type="hidden" name="packs" id="fld_packs" value="">
    </form>

    <!-- -----------Productucts StatusId Table -------------- -->
    <div class="row">
        <div class="col-md-9">
            <div class="panel">
                <div class="panel-heading">

                    <span class="panel-title hidden-xs">
                        {{ bulk_stock.getName }} {{ 'inpakken'|translate }} ({{ bulk_stock.getQuantity|number_format(0, ',', '.') }} eenheden)

                    </span>
                    <a title="{{ 'Voorraad aanpassen'|translate }}" href="/stock/bulk/edit?id={{ bulk_stock.getId }}&r=bulk_stock"><i class="fa fa-edit"></i></a>

                </div>
                <style>
                    button{margin-bottom:5px!important;width:100%;}
                </style>
                <div class="panel-body pn">
                    {% for product in products %}
                        <div style="width:315px;float:left">
                            <h6>{{ product.getNumber() }} ({{ product.getQuantityPerPack() }} {{ 'per verpakking'|translate }})</h6>
                            <div style="width:150px;float:left">
                                {% for i in range(1, 10) %}
                                    {% if (i * product.getQuantityPerPack()) <= bulk_stock.getQuantity  %}
                                        <button data-product_id="{{ product.getId() }}" data-packs="{{ i }}" type="button" class="add_stock btn ladda-button btn-alert">Plus {{ i }} x {{ product.getQuantityPerPack() }} stuks</button>
                                    {% endif %}

                                {% endfor %}


                                {% for i in range(100, 500, 100) %}
                                    {% if (i * product.getQuantityPerPack()) <= bulk_stock.getQuantity  %}
                                        <button data-product_id="{{ product.getId() }}" data-packs="{{ i }}" type="button" class="add_stock btn ladda-button btn-danger">Plus {{ i }} x {{ product.getQuantityPerPack() }} stuks</button>
                                    {% endif %}
                                {% endfor %}


                            </div>
                            <div style="width:150px;float:left;margin-left:4px;">
                                {% for i in range(1, 10) %}
                                    {% if (i * product.getQuantityPerPack()) <= ( product.getStockQuantity() * product.getQuantityPerPack() )  %}
                                        <button data-product_id="{{ product.getId() }}" data-packs="{{ i }}" type="button" class="substract_stock btn ladda-button btn-info">Min {{ i }} x {{ product.getQuantityPerPack() }} stuks</button>
                                    {% endif %}
                                {% endfor %}


                                {% for i in range(100, 500, 100) %}
                                    {% if (i * product.getQuantityPerPack()) <= ( product.getStockQuantity() * product.getQuantityPerPack() )  %}
                                        <button data-product_id="{{ product.getId() }}" data-packs="{{ i }}" type="button" class="substract_stock btn ladda-button btn-danger">Min {{ i }} x {{ product.getQuantityPerPack() }} stuks</button>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="row">
                {% for product in products %}
                <a href="/product/edit?id=21">
                    <div class="col-sm-6 col-md-12 ph10">
                        <div class="panel panel-tile">
                            <div class="panel-body">
                                <div class="row pv10">
                                    <div class="col-xs-5 ph10"><img src="/assets/img/pages/clipart0.png" class="img-responsive mauto" alt=""></div>
                                    <div class="col-xs-7 pl5">

                                        <h6 class="text-muted">
                                            {{ product.getTitle() }}<br>
                                            {{ product.getNumber() }}<br>
                                            {{ product.getQuantityPerPack() }} {{ 'Stuks per verpakking'|translate }}
                                        </h6>
                                        <h2 class="fs40 mt5 mbn">{{ product.getStockQuantity() }}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>



</div>