<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-bar-chart-o"></span>
        <span class="sidebar-title">{{ 'Verkoop'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/sale/invoice/overview"><span class="fa fa-file-text-o"></span>
                {{ 'Facturen'|translate }}
            </a>
        </li>
    </ul>
</li>
