<div class="topbar-left">
    <ul class="nav nav-list nav-list-topbar pull-left">
        <li class="active">
            <a href="/setting/sale_order/config">{{ 'Algemeen'|translate }}</a>
        </li>
        <li class="active">
            <a href="/setting/sale_order/status_email/overview">{{ 'StatusId e-mailberichten'|translate }}</a>
        </li>
    </ul>
</div>