<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-money"></span>
        <span class="sidebar-title">{{ 'Financiën'|translate }}</span>
        <span class="caret"></span>
    </a>
    {{ dump(extra_vars) }}

    <ul class="nav sub-nav">
        <li>
            <a href="/finance/bank/summary">
                <span class="fa fa-file-text-o"></span> Saldo overzicht
            </a>
        </li>
        <li>
            <a href="/finance/report/exploitation">
                <span class="fa fa-file-text-o"></span> Rapportages
            </a>
        </li>
        <li>
            <a href="/finance/money/tree">
                <span class="fa fa-file-text-o"></span> Boeking categorieën
            </a>
        </li>
        <li>
            <a href="/finance/bank/iban/addresses">
                <span class="fa fa-file-text-o"></span> IBAN Adressenboek
            </a>
        </li>
        <li>
            <a href="">
                <span class="fa fa-file-text-o"></span> Geplande betalingen
            </a>
        </li>
        <li>
            <a href="/finance/rules/list" title="{{ 'Definieer regels (If this then that)'|translate }}">
                <span class="fa fa-file-text-o"></span> Regels
            </a>
        </li>
    </ul>
</li>
