<div id="{{ props.id }}"></div>
<script>

    function load_jsmind() {
        var mind = {
            "meta": {
                "name": "{{ props.id }}",
                "author": ""
            },
            "format": "node_array",
            "data": [
                {"id": "root", "isroot": true, "topic": "{{ props.root_label }}"},
                {% for item in state.query_object %}
                    {"id":"{{ item.getId() }}", "parentid":"root", "topic":"{{ item.getTitel() }}"},
                {% endfor %}
            ]
        };
        var options = {
            container: '{{ props.id }}',
            editable: true,
            theme: 'primary'
        }
        var jm = jsMind.show(options, mind);
// jm.set_readonly(true);
// var mind_data = jm.get_data();
// alert(mind_data);
        jm.add_node("sub2", "sub23", "new node", {"background-color": "red"});
        jm.set_node_color('sub21', 'green', '#ccc');
    }

    load_jsmind();
</script>
