
<!-- contact-area start -->
<div class="contact-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-form">
                    <h3><i class="fa fa-envelope-o"></i> {{  'Leave a message'|translate  }}</h3>
                    <div class="row">
                        <form name="contact" method="POST">
                            <input type="hidden" id="fld_validation" name="message[rand_mail]" value="" />
                            <script>
                                document.getElementById("fld_validation").value = "{{ rand_mail }}";
                            </script>
                            <input type="hidden" name="_do" value="AddMessage"/>

                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input value="{{ data.name }}" name="message[name]" type="text" placeholder="{{ 'Name (required)'|translate }}"/>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input name="message[email]" value="{{ data.email }}" type="email" placeholder="{{ 'Email (required)'|translate }}"/>
                            </div>


                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <input name="message[subject]" value="{{ data.subject }}" type="text" placeholder="{{ 'Subject'|translate }}"/>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <textarea name="message[message]" id="message" cols="30" rows="10" placeholder="{{ 'Message'|translate }}">{{ data.message }}</textarea>
                                <input type="submit" value="{{ 'Submit IForm'|translate }}" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- contact-info start -->
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-info">
                    <h3>{{ 'Contact info'|translate }}</h3>
                    <ul>
                        <li>
                            <i class="fa fa-mobile"></i> <strong>{{ 'Phone'|translate }}: </strong>
                            {{ site.getGeneralPhone() }}
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i> <strong>{{ 'Email'|translate }}: </strong>
                            <a href="mailto:{{ site.getFromEmail() }}" target="_blank">{{ site.getFromEmail() }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- contact-info end -->
        </div>
    </div>
</div>
<!-- contact-area end -->



