<header id="topbar" class="ph10">
    <div class="topbar-left hidden-xs hidden-sm mt5 mr35">
        <ul class="pull-left topbar-menu">
            <li>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" title="{{ 'Bankrekeningen'|translate }}">
                        {% if extra_top_nav_vars.bank_account %}
                            {{ extra_top_nav_vars.bank_account.getName() }}
                        {% else %}
                            {{ 'Alle bankkrekeningen'|translate }}
                        {% endif %}
                        <span class="caret ml5"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="/finance/bank/summary">
                                <strong>
                                    {{ 'Saldo overzicht'|translate }}
                                </strong>
                            </a>
                        </li>
                        <li>
                            <a href="/finance/bank/transactions">
                                <strong>
                                    {{ 'Alle bankkrekeningen'|translate }}
                                </strong>
                            </a>
                        </li>
                        {% for account in extra_top_nav_vars.bank_accounts %}
                            <li>
                                <a href="/finance/bank/transactions?bank_account_id={{ account.getId() }}">
                                    {{ account.getName() }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>
