<tr>
    <td class="main_nav" align="center" bgcolor="#3a3a3a">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" align="left">
            <tr>
                <td class="photo" align="left" valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>

                            <td class="drop" valign="top" align="left" style="width: 170px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="middle" height="30" align="left" style="text-align: left; font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; mso-line-height-rule: exactly; line-height: 14px; padding-left: 10px;">
                                            <a href="{{ site_url }}/en/s/terms-and-conditions" target="_blank" style="color: #FFFFFF; text-decoration: none;" >{{ 'Terms and conditions'|translate }}</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>

                            <td class="drop" valign="top" align="left" style="width: 140px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                                    <tr>
                                        <td valign="middle" height="30" align="left" style="text-align: left; font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #FFFFFF; mso-line-height-rule: exactly; line-height: 14px; padding-left: 10px;">
                                            <a href="" target="_blank" style="color: #FFFFFF; text-decoration: none;" >{{ copyright|raw }}</a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="10" bgcolor="#3a3a3a" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
            </tr>
        </table>
    </td>
</tr>