<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style type="text/css">
        ReadMsgBody{ width: 100%;}
        .ExternalClass {width: 100%;}
        .ExternalClass * {line-height: 100%}
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;}
        .ExternalClass img[class^=Emoji] { width: 10px !important; height: 10px !important; display: inline !important; }
        .ExternalClass #elementWithNoLineHeight { line-height:0 !important; }
        body {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0 !important; padding:0 !important;}
        p { margin: 0px; margin-bottom: 0;}
        table td { border-collapse: collapse;}
        a img {border:none;}
        a, a:link, a:visited, a:hover { color: #333333; text-decoration: none; }
        @-ms-viewport{ width: device-width;}
        v\:*{behavior: url(#default#VML); display:inline-block;}
        #outlook a {padding:0;}
        .mobile-show { display:none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; }
        .menutext a { display:none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; }
        .menuknop img { display: none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; width: 0; height: 0; }
        .line_height { mso-line-height-rule: exactly; line-height: 150% !important; }
        div[class="mobile-menu"] { display: none; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; }
        div.menuBlocker {display: none;}
        .tablecontent-onmobile { display:none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; }
        .tablecontent-onmobiledouble { display:none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; }

        @media only screen and (max-width: 480px) {
            div[class="menucontainer"] {  font-size: 0; height: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; -webkit-transition: 0.25s 0 all ease;
                -moz-transition: 0.25s 0 all ease;
                transition: 0.25s 0 all ease;}
            div[class="mobile-menu"] { display: block !important; height: 34px !important; max-height: 34px !important; min-height: 34px !important; }

            div.mobile-menu:hover + div.menucontainer, div.menucontainer:hover, div.mobile-menu:focus + div.menucontainer, div.menucontainer:focus { font-size: normal; line-height: normal; padding: 0; max-height: 500px; height: 350px;
                -webkit-transition: 0.25s 0 all ease;
                -moz-transition: 0.25s 0 all ease;
                transition: 0.25s 0 all ease;}

            div[class="costsonmobile"] {display: block !important; max-height: none !important; }
            a[class="menutext"] { display: block; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #333333; mso-line-height-rule: exactly; line-height: 34px; text-decoration: none; }
            img[class="menuknop"] { display: block; width: 26px !important; height: 34px !important; max-height: 34px !important; }
            td[class="menurijtwee"] { margin-bottom: 0px !important; min-height: 34px !important; max-height: 34px !important; line-height: 34px !important; vertical-align: middle !important; }
            img[class="menuknop"] { display: block; width: 26px !important; height: 34px !important; max-height: 34px !important; }
            body[yahoo] .container { width:100% !important; }
            body[yahoo] .footer { width:auto !important; margin-left:0; }
            body[yahoo] .footerlogospace { padding-bottom: 10px !important; }
            body[yahoo] .mobile-hidden, body[yahoo] .sideblock-hidden { display:none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; mso-margin-top-alt: 1px; }
            body[yahoo] .mobile-hidden-small, body[yahoo] .sideblock-hidden { display:none !important; font-size: 0; line-height: 0; padding: 0; max-height: 0; overflow: hidden; mso-hide: all; mso-margin-top-alt: 1px; }
            body[yahoo] .mobile-show { display: block !important; height: 10px !important; max-height: 10px !important; min-height: 10px !important; }
            body[yahoo] .menurijtwee { margin-bottom: 0px; !important; min-height: 34px !important; max-height: 34px !important; line-height: 34px !important; vertical-align: middle !important; }
            body[yahoo] .logo { display:block !important; padding:0 !important; }
            body[yahoo] .photo img { width:100% !important; height:auto !important; }
            body[yahoo] .drop { display:block !important; width: 100% !important; }
            body[yahoo] .nav4, body[yahoo] .nav5, body[yahoo] .nav6 { display: none !important; }

            body[yahoo] .main_nav td { display: inline-block; }
            body[yahoo] .footerlogo { display:block !important; width: 100% !important; padding-top:15px; float:left; clear:both;}
            body[yahoo] .usp-padding { height: 18px !important; padding-top: 10px !important; padding-bottom: 10px !important; padding-right: none !important; }
            body[yahoo] .tablecontent-hoofdcel { width: 100% !important; }
            body[yahoo] .tablecontent-onmobile { display: block !important; height: 20px !important; max-height: 20px !important; min-height: 20px !important; }
            body[yahoo] .tablecontent-onmobiledouble { display: block !important; height: 34px !important; max-height: 34px !important; min-height: 34px !important; }
        }

    </style>
    <!--[if gte mso 15]>
    <style type="text/css">
        table {
            font-size: 0;
            mso-line-height-alt: 0;
            line-height: 0;
            mso-margin-top-alt: 1px;
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
            border: none;
        }
    </style>
    <![endif]-->
</head>