<tr>
    <td align="left" valign="top" height="30" bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 14px; mso-line-height-rule: exactly; line-height: 18px; padding-left: 10px; padding-right: 10px; text-align: left;">
        <strong>{{ 'Order info and delivery'|translate }}</strong><br />&nbsp;
    </td>
</tr>
<tr>
    <td align="center" valign="top" style="padding-left: 10px; padding-right: 0px;">
        <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
            <tr>
                <td class="mobile-hidden" bgcolor="#f6f6f6" height="31" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px;">
                    <strong>
                        {{ 'PICTURE'|translate }}
                    </strong>
                </td>
                <td class="mobile-hidden" bgcolor="#f6f6f6" width="52%" height="31" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px;">
                    <strong>
                        {{ 'PRODUCT'|translate }}
                    </strong>
                </td>
                <td class="mobile-hidden" bgcolor="#f6f6f6" width="2%" height="31"></td>
                <td class="mobile-hidden" bgcolor="#f6f6f6" width="10%" height="31" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px;">
                    <strong>
                        {{ 'QUANTITY'|translate }}
                    </strong>
                </td>

                <td class="mobile-hidden" bgcolor="#f6f6f6" width="2%" height="31"></td>
                <td class="mobile-hidden" bgcolor="#f6f6f6" width="10%" height="31" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px;">
                    <strong>
                        {{ 'DELIVERY'|translate }}
                    </strong>
                </td>

                <td class="mobile-hidden" bgcolor="#f6f6f6" width="2%" height="31"></td>
                <td class="mobile-hidden" bgcolor="#f6f6f6" width="10%" height="31" align="right" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px;">
                    <strong>
                        {{ 'PRICE'|translate }}
                    </strong>
                </td>
            </tr>
            {% for item in Sale_order_item %}
                <tr>
                    <td class="mobile-hidden" bgcolor="#f6f6f6"height="31" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px;">
                        <strong>
                            <img src="{{ (site_url ~ '/img/product/105x140/' ~ item.getFirstProduct().getPrimaryImage().getId() ~ '.' ~  item.getFirstProduct().getPrimaryImage().getFileExt())|base_64_embed }}" />
                        </strong>
                    </td>
                    <td class="mobile-hidden" bgcolor="#ffffff" width="58%" height="64" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px;">
                        {{ item.getDescription() }} <sup></sup><br />
                        <font style="font-size: 11px; color: #a8a8a8;">
                            {{ 'Article number'|translate }}: {{ item.getFirstProduct().getNumber() }}
                        </font>
                    </td>
                    <td class="mobile-hidden" bgcolor="#ffffff" width="2%" height="64"></td>
                    <td class="mobile-hidden" bgcolor="#ffffff" width="12%" height="64" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px;">
                        {{ item.getQuantity() }}
                    </td>

                    <td class="mobile-hidden" bgcolor="#ffffff" width="2%" height="64"></td>
                    <td class="mobile-hidden" bgcolor="#ffffff" width="12%" height="64" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px;">
                        {{ Sale_order.getShippingCarrier() }}

                    </td>

                    <td class="mobile-hidden" bgcolor="#ffffff" width="2%" height="64"></td>
                    <td class="mobile-hidden" bgcolor="#ffffff" width="12%" height="64" align="right" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 18px; color: #333333; padding-left: 10px; padding-right: 10px; padding-top: 6px; padding-bottom: 6px;">
                        {{ (item.getQuantity() *  item.getPrice())|number_format(2, ",", ".")  }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="costsonmobile" style="mso-hide: all; display: none; max-height: 0px; overflow: hidden;">
                            <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                <tr>
                                    <td class="tablecontent-onmobile" bgcolor="#FFFFFF" height="20" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; color: #333333; padding-left: 10px; padding-right: 10px;">
                                        <strong>{{ 'QUANTITY'|translate }}:</strong>
                                        {{ item.getQuantity() }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tablecontent-onmobile" bgcolor="#FFFFFF" height="20" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; color: #333333; padding-left: 10px; padding-right: 10px;">
                                        <strong>{{ 'PRICE'|translate }}:</strong> &euro;
                                        {{ (item.getQuantity() *  item.getPrice())|number_format(2, ",", ".")  }}
                                    </td>
                                </tr>

                                <tr>
                                    <td class="tablecontent-onmobiledouble" bgcolor="#FFFFFF" height="34" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; line-height: 15px; color: #333333; padding-left: 10px; padding-right: 10px;">
                                        <strong>{{ 'DELIVERY'|translate }}:</strong>
                                        {{ Sale_order.getShippingCarrier() }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="9" height="1" style="font-size: 1px; line-height: 0px;">
                    <hr style="height: 1px; border-collapse: collapse; border-width: 1px 0px 0px; color: #a6a6a6; border-style: dashed;" />
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
</tr>
<tr>
    <td valign="top" align="left">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="295" align="left" valign="top" class="drop photo">
                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                        <tr>
                            <td align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; mso-line-height-rule: exactly; line-height: 16px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                <!-- Blok start -->
                                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                        <td align="center" valign="top">
                                            <a href=""  target="_blank" style="text-decoration: none; color: #333333;">
                                                <img src="{{ (site_url ~ '/img/mail/chrismas-banner.png')|base_64_embed }}" width="295" height="199" border="0" alt="{{ 'Check out our special Christmas offer'|translate }}" title="{{ 'Check out our special Christmas offer'|translate }}" valign="middle" style="display: block;" />
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <!--[if !mso 9]><!-->
                                <div class="mobile-show" style="height: 0px; border:0; display:none; max-height:0px; overflow:hidden; mso-hide: all; margin-top: -1px; margin-bottom: 0px;">
                                </div>
                                <!--<![endif]-->
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="mobile-hidden-small" width="10" bgcolor="#FFFFFF"></td>
                <td width="295" align="left" valign="top" class="drop photo">
                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                        <tr>
                            <td align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; mso-line-height-rule: exactly; line-height: 13px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
                                    <tr>
                                        <td bgcolor="#f6f6f6" colspan="5" height="10" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                        <td width="95" height="24" bgcolor="#f6f6f6" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                            {{ 'Subtotaal'|translate }}
                                        </td>
                                        <td width="17" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                        <td width="95" height="24" bgcolor="#f6f6f6" align="right" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                            <strong>
                                                &euro; {{ Sale_order.getTotalProductPrice()|number_format(2, ',', '.') }}
                                            </strong>
                                        </td>
                                        <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                    </tr>
                                    {% if Sale_order.getHasWrap() %}
                                        <tr>
                                            <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                            <td width="95" height="24" bgcolor="#f6f6f6" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                                {{ 'Stealth kosten'|translate }}
                                            </td>
                                            <td width="17" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                            <td width="95" height="24" bgcolor="#f6f6f6" align="right" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                                <strong>
                                                    &euro; {{ Sale_order.getWrappingPrice()|number_format(2, ',', '.') }}
                                                </strong>
                                            </td>
                                            <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                        </tr>
                                    {% endif %}
                                    {% if Sale_order.getShippingPrice() %}
                                        <tr>
                                            <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                            <td width="95" height="24" bgcolor="#f6f6f6" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                                {{ 'Verzendkosten'|translate }}
                                            </td>
                                            <td width="17" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                            <td width="95" height="24" bgcolor="#f6f6f6" align="right" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                                <strong>&euro; {{ Sale_order.getShippingPrice()|number_format(2, ',', '.') }}</strong>
                                            </td>
                                            <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                        <td width="95" height="24" bgcolor="#f6f6f6" align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                            <strong>{{ 'Totaal'|translate }}</strong>
                                        </td>
                                        <td width="17" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                        <td width="95" height="24" bgcolor="#f6f6f6" align="right" valign="middle" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #333333;">
                                            <strong>
                                                &euro; {{ Sale_order.getTotalPrice()|number_format(2, ',', '.') }}
                                            </strong>
                                        </td>
                                        <td width="15" height="24" bgcolor="#f6f6f6">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td bgcolor="#f6f6f6" colspan="5" height="10" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
</tr>
<tr>
    <td height="1" style="font-size: 1px; line-height: 0px;">
        <hr style="height:1px; border-collapse:collapse; border-top: 1px; border-bottom: 0px; border-left: 0px; border-right: 0px; color: #a6a6a6; border-style: dashed;" />
    </td>
</tr>
<tr>
    <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
</tr>
<tr>
    <td valign="top" align="left">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td width="275" align="left" valign="top" class="drop photo">
                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                        <tr>
                            <td height="30" align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; color: #333333;padding-left: 10px;">
                                <strong>{{ 'Paymethod and addresss info'|translate }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" valign="middle" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; mso-line-height-rule: exactly; line-height: 16px; padding-left: 10px; padding-right: 10px; text-align: left;">

                                {% if Sale_order.getIsFullyPaid() %}
                                    {{ 'You have already paid with'|translate }} {{ Sale_order.getPaymethodName() }}.
                                {% else %}
                                    {{ 'We have seen any payment for this order yet, if you still need to pay, now is the time.'|translate }}
                                    <br><br>
                                    <a target="_blank" href="{{ site_url }}{{ url_prefix }}/pay/{{ Sale_order.getPaymethodName()|lower }}?order_id={{ Sale_order.getId() }}">{{ 'Click here if you need instructions'|translate }}</a>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                <!--[if !mso 9]><!-->
                                <div class="mobile-show" style="height: 0px; border:0; display:none; max-height:0px; overflow:hidden; mso-hide: all; margin-top: -1px; margin-bottom: 0px;">
                                </div>
                                <!--<![endif]-->
                            </td>
                        </tr>
                    </table>
                </td>
                <td class="mobile-hidden-small" width="10" bgcolor="#FFFFFF"></td>
                <td width="315" align="left" valign="top" class="drop photo">
                    <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                        <tr>
                            <td align="left" valign="top" height="50" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; mso-line-height-rule: exactly; line-height: 16px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                <strong>{{ 'Invoice address'|translate }}</strong><br />
                                {% if Sale_order.getCustomerInvoiceCompanyName() %}
                                    {{ Sale_order.getCustomerInvoiceCompanyName() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerInvoiceAttnName() %}
                                    {{ Sale_order.getCustomerInvoiceAttnName() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerInvoiceAddressL1() %}
                                    {{ Sale_order.getCustomerInvoiceAddressL1() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerInvoiceAddressL2() %}
                                    {{ Sale_order.getCustomerInvoiceAddressL2() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerInvoiceStreet() %}
                                    {{ Sale_order.getCustomerInvoiceStreet() }} {{ Sale_order.getCustomerInvoiceNumber() }} {{ Sale_order.getCustomerInvoiceNumberAdd() }}
                                {% endif %}

                                {{ Sale_order.getCustomerInvoicePostal() }} {{ Sale_order.getCustomerInvoiceCity() }}<br>

                                {% if Sale_order.getCustomerInvoiceUsaState() %}
                                    {{ Sale_order.getCustomerInvoiceUsaState() }}<br>
                                {% endif %}

                                {% if Sale_order.getCustomerInvoiceCountry() %}
                                    {{ Sale_order.getCustomerInvoiceCountry() }}<br>
                                {% endif %}
                            </td>

                            <td align="left" valign="top" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; mso-line-height-rule: exactly; line-height: 16px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                <strong>{{ 'Delivery address'|translate }}</strong><br />
                                {% if Sale_order.getCustomerDeliveryCompanyName() %}
                                    {{ Sale_order.getCustomerDeliveryCompanyName() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerDeliveryAttnName() %}
                                    {{ Sale_order.getCustomerDeliveryAttnName() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerDeliveryAddressL1() %}
                                    {{ Sale_order.getCustomerDeliveryAddressL1() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerDeliveryAddressL2() %}
                                    {{ Sale_order.getCustomerDeliveryAddressL2() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerDeliveryStreet() %}
                                    {{ Sale_order.getCustomerDeliveryStreet() }} {{ Sale_order.getCustomerDeliveryNumber() }} {{ Sale_order.getCustomerDeliveryNumberAdd() }}
                                {% endif %}

                                {{ Sale_order.getCustomerDeliveryPostal() }} {{ Sale_order.getCustomerDeliveryCity() }}<br>

                                {% if Sale_order.getCustomerDeliveryUsaState() %}
                                    {{ Sale_order.getCustomerDeliveryUsaState() }}<br>
                                {% endif %}
                                {% if Sale_order.getCustomerDeliveryCountry() %}
                                    {{ Sale_order.getCustomerDeliveryCountry() }}<br>
                                {% endif %}
                            </td>
                        </tr>

                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr>
    <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
</tr>