<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    {% include 'Mail/mail-head.twig' %}

    <body bgcolor="#ffffff" text="#000000" style="background-color: #FFFFFF; color: #000000; margin: 0px; padding:0px; -webkit-text-size-adjust:none;" yahoo="fix">
        <style type="text/css">
            div.preheader
            { display: none !important; }
        </style>
        <div class="preheader" style="font-size: 1px; display: none !important;">In deze e-mail vind je een overzicht van je bestelling.</div>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" align="center" style="mso-table-lspace:0pt; mso-table-rspace:0pt;">
            <tr>
                <td align="center">
                    <table cellspacing="0" cellpadding="0" border="0" width="600" class="container">
                        <tr>
                            <td>
                                <table cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" width="600" align="center" class="container">
                                    <tr>
                                        <td align="center" valign="top">
                                            <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                            <tr>
                                                                <td class="logo" valign="top" align="left" width="280">
                                                                    <a href="{{ site_url }}" target="_blank" style="display: block; color: #333333; text-decoration: none;" >
                                                                        <img src="{{ (site_url~'/img/mail/logo-flat-2.png')|base_64_embed }}" width="166" height="43" border="0" valign="middle" style="display: block; padding-left: 8px;">
                                                                    </a>
                                                                </td>
                                                                <td align="left" width="20" class="mobile-hidden"></td>
                                                                <td align="left" valign="middle" class="mobile-hidden" width="300" style="text-align: right; font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; mso-line-height-rule: exactly; line-height: 14px;" bgcolor="#FFFFFF">
                                                                    <a href="{{ site_url }}/mail/onlineversion"  target="_blank" style="color: #333333; text-decoration: underline;">{{ 'online version'|translate }}</a>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="left">
                                                        <div class="mobile-menu" ontouchstart="" style="display: none; max-height: 0px; overflow: hidden; line-height: 0px; mso-hide: all;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <!--[if !mso]><!-->
                                                                    <td width="22" bgcolor="#e8e8e8" style="padding-left: 10px;">
                                                                        <a href="#" class="menutext">
                                                                            <img class="menuknop" style="width: 0px; height: 0px;" src="{{ (site_url ~ '/img/mail/mobilemenu.png') }}" alt="Toon/verberg menu" title="Toon/verberg menu" /></a>
                                                                    </td>
                                                                    <td bgcolor="#e8e8e8" style="padding-left: 10px;">
                                                                        <a href="#" class="menutext">&nbsp;MENU</a>
                                                                    </td>
                                                                    <!--<![endif]-->
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="menucontainer">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tr>
                                                                    <td class="main_nav" align="center" bgcolor="#e8e8e8">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tr>
                                                                                {% for category in categories %}
                                                                                    <td class="drop" valign="top" align="left" bgcolor="#e8e8e8">
                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                                            <tr>
                                                                                                <td height="34" valign="middle" align="left" style="text-align: left; font-family:Arial, Helvetica, sans-serif; font-size: 12px; color: #333333; mso-line-height-rule: exactly; line-height: 34px; padding-left: 10px; height: 34px; max-height: 34px; min-height: 34px; vertical-align: middle; margin-bottom: 0px;">
                                                                                                    <a href="{{ url_prefix }}{{ category.category_translation.getWebshopUrl() }}" target="_blank" style="color: #333333; text-decoration: none;" >
                                                                                                        {{ category.category_translation.getName() }}
                                                                                                    </a>
                                                                                                </td>
                                                                                                <td class="mobile-hidden" width="10"></td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                {% endfor %}
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" align="center">
                                                        <table cellspacing="0" cellpadding="0" border="0" width="100%" align="left">
                                                            <tr>
                                                                <td height="28" align="left" valign="middle" bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; font-size: 18px; color: #6db33f; mso-line-height-rule: exactly; line-height: 20px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                                                    {{ subject }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top" bgcolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 12px; mso-line-height-rule: exactly; line-height: 16px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                                                    {{ contents|raw }}
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                                            </tr>
                                                            {% if sale_order_notification.getCode() == 'thanks_for_order' %}
                                                            {% include 'Mail/mail-part-thanks.twig' %}
                                                            {% endif %}
                                                            <tr>
                                                                <td height="1" style="font-size: 1px; line-height: 0px;">
                                                                    <hr style="height:1px; border-collapse:collapse; border-top: 1px; border-bottom: 0px; border-left: 0px; border-right: 0px; color: #a6a6a6; border-style: dashed;" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td valign="top" align="left">
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                        <tr>
                                                                            <td width="194" align="left" valign="top" class="drop photo">
                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                                                                    <tr>
                                                                                        <td bgcolor="#3a3a3a" align="left" valign="middle" height="60" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 18px; mso-line-height-rule: exactly; line-height: 20px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                                                                            <a href="{{ site_url }}{{ url_prefix }}/team"  target="_blank" style="text-decoration: none; color: #FFFFFF; display: block;">
                                                                                                <strong>{{ 'Fast delivery'|translate }}</strong><br />
                                                                                                <font style="font-size: 11px;">{{ 'We ship every weekday'|translate }} &rsaquo;</font>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td bgcolor="#FFFFFF">
                                                                                            <!--[if !mso 9]><!-->
                                                                                            <div class="mobile-show" style="height: 0px; border:0; display:none; max-height:0px; overflow:hidden; mso-hide: all; margin-top: -1px; margin-bottom: 0px;">
                                                                                            </div>
                                                                                            <!--<![endif]-->
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            <td class="mobile-hidden-small" width="9" bgcolor="#FFFFFF"></td>
                                                                            <td width="194" align="left" valign="top" class="drop photo">
                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                                                                    <tr>
                                                                                        <td bgcolor="#3a3a3a" align="left" valign="middle" height="60" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 18px; mso-line-height-rule: exactly; line-height: 20px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                                                                            <a href="{{ site_url }}/en/s/about-us" target="_blank" style="text-decoration: none; color: #FFFFFF; display: block;">
                                                                                                <strong>{{ 'Quality'|translate }}</strong><br />
                                                                                                <font style="font-size: 11px;">{{ 'Some of the oldest dutch strains'|translate }} &rsaquo;</font>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td bgcolor="#FFFFFF">
                                                                                            <!--[if !mso 9]><!-->
                                                                                            <div class="mobile-show" style="height: 0px; border:0; display:none; max-height:0px; overflow:hidden; mso-hide: all; margin-top: -1px; margin-bottom: 0px;">
                                                                                            </div>
                                                                                            <!--<![endif]-->
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                            <td class="mobile-hidden-small" width="9" bgcolor="#FFFFFF"></td>
                                                                            <td width="194" align="left" valign="top" class="drop photo">
                                                                                <table cellpadding="0" cellspacing="0" border="0" align="left" width="100%">
                                                                                    <tr>
                                                                                        <td bgcolor="#3a3a3a" align="left" valign="middle" height="60" style="font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 18px; mso-line-height-rule: exactly; line-height: 20px; padding-left: 10px; padding-right: 10px; text-align: left;">
                                                                                            <a href="{{ site_url }}{{ url_prefix }}/team"  target="_blank" style="text-decoration: none; color: #FFFFFF; display: block;">
                                                                                                <strong>{{ 'Service'|translate }}</strong><br />
                                                                                                <font style="font-size: 11px;">{{ 'The friendliest people'|translate }} &rsaquo;</font>
                                                                                            </a>
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td height="10" bgcolor="#FFFFFF" style="font-size: 1px; line-height: 0px;">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                {% include 'Mail/mail-footer.twig' %}
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>