<div class="chute chute-center pt30">
    <form class="form-horizontal" enctype="multipart/form-data" role="form" method="post">
        <input type="hidden" name="_do" value="Store">

        <div class="panel generated">
            <div class="panel-heading">
                <span class="panel-title">{{ 'Verzendkosten'|translate }}</span>
            </div>
            <div class="panel-body">

                <div class="form-group" id="fld_free_shipping">
                    <label for="fld_free_shipping_above" class="col-lg-3 control-label">{{ 'Gratis verzenden boven'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <input name="data[free_shipping_above]" id="fld_free_shipping_above" class="form-control" value="{{ free_shipping_above }}" type="text">

                            <span class="help-block mt5"></span>
                        </div>
                        <i class="fa fa-bell"></i>
                        {{ 'Vanaf welk bedrag zijn de verzendkosten gratis?'|translate }} {{ 'Laat leeg voor geen gratis verzendkosten.'|translate }}
                    </div>
                </div>

                <div class="form-group" id="fld_free_shipping">
                    <label for="fld_envelope_weight_grams" class="col-lg-3 control-label">{{ 'Basis gewicht verzendingen (gewicht verpakking)'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <input name="data[envelope_weight_grams]" id="fld_envelope_weight_grams" class="form-control" value="{{ envelope_weight_grams }}" type="text">

                            <span class="help-block mt5"></span>
                        </div>
                        <i class="fa fa-bell"></i>
                        {{ 'Dit gewicht in grammen tellen we bij iedere order op om tot de verzendkosten te komen.'|translate }}
                    </div>
                </div>

                <div class="form-group" id="fld_free_shipping">
                    <label for="fld_special_wrap_fee" class="col-lg-3 control-label">{{ 'Kado verpakking'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-tags"></i>
                            </span>
                            <input name="data[special_wrap_fee]" id="fld_special_wrap_fee" class="form-control" value="{{ special_wrap_fee }}" type="text">
                            <span class="help-block mt5"></span>
                        </div>
                        <i class="fa fa-bell"></i>
                        {{ 'Meerprijs voor kado verpakking'|translate }}
                    </div>
                </div>



                <button type="submit" class="btn ladda-button btn-dark pull-right" data-style="expand-right">
                    <span class="ladda-label">{{ 'Opslaan'|translate }}</span>
                    <span class="ladda-spinner"></span>
                </button>
            </div>
        </div>
    </form>
</div>


