<form class="form-horizontal" id="main_form" method="post" role="form">
    <input type="hidden" name="_do" id="fld_do" value="SendMessage">
    <div class="chute chute-center pt30" style="height: 887px;">
        <div class="panel mb25 mt5">
            <div class="panel-heading">
                <span class="panel-title hidden-xs">{{ title }}</span>
            </div>

            <div class="panel-body pn">

                {% if languages.count() == 1 and current_language_id %}
                    <input type="hidden" name="data[language_id]" value="{{ current_language_id }}" />
                {% else %}
                    <div class="form-group">
                        <label for="inputSelect" class="col-lg-3 control-label">{{ 'Taal'|translate }}</label>
                        <div class="col-lg-8">
                            <div class="bs-component">
                                <select name="data[language_id]" id="fld_language" class="form-control">
                                    <option value="">{{ 'Kies een taal'|translate }}</option>
                                    {% for language in languages %}
                                        <option value="{{ language.getId() }}" {{ current_language_id == language.getId() ? 'selected' : '' }}>{{ language.getDescription() }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="form-group">
                    <label class="col-lg-3 control-label">{{ 'Afzender'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="bs-component">
                            <select id="fld_from" name="data[from]" class="form-control">
                                {% if default_from %}
                                <option>{{ default_from }}</option>
                                {% endif %}
                                <option>{{ current_user_from }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStandard" class="col-lg-3 control-label">{{ 'Ontvanger'|translate }}</label>

                    <div class="col-lg-8">
                        <div class="bs-component">
                            <input type="text" name="data[to]" id="inputStandard" class="form-control" value="{{ to_address }}" placeholder="{{ 'Typ hier het e-mailadres van de ontvanger'|translate }}">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputStandard" class="col-lg-3 control-label">{{ 'Onderwerp'|translate }}</label>
                    <div class="col-lg-8">
                        <div class="bs-component">
                            <input type="text" name="data[subject]" id="inputStandard" class="form-control" value="{{ mail_subject }}" placeholder="{{ 'Typ hier uw bericht'|translate }}">
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-lg-3 control-label" for="fld_contents">E-mail text</label>
                    <div class="col-lg-9 richtext-editor">
                        <div class="editor"></div>
                        <input class="richtext-editor-input" style="height:300px;" type="hidden" name="data[contents]" id="fld_contents" value="{{ mail_contents }}"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <button type="submit" class="btn ladda-button btn-dark pull-right">
                <span class="ladda-label"><i class="fa fa-envelope"></i> {{ 'Verzenden'|translate }}</span>
                <span class="ladda-spinner"></span>
            </button>
            <div class="cl"></div>
        </div>

    </div>
</form>

